@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?11az0y');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?11az0y#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?11az0y') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?11az0y') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?11az0y##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call {
  &:before {
    content: $icon-call; 
  }
}
.icon-agent {
  &:before {
    content: $icon-agent; 
  }
}
.icon-form {
  &:before {
    content: $icon-form; 
  }
}
.icon-quote {
  &:before {
    content: $icon-quote; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-chevron-with-circle-left {
  &:before {
    content: $icon-chevron-with-circle-left; 
  }
}
.icon-chevron-with-circle-right {
  &:before {
    content: $icon-chevron-with-circle-right; 
  }
}
.icon-controller-paus {
  &:before {
    content: $icon-controller-paus; 
  }
}
.icon-controller-play {
  &:before {
    content: $icon-controller-play; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin; 
  }
}
.icon-notification {
  &:before {
    content: $icon-notification; 
  }
}
.icon-enquiry {
  &:before {
    content: $icon-enquiry; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-dropdown-arrow {
  &:before {
    content: $icon-dropdown-arrow; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left; 
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right; 
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up; 
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down; 
  }
}
.icon-navicon {
  &:before {
    content: $icon-navicon; 
  }
}
.icon-file-pdf-o {
  &:before {
    content: $icon-file-pdf-o; 
  }
}

