mixin filter-checkbox(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.label = spec.label || ''
	- spec.scope = spec.scope || ''

	if spec.scope == ''
		- spec.scope = ''
	else
		- spec.scope = 'data-scope = ' + spec.scope

	.checkbox.
		<label><input type = "checkbox" #{spec.scope}>#{spec.label}</label>
