mixin search-bar(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	form.search-bar
		label.visuallyHidden(for="searchbar") Site Search
		input#searchbar(type="text" placeholder="Search")
		button#search-site.btn-search(type="submit")
