// search-bar styles
.search-bar {
	background: transparent;
	position: relative;
	top: 0;
	padding: 0;
	border: 0;

	input {
		font-size: calc-em(18px);
		color: $placeholder;
		width: 100%;
		height: 40px;
		margin: 0;
		padding: 8px 38px 8px 10px;
		border: 1px solid $border;
		box-shadow: none;
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		border-color: $border;
		background: #fff;
		background: url(../images/icon-search.svg) 7px 7px no-repeat;
		background-size: 23px;
		width: 38px;
		height: 38px;
		margin: 1px;
		padding: 1px 6px;
		border: none;
		border-left: 0;
		min-width: 0 !important;
		outline: 0;

		&:after {
			display: none;
		}

		&:hover {
			border: none;
		}
	}
}

@media only screen and (max-width: $bpDesktop - 1) {
	.search-bar {
		position: absolute;
		top: 81px;
		width: 100%;
		padding: 30px 20px;
		background-color: $border;
		border: 1px solid $grey;
		transform: translate(100%, 0);
		transition: ease-in 0.2s;

		&.open {
			transform: translate(0, 0);
			transition: ease-in 0.2s;
			left: 0;
		}

		input {
			border: 2px solid $grey;
		}

		button {
			top: 30px;
			right: 20px;
		}
	}
}

@media only screen and (min-width: $bpDesktop), print {
	.search-bar {
		float: none;
		width: 100%;
		display: table-cell;
		vertical-align: top;
	}
}

@media print {
	.search-bar {
		button {
			display: none;
		}
	}
}
