// listing-results styles
.career-listing {
	margin-top: 40px;

	.listing-content__results {
		margin: 0 0 25px;
	}
}

/**
 * Product labels
 */
.listing-content__results {
	@extend %clearfix;
	@extend %list-unstyled;

	.label {
		display: inline-block;
		padding: 2px 5px;
		color: #fff;
		position: absolute;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1;
		// margin-left: 5px;

		&.new-item { color: $pink; border: 1px solid $pink; }
		&.recommended { color: $blue; border: 1px solid $blue; }
		&.best-seller { color: $green; border: 1px solid $green; }
		&.promoted { color: $blue; border: 1px solid $blue; }
	}
}

.listing-content__result-status {
	text-align: center;

	.msg {
		display: none;
		color: $placeholder;
		text-align: left;
		padding: 3px 0;
		font-size: calc-em(14px);
		margin: 0;
	}
}

.load-more {
	text-align: center;
}

.load-more-results {
	display: none;
	text-align: center;
	margin: 20px 0 10px;

	a {
		// @include search-btn-gradient();
		display: inline-block;
		// border: 1px solid $darkgrey-3;
		border-radius: 3px;
		// color: $darkgrey-3;
		text-align: center;
		font-weight: bold;
		line-height: 1.25;
		padding: 5px 9px;
		text-decoration: none;
		font-size: calc-em(14px);
	}
}

.listing-content__results {
	margin-top: 25px;

	> li {
		@extend %clearfix;
		display: block;
		position: relative;
		font-size: calc-em(16px);
		line-height: 1.3;
		padding: 0 0 10px 0;
		margin-bottom: 15px;
		transition: all 0.2s;
		// border-bottom: 1px solid $grey-2;
		opacity: 0;

		&.visible { opacity: 1; }

		h5 {
			font-size: calc-em(14px, 12px);
			margin: 0 0 10px;
			word-break: break-word;

			a {
				display: block;
				text-decoration: none;
				color: #000;
				font-weight: 400;

				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
	}

	.desc { width: 55%; float: right; }

	.button {
		margin: 0;
		font-size: calc-em(16px);
	}

	.career-item {
		padding: 15px 0;
		margin-bottom: 0;
		border-bottom: 1px solid $border;

		&:last-child {
			border: none;
		}
	}

	.label {
		position: absolute;
		top: -7px;
		left: 3px;
		margin: 0 0 10px;
		z-index: 2;
		background-color: #ffff;
	}

	.thumbnail {
		position: relative;
		padding-top: 40%;
		width: 40%;
		// border: 1px solid $border;

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.listing-content-intro {
	// border-bottom: 1px solid $grey-2;

	> p {
		margin-top: 0;
		line-height: 1.6;
	}
}


.career-item__details {
	@extend %clearfix;
	position: relative;
	// padding-top: 28px;

	h3 { margin: 0; }

	.button {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		display: inline-block;
		text-decoration: none;
		font-size: calc-em(16px);
		margin: 0;
	}

	.location {
		margin-top: 10px;
		position: relative;
		padding-left: 25px;
		max-width: 60%;
		font-size: calc-em(15px);

		&:before {
			@include icomoon('\f041');
			position: absolute;
			top: 1px;
			left: 2px;
			margin-right: -8px;
			color: $red;
		}
	}

	.timestamp {
		position: relative;
		padding-left: 25px;
		max-width: 60%;
		font-size: calc-em(15px);

		&:before {
			@include icomoon('\f017');
			position: absolute;
			top: 1px;
			left: 0;
			margin-right: -8px;
			color: $red;
		}
	}

	.opening {
		max-width: 60%;

		h3 {
			font-size: calc-em(18px);
		}
	}
}

@media only screen and (min-width: $bpTablet), print {
	.listing-content__results {

		> li { min-height: 220px; }

		.career-item { min-height: inherit; }
	}

	.career-listing {
		.listing-content {
			padding-left: 25px;
		}
	}

	.career-item__details {
		padding-top: 0;

		.opening {
			width: 34%;
			float: left
		}

		.location {
			top: 5px;
			float: left;
			width: 20%;
			padding-right: 15px;
			padding-left: 15px;
			margin: 0;

			&:before {
				left: 0;
			}
		}

		.timestamp {
			float: left;
			top: 5px;
			width: 20%;
			padding-right: 10px;
			padding-left: 20px;
		}

		.button {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			display: inline-block;
			text-decoration: none;
			margin: 0;
		}
	}
}


@media only screen and (min-width: $bpDesktop), print {
	.listing-content__results {

		> li {
			font-size: calc-em(16px);
			&:nth-child(odd) { clear: left; }
		}

		.desc { padding-right: 20px; }

		.button { font-size: calc-em(16px); }
	}
}

@media print {
	.listing-content__results {

		> li {
			width: 100%;
		}
	}
}
