// featured-speakers styles
.event-featured-speakers {
	h3 {
		margin: 50px 0 0;
		font-size: calc-em(26px);
	}
}

.event-featured-speakers-wrapper {
	@extend %clearfix;
	margin: 0 -10px;
}

@media only screen and (min-width: $bpDesktop){
	.event-featured-speakers-wrapper {
		margin: 0 -12px;
	}
}
