mixin featured-speakers(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	h3 Featured Speakers
	.event-featured-speakers-wrapper
		each speaker in spec
			+featured-speakers-item(speaker)
