// button styles
/**
 * Buttons
 */
[class^="btn-"], [class*=" btn-"], .btn {
	display: inline-block;
}

%phase2-button {
	margin-bottom: 20px;
	font-size: calc-em(14px);

	a {
		display: inline-block;
		padding: 7px 20px;
		text-decoration: none;
		background-color: $orange-2;
		color: #fff;
		border-radius: 5px;

		&:hover {
			background-color: $orange-1;
		}
	}
}

.more-link {
	@extend %phase2-button;
	margin: 20px 0;

	// a {
	// 	@include search-btn-gradient();
	// 	display: inline-block;
	// 	border: 1px solid $darkgrey-3;
	// 	border-radius: 3px;
	// 	color: $darkgrey-3;
	// 	text-align: center;
	// 	font-weight: bold;
	// 	line-height: 1.25;
	// 	padding: 5px 9px;
	// 	text-decoration: none;
	// 	font-size: calc-em(14px);
	// }
}

.contact-link {
	display: inline-block;
	padding: 7px 8px;
	text-align: center;
	background: $purple-1;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	font-size: calc-em(14px);

	&:link, &:visited {
		color: #fff;
	}

	&:hover {
		text-decoration: none;
		background: $purple-2;
		color: #fff;
	}
}

.event-mapper__results, .story-mapper__results {
	& .load-more {
		display: none;
	}
}

.load-more {
	@extend %phase2-button;
	text-align: center;
}

.btn-apply {
	display: inline-block;
	padding: 7px 10px;
	text-decoration: none;
	background-color: #fff;
	border-radius: 5px;
	color: $orange-1;
	border: $orange-1 2px solid;
	font-size: calc-em(14px);

	&:link, &:visited {
		color: $orange-1;
	}

	&:hover, {
		text-decoration: none;
		background-color: $orange-1;
		color: #fff;
	}
}

.day-toggle a {
	display: inline-block;
	padding: 7px 10px;
	text-decoration: none;
	background-color: #fff;
	border-radius: 5px;
	color: $blue-1;
	border: $blue-1 2px solid;
	font-size: calc-em(14px);

	&:link, &:visited {
		color: $blue-1;
	}

	&:hover, {
		text-decoration: none;
		background-color: $blue-1;
		color: #fff;
	}
}

.btn-details,.btn-orange {
	display: inline-block;
	padding: 7px 20px;
	text-decoration: none;
	background-color: $orange-2;
	color: #fff;
	border-radius: 5px;
	font-size: calc-em(14px);

	&:link, &:visited {
		color: #fff;
	}

	&:hover {
		background-color: $orange-1;
	}
}

.btn-orange--inverse {
	display: inline-block;
	padding: 5px 20px;
	text-decoration: none;
	border: 2px solid $orange-2;
	color: $orange-2;
	border-radius: 5px;
	font-size: calc-em(14px);

	&:link, &:visited {
		color: $orange-2;
	}

	&:hover {
		border-color: $orange-1;
		background-color: $orange-1;
		color: #fff;
	}
}
