// article-content styles
.article { margin-top: 20px; }

.article-content {

	a { text-decoration: none; }

	h1 {
		line-height: 1.2;
	}

	h2 { font-size: calc-em(20px); }

	h3 {
		font-size: calc-em(18px);
		margin-top: 1.5em;
		margin-bottom: 1em;
		line-height: 1.3em;
	}

	h4 { margin-bottom: .8em; }

	p {
		line-height: 1.4; margin-top: .8em;

		a {
			text-decoration: none;

			&:hover { text-decoration: underline; }
		}
	}

	/**
	 * Tables
	 */
	table {
		font-size: calc-em(14px);
		margin: 20px 0;

		&.full-width { width: 100%; }
	}

	thead {
		color: #fff;
		text-align: left;

		tr { background: $blue-1; }
	}

	th { background: $blue-1; color: #fff; }

	td, th { padding: 15px; font-weight: normal; }

	td { vertical-align: top; max-width: 400px; }

	tbody {

		tr {
			&:nth-child(odd) { background: $grey-1; }
		}

		li { margin-bottom: 8px; }

		p { margin-top: 0; }

		ul {
			li {
				padding-left: 0;

				&:before { display: none; }
			}
		}
	}

	/**
	 * Override for tables in wffm forms
	 */
	.scfForm {
		tbody tr { background: transparent; }

		table {
			margin: 0;
			font-size: 1em;
		}
	}

	img { max-width: 100%; height: auto; }

	/**
	 * List
	 */
	ul {
		li {
			position: relative;
			padding-left: 15px;
			margin-bottom: .5em;

			&:before {
				display: block;
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 5px;
				height: 5px;
				background: $blue-1;
			}
		}
	}

	ol {
		padding-left: 20px;

		&.footnote { font-size: calc-em(12px); }
	}

	li { line-height: 1.4; }

	/**
	 * Points
	 */
	.points {
		text-align: center;

		.icon {
			display: inline-block;
			width: 140px;
			height: 140px;
			text-align: center;
			line-height: 140px;
			border-radius: 50%;
			background: $blue-1;
			margin: 10px auto 20px;

			img {
				position: relative;
				display: inline-block;
				max-width: 100%;
				top: 26px;
			}
		}

		h3 {
			// color: $blue-1;
			font-size: calc-em(40px);
			font-weight: 400;
			margin-bottom: 5px;
		}

		li {
			display: inline-block;
			text-align: center;
			padding-left: 0;
			width: 280px;
			vertical-align: top;

			&:before { display: none; }
		}
	}
}



/**
 * Product Introduction
 */
.product-introduction {

	.label {
		font-size: calc-em(12px);
		position: relative;
		left: 0;
		top: 12px;
	}

	.desc {	position: relative; }

	.contact-link {
		font-size: calc-em(12px);

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	.image {
		position: relative;
		padding-top: 1.5em;

		img { max-width: 100%; }
	}
}

/**
 * Management Team
 */
.management-team__toc,
.management-team__table {
	.title,
	.company {
		display: block;
		font-size: calc-em(12px);
		font-weight: bold;
	}
}

.management-team__table-block {
	position: relative;
	border-bottom: 1px solid $grey-3;
	padding: 15px 0;

	&:last-child { border-bottom: 0; }

	.thumbnail {
		max-width: 200px;
		margin-bottom: 10px;

		img {
			display: block;
			width: 100%;
			border-radius: 15px;
		}
	}

	h3 { margin: 0; }
}


@media only screen and (max-width: $sm-breakpoint - 1), print {

	.stacktable {
		&.large-only {
			display: none;
		}

		td {
			border-bottom: 1px solid #fff;

			&:first-child {
				background: $blue-1;
				color: #fff;
			}
		}

		tr:nth-child(even) {
			background: #ebebeb;
		}
	}

	.article-content {
		.stacktable { margin: 20px 0; }
	}
}

@media only screen and (min-width: $sm-breakpoint), print {

	.stacktable {
		&.small-only {
			display: none;
		}
	}


	.management-team__table-block {
		padding-left: 120px;

		.thumbnail {
			position: absolute;
			left: 0;
			top: 15px;
			width: 100px;
		}
	}
}

@media only screen and (min-width: $md-breakpoint), print {
	.article-content {
		padding-right: 20px;

		&.wide { padding-right: 0; }
	}
}
