mixin quicklinks(spec)
	- spec = spec || {}
	- spec.links = spec.links || []
	- spec.__class = spec.__class || ''

	//Quick Links
	.quick-links(class=spec.__class)&attributes(attributes)
		.wingspan
			//- ul
			//- 	each link in spec.links
			//- 		<li><a href = "#{link.target}">#{link.label}</a></li>
