// quicklinks styles
.quick-links {
	ul {
		@extend %clearfix;
		display: block;
		position: relative;
		margin: 20px 0;
	}

	li {
		margin-bottom: 10px;
	}

	a {
		position: relative;
		display: block;
		text-decoration: none;
		text-align: center;
	}

	&.sticky {
		position: fixed;
		width: 100%;
		top: -1px;
		z-index: 999;
		box-sizing: border-box;
	}

	.color-orange {
		background-color: $orange-2;

		&:hover {
			background-color: $orange-1;
		}
	}
}


@media only screen and (max-width: $sm-breakpoint - 1) {
	.quick-links {
		ul { margin: 20px 0; }

		li { margin-bottom: 10px; }

		a {
			width: 100%;
			padding: 4px 5px;
			border: 1px solid $darkgrey-4;
			border-radius: 5px;
			color: $body-text;

			&.color-orange {
				border: 0;
				color: #fff;
			}
		}
	}
}

@media only screen and (min-width: $sm-breakpoint), print {
	.quick-links {
		overflow: hidden;

		ul {
			display: block;
			background: rgba(255, 255, 255, 0.9);
			margin: 0;
			text-align: center;
		}

		li {
			display: inline-block;
			width: 20%;
			vertical-align: top;

			&:last-child {
				a { margin-right: 0; }
			}
		}

		a {
			background: $blue-1;
			margin-right: 1px;
			color: #fff;
			padding: 10px;
			margin-bottom: -999px;
			padding-bottom: 999px;


			&:hover, &.active {
				background: $blue-2;
			}
		}
	}
}
