mixin featured-linkboxs(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.page = spec.page || ''


	//Featured Linkboxs
	section.section.featured-linkboxs.wingspan
		.section-content

			if spec.page == "solutions and services"
				h2 Take the next step
				div
					.col.match-height
						a.fancybox.video(href = "https://www.youtube.com/embed/qtS3rz31KII")
							img(src = "/images/icons/camcorder_wht.png" alt = "")
							p Featured Videos

					.col.match-height
						a.modalbox(href = "#enquiryForm")
							img(src = "/images/icons/contact.png" alt = "")
							p Enquiry

					.col.match-height
						a.modalbox(href = "#" onclick="window.open('https://secure.livechatinc.com/licence/2559781/open_chat.cgi?groups=0','newChatWindow','height=520,width=530,top=' + (screen.height / 2 - 260) + ',left=' + (screen.width / 2 - 265) + ',resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');")
							img(src = "/images/icons/chat_white.png" alt = "")
							p Live Chat

			if spec.page == "contact"
				div
					.col.match-height
						a(href = "#")
							img(src = "/images/icons/branch_office_wht.png" alt = "")
							p Location Details

					.col.match-height
						a(href = "#")
							img(src = "/images/icons/delivery_cart_wht.png" alt = "")
							p Authorised Reseller

					.col.match-height
						a.modalbox(href = "#" onclick="window.open('https://secure.livechatinc.com/licence/2559781/open_chat.cgi?groups=0','newChatWindow','height=520,width=530,top=' + (screen.height / 2 - 260) + ',left=' + (screen.width / 2 - 265) + ',resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');")
							img(src = "/images/icons/chat_white.png" alt = "")
							p Live Chat
	//End: Featured Linkboxs
