// featured-linkboxs styles
.featured-linkboxs {

	.section-content { border-top: 1px solid $grey-3; }
	.section-header { text-align: center; margin: 30px auto; }

	.col { margin-bottom: 20px; }

	a {
		display: block;
		background: $blue-1;
		color: #fff;
		text-align: center;
		padding: 20px 10px;
		text-decoration: none;

		&:hover {
			background: $blue-2;
		}
	}

	p {
		margin: 10px 0 0;
		font-size: calc-em(16px);
	}

	img {
		display: inline-block;
		width: 75px;
		max-width: 100%;
	}
}


@media only screen and (min-width: $sm-breakpoint), print {

	.featured-linkboxs {
		text-align: center;

		.col {
			display: inline-block;
			width: 32%;
			margin: 0 -4px 20px 2%;
			vertical-align: top;

			&:first-child { margin-left: 0; }
			&:nth-child(3n - 2) { margin-left: -3px; }

			a {
				height: 100%;
			}
		}
	}
}
