// back-top styles
.back-to-top {
	position: fixed;
	right: 0;
	top: 50%;
	padding: 5px 8px 10px;
	background: #f9f9f9;
	text-align: center;
	cursor: pointer;
	display: none;

	span {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		margin-top: -5px;
	}

	i {
		font-size: 22px;
		line-height: 1;
	}
}
