// promotion-details styles
.promotion-details {
	padding-right: 20px;
	margin-bottom: 50px;
	@media only screen and (max-width: $sm-breakpoint) {
		padding-right: 0px;
	}

	.article-content {
		h1 {
			margin: 0;
			line-height: 1;
			font-size: calc-em(24px);
		}

		h2 {
			color: $blue-1;
		}

		a {
			color: $orange-2;
			font-weight: bold;
		}

		.btn-orange {
			color: #fff;
		}
	}

	.view-all {
		text-align: center;

		a { font-weight: normal; }

		@media only screen and (min-width: $sm-breakpoint), print {
			text-align: left;
		}
	}
}