extends ../_templates/fullwidthpage

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Components'
	- pageDescription = 'This is the components page of Fuji Xerox'
	- componentsData = site.data.components
	- solutionData = site.data.solutions

block FullWidthBanner
	+hero-banner(componentsData.banner)
	//- +nav-tabs-anchor()
	//- +nav-tabs(componentsData.tabs)

block FullWidthContent
	+section()
		a.anchor-link(id="richtext" data-label="Rich text")
		h1 Rich Text, Events Overview (Headings, Paragraph)
		+rte()
			h3 Level 2 Header
			p Dummy Text Dummy Text
				em  Emphasis
				|  Dummy Text
				strong  Stronger Emphasis
				|  Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
	+section()
		a.anchor-link(id="childCards" data-label="Child Cards")
		h1 Child Cards, Related Pages, Related Products and Solutions (Panel Component (Wide Aspect) Three)
		+topic-panels(componentsData.topics)

	+section()
		a.anchor-link(id="panel" data-label="Panels")
		h1 Related Products (Panel Component Three Column)
		.topics
			.topic-panels-wrapper
				each panel in componentsData.topics2.topic
					+panel-with-overlay(panel)

	+section()
		a.anchor-link(id="resources" data-label="Resources")
		h1 Resource
		+product-resources()

	+section()
		a.anchor-link(id="takethenextstep" data-label="Take the next step")
		h1 Take the next step (Link block)
		+image-links-wrapper(solutionData.links)

	+section()
		a.anchor-link(id="accordion" data-label="Accordion")
		h1 Accordion (Accordion)
		+accordion-wrapper(componentsData.accordions)

	+section()
		a.anchor-link(id="form" data-label="Form")
		h1 Forms (Generic Form Parts, List for Form Parts, Form Field)
		+form-wrapper()

	+section()
		a.anchor-link(id="video" data-label="Video")
		h1 Video (Video (Youtube Embedded))
		+iframe()

	+section({__class: "video-box"})
		a.anchor-link(id="videotext" data-label="Video with Text")
		.video-box__yt-wrapper
			.video-box__yt-embed.
				<iframe src="https://www.youtube.com/embed/RedstKki19E?rel=0" frameborder="0" allowfullscreen></iframe>

		.video-box__desc
			h2: img(src = "/assets/fuji-xerox/images/logo-arcadis.png" alt = "Arcadis")
			p Arcadis is a global brand with 300 offices and 28,000 employees spanning 70 countries. Arcadis provides exceptional and sustainable outcomes in design and consultancy, and professional technical skills in the areas of natural assets.

	+section()
		a.anchor-link(id="testimonial" data-label="Testimonial")
		h1 Testimonial [Video (Medium Image(image, left, text right positioning without turning in))]
		+testimonial()

	+section()
		a.anchor-link(id="button" data-label="Button")
		h1 Careers Apply Now (Buttons)
		+button({
			"label": "button",
			"url": "#"
		})

		//- h1 Events Agenda (Tables)
		//- +rte()
		//- 	table(style="border-width: 10px; border-color: #ebebeb; border-style: solid; border-collapse: collapse;")
		//- 		tr()
		//- 			th(style="width: 400px; padding: 7px 13px; background-color: #ebebeb; text-align: left;") Column Header 1
		//- 			th(style="width: 400px; padding: 7px 13px; background-color: #ebebeb; text-align: left;") Column Header 2
		//- 		tr(style="border-bottom: 1px solid #ebebeb;")
		//- 			th(style="width: 400px; padding: 7px 13px; background-color: #f9f9f9; text-align: left;") Row Header 1
		//- 			td(style="width: 400px; padding: 7px 13px; text-align: left;") Cell Data 2-1
		//- 		tr(style="border-bottom: 1px solid #ebebeb;")
		//- 			th(style="width: 400px; padding: 7px 13px; background-color: #f9f9f9; text-align: center;") Row Header 2
		//- 			td(style="width: 400px; padding: 7px 13px; text-align: center;") Cell Data 2-2
		//- 		tr
		//- 			th(style="width: 400px; padding: 7px 13px; background-color: #f9f9f9; text-align: right;") Row Header 3
		//- 			td(style="width: 400px; padding: 7px 13px; text-align: right;") Cell Data 2-3

		//- 	br
		//- 	br
		//- 	table(style="border-width: 10px; border-color: #ebebeb; border-style: solid; border-collapse: collapse;")
		//- 		tr
		//- 			th(style="width: 200px; padding: 7px 13px; background-color: #ebebeb; text-align: left;") Column Header 1
		//- 			th(style="width: 600px; padding: 7px 13px; background-color: #ebebeb; text-align: left;") Column Header 2
		//- 		tr(style="border-bottom: 1px solid #ebebeb;")
		//- 			th(style="width: 200px; padding: 7px 13px; text-align: left;") Row Header 1
		//- 			td(style="width: 400px; padding: 7px 13px; text-align: left;") Cell Data 2-1
		//- 		tr(style="border-bottom: 1px solid #ebebeb;")
		//- 			th(style="width: 200px; padding: 7px 13px; text-align: left;") Row Header 2
		//- 			td(style="width: 400px; padding: 7px 13px; text-align: left;") Cell Data 2-2
		//- 		tr
		//- 			th(style="width: 200px; padding: 7px 13px; text-align: left;") Row Header 3
		//- 			td(style="width: 400px; padding: 7px 13px; text-align: left;") Cell Data 2-3

		//- h1 Events Agenda (Tables)
		//- +rte()
		//- 	table
		//- 		tr
		//- 			td(style="min-width: 270px; padding: 0 20px; text-align: center;")
		//- 				img(src="/assets/fuji-xerox/images/154x154.png", style="width: 100%;" alt="")
		//- 				p(style="text-align: center;") Caption Caption
		//- 			td(style="min-width: 270px; padding: 0 20px; text-align: center;")
		//- 				img(src="/assets/fuji-xerox/images/154x154.png", style="width: 100%;" alt="")
		//- 				p(style="text-align: center;") Caption Caption
		//- 			td(style="min-width: 270px; padding: 0 20px; text-align: center;")
		//- 				img(src="/assets/fuji-xerox/images/154x154.png", style="width: 100%;" alt="")
		//- 				p(style="text-align: center;") Caption Caption
	+section({
		__class: "event-agenda"
	})
		a.anchor-link(id="eventsAgenda" data-label="Events Agenda")
		h1 Events Agenda
		+agenda
			.event-agenda__day-table
				table
					thead
						tr
							th Time
							th Session

					tbody
						tr
							td 0915
							td
								h3 Seminar: Seminar: How to Achieve Office Automation Efficiency and Sustainability in an Enterprise

								p By Mr. Chee Wai Meng, Vice President, Corporate Purchasing, Admin &amp; Logistics , Starhub feat. Mr. Janne Kalervo Iivonen, Regional Principal, Fuji Xerox Asia Pacific

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1000
							td
								h3 Seminar: Increasing Engagement through Digital Customer Communications

								p By Mr. Nathan Symes, General Manager, Regional Channel Sales &amp; Business Development, Fuji Xerox Asia Pacific

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1030
							td
								h3 Seminar: How Centralized Print Centre can Help You Work Smarter and Communicate Better?

								p By Ms. Jyotsna Jammi, Service Development Manager (Campaign Management), Fuji Xerox Asia Pacific

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1100
							td
								h3 Seminar: Enhance your Business through Digital Business Space

								p By Ms. Sabrina Tan, Founder and CEO, Skin Inc.

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1130
							td
								h3 Seminar: Singapore Budget 2017 - Insights on the New Measures

								p By Mr. Ng Voon Seong, Tax Manager, BDO Tax Advisory

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1200
							td
								h3 Seminar: Singapore Budget 2017 - Insights on the New Measures

						tr
							td 1230
							td
								h3 Demo: Experience the Smarter Way of Working with Fuji Xerox Cloud-enabled Multifunction Device and Smart Solutions

								p By Mr. Tan Keh Joo, Senior Manager, Marketing, Fuji Xerox Asia Pacific, Ms. Grace Li, Associate Manager, Solutions Marketing, Fuji Xerox Singapore

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1300
							td
								h3 Demo: Welcome to the Simply Managed Office with AWMS

								p By Mr. Chan Wai Tuck, Senior Business Manager, Solutions &amp; Services, Fuji Xerox Singapore

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1330
							td
								h3 Demo: Welcome to the Simply Managed Office with AWMS

								p By Mr. Enda Kavanagh, Regional Sales Manager, Asia Pacfic, XMPie

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1330
							td
								h3 Demo: The Wonderful World of Finishing for Digital Print

								p By Mr. Job van Hasselt, Regional Representative, KAMA GmbH

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1400
							td
								h3 Demo: Digitize your Workforce, Empower your Business

								p By Mr. Alvin Lee, Deputy Head, Strategy &amp; Planning, Innovation Office, Fuji Xerox Asia Pacific

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1400
							td
								h3 Demo: Digitize your Workforce, Empower your Business

								p By Mr. Alvin Lee, Deputy Head, Strategy &amp; Planning, Innovation Office, Fuji Xerox Asia Pacific

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1430
							td
								h3 Demo: Digitize your Workforce, Empower your Business

								p By Mr. Danny Lim, Associate Manager, Development, Fuji Xerox Singapore

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1500
							td
								h3 Demo: Strategize your Business with Government Grants

								p By Mr. Wu Jiaqing, Business Advisor, SME Centre@SMF

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			.event-agenda__day-table
				table
					thead
						tr
							th Time
							th Session

					tbody
						tr
							td 0915
							td
								h3 Seminar: Seminar: How to Achieve Office Automation Efficiency and Sustainability in an Enterprise

								p By Mr. Chee Wai Meng, Vice President, Corporate Purchasing, Admin &amp; Logistics , Starhub
								p feat. Mr. Janne Kalervo Iivonen, Regional Principal, Fuji Xerox Asia Pacific

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1000
							td
								h3 Seminar: Increasing Engagement through Digital Customer Communications

								p By Mr. Nathan Symes, General Manager, Regional Channel Sales &amp; Business Development, Fuji Xerox Asia Pacific

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

						tr
							td 1030
							td
								h3 Seminar: How Centralized Print Centre can Help You Work Smarter and Communicate Better?

								p By Ms. Jyotsna Jammi, Service Development Manager (Campaign Management), Fuji Xerox Asia Pacific

								a.js-synopsis-toggle(href = "#") Synopsis
								.synopsis
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

	+section({__class: "career-details-requirement"})
		a#career-apply-now.anchor-link(data-label = "Requirements")
		h1 Career apply now component
		h2 Requirements
		ul
			li Degree in Computer Science or equivalent, with PMP/CITPM certification preferred
			li At least 4 to 5 years' working experience, with minimum 3 years' IT Project Management experience in a Project Manager or Lead Consultant role [Candidates with Working experience in Electronic Content Management (ECM) software, Open text, EMC Documentum or Enterprise Search Engine will have an added advantage]
			li Ability to provide mentorship and leadership to the team
			li Good communication skills with excellent spoken and written English
			li Result and customer-service oriented
			li Committed and responsible team player
	+section({__class: "career-details-actions"})
		+button({
			"__class": "button--inverse",
			"label": "View all Jobs",
			"url": "#"
		})

		+button({
			"__class": "button-nohover",
			"label": "Apply Now",
			"url": "#"
		})
