extends ../../_layouts/base

include ../../_modules/templates/dynamic-listing/dynamic-listing

//- Configuration
block config
	- var baseUrl = '../../'
	- var pageTitle = 'Fuji Xerox | Job Opportunities'
	- var parent = 4

block content
	+dynamic-listing({
		__class: "career-listing",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Company",
				"href": "/company"
			},
			{
				"label": "Careers"
			}
		],
		banner: {
			title: "Job Opportunities",
			text: "Enter the Race with the Winning Team",
			image: "images/content/banners/solutions.jpg"
		},
		type: 'Careers'
	})
