/**
 * Responsive utilities from bootstrap 3
 */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid $grey-3;
}

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

.circle-image {
	display: block;
	border-radius: 50%;
	max-width: 100%;
	height: auto;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pull-right {
	float: right !important;
	margin-bottom: 15px;
	margin-left: 15px;
}

.pull-left {
	float: left !important;
	margin-bottom: 15px;
	margin-right: 15px;
}

.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.hidden {
	display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
	display: none !important;
}

@media screen and (max-width: $sm-breakpoint - 1) {
	.hidden-xs    { display: none!important; }

	.visible-xs-block { display: block!important; }
	.visible-xs-inline { display: inline!important; }
	.visible-xs-inline-block { display: inline-block!important; }

	.pull-right { float: none!important; }
	.pull-left  { float: none!important; }
}

@media screen and (min-width: $sm-breakpoint) and (max-width: $md-breakpoint - 1) {
	.hidden-sm    { display: none!important; }

	.visible-sm-block { display: block!important; }
	.visible-sm-inline { display: inline!important; }
	.visible-sm-inline-block { display: inline-block!important; }
}

@media screen and (min-width: $md-breakpoint) and (max-width: $lg-breakpoint - 1) {
	.hidden-md    { display: none!important; }

	.visible-md-block { display: block!important; }
	.visible-md-inline { display: inline!important; }
	.visible-md-inline-block { display: inline-block!important; }
}

@media screen and (min-width: $lg-breakpoint) {
	.hidden-lg { display: none!important; }

	.visible-lg-block { display: block!important; }
	.visible-lg-inline { display: inline!important; }
	.visible-lg-inline-block { display: inline-block!important; }
}

/**
 * Buttons
 */
[class^="btn-"], [class*=" btn-"], .btn {
	display: inline-block;
}


.more-link {
	margin: 20px 0;

	a {
		@include search-btn-gradient();
		display: inline-block;
		border: 1px solid $darkgrey-3;
		border-radius: 3px;
		color: $darkgrey-3;
		text-align: center;
		font-weight: bold;
		line-height: 1.25;
		padding: 5px 9px;
		text-decoration: none;
		font-size: calc-em(14px);
	}
}

.contact-link {
	display: inline-block;
	padding: 7px 8px;
	text-align: center;
	background: $purple-1;
	color: #fff;
	border-radius: 3px;

	&:hover {
		text-decoration: none;
		background: $purple-2;
		color: #fff;
	}
}



/**
 * Custom Select
 */
.custom-select-wrapper {
	position: relative;

	.label {
		position: relative;
		display: block;
		width: 100%;
		padding: 4px 25px 4px 5px;
		border: 1px solid #9a9a9a;
		border-radius: 5px;
		z-index: 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	select {
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
	}

	.icon-dropdown-arrow {
		position: absolute;
		right: 10px;
		top: 8px;
	}
}

/**
 * Product labels
 */

.listing-content__results,
.related-products,
.product-introduction {
	.label {
		display: inline-block;
		padding: 0 12px;
		background: $blue-3;
		color: #fff;
		position: absolute;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.6;
		padding-top: 2px;

		&.new-item { background: $pink-1; }
		&.recommended { background: $blue-3; }
		&.best-seller { background: $green-1; }
		&.promoted { background: $blue-3; }
	}
}
