@mixin border-radius($radius) {
       -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
            border-radius: $radius;
}

@mixin inner-shadow($hor-offset, $ver-offset, $blur, $spread, $color) {
       -moz-box-shadow: inset $hor-offset $ver-offset $blur $spread $color;
    -webkit-box-shadow: inset $hor-offset $ver-offset $blur $spread $color;
            box-shadow: inset $hor-offset $ver-offset $blur $spread $color;
}

@mixin box-shadow($horizontal-offset, $vertical-offset, $blur, $spread, $color) {
       -moz-box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
    -webkit-box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
            box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
}

@mixin rotate {
    -webkit-transform: rotate(10deg);
       -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
         -o-transform: rotate(10deg);
            transform: rotate(10deg);
}

@mixin transform($param) {
    -webkit-transform: $param;
       -moz-transform: $param;
        -ms-transform: $param;
         -o-transform: $param;
            transform: $param;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

@mixin normalise-list() {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin sprite($x, $y, $width, $height, $bgcolor: transparent) {
    display: inline-block;
    background: $bgcolor url('../images/sprite.png') no-repeat $x $y;
    width: $width;
    height: $height;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        background-image: url('../images/sprite-hd.png');
        background-size: 150px 150px;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
      content: '';
      display: table;
    }

    &:after { clear: both; }
}

@mixin transition($type, $duration, $easing: linear) {
           transition-property: unquote($type);
           transition-duration: $duration;
    transition-timing-function: $easing;
    /* Webkit */
    -webkit-transition-timing-function: $easing;
           -webkit-transition-property: unquote($type);
           -webkit-transition-duration: $duration;
           -webkit-backface-visibility: hidden;
}

@mixin linear-gradient ($color1, $color2) {
    background: -webkit-linear-gradient($color1, $color2);
    background: -o-linear-gradient($color1, $color2);
    background: -moz-linear-gradient($color1, $color2);
    background: linear-gradient($color1, $color2);
}

@mixin search-btn-gradient () {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(69%, #ededed), color-stop(100%, #adadad));
    background: -webkit-linear-gradient(#ededed 69%, #adadad);
    background: -moz-linear-gradient(#ededed 69%, #adadad);
    background: -o-linear-gradient(#ededed 69%, #adadad);
    background: linear-gradient(#ededed 69%, #adadad);
    background-size: 100%;
    background-color: #adadad;
}

@mixin visually-hidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin disable-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin font-family($fontname:'', $weight: 400) {
    @if($fontname != '') {
        font-family: '#{$fontname}', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    } @else {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    font-weight: $weight;
}

@mixin icomoon($glyph, $color: inherit) {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: $glyph;
    color: $color;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@function calc-em($target, $context: $base-fontsize) {
    @return $target / $context * 1em;
}

@mixin opacity($opacity) {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + ($opacity * 100) + ')';
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    opacity: $opacity;
}
