//normal font
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('../fonts/OpenSans.eot');
// 	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/OpenSans.woff') format('woff'),
// 		url('../fonts/OpenSans.ttf') format('truetype'),
// 		url('../fonts/OpenSans.svg#') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

//bold font
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('../fonts/OpenSans-Bold.eot');
// 	src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/OpenSans-Bold.woff') format('woff'),
// 		url('../fonts/OpenSans-Bold.ttf') format('truetype'),
// 		url('../fonts/OpenSans-Bold.svg#') format('svg');
// 	font-weight: bold;
// 	font-style: normal;
// }
