[class^="col-"], [class*=" col-"], [class^="col10-"], [class*=" col10-"] {
	float: left;
	padding: 0 6px;
	width: 100%;
}

// .row {
// 	@extend %clearfix;
// 	margin: 0 -10px;
// }

// .reverse {
// 	float: right;
// }

%container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

.container {
  @extend %container;
  @extend %clearfix;
}

.row, .row-col-12 {
  @extend %clearfix;
  margin: 0;
}

.column-row {
  @extend %clearfix;
  margin: 0 -6px;
}

.right { float: right; }
.left { float: left; }

@media only screen and (max-width: $bpTablet - 1) {
	@for $i from 1 through 12 {
		.col-xs-#{$i} {
			width: (100% / 12 * $i);
			padding: 0 6px;
		}

		.offset-xs-#{$i} {
			margin-left: (100% / 12 * $i);
		}

	}
	.offset-xs-0 {
		margin-left: 0;
	}
}

@media only screen and (min-width: $bpTablet), print {
	@for $i from 1 through 12 {
		.col-sm-#{$i} {
			width: (100% / 12 * $i);
			padding: 0 6px;
		}

		.offset-sm-#{$i} {
			margin-left: (100% / 12 * $i);
		}

	}
	.offset-sm-0 {
		margin-left: 0;
	}
}

@media only screen and (min-width: $bpDesktop), print {
	@for $i from 1 through 12 {
		.col-md-#{$i} {
			width: (100% / 12 * $i);
			padding: 0 6px;
		}

		.offset-md-#{$i} {
			margin-left: (100% / 12 * $i);
		}

	}
	.offset-md-0 {
		margin-left: 0;
	}
}

@media only screen and (min-width: $bpLgDesktop) {
	@for $i from 1 through 12 {
		.col-lg-#{$i} {
			width: (100% / 12 * $i);
			padding: 0 6px;
		}

		.offset-lg-#{$i} {
			margin-left: (100% / 12 * $i);
		}

	}
	.offset-lg-0 {
		margin-left: 0;
	}

	.column-row {
		margin: 0 -6px;
	}
}

//col10

@media only screen and (max-width: $bpTablet - 1) {
	@for $i from 1 through 10 {
		.col10-xs-#{$i} {
			width: (100% / 10 * $i);
		}
	}
}

@media only screen and (min-width: $bpTablet), print {
	@for $i from 1 through 10 {
		.col10-sm-#{$i} {
			width: (100% / 10 * $i);
		}
	}
}

@media only screen and (min-width: $bpDesktop), print {
	@for $i from 1 through 10 {
		.col10-md-#{$i} {
			width: (100% / 10 * $i);
		}
	}
}

@media only screen and (min-width: $bpLgDesktop) {
	@for $i from 1 through 10 {
		.col10-lg-#{$i} {
			width: (100% / 10 * $i);
		}
	}
}
