//helper classes
%list-unstyled {
	@include normalise-list;
}

%clearfix {
	@include clearfix;
}

%visuallyHidden {
	@include visuallyHidden;
}

.visuallyHidden {
	@extend %visuallyHidden;
}

%background-cover {
	@include background-cover;
}

%image-cover {
	@include image-cover;
}

%vertical-divider {
	border-right: 1px solid #000000;
	width: 0;
}

.show {
	display: block !important;
}

.hide, .hidden {
	display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
	margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@media only screen and (max-width: $bpTablet - 1) {
	.tablet-only, .tablet-desktop {
		display: none !important;
	}
}

@media only screen and (min-width: $bpTablet), print {
	.mobile-only {
		display: none !important;
	}
}

@media only screen and (max-width: $bpDesktop - 1) {
	.desktop-only {
		display: none !important;
	}
}

@media only screen and (min-width: $bpDesktop), print {
	.tablet-only, .handheld-only {
		display: none !important;
	}
}

.visuallyhidden-focusable:active,
.visuallyhidden-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}
