//Media query breakpoints
$bpMobile: 320px;
$bpLgMobile: 640px;
$bpTablet: 768px;
$bpDesktop: 992px;
$bpLgDesktop: 1280px;

//font settings
$base-fontsize: 16px;
$primaryFont: Roboto Condensed, Arial, sans-serif;
// $primaryFont: Noto Sans, Arial, sans-serif;

/* COLOURS */
$border: #ebebeb;
$border2: #dbdbdb;
$border3: #c1c1c1;
$border4: #d7d7d7;
$lightgrey: #eee;
$lightgrey2: #f5f5f5;
$darkgrey: #898989;
$grey: #e3e3e3;
$searchBorder: #a9a9a9;
$placeholder: #737373;
$bannerText: #333;
$panel-hover: #d5d5d5;

$red: #d92231;
$red-hover: #991822;


$pink: #ea46a5;
$blue: #1f65b3;
$green: #47a309;


/* Phase 2 variables*/
$body-text: #000;

$blue-1: #2895d5;
$blue-2: #227fb5;
$blue-3: #1f65b3;
$blue-4: #009bda;

$orange-1: #fd9f13;
$orange-2: #ff7800;

$grey-1: #ededed;
$grey-2: #e6e6e6;
$grey-3: #f6f6f6;
$grey-4: #f9f9f9;
$grey-5: #ddd;
$grey-6: #bbb;

$darkgrey-1: #808080;
$darkgrey-2: #666;
$darkgrey-3: #333;
$darkgrey-4: #999;

$purple-1: #9b2583;
$purple-2: #751862;

$red-1: #d92231;

$pink-1: #ea46a5;

$green-1: #47a309;


$facebook: #3b5999;
$linkedin: #0177b5;
$twitter: #1ca3f5;
$instagram: #cd486b;