//Import helpers
@import './_variables';
@import './_mixins';
@import './_helpers';
@import './_fonts';
@import './_icons';
@import './_grids';

// Normalize Styles
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/normalize.css/normalize';

//Plugin Styles
// @import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/@fancyapps/fancybox/dist/jquery.fancybox';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $primaryFont;
  line-height: 1.6;
  font-weight: 300;
  word-wrap: break-word;
  color: #000;
  font-size: calc-em(16px);
}

@media print {
  body {
    zoom: 0.85;
  }
}

img {
  vertical-align: top;
  // width: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

.timeline-Tweet:hover {
  background-color: rgba(0,0,0,0);
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

//removing focus ring for mouse events
.no-focus-outline {
  *:not(.has-outline):focus {
    outline: none;
  }
}

.red-link {
  color: $red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Layouts */
.layout {
  position: relative;
  max-width: 1220px;
  margin: 80px auto 0;
  padding: 20px 10px 0;
  width: 100%;
}

.main-content, .page-not-found {
  position: relative;
  max-width: 1220px;
  margin: 80px auto 0;
  padding: 20px 10px 0;
}

@media only screen and (max-width: $bpTablet - 1){
  .main-content, .page-not-found {
    > h1, > h2, > h3, > h4, > h5, > h6 {
      &:first-of-type {
        margin: 0;
      }
    }
  }
}

#at15s {
  margin-top: -80px !important;
}

// aside layout
.layout-aside {
  @extend %clearfix;
}
// aside layout

//article layout
.layout-article {
  @extend %clearfix;

  .layout-side {
    width: 100%;
    margin: 0 0 0 24px;
  }
}
// article layout

.top-banner {
  width: 100%;
  margin-bottom: 24px;
}

.layout-main, .layout-bottom {
  // min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
}

.layout-bottom {
  max-width: 1220px;
  padding: 0 10px;
}

.layout-side {
  > *:first-child {
    // border-top: 0;
    margin-top: 0;
  }
}

// .wingspan {
//   margin: auto;
//   // padding: 0 6px;
//   // max-width: 1220px;
//   box-sizing: border-box;
// }

@media only screen and (max-width: $bpTablet - 1){
  .layout-side--left {
    display: none;
  }

  .layout-article {
    .layout-side {
      width: 100%;
      margin: 24px 0 0;
      max-width: none;
    }
  }
}

@media only screen and (min-width: $bpTablet), print {
  .layout-article {
    .layout-main {
      float: left;
      width: calc(60% - 48px);
      min-width: calc(100% - 528px);
    }

    .layout-side {
      float: left;
      width: 20%;
      max-width: 240px;
      margin: 0 0 0 24px;

      &--left {
        margin: 0 24px 0 0;
      }
    }
  }
}

@media only screen and (min-width: $bpDesktop), print {
  .main-content, .page-not-found {
    margin: 0 auto;
  }

  #at15s {
    margin-top: 0 !important;
  }

  .layout-aside {
    .layout-main {
      float: left;
      width: calc(100% - 234px);
    }

    .layout-side {
      float: left;
      display: block;
      width: 100%;
      max-width: 210px;
      margin: 0 0 0 24px;
    }

    .layout-bottom {
      float: left;
      width: 100%;
    }
  }
}

@media print {
  .layout-aside {
    .layout-main {
      width: 100%;
    }
    .layout-side {
      width: 100%;
    }
  }
}

/* Link styles */
// a {
//   @include transition('color, background-color', 200ms, linear);
//   -webkit-backface-visibility: initial;
// }

// // unvisited link
// a:link {
//     color: $red;
// }

// // visited link
// a:visited {
//     color: $red;
// }

// // mouse over link
// a:hover {
//     color: $red;
// }

// // selected link
// a:active {
//     color: $red;
// }


/* Result status */
.result-status {
  text-align: center;

  .msg {
    display: none;
    // background: $grey-3;
    text-align: left;
    padding: 3px 0;
    font-size: calc-em(14px);
    margin: 0;
  }
}

/* Loader animation */
@keyframes fade {
  0%   {opacity: 1;}
  40%   {opacity: 0;}
  60%   {opacity: 0;}
  100% {opacity: 1;}
}

.loader-animation {
  display: none;
  position: relative;
  margin-left: -30px;

  .inner {
    display: block;
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    top: 0;

    &:nth-child(1) {
      left: 0;
      animation-delay: 0;
    }

    &:nth-child(2) {
      left: 12px;
      animation-delay: 200ms;
    }

    &:nth-child(3) {
      left: 24px;
      animation-delay: 400ms;
    }
  }
}

/* Back to top */
.back-to-top {
  position: fixed;
  right: 0;
  top: 70%;
  padding: 4px 10px;
  background: $border;
  text-align: center;
  cursor: pointer;
  display: none;
  z-index: 5;

  span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: -10px;
  }

  i {
    font-size: 24px;
    line-height: 1;
  }
}


@media print {
  // Show Only Active Slide
  .slick-slide {
    display: none !important;
    &.slick-active {
        display: block !important;
    }
  }

  // Reset adaptiveHeight
  .slick-list {
    height: auto !important;
  }

  // Remove Scrollbars
  .slick-track {
    width: auto !important;
    height: auto !important;
    transform: none !important;
    .slick-slide {
        width: auto !important;
    }
  }

  .match-height {
    height: auto !important;
  }
}


/* End Layouts */

//Import modules styles
@import '../_modules/table-responsive/table-responsive';
@import '../_modules/organisms/section/section';

//Atoms
@import '../_modules/atoms/button/button';
@import '../_modules/atoms/iframe/iframe';
// @import '../_modules/atoms//';


//Molecules
@import '../_modules/molecules/top-nav/top-nav';
@import '../_modules/molecules/main-nav/main-nav';
@import '../_modules/molecules/footer-nav/footer-nav';
@import '../_modules/molecules/search-bar/search-bar';
@import '../_modules/molecules/follow-us/follow-us';
@import '../_modules/molecules/panel-item/panel-item';
@import '../_modules/molecules/panel-with-overlay/panel-with-overlay';
@import '../_modules/molecules/carousel-item/carousel-item';
@import '../_modules/molecules/social-media-item/social-media-item';
@import '../_modules/molecules/breadcrumb/breadcrumb';
// @import '../_modules/molecules/side-nav/side-nav';
@import '../_modules/molecules/quick-links/quick-links';
@import '../_modules/molecules/social-list/social-list';
@import '../_modules/molecules/aside/aside';
@import '../_modules/molecules/aside-banner/aside-banner';
@import '../_modules/molecules/solutions-filter/solutions-filter';
@import '../_modules/molecules/card-tiles/card-tiles';
@import '../_modules/molecules/image-links/image-links';
@import '../_modules/molecules/nav-tabs-anchor/nav-tabs-anchor';
@import '../_modules/molecules/nav-tabs/nav-tabs';
@import '../_modules/molecules/accordion/accordion';
@import '../_modules/molecules/listing-sorter/listing-sorter';
@import '../_modules/molecules/testimonial/testimonial';
@import '../_modules/molecules/product-resources/product-resources';
@import '../_modules/molecules/pagination/pagination';
@import '../_modules/molecules/event-mapper-filters/event-mapper-filters';
@import '../_modules/molecules/event-mapper-item/event-mapper-item';
@import '../_modules/molecules/success-stories-mapper-filters/success-stories-mapper-filters';
@import '../_modules/molecules/featured-speakers-item/featured-speakers-item';
@import '../_modules/molecules/reseller-locator-filters/reseller-locator-filters';
@import '../_modules/molecules/newsroom-blog-item/newsroom-blog-item';
@import '../_modules/molecules/inquiry/inquiry';
@import '../_modules/molecules/loop-video/loop-video';
@import '../_modules/molecules/panel-caption/panel-caption';
@import '../_modules/molecules/social-sub-item/social-sub-item';
@import '../_modules/molecules/image-text-item/image-text-item';
@import '../_modules/molecules/how-to-buy/how-to-buy';
// @import '../_modules/molecules//';


//Organisms
@import '../_modules/organisms/site-header/site-header';
@import '../_modules/organisms/site-footer/site-footer';
@import '../_modules/organisms/rte/rte';
@import '../_modules/organisms/hero-banner/hero-banner';
@import '../_modules/organisms/panels-group/panels-group';
@import '../_modules/organisms/carousel/carousel';
@import '../_modules/organisms/social-media/social-media';
@import '../_modules/organisms/solutions-services/solutions-services';
@import '../_modules/organisms/image-links-wrapper/image-links-wrapper';
@import '../_modules/organisms/landing-wrapper/landing-wrapper';
@import '../_modules/organisms/topic-panels/topic-panels';
@import '../_modules/organisms/accordion-wrapper/accordion-wrapper';
@import '../_modules/organisms/form-wrapper/form-wrapper';
@import '../_modules/organisms/new-wffm-form/new-wffm-form';
@import '../_modules/organisms/col-form-wrapper/col-form-wrapper';
@import '../_modules/organisms/listing-filters/listing-filters';
@import '../_modules/organisms/listing-results/listing-results';
@import '../_modules/organisms/dynamic-listing/dynamic-listing';
@import '../_modules/organisms/featured-speakers/featured-speakers';
@import '../_modules/organisms/home-announcement/home-announcement';
@import '../_modules/organisms/modal/modal';
@import '../_modules/organisms/agenda/agenda';
@import '../_modules/organisms/promotion-list/promotion-list';
@import '../_modules/organisms/related-pages/related-pages';
@import '../_modules/organisms/event-mapper/event-mapper';
@import '../_modules/organisms/success-stories-mapper/success-stories-mapper';
@import '../_modules/organisms/event-aside/event-aside';
@import '../_modules/organisms/sitemap/sitemap';
@import '../_modules/organisms/search/search';
@import '../_modules/organisms/reseller-locator/reseller-locator';
@import '../_modules/organisms/newsroom-wrapper/newsroom-wrapper';
@import '../_modules/organisms/2-col-carousel/2-col-carousel';
@import '../_modules/organisms/3-4-carousel/3-4-carousel';
@import '../_modules/organisms/sort-table/sort-table';
@import '../_modules/organisms/social-media-subpage/social-media-subpage';
@import '../_modules/organisms/tab-carousel/tab-carousel';
@import '../_modules/organisms/store-locator/store-locator';
@import '../_modules/organisms/alipay-form/alipay-form';
@import '../_modules/organisms/sticky-buttons/sticky-buttons';
// @import '../_modules/organisms//';

//Templates
@import '../_modules/templates/standard/standard';
// @import '../_modules/templates/listing/listing'; // phase 3
