mixin side-menu(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//Side Menu
	.side-menu
		ul
			li
				a.fancybox(href = "#notifications" data-goalId="1")
					i.icon-notification
					span.label Notification

			li
				a.modalbox(href = "#enquiryForm" data-iframe="/modal-form" data-goalId="2")
					i.icon-enquiry
					span.label Enquiry

			li
				a.js-livechat(data-goalId="3" href = "#" onclick = "window.open('https://secure.livechatinc.com/licence/2559781/open_chat.cgi?groups=0','newChatWindow','height=520,width=530,top=' + (screen.height / 2 - 260) + ',left=' + (screen.width / 2 - 265) + ',resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');")
					i.icon-chat
					span.label Chat

			li
				a.addthis_button_compact(data-goalId="4")
					i.icon-share
					span.label Share this page
	//End: Side Menu

	//Notifications
	#notifications.notifications
		h3 Notifications
		ul
			li.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sem tellus, hendrerit quis libero vel, laoreet suscipit nisl. Vivamus a sem bibendum elit iaculis tristique ut et tellus.
			li.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sem tellus, hendrerit quis libero vel, laoreet suscipit nisl. Vivamus a sem bibendum elit iaculis tristique ut et tellus.
	//End: Notifications

