// side-menu styles

/**
 * Notification
 */
.notifications {
	display: none;

	li {
		display: block;
		padding: 20px 0;
		border-bottom: 1px solid $grey-1;

		&:first-child { padding: 0 0 20px; }
		&:last-child { border: 0; }
	}
}

#at15s {
	display: none !important;
}


@media only screen and (max-width: $md-breakpoint + 99) {

	.side-menu {
		position: fixed;
		bottom: 20px;
		right: 10px;
		z-index: 999;

		&.active {
			ul { height: auto; }

			li { opacity: 1; top: 0!important; }
		}

		ul {
			display: block;
			overflow: hidden;
		}

		li {
			@include transition('opacity, top', 200ms, ease-in-out);
			position: relative;
			opacity: 0;

			&:nth-child(1) { top: -10px; }
			&:nth-child(2) { top: -20px; }
			&:nth-child(3) { top: -40px; }
			&:nth-child(4) { top: -80px; }
			&:nth-child(5) { top: -160px; }
			&:nth-child(6) { top: -320px; }
		}

		a {
			display: block;
			position: relative;
			text-decoration: none;
			color: #000;
			padding: 5px 15px;
			min-width: 155px;
			text-align: right;
			box-sizing: content-box;

			&.side-menu-toggle {
				display: inline-block;
				width: auto;
				min-width: inherit;
				float: right;
				padding: 10px;
				right: 5px;
			}
		}

		i {
			display: inline-block;
			background-color: $orange-1;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			text-align: center;
			color: #fff;
			line-height: 40px;
		}

		.label {
			display: block;
			position: absolute;
			left: 0;
			top: 3px;
			width: 100px;
			font-size: calc-em(14px);
			background-color: $orange-1;
			padding: 10px;
			border-radius: 5px;
			text-align: right;
			color: #fff;
			border: 1px solid $orange-1;
		}
	}
}

@media only screen and (min-width: $md-breakpoint + 100) {
	.side-menu {
		position: fixed;
		bottom: 50%;
		left: 0;
		z-index: 999;
		margin-bottom: -100px;

		.side-menu-toggle { display: none; }

		ul { display: block!important; }

		a {
			display: block;
			position: relative;
			text-decoration: none;
			color: #000;
			width: 62.5px;
			height: 62.5px;
			line-height: 62.5px;
			text-align: center;
			background-color: $grey-2;
			margin-bottom: 1px;

			&:hover {
				color: #fff;
				background-color: $orange-1;

				.label {
					opacity: 1;
					left: 100%;
					margin-left: 2px;
				}
			}
		}

		i { display: inline-block; font-size: 22px; vertical-align: middle; }

		.label {
			@include transition('margin, opacity', 200ms, ease-in-out);
			display: inline-block;
			position: absolute;
			left: -200px;
			top: 0;
			margin-left: 25px;
			min-width: 100px;
			background-color: $orange-1;
			padding: 0 10px;
			font-size: calc-em(16px);
			// line-height: 62.5px;
			text-align: left;
			color: #fff;
			opacity: 0;
			white-space: nowrap;
		}
	}
}



@media only screen and (min-width: 1900px) {

	.side-menu {
		a {
			width: 94px;
			height: 94px;
			line-height: 94px;
		}

		i { font-size: 28px; position: relative; }
	}
}
