mixin email-footer(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	// START: Email Footer
	<!--[if mso | IE]>
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="640" align="center" style="width:640px;">
	<tr>
	<td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
	<![endif]-->
	div(style='margin: 0px auto; max-width: 640px; background-color: #ebebeb;')
		table(width="100%" role='presentation', cellpadding='0', cellspacing='0', style='border-collapse: collapse; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;', align='left', border='0')
			tbody
				tr
					td(width="100%" colspan="8" style='width: 100%; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ebebeb; padding: 15px 15px 0 15px; word-break: break-word; text-align: left;', align='left', valign='top')
						div(style='color: #101010; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px;')
							p(style='display: block; margin: 0; font-size: 12px; color: #101010; font-weight: 700;') Connect with us
				tr
					td(width="100%" colspan="8" style='width: 100%; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ebebeb; padding: 15px 15px 15px 15px; word-break: break-word; text-align: left;', align='left', valign='top')
						table(cellpadding='0', cellspacing='0', border='0', width='290', style='width: 290px; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;', bgcolor='#ebebeb')
							tbody
								tr
									td.footer-links(width="42" style='width: 42px; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ebebeb; word-break: break-word; text-align: left;', align='left', valign='middle')
										a(href="https://www.fujixerox.com.sg/en" style="display: inline-block; width: 100%; vertical-align: middle;")
											img(src="/fx_exm/images/facebook-logo.png", alt="")
									td.footer-links(width="42" style='width: 42px; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ebebeb; word-break: break-word; text-align: left;', align='left', valign='middle')
										a(href="https://www.fujixerox.com.sg/en" style="display: inline-block; width: 100%; vertical-align: middle;")
											img(src="/fx_exm/images/twitter-logo.png", alt="")
									td.footer-links(width="42" style='width: 42px; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ebebeb; word-break: break-word; text-align: left;', align='left', valign='middle')
										a(href="https://www.fujixerox.com.sg/en" style="display: inline-block; width: 100%; vertical-align: middle;")
											img(src="/fx_exm/images/linkedin-logo.png", alt="")
									td.footer-links(width="42" style='width: 42px; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ebebeb; word-break: break-word; text-align: left;', align='left', valign='middle')
										a(href="https://www.fujixerox.com.sg/en" style="display: inline-block; width: 100%; vertical-align: middle;")
											img(src="/fx_exm/images/youtube-logo.png", alt="")
									td.footer-links(width="42" style='width: 42px; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ebebeb; word-break: break-word; text-align: left;', align='left', valign='middle')
										a(href="https://www.fujixerox.com.sg/en" style="display: inline-block; width: 100%; vertical-align: middle;")
											img(src="/fx_exm/images/weibo-logo.png", alt="")
									td.footer-links(width="42" style='width: 42px; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ebebeb; word-break: break-word; text-align: left;', align='left', valign='middle')
										a(href="https://www.fujixerox.com.sg/en" style="display: inline-block; width: 100%; vertical-align: middle;")
											img(src="/fx_exm/images/mail-logo.png", alt="")

		table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse: collapse; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #333333;', align='center', border='0' width="100%" bgcolor="#333333")
			tbody
				tr
					td(style="padding: 15px 15px 15px 15px;")
						table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
							tbody
								tr
									td.mobile-fullwidth.mobile-fullwidth--top(width="50%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 50%;")
										table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
											tbody
												tr
													td.footer-links(width="50%" style='border-collapse: collapse; color: #ffffff; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' align="center" valign="middle")
														p(style='display: block; margin: 0; text-align: center; color: #ffffff;')
															a(href="https://www.fujixerox.com.sg/en" style="color: #ffffff; font-size: 12px; line-height: 20px; text-decoration: none; font-weight: 700;") Products
													td.footer-links(width="50%" style='border-collapse: collapse; color: #ffffff; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' align="center" valign="middle")
														p(style='display: block; margin: 0; text-align: center; color: #ffffff;')
															a(href="https://www.fujixerox.com.sg/en" style="color: #ffffff; font-size: 12px; line-height: 20px; text-decoration: none; font-weight: 700;") Solutions
									td.mobile-fullwidth.mobile-fullwidth--bottom(width="50%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 50%;")
										table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
											tbody
												tr
													td.footer-links(width="50%" style='border-collapse: collapse; color: #ffffff; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' align="center" valign="middle")
														p(style='display: block; margin: 0; text-align: center; color: #ffffff;')
															a(href="https://www.fujixerox.com.sg/en" style="color: #ffffff; font-size: 12px; line-height: 20px; text-decoration: none; font-weight: 700;") Support & Driver
													td.footer-links(width="50%" style='border-collapse: collapse; color: #ffffff; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' align="center" valign="middle")
														p(style='display: block; margin: 0; text-align: center; color: #ffffff;')
															a(href="https://www.fujixerox.com.sg/en" style="color: #ffffff; font-size: 12px; line-height: 20px; text-decoration: none; font-weight: 700;") Company

		table(width="100%" role='presentation', cellpadding='0', cellspacing='0', style='border-collapse: collapse; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;', align='center', border='0')
			tbody
				tr
					td.footer-top(width="100%" style='width: 100%; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 15px 15px 15px 15px; background-color: #ebebeb; word-break: break-word;', align='left', valign='top')
						div(style='color: #101010; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 16px; text-align: center;')
							p(style='display: block; margin: 0; text-align: center; font-size: 12px; color: #101010;') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				tr
					td.footer-bottom-copyright(width="100%" style='width: 100%; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 15px 15px 0px 15px; background-color: #ebebeb; word-break: break-word;', align='left', valign='top')
						div(style='color: #101010; cursor: auto; font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; text-align: left; font-weight: 500;')
							p(style='display: block; margin: 0; text-align: left; font-size: 11px; color: #101010;') © Fuji Xerox Co. Ltd. All rights reserved.
				tr
					td.footer-bottom-trademarks(width="100%" style='width: 100%; border-collapse: collapse; direction: ltr; font-size: 0px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0 15px 15px 15px; background-color: #ebebeb; word-break: break-word;', align='left', valign='top')
						div(style='color: #101010; cursor: auto; font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; text-align: left; font-weight: 500;')
							p(style='display: block; margin: 0; text-align: left; font-size: 11px; color: #101010;') Xerox, Xerox and Design, as well as Fuji Xerox and Design are registered trademarks or trademarks of Xerox Corporation in Japan and/or other countries.
	
	<!--[if mso | IE]>
	</td>
	</tr>
	</table>
	<![endif]-->
	// END: Email Footer
