// // section styles
.section {
	@extend %clearfix;
	margin-bottom: 25px;

	// .layout-article & {
	// 	margin-bottom: 50px;
	// }
	// border-top: 1px solid $grey-3;

	> *:first-child {
		margin-top: 0;
	}

	.anchor-link + * {
		margin-top: 0;
	}

	&:first-of-type {
		// margin-top: -20px;
		border-top: 0;
		padding-top: 0;
	}

	&.featured-linkboxs  { border-top: 0; }

	&.center {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;

		@media only screen and (min-width: $bpTablet), print {
			max-width: 80%;
		}
	}

	> h1, > h2, > h3, > h4, > h5, > h6 {
	    font-weight: 300;
	    margin: 20px 0 10px;

		// &:first-of-type{
		// 	margin-top: 0;
		// }
	}

	a {
		color: $red;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	a.button {
		color: #fff;

		&:hover {
			color: $red;
			text-decoration: none;
		}
	}

	a.button--inverse {
		color: $red;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	.layout-article & {
		> *:last-child:not(h1,h2,h3,h4,h5,h6) {
			margin-bottom: 0;
		}
	}

	table {
		font-size: calc-em(16px);
		line-height: 1.6;
		margin: 20px 0;
		border-collapse: collapse;

		&.full-width { width: 100%; }

		th {
			text-align: left;

			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		a {
			color: $red;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	thead {
		color: #fff;
		text-align: left;

		tr { background: $red; }
	}

	th { background: $red; color: #fff; }

	td, th { padding: 15px; font-weight: 300; }
	th { font-weight: normal; }

	td { vertical-align: top; max-width: 400px; }

	tbody {

		tr {
			&:nth-child(odd) { background: $grey-1; }
		}

		li { margin-bottom: 8px; }

		p { margin-top: 0; }

		ul {
			li {
				padding-left: 0;

				&:before { display: none; }
			}
		}
	}
}

.sorting-table {
	td, th { padding: 15px 25px 15px 20px; font-weight: 300; }
	th { font-weight: normal; }
}

.event-details-actions {
	text-align: center;

	.button {
		margin: 0 6px;
	}
}

/**
 * Video Section
 */
.video-box, .testimony-box {
	position: relative;
	padding: 0;
	margin-top: 25px;
	border-top: 0;
}

.video-box { background-color: $grey-2; }

.video-box__desc {
	padding: 15px 20px;

	h2 { margin-top: 0; }
}

.video-box__yt-embed {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	background-color: rgba(0,0,0,1);
	overflow: hidden;

	iframe {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/**
 * Testimony Section
 */
.testimony-box__image {
	img {
		display: block;
		width: 100%;
	}
}

.testimony-box__quote {
	padding: 0 8px;

	blockquote {
		margin-top: 0;
	}

	.testimony-content {
		line-height: 1.4;
		font-style: italic;
		color: $darkgrey-2;
		margin: 0 0 16px;

		p {
			margin: 0;
		}
	}

	footer {
		display: block;
		font-weight: bold;
		line-height: 1.4;

		&:before {
			content: '';
			display: block;
			width: 30px;
			height: 1px;
			background-color: #000;
			margin-bottom: 16px;
		}
	}
}

/**
 * Points
 */
.points {
	text-align: center;

	ul {
		@extend %list-unstyled;
	}

	.icon {
		display: inline-block;
		width: 140px;
		height: 140px;
		text-align: center;
		line-height: 140px;
		border-radius: 50%;
		background: $red;
		margin: 10px auto 20px;

		img {
			position: relative;
			display: inline-block;
			max-width: 100%;
			top: 26px;
		}
	}

	h3 {
		font-size: calc-em(32px);
		font-weight: 300;
		margin-bottom: 5px;
	}

	li {
		display: inline-block;
		text-align: center;
		padding: 10px;
		margin: 0 10px 24px;
		background-color: $border;
		width: 280px;
		vertical-align: top;

		&:before { display: none; }
	}
}


/**
 * Resources
 */
.resources {
	margin-top: 20px;
}

.resources__block {
	position: relative;
	padding: 0 0 20px;

	dt {
		float: left;
		margin-right: 5px;
		color: $darkgrey-1;
	}

	dd {
		clear: right;
		font-style: italic;
		margin: 0;
	}
}

.article-content .resources__block {
	h3 {
		margin-bottom: 0;
	}
}

.resources__block__download-btn {
	display: inline-block;
	border: 2px solid $red;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	font-size: 34px;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		background-color: $red;

		i { color: #fff; }
	}
}

/**
 * Event Agenda (career-detail page table added)
 */
.career-detail-overview,
.event-agenda__day-table {
	table {
		width: 100%;
	}

	td {
		h3, h4 { margin-top: 0; }
	}
}

/**
 * Event detail page overview
 */
.event-overview, .event-registration {
	h1 {
		margin-top: 0;
		font-size: calc-em(24px);
	}
}

/**
 * Career-detail-requirement
 */
.career-details-requirement {
	ul {
		margin: 0;
	}
}

/**
 * Career-detail-actions
 */
.career-details-actions {
	border-top: none;
	padding-top: 0;

	a.button {
		margin: 0 12px 0 0;
	}
}

/**
 * Career-details
 */

 .career-detail-overview {
 	.job-listing-dates {
 		position: relative;
 		top: -15px;
 		display: inline-block;
 		width: 100%;
	 	font-size: calc-em(14px);

 	}

 	.job-at-a-glance {
 		margin-bottom: 0;
	 	thead {
	 		display: none;
	 	}
	 	tr {
	 		background-color: $grey-1;
	 		border-bottom: 1px solid #fff;
	 		font-size: calc-em(12px, 14px);
	 		td {
	 			padding: 8px;
	 		}

	 		td:first-child {
	 			background-color: $red;
	 			color: #fff;
			}
	 	}
 	}


 	p {
 		position: relative;
 		top: -10px;
 	}
 }


 /**
 * Success Stories Landing
 */

 .success-landing-intro {
 	margin-top: 25px;
 	& .intro-text {
 		width: 100%;
 		padding: 0 10px;
 		margin-bottom: 0;
 		margin: 0 auto 0;
 		line-height: 1.6;
 		font-size: calc-em(16px);
 		@media only screen and (min-width: $bpTablet), print {
			max-width: 80%;
		}
 		@media only screen and (min-width: $bpDesktop) {
 			font-size: calc-em(16px);
		}
 	}
 }

@media only screen and (min-width: $bpTablet), print {

	.resources__block__download-btn {
		position: absolute;
		right: 0;
		top: 15px;
	}

	.career-detail-overview {
	 	.job-listing-dates {
 			padding-right: 45px;
	 		display: inline;
	 		font-size: 1em;
	 	}

	 	.job-at-a-glance {
	 		margin-bottom: 0;
		 	thead {
		 		display: table-header-group;
		 	}
		 	tr {
		 		background-color: #fff;
		 		border-bottom: none;
		 		font-size: calc-em(14px, 14px);
		 		td {
		 			padding: 15px;
		 		}

		 		td:first-child {
		 			color: #000;
		 			width: 225px;
		 			background-color: #fff;
				}
		 	}
		 	tr:nth-child(odd) {
		 		background-color: $grey-1;
		 		td:first-child {
		 			background-color: $grey-1;
		 		}
		 	}
	 	}
	}
}

@media only screen and (min-width: $bpDesktop), print {
	.video-box__yt-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 65%;
	}

	.video-box__yt-embed {
		position: relative;
		height: 100%;
		padding: 0;
		min-height: 300px;

		iframe {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	.video-box__desc {
		float: left;
		width: 35%;
		min-height: 300px;

		h2 {
			margin: 15px 0 0;
		}

		p {
			margin: 0 0 10px;
		}
	}
}

