mixin button(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	if spec.expired
		span.button(class=spec.__class)=spec.label
	else if spec.notlink
		span.button(class=spec.__class)=spec.label
	else if spec.label === "Read Blog"
		span.button(class=spec.__class, itemprop="url")=spec.label
	else
		a.button(class=spec.__class, href=spec.url)=spec.label
