// button styles
a.button, span.button, .load-more a,
.btn-group button, .btn-clear-filter {
	line-height: 1.55;
	text-decoration: none;
	color: #fff;
	background: $red;
	position: relative;
	display: inline-block;
	margin: 15px 0 0;
	border: 1px solid $red;
	padding: 4px 35px 4px 15px;

	&:after {
		content: "";
		transform: rotate(45deg) translate(0,-50%);
		position: absolute;
		top: 50%;
		right: 21px;
		display: block;
		width: 10px;
		height: 10px;
		margin: -2px 0 0;
		border-top: 2px solid #fff;
		border-right: 2px solid #fff;
	}

	&:hover {
		background: #fff;
		color: $red;
		border-color: $red;

		&:after {
			border-top: 2px solid $red;
			border-right: 2px solid $red;
		}
	}

	&.expired {
		background-color: $grey-5;
		color: #000;
		padding: 4px 15px 4px 15px;
		border: 1px solid $grey-5;

		&:after {
			display: none;
		}

		&:hover {
			background-color: $grey-5;
			color: #000;
		}
	}

	&.center {
		text-align: center;
	}

	&.load-more {
		padding: 5px 15px 5px 15px;

		&:after {
			display: none;
		}
	}

	&--inverse {
		color: $red;
		background: #fff;
		border: 1px solid $red;
		padding: 4px 35px 4px 15px;
		position: relative;
		display: inline-block;
		line-height: 1.55;
		text-decoration: none;

		&:after {
			transform: rotate(45deg) translate(0,-50%);
			position: absolute;
			top: 50%;
			right: 21px;
			display: block;
			width: 10px;
			height: 10px;
			margin: -2px 0 0;
			content: "";
			border-top: 2px solid $red;
			border-right: 2px solid $red;
		}

		&:hover {
			background: $red;
			color: #fff;

			&:after {
				border-top: 2px solid #fff;
				border-right: 2px solid #fff;
			}
		}
	}

	&.btn-wide {
		min-width: 30.8510638%;
		font-weight: 400;
		line-height: 29px;
		text-align: center;
		position: relative;
		padding: 0 30px 0 10px;
		margin: 0;
		border: 1px solid transparent;

		&:hover {
			color: $red;
			background-color: #fff;
			border: 1px solid $border4;

			&:after {
				color: $red;
			}
		}

		&:after {
			transform: rotate(0) translate(0,-50%);
			position: absolute;
			top: 50%;
			right: 12px;
			font-family: Arial;
			font-size: 90%;
			color: #fff;
			padding: 0 0 0 5px;
			content: "\0000a0\276F";
			border: none;
			width: auto;
			height: auto;
			margin: -1px 0 0 0;
		}
	}

	&.button-nohover {
		&:hover {
			background: $red;
			color: #fff !important;

			&:after {
				border-top: 2px solid #fff;
				border-right: 2px solid #fff;
			}
		}
	}
}

 .load-more a {
 	padding: 5px 15px 5px 15px;

	&:after {
		display: none;
	}
 }

.btn-clear-filter {
	float: right;
	margin: 2px 10px 0 0;
	border: 1px solid transparent;

	&:hover {
		border-color: $red;
	}
}

.btn-group {
    button {
        position: relative;
        background: transparent;
        border: 1px solid #fff;
        display: inline-block;
        -webkit-appearance: none;
        cursor: pointer;

        &[type = "submit"] {
            background: $red;
            color: #fff;
        }

        &:last-child { margin-right: 0; }

        i {
        	display: none;
            // position: relative;
            // display: inline;
            // margin-left: 10px;
            // top: -1px;
            // vertical-align: middle;
        }

        &:hover {
        	&[type = "submit"] {
        	    background: #fff;
        	    color: $red;
        	}
        }
    }
}

@media only screen and (min-width: $bpTablet) {
	a.button {
		&.btn-wide {
			min-width: 290px;
		}
	}
}

@media only screen and (min-width: $bpDesktop) {
	a.button {
		&.btn-wide {
			min-width: 290px;
		}
	}
}

@media print {
	a.button {
		color: #000;
		border-color: #000;
		padding-right: 14px;

		&:after {
			display: none;
		}
	}
}
