extends ../_layouts/base

include ../_modules/molecules/section/section
include ../_modules/templates/article/article

include ../_modules/organisms/related-pages/related-pages
include ../_modules/organisms/accordion/accordion

//- Configuration
block config
	- var baseUrl = '../'
	- var pageTitle = 'Fuji Xerox | Template Checklist'
	- var parent = 1

block content
	+article({
		contentClass: "wide",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Template CheckList"
			}
		]
	})
		h1 Checklist

		table.full-width
			thead
				tr
					th Phase 2 Templates

			tbody
				tr: td: a(href = "/company/careers" target = "_blank") Career Listing
				tr: td: a(href = "/company/careers/career-details" target = "_blank") Career Details
				tr: td: a(href = "/company/success-stories" target = "_blank") Success Stories Landing
				tr: td: a(href = "/company/success-stories/arcadis" target = "_blank") Success Story
				tr: td: a(href = "/company/events" target = "_blank") Events Landing
				tr: td: a(href = "/company/events/event-details" target = "_blank") Event Details
				tr: td: a(href = "/company/events/event-details/event-registration" target = "_blank") Event Registration
				tr: td: a(href = "/contact/promotions" target = "_blank") Promotions Landing
				tr: td: a(href = "/contact/promotions/promotion-details" target = "_blank") Promotion
				tr: td: a(href = "/blank-iframe" target = "_blank") Blank for iFrame



		table.full-width
			thead
				tr
					th Phase 1 Templates

			tbody
				tr: td: a(href = "/" target = "_blank") Homepage
				tr: td: a(href = "/article" target = "_blank") Article
				tr: td: a(href = "/products/printer" target = "_blank") Product
				tr: td: a(href = "/blank" target = "_blank") Blank
				tr: td: a(href = "/company/newsroom" target = "_blank") Newsroom
				tr: td: a(href = "/products" target = "_blank") Product Listing
				tr: td: a(href = "/solutions-and-services" target = "_blank") Solutions And Services
				tr: td: a(href = "/404" target = "_blank") Page Error
				tr: td: a(href = "/search-results" target = "_blank") Search Results
				tr: td: a(href = "/form" target = "_blank") Form Template

