// breadcrumb styles
.breadcrumb {
	display: none;
	width: 100%;
	color: $border3;
	margin: 0 0 20px;
	line-height: 1.9;
	font-size: calc-em(14px);

	ul {
		@extend %clearfix;
		@extend %list-unstyled;
	}

	li {
		float: left;

		&:after {
			content: '>';
			margin: 0 3px;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: #000;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media only screen and (min-width: $bpTablet), print{
	.breadcrumb {
		display: block;
	}
}
