extends ../_templates/article

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Article'
	- pageDescription = 'This is the article page of Fuji Xerox'
	- articleData = site.data.article

block ArticleBanner
	+hero-banner(articleData.banner)

block ArticleContent
	+section()
		+rte()
			h1 Rich-text content tester
			h1 Header 1
			h2 Header 2
			h3 Header 3
			h4 Header 4
			h5 Header 5
			h6 Header 6

			h1 Content Tester
			p
				| This is an intro paragraph. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			p
				| Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			p
				img(src="http://placehold.it/200x150/", alt="", style="margin-right: 10px; float: left;")
				| This is a paragraph with left justified image. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				| 				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			p
				img(src="http://placehold.it/200x150/", alt="", style="margin-left: 10px; float: right;")
				| This is a paragraph with right justified image. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				| 				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			img(src="http://placehold.it/200x150/", alt="", style="margin: auto; display: block;")
			p
				| This is a paragraph with image before it. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			img(src="http://placehold.it/200x150/", alt="")
			p
				| This is a paragraph with image before it. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

			// Test content starts here
			p
				| Test contents from here, including the line below. Normally users should only enter starting heading 2(h2) to maintaing document outline integrity. However they can occassionaly use h1, but semantically, the content will be at same level as this page.
			hr
			p
				| This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			p
				| This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			h2 This is 2nd level heading(h2)
			p
				| This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			p
				| This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			h3 This is 3rd level heading(h3)
			p
				| This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			p
				| This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			h4 This is 4th level heading(h4)
			p
				| This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			p
				| This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			hr
			h2 Basic block level elements
			p
				| This is a normal paragraph (
				code p
				|  element). To add some length to it, let us mention that this page was primarily written for testing the effect of
				strong user style sheets
				| . You can use it for various other purposes as well, like just checking how your browser displays various HTML elements.
			p
				| This is another paragraph. I think it needs to be added that the set of elements tested is not exhaustive in any sense. I have selected those elements for which it can make sense to write user style sheet rules, in my opionion.
			div
				| This is a
				code div
				|  element. Authors may use such elements instead of paragraph markup for various reasons. (End of
				code div
				| .). It has no semantic meaning. Normally not used by users.
			blockquote
				p
					| This is a block quotation containing a single paragraph. Well, not quite, since this is not
					em really
					|  quoted text, but I hope you understand the point. After all, this page does not use HTML markup very normally anyway.
			p
				| The following contains address information about the author, in an
				code address
				|  element.
			address
				a#author-credits(href="#", lang="en", hreflang="en") John Doe
				| ,
				a(href="john-doe@readingroom.com.sg") johndoe@readingroom.com.sg
			h2 Lists
			p
				| This is a paragraph before an
				strong unnumbered
				|  list (
				code ul
				| ). Note that the spacing between a paragraph and a list before or after that is hard to tune in a user style sheet. You can't guess which paragraphs are logically related to a list, e.g. as a "list header".
			ul
				li  One.
				li  Two.
				li
					| Three. Well, probably this list item should be longer. Note that for short items lists look better if they are compactly presented, whereas for long items, it would be better to have more vertical spacing between items.
				li
					| Four. This is the last item in this list. Let us terminate the list now without making any more fuss about it.
			p
				| This is a paragraph before a
				strong numbered
				|  list (
				code ol
				| ). Note that the spacing between a paragraph and a list before or after that is hard to tune in a user style sheet. You can't guess which paragraphs are logically related to a list, e.g. as a "list header".
			ol
				li  One.
				li  Two.
				li
					| Three. Well, probably this list item should be longer. Note that if items are short, lists look better if they are compactly presented, whereas for long items, it would be better to have more vertical spacing between items.
				li
					| Four. This is the last item in this list. Let us terminate the list now without making any more fuss about it.
			p
				| This is a paragraph before a
				strong definition
				|  list (
				code dl
				| ). In principle, such a list should consist of
				em terms
				|  and associated  definitions. But many authors use
				code dl
				|  elements for fancy "layout" things. Usually the effect is not
				em too
				|  bad, if you design user style sheet rules for
				code dl
				|  which are suitable for real definition lists.
			dl
				dt  recursion
				dd  see recursion
				dt  recursion, indirect
				dd  see indirect recursion
				dt  indirect recursion
				dd  see recursion, indirect
				dt  term
				dd
					| a word or other expression taken into specific use in a well-defined meaning, which is often defined rather rigorously, even formally, and may differ quite a lot from an everyday meaning
			h2 Nested Lists
			ol
				li  One.
				li  Two.
				li
					| Three.
					ul
						li  Three - One.
						li
							| Three - Two.
							ul
								li  Three - Three - One.
								li  Three - Three - Two.
						li  Three - Three.
				li  Four.
			h2 Table
			h3 Standard Table
			table
				tbody
					tr
						th Table Header 1
						th Table Header 2
						th Table Header 3
						th Table Header 4
						th Table Header 5
						th Table Header 6
						th Table Header 7
					tr
						td Aenean ut metus non mauris fermentum congue.
						td Proin vel augue eu dolor aliquam sagittis eu vitae sem.
						td Morbi et nibh non turpis placerat pharetra nec eu elit.
						td Curabitur sed lacus fringilla, molestie mi vel, pellentesque elit.
						td Fusce vestibulum justo quis volutpat dapibus.
						td Nullam ultricies nulla id ligula facilisis aliquam.
						td Nulla luctus risus non tellus pulvinar elementum vel ut libero.
					tr
						td Aenean ut metus non mauris fermentum congue.
						td Proin vel augue eu dolor aliquam sagittis eu vitae sem.
						td Morbi et nibh non turpis placerat pharetra nec eu elit.
						td Curabitur sed lacus fringilla, molestie mi vel, pellentesque elit.
						td Fusce vestibulum justo quis volutpat dapibus.
						td Nullam ultricies nulla id ligula facilisis aliquam.
						td Nulla luctus risus non tellus pulvinar elementum vel ut libero.
					tr
						td Aenean ut metus non mauris fermentum congue.
						td Proin vel augue eu dolor aliquam sagittis eu vitae sem.
						td Morbi et nibh non turpis placerat pharetra nec eu elit.
						td Curabitur sed lacus fringilla, molestie mi vel, pellentesque elit.
						td Fusce vestibulum justo quis volutpat dapibus.
						td Nullam ultricies nulla id ligula facilisis aliquam.
						td Nulla luctus risus non tellus pulvinar elementum vel ut libero.
					tr
						td Aenean ut metus non mauris fermentum congue.
						td Proin vel augue eu dolor aliquam sagittis eu vitae sem.
						td Morbi et nibh non turpis placerat pharetra nec eu elit.
						td Curabitur sed lacus fringilla, molestie mi vel, pellentesque elit.
						td Fusce vestibulum justo quis volutpat dapibus.
						td Nullam ultricies nulla id ligula facilisis aliquam.
						td Nulla luctus risus non tellus pulvinar elementum vel ut libero.
					tr
						td Aenean ut metus non mauris fermentum congue.
						td Proin vel augue eu dolor aliquam sagittis eu vitae sem.
						td Morbi et nibh non turpis placerat pharetra nec eu elit.
						td Curabitur sed lacus fringilla, molestie mi vel, pellentesque elit.
						td Fusce vestibulum justo quis volutpat dapibus.
						td Nullam ultricies nulla id ligula facilisis aliquam.
						td Nulla luctus risus non tellus pulvinar elementum vel ut libero.
			h3 Table with merged cells
			table(width="631")
				thead
					tr
						th(colspan="2", width="210") Lorem ipsum dolor
						th(colspan="2", width="210") Consectetur adipiscing elit
						th(colspan="2", width="210") Curabitur laoreet
				tbody
					tr
						td(width="105")
							p Cras pulvinar magna
						td(width="105")
							p Massa commodo
						td(width="105")
							p Nulla ut felis gravida
						td(width="105")
							p Fusce ac massa bibendum
						td(width="105")
							p Quisque at risus at
						td(width="105")
							p Donec non sapien
					tr
						td(width="105")
							p X
						td(width="105")
							p Y2
						td(width="105")
							p 100
						td(width="105")
							p 100
						td(width="105")
							p 65
						td(width="105")
							p 35
					tr
						td(width="105")
							p X
						td(width="105")
							p Y2+
						td(width="105")
							p 130
						td(width="105")
							p 70
						td(width="105")
							p 150
						td(width="105")
							p 100
					tr
						td(width="105")
							p X
						td(width="105")
							p Y1
						td(width="105")
							p 160
						td(width="105")
							p 40
						td(width="105")
							p 150
						td(width="105")
							p 30
					tr
						td(width="105")
							p X
						td(width="105")
							p Z
						td(width="105")
							p 170
						td(width="105")
							p 30
						td(width="105")
							p 180
						td(width="105")
							p 20
					tr
						td(width="105")
							p B2
						td(width="105")
							p B2+
						td(width="105")
							p 80
						td(width="105")
							p 120
						td(width="105")
							p 120
						td(width="105")
							p 80
					tr
						td(width="105")
							p B2
						td(width="105")
							p Y1
						td(width="105")
							p 130
						td(width="105")
							p 70
						td(width="105")
							p 150
						td(width="105")
							p 50
			h3 Sample Financial Table
			table
				thead
					tr
						th(colspan="21")
							| Table C-4 Present Value Interest Factors for $1 Annuity Discounted at i Percent for n Periods: PVA = PMT  PVIFA
							sub i,n
					tr
						th Period
						th 1%
						th 2%
						th 3%
						th 4%
						th 5%
						th 6%
						th 7%
						th 8%
						th 9%
						th 10%
						th 11%
						th 12%
						th 13%
						th 14%
						th 15%
						th 16%
						th 17%
						th 18%
						th 19%
						th 20%
				tbody
					tr
						td 1
						td .990
						td .980
						td .971
						td .962
						td .952
						td .943
						td .935
						td .926
						td .917
						td .909
						td .901
						td .893
						td .885
						td .877
						td .870
						td .862
						td .855
						td .847
						td .840
						td .833
					tr
						td 2
						td 1.970
						td 1.942
						td 1.913
						td 1.886
						td 1.859
						td 1.833
						td 1.808
						td 1.783
						td 1.759
						td 1.736
						td 1.713
						td 1.690
						td 1.668
						td 1.647
						td 1.626
						td 1.605
						td 1.585
						td 1.566
						td 1.547
						td 1.528
					tr
						td 3
						td 2.941
						td 2.884
						td 2.829
						td 2.775
						td 2.723
						td 2.673
						td 2.624
						td 2.577
						td 2.531
						td 2.487
						td 2.444
						td 2.402
						td 2.361
						td 2.322
						td 2.283
						td 2.246
						td 2.210
						td 2.174
						td 2.140
						td 2.106
					tr
						td 4
						td 3.902
						td 3.808
						td 3.717
						td 3.630
						td 3.546
						td 3.465
						td 3.387
						td 3.312
						td 3.240
						td 3.170
						td 3.102
						td 3.037
						td 2.974
						td 2.914
						td 2.855
						td 2.798
						td 2.743
						td 2.690
						td 2.639
						td 2.589
					tr
						td 5
						td 4.853
						td 4.713
						td 4.580
						td 4.452
						td 4.329
						td 4.212
						td 4.100
						td 3.993
						td 3.890
						td 3.791
						td 3.696
						td 3.605
						td 3.517
						td 3.433
						td 3.352
						td 3.274
						td 3.199
						td 3.127
						td 3.058
						td 2.991
					tr
						td 6
						td 5.795
						td 5.601
						td 5.417
						td 5.242
						td 5.076
						td 4.917
						td 4.767
						td 4.623
						td 4.486
						td 4.355
						td 4.231
						td 4.111
						td 3.998
						td 3.889
						td 3.784
						td 3.685
						td 3.589
						td 3.498
						td 3.410
						td 3.326
					tr
						td 7
						td 6.728
						td
							| 6.472
						td 6.230
						td 6.002
						td 5.786
						td 5.582
						td 5.389
						td 5.206
						td 5.033
						td 4.868
						td 4.712
						td 4.564
						td 4.423
						td 4.288
						td 4.160
						td 4.039
						td 3.922
						td 3.812
						td 3.706
						td 3.605
					tr
						td 8
						td 7.652
						td 7.326
						td 7.020
						td 6.733
						td 6.463
						td 6.210
						td 5.971
						td 5.747
						td 5.535
						td 5.335
						td 5.146
						td 4.968
						td 4.799
						td 4.639
						td 4.487
						td 4.344
						td 4.207
						td 4.078
						td 3.954
						td 3.837
					tr
						td 9
						td 8.566
						td 8.162
						td 7.786
						td 7.435
						td 7.108
						td 6.802
						td 6.515
						td 6.247
						td 5.995
						td 5.759
						td 5.537
						td 5.328
						td 5.132
						td 4.946
						td 4.772
						td 4.607
						td 4.451
						td 4.303
						td 4.163
						td 4.031
					tr
						td 10
						td 9.471
						td 8.983
						td 8.530
						td 8.111
						td 7.722
						td 7.360
						td 7.024
						td 6.710
						td 6.418
						td 6.145
						td 5.889
						td 5.650
						td 5.426
						td 5.216
						td 5.019
						td 4.833
						td 4.659
						td 4.494
						td 4.339
						td 4.192
					tr
						td 11
						td 10.368
						td 9.787
						td 9.253
						td 8.760
						td 8.306
						td 7.887
						td 7.499
						td 7.139
						td 6.805
						td 6.495
						td 6.207
						td 5.938
						td 5.687
						td 5.453
						td 5.234
						td 5.029
						td 4.836
						td 4.656
						td 4.486
						td 4.327
					tr
						td 12
						td 11.255
						td 10.575
						td 9.954
						td 9.385
						td 8.863
						td 8.384
						td 7.943
						td 7.536
						td 7.161
						td 6.814
						td 6.492
						td 6.194
						td 5.918
						td 5.660
						td 5.421
						td 5.197
						td 4.988
						td 4.793
						td 4.611
						td 4.439
					tr
						td 13
						td 12.134
						td 11.348
						td 10.635
						td 9.986
						td 9.394
						td 8.853
						td 8.358
						td 7.904
						td 7.487
						td 7.013
						td 6.750
						td 6.424
						td 6.122
						td 5.842
						td 5.583
						td 5.342
						td 5.118
						td 4.910
						td 4.715
						td 4.533
					tr
						td 14
						td 13.004
						td 12.106
						td 11.296
						td 10.563
						td 9.899
						td 9.295
						td 8.745
						td 8.244
						td 7.786
						td 7.367
						td 6.982
						td 6.628
						td 6.302
						td 6.002
						td 5.724
						td 5.468
						td 5.229
						td 5.008
						td 4.802
						td 4.611
					tr
						td 15
						td 13.865
						td 12.849
						td 11.938
						td 11.118
						td 10.380
						td 9.712
						td 9.108
						td 8.560
						td 8.061
						td 7.606
						td 7.191
						td 6.811
						td 6.462
						td 6.142
						td 5.847
						td 5.575
						td 5.324
						td 5.092
						td 4.876
						td 4.675
					tr
						td 16
						td 14.718
						td 13.578
						td 12.561
						td 11.652
						td 10.838
						td 10.106
						td 9.447
						td 8.851
						td 8.313
						td 7.824
						td 7.379
						td 6.974
						td 6.604
						td 6.265
						td 5.954
						td 5.668
						td 5.405
						td 5.162
						td 4.938
						td 4.730
					tr
						td 17
						td 15.562
						td 14.292
						td 13.166
						td 12.166
						td 11.274
						td 10.477
						td 9.763
						td 9.122
						td 8.544
						td 8.022
						td 7.549
						td 7.120
						td 6.729
						td 6.373
						td 6.047
						td 5.749
						td 5.475
						td 5.222
						td 4.990
						td 4.775
					tr
						td 18
						td 16.398
						td 14.992
						td 13.754
						td 12.659
						td 11.690
						td 10.828
						td 10.059
						td 9.372
						td 8.756
						td 8.201
						td 7.702
						td 7.250
						td 6.840
						td 6.467
						td 6.128
						td 5.818
						td 5.534
						td 5.273
						td 5.033
						td 4.812
					tr
						td 19
						td 17.226
						td 15.679
						td 14.324
						td 13.134
						td 12.085
						td 11.158
						td 10.336
						td 9.604
						td 8.950
						td 8.365
						td 7.839
						td 7.366
						td 6.938
						td 6.550
						td 6.198
						td 5.877
						td 5.584
						td 5.316
						td 5.070
						td 4.843
					tr
						td 20
						td 18.046
						td 16.352
						td 14.878
						td 13.590
						td 12.462
						td 11.470
						td 10.594
						td 9.818
						td 9.129
						td 8.514
						td 7.963
						td 7.469
						td 7.025
						td 6.623
						td 6.259
						td 5.929
						td 5.628
						td 5.353
						td 5.101
						td 4.870
			h2 Text-level markup
			ul
				li
					abbr(title="Cascading Style Sheets") CSS
					|  (an abbreviation;
					code abbr
					|  markup used)
				li
					strong strong text
					|  (
					code strong
					|  markup used - bolding with semantics
				li
					b bolded
					|  (
					code b
					|  markup used - just bolding with unspecified semantics)
				li
					cite Origin of Species
					|  (a book title, movie etc. Generally a piece of work. No persons name;
					code cite
					|  markup used)
				li
					code a[i] = b[i] + c[i);
					|  (computer code;
					code code
					|  markup used)
				li
					| here we have some
					del deleted
					|  text (
					code del
					|  markup used)
				li
					| an
					dfn octet
					|  is an entity consisting of eight bits (
					code dfn
					|  markup used for the term being defined)
				li
					| this is
					em very
					|  simple (
					code em
					|  markup used for emphasizing a word)
				li
					i(lang="la") Homo sapiens
					|  (should appear in italics;
					code i
					|  markup used)
				li
					em Homo sapiens
					|  (should appear in italics;
					code em
					|  markup used)
				li
					| here we have some
					ins inserted
					|  text (
					code ins
					|  markup used)
				li
					| type
					kbd yes
					|  when prompted for an answer (
					code kbd
					|  markup used for text indicating keyboard input)
				li
					q Hello!
					|  (
					code q
					|  markup used for quotation)
				li
					| He said:
					q
						| She said
						q Hello!
					|  (a quotation inside a quotation)
				li
					| you may get the message
					samp Core dumped
					|  at times (
					code samp
					|  markup used for sample output)
				li
					small this is not that important
					|  (
					code small
					|  markup used)
				li
					strike overstruck
					|  (
					code strike
					|  markup used; note:
					code s
					|  is a nonstandard synonym for
					code strike
					| )
				li
					del overstruck
					|  (
					code del
					|  markup used; note:
					code s
					|  is a nonstandard synonym for
					code strike
					| )
				li
					strong this is highlighted text
					|  (
					code strong
					| markup used)
				li
					| In order to test how subscripts and superscripts (
					code sub
					|  and
					code sup
					|  markup) work inside running text, we need some dummy text around constructs like x
					sub 1
					|  and H
					sub 2
					| O (where subscripts occur). So here is some fill so that you will (hopefully) see whether and how badly the subscripts and superscripts mess up vertical spacing between lines. Now superscripts: M
					sup lle
					| , 1
					sup st
					| , and then some mathematical notations: e
					sup x
					| , sin
					sup 2
					i x
					| , and some nested superscripts (exponents) too: e
					sup
						| x
						sup 2
					|  and f(x)
					sup
						| g(x)
						sup a+b+c
					|  (where 2 and a+b+c should appear as exponents of exponents).
				li
					u underlined
					|  text (
					code u
					|  markup used)
				li
					| the command
					code cat
					var filename
					|  displays the file specified by the
					var filename
					|  (
					code var
					|  markup used to indicate a word as a variable).
			p
				| Some of the elements tested above are typically displayed in a monospace font, often using the
				em same
				|  presentation for all of them. This tests whether that is the case on your browser:
			ul
				li
					code This is sample text inside code markup
				li
					kbd This is sample text inside kbd markup
				li
					samp This is sample text inside samp markup
			h2 Links
			ul
				li
					a(href="../index.html") main page
				li
					a.external(href="http://www.unicode.org/versions/Unicode4.0.0/ch06.pdf", title="Writing Systems and Punctuation", type="application/pdf", target="_blank") Unicode Standard, chapter 6
			p
				| This is a text paragraph that contains some inline links. Generally, inline links (as opposite to e.g. links lists) are problematic from the
				a.external(href="http://www.useit.com", target="_blank") usability
				|  perspective, but they may have use as "incidental", less relevant links. See the document
				cite
					a(href="404.html") Links Want To Be Links
				| .



