/* =======================================================================
Project - Silver Infocomm

DEPENDENCIES
--------------------------------------------------------------------------
Normalize CSS

TABLE OF CONTENT
--------------------------------------------------------------------------
01 Global
02 Layout
03 Modules
04 Mediaqueries
========================================================================== */

// Normalize Styles
@import '../../node_modules/normalize.css/normalize';

// Import Modules
$fancybox-image-url: '../images/fancybox' !default;

@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/fancybox/dist/scss/jquery.fancybox';


// Import Common
@import 'common/variables';
@import 'common/mixins';
@import 'common/grids';
@import 'common/fonts';
@import 'common/helpers';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* =======================================================================
01 Global
========================================================================== */

@-ms-viewport { width: auto; }

html { font-size: 1em; }

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5;
    color: $body-text;
    background: #fff;
    -webkit-animation: load .5s;
     -moz-animation: load .5s;
          animation: load .5s;
    font-size: 1em; //16px
    padding: 0;
    margin: 0;
    min-width: 300px;
    position: relative;
}

img { border: 0; }

@-webkit-keyframes load { 0% { opacity: 0; } 20% { opacity: 0; } }
@-moz-keyframes load { 0% { opacity: 0; } 20% { opacity: 0; } }
@-o-keyframes load { 0% { opacity: 0; } 20% { opacity: 0; } }
@keyframes load { 0% { opacity: 0; } 20% { opacity: 0; } }

/**
 * Sass extensions
 */
%clearfix { @include clearfix(); }
%normal-list, ul { @include normalise-list(); }

%input-element-styles {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background: $grey-2;
    border: 0;
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
    color: $darkgrey-1;
    -webkit-appearance: none;
}

.clearfix {
    @extend %clearfix;
}

a {
    @include transition('color, background-color', 200ms, linear);
    -webkit-backface-visibility: initial;
    color: $blue-1;

    &:hover, &:focus {
        color: $blue-1;
    }
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* =======================================================================
02 Layout
========================================================================== */

.wingspan {
    margin: auto;
    padding: 0 10px;
    max-width: $max-width;
    box-sizing: border-box;
}

.article {
    min-height: 300px;
    padding-bottom: 15px;
}


#at15s {
    display: none !important;
}

/* =======================================================================
03 Modules
========================================================================== */
@import '../_modules/atoms/link/link';
@import '../_modules/atoms/button/button';
@import '../_modules/atoms/select/select';
@import '../_modules/atoms/iframe/iframe';

@import '../_modules/molecules/breadcrumb/breadcrumb';
@import '../_modules/molecules/back-top/back-top';
@import '../_modules/molecules/section/section';
@import '../_modules/molecules/listing-categories/listing-categories';
@import '../_modules/molecules/quicklinks/quicklinks';
@import '../_modules/molecules/listing-sorter/listing-sorter';
@import '../_modules/molecules/promotion-details/promotion-details';
@import '../_modules/molecules/pagination/pagination';

@import '../_modules/organisms/site-header/site-header';
@import '../_modules/organisms/main-navigation/main-navigation';
@import '../_modules/organisms/carousel/carousel';
@import '../_modules/organisms/site-footer/site-footer';
@import '../_modules/organisms/home-actions/home-actions';
@import '../_modules/organisms/home-list/home-list';
@import '../_modules/organisms/top-banner/top-banner';
@import '../_modules/organisms/featured-linkboxs/featured-linkboxs';
@import '../_modules/organisms/side-menu/side-menu';
@import '../_modules/organisms/modal/modal';
@import '../_modules/organisms/form/form';
@import '../_modules/organisms/mapper/mapper';
@import '../_modules/organisms/listing-filters/listing-filters';
@import '../_modules/organisms/listing-results/listing-results';
@import '../_modules/organisms/article-content/article-content';
@import '../_modules/organisms/related-pages/related-pages';
@import '../_modules/organisms/aside/aside';
@import '../_modules/organisms/accordion/accordion';
@import '../_modules/organisms/promotion-list/promotion-list';
@import '../_modules/organisms/agenda/agenda';
@import '../_modules/organisms/event-speakers/event-speakers';


@import '../_modules/templates/standard/standard';
@import '../_modules/templates/listing/listing';
@import '../_modules/templates/newsroom/newsroom';




/* =======================================================================
04 Mediaqueries
========================================================================== */



