extends ../_templates/fullwidthpage

include ../_modules/molecules/event-mapper-filters/event-mapper-filters
include ../_modules/molecules/event-mapper-item/event-mapper-item

include ../_modules/organisms/event-mapper/event-mapper

//- Configuration
block append config
	- var baseUrl = '../'
	- pageTitle = 'Events Listing'
	- pageDescription = 'This is the events listing page of Fuji Xerox'
	- pageData = site.data.bannerTabs

block FullWidthBanner
	+hero-banner(pageData.banner)

block FullWidthContent
	+section()
		+event-mapper()

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This page url"
		}
