mixin topic-panels(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.topics
		if spec.header
			h3=spec.header
		.topic-panels-wrapper
			each topic in spec.topic
				+panel-item(topic)
