// topic-panels styles
.topics {
	margin-bottom: 20px;

	> h3 {
		margin: 0 0 15px;
		// font-size: calc-em(26px);
		font-weight: 300;
	}

	.topic-panels-wrapper {
		@extend %clearfix;
		margin: 0 -12px;

		.panel-item {
			padding: 0 12px;

			&:first-child {
				.panel-item__text {
					background-color: $border;
					color: #000;
				}

				a { background-color: $border; }

				&:hover {
					.panel-item__text {
						background-color: $panel-hover;
					}
					a { background-color: $panel-hover; }
				}
			}
		}
	}

	&.products {
		.panel-item {
			&__image {
				background-color: #fff;
			}

			img {
				@include image-cover;
			}
		}
	}
}

@media only screen and (min-width: $bpTablet), print{
	.topics {
		.topic-panels-wrapper {
			margin: 0 -12px;
		}
	}
}


// @media only screen and (min-width: $bpDesktop), print{
// 	.topics {
// 		h3 { font-size: calc-em(24px); }
// 	}
// }

