extends ../_layouts/base

include ../_modules/atoms/button/button

include ../_modules/molecules/breadcrumb/breadcrumb
include ../_modules/molecules/panel-item/panel-item
include ../_modules/molecules/newsroom-blog-item/newsroom-blog-item

include ../_modules/organisms/newsroom-wrapper/newsroom-wrapper

//- Configuration
block append config
	- var baseUrl = '../../'
	- pageTitle = 'Newsroom'
	- pageDescription = 'This is the newsroom page of Fuji Xerox'
	- newsData = site.data.newsroom

block content
	.main-content
		+breadcrumb()

		+newsroom-wrapper()

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "this page url"
		}
