mixin buttonphase2(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.__anchorClass = spec.__anchorClass || ''
	- spec.label = spec.label || ''
	- spec.link = spec.link || ''

	div(class=spec.__class)&attributes(attributes)
		a(href = spec.link class = spec.__anchorClass)=spec.label
