mixin 3-4-carousel(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.three-four-carousel
		.col-sm-9
			.three-four-carousel__dots
			.three-four-carousel__items
				each panel in spec
					+panel-caption(panel)
		.col-sm-3.tablet-desktop
			p Dummy Text Dummy Text Dummy Text