// 3-4-carousel styles
.three-four-carousel {
	max-width: 672px;

	.col-sm-3 {
		p {font-size: calc-em(18px); }
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.three-four-carousel {
		.panel-caption__image {
			display: block;
			text-align: center;

			img {
				display: inline;
			}
		}
	}
}

@media only screen and (min-width: $bpTablet){
	.three-four-carousel {
		margin: auto;
		.col-sm-9 { padding: 0 70px; } 
	}
}