extends ../_templates/fullwidthpage

//- include ../_modules/atoms/iframe/iframe
include ../_modules/organisms/section/section
include ../_modules/templates/article/article

include ../_modules/organisms/related-pages/related-pages

//- Configuration
block append config
	- var baseUrl = '../../../'
	- pageTitle = 'Success Stories Article'
	- pageDescription = 'This is the success stories article page of Fuji Xerox'
	- productsData = site.data.products

block FullWidthBanner
	+hero-banner(productsData.banner)
	//- +nav-tabs-anchor()

block FullWidthContent
	+article({
		contentClass: "wide"
	})
		+section({__class: "col-sm-8 center"})
			a#content1.anchor-link(data-label = "Overview")
			h2 Engage our expertise and find more time to concentrate on your business.
			p Discover how Managed Print Services from Fuji Xerox helped improve productivity and efficiency at Arcadis. With a focus to help offices work greener and smarter, we work hard to ensure that our customers are happy with our solutions, and believe in forging strong friendships while we are at it.
		//- +section()
		//- 	+iframe()

		+section({__class: "video-box"})

			.video-box__yt-wrapper
				.video-box__yt-embed.
					<iframe width="560" height="315" src="https://www.youtube.com/embed/RedstKki19E?rel=0" frameborder="0" allowfullscreen></iframe>

			.video-box__desc
				h2: img(src = "/assets/fuji-xerox/images/content/logo-arcadis.png" alt = "Arcadis")
				p Arcadis is a global brand with 300 offices and 28,000 employees spanning 70 countries. Arcadis provides exceptional and sustainable outcomes in design and consultancy, and professional technical skills in the areas of natural assets.


		+section({__class: "col-sm-8 center"})
			a#content2.anchor-link(data-label = "Challenges")
			h2 Challenges
			p Arcadis was utilizing a combination of less advanced multifunction devices, printers and fax machines from different brands.Fuji Xerox was tasked to resolve these issues and provide a solution that is secure, flexible, environmentally-friendly yet allows for seamless management.

		+section({__class: "col-sm-8 center"})
			a#content3.anchor-link(data-label = "Solution")
			h2 The Fuji Xerox Solution
			p The Fuji Xerox Global Services Principal used the proprietary software, Maturity Assessment Tool, to determine the maturity level of Arcadis’ current business and print environment, thus identifying areas for improvement and providing a roadmap to achieving Arcadis’ future state vision. Fuji Xerox then continued with a much more indepth assessment to map the current state of Arcadis’ print infrastructure and were able to provide a future state space optimization proposal which helped to reduce the current fleet of 32 devices to 24.

		+section({__class: "testimony-box"})
			.testimony-box__image.col-sm-7
				img(src = "/assets/fuji-xerox/images/content/testimony.jpg" alt = "")

			.testimony-box__quote.col-sm-5
				blockquote
					.testimony-content We’ve done a 360 survey. The feedback is not only positive, my staff have also mentioned that the Fuji Xerox solution gives convenience to them. They don’t need to queue up at just one machine; they can just go to the next available machine, and I can see that productivity in the office has greatly increased...

					footer Eugene Seah, Country Head &amp; City Executive of Arcadis

		+section({__class: "col-sm-8 center"})
			a#content4.anchor-link(data-label = "Benefits")
			h2 Benefits
			p Through re-structuring and re-designing a brand new print environment, the Fuji Xerox Team helped Arcadis improve productivity, reduce wastage and lower costs. The new fleet of environmentally friendly machines also helped Arcadis achieve their sustainability goal of a greener office with lower energy consumption.

		+section({__class: "col-sm-8 center resources"})
			h2 Download PDF

			.resources__block
				h3 Arcadis

				dl
					dt File Size:
					dd 3.19MB
					dt Document Type:
					dd Portable Document Format

				//DEV NOTE
				//If Email Subscription is switched off
				//<a href = "#" class = "resources__block__download-btn" title = "Download Colour Management Brochure"><i class = "icon-download"></i><span class = "sr-only">Download Resource</span></a>
				//ELSE
				a.fancybox.resources__block__download-btn(href = "#subscriptionCall")
					i.icon-download
					span.sr-only Download
				//END

			//Subscription Call
			.subscribe#subscriptionCall
				.row-col-12.
					<div class = "col-sm-6 col-md-6 col match-height">
						<h3>You may download the PDF here</h3>
						<a href="#" target = "_blank" class = "btn-download">Colour Management Brochure<i class="icon-download"></i></a>
					</div>
					<div class = "col-sm-6 col-md-6 col match-height">
						<h3>Subscribe to our newsletter</h3>
						<!-- <p>Keep yourself update to Fuji Xerox latest product!</p> -->
						<div class = "form-row row-col-12">
							<div class = "col-sm-6">
								<div class = "input-group-text">
									<label for = "subscribeName">Name<span class = "required">*</span></label>
									<input type = "text" id = "subscribeName" placeholder = "Name">
								</div>
								<div class = "input-group-text">
									<label for = "subscribeEmail">Email<span class = "required">*</span></label>
									<input type = "email" id = "subscribeEmail" placeholder = "abc@example.com">
								</div>
							</div>
						</div>
						<div class = "btn-group">
							<button type = "submit">Submit<i class = "icon-chevron-with-circle-right"></i></button>
						</div>
					</div>
			//End: Subscription Call


		+section({__class: "col-sm-8 center related-pages"})
			h2 Related Products and Solutions

			+related-pages({
				relatedPages: [
					{
						title: "DocuCentre SC2020",
						text: "Duplex Automatic Document Feeder.4.3 inch colour touch-screen.Desktop size",
						link: "#",
						category: "Related Solutions"
					},
					{
						title: "Managed Print Services",
						text: "Deliver savings, productivity improvement and control to office environment",
						link: "#",
						category: "Related Solutions"
					}
				]
			})
