mixin card-tiles(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.card-tiles.col-sm-6.col-md-4.match-height(class=spec.__class, itemscope itemtype="http://schema.org/Article")
		a(href=spec.url, itemprop="url")
			if spec.image
				.card-tiles__image
					.overlay
					img(src=spec.image, alt="", itemprop="thumbnailUrl")
			.card-tiles__text
				p.sub=spec.sub
				h3(itemprop="name")=spec.title
				p(itemprop="description")=spec.text
				.meta
					span.category=spec.category
					span.date=spec.date
