// aside styles
.article-aside__block {
	margin-bottom: 40px;

	> h3 {
		margin: 0 0 10px;
	}
}
.aside-navigation {
	margin-bottom: 40px;

	h3 {
		margin: 0 0 10px;
		line-height: 1;
	}

	h4 {
		margin: 15px 0 8px;
		line-height: 1.2;
	}

	li {
		margin-bottom: 8px;
		line-height: 1;
	}

	a {
		color: $darkgrey-1;
		text-decoration: none;
		font-size: calc-em(14px);

		&:hover, &.active { color: $blue-1; }
	}
}

.event-aside__details {
	.details {
		font-size: calc-em(14px);
		margin-bottom: 20px;
	}

	.location,
	.date,
	.time {
		display: block;
		position: relative;
		line-height: 1.3;
		margin-bottom: 8px;
		padding-left: 20px;

		&:before {
			@include icomoon('');
			position: absolute;
			display: block;
			width: 14px;
			left: 0;
			top: 2px;
			text-align: center;
		}
	}

	.location:before { content: '\f041'; }
	.date:before { content: '\f073'; }
	.time:before { content: '\f017'; }

	a { margin-right: 5px;}
}

.event-aside__map {
	iframe {
		width: 100%;
		height: 270px;
	}
}

.event-aside__share {
	li {
		display: inline-block;
	}

	a {
		display: block;
		width: 40px;
		height: 40px;
		background-color: $blue-1;
		text-align: center;
		margin-right: 10px;
		text-decoration: none;

		i {
			display: block;
			line-height: 40px;
			color: #fff;
			font-size: 24px;
		}

		&:hover {
			background-color: $blue-2;
		}
	}
}

.sponsors__group {
	margin: 20px 0;

	h4 {
		font-size: calc-em(14px);
		margin: 0 0 10px;
	}

	li {
		display: inline-block;
		margin: 0 10% 10px 0;
		width: 25%;
		max-width: 75px;
		vertical-align: middle;

		a { display: block; }

		@media only screen and (min-width: $md-breakpoint), print {
			&:nth-child(3n + 3) {
				margin-right: 0;
			}
		}

		img {
			display: block;
			width: 100%;
		}
	}
}

@media only screen and (max-width: $md-breakpoint - 1) {
	.article-aside {
		border-top: 1px solid $grey-2;
		padding-top: 25px;
	}
}

@media only screen and (min-width: $md-breakpoint), print {

	.aside-navigation {
		ul { margin-left: 10px; }

		h4 { margin: 15px 0 8px 10px; }
	}

	.event-aside { padding-left: 30px; }

	.article-aside { margin-top: 1.4em; }
}
