mixin aside(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	aside.article-aside(class= spec.__class)
		- asideNav = spec.asideNav || ''
		- asideEvent = spec.asideEvent || ''

		if asideEvent !== ""
			.article-aside__block.event-aside__details
				h3 Event details

				.details
					span.location= asideEvent.eventDetails.location
					span.date= asideEvent.eventDetails.duration.date
					span.time= asideEvent.eventDetails.duration.time

				a.btn-orange(href = "#") Add to Calendar

				if asideEvent.register
					a.btn-orange--inverse(href = "../") View Details

			.article-aside__block.event-aside__map
				h3 Getting There

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.2083312670915!2d103.84323182923134!3d1.2731719999419566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMcKwMTYnMjMuNCJOIDEwM8KwNTAnMzcuNiJF!5e0!3m2!1sen!2ssg!4v1491448256307" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

			.article-aside__block.event-aside__share
				h3 Spread the word

				ul
					li: a(href = "#" title = "Facebook")
						i.icon-facebook
						span.sr-only Facebook

					li: a(href = "#" title = "Linkedin")
						i.icon-linkedin
						span.sr-only Linkedin

					li: a(href = "#" title = "Twitter")
						i.icon-twitter
						span.sr-only Twitter

					li: a(href = "#" title = "Instagram")
						i.icon-instagram
						span.sr-only Instagram

			if !asideEvent.register
				.article-aside__block.event-aside__sponsors
					h3 Our Sponsors

					.sponsors__group
						h4 Gold

						ul
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_1.jpg" alt = "")

					.sponsors__group
						h4 Silver

						ul
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_2.jpg" alt = "")
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_3.jpg" alt = "")
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_4.jpg" alt = "")

					.sponsors__group
						h4 In Kind

						ul
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_5.jpg" alt = "")
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_6.jpg" alt = "")

					.sponsors__group
						h4 Supported by

						ul
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_7.jpg" alt = "")
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_8.jpg" alt = "")
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_9.jpg" alt = "")
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_10.jpg" alt = "")
							li: a(href = "#"): img(src = "/images/content/events/sponsors/logo_11.jpg" alt = "")

		if asideNav !== ""
			.article-aside__block.aside-navigation
				a(href = asideNav.link): h3= asideNav.label

				ul
					each item in asideNav.nav
						li: a(href = item.link class = item.active )= item.label






