extends ../../_layouts/base

include ../../_modules/molecules/section/section
include ../../_modules/templates/article/article

include ../../_modules/organisms/related-pages/related-pages

//- Configuration
block config
	- var baseUrl = '../../'
	- var pageTitle = 'Fuji Xerox | Office Solutions'
	- var parent = 1

block content
	+article({
		contentClass: "col-sm-10 col-md-8 offset-sm-1 offset-md-2",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Solution & Services",
				"href": "/solutions-and-services"
			},
			{
				"label": "Office Solutions"
			}
		],
		banner: {
			title: "Office Solutions",
			image: "images/content/banners/solutions.jpg"
		},
		quicklinks: [
			{
				label: "Overview",
				target: "#content1"
			},
			{
				label: "Office Solutions",
				target: "#content2"
			}
		],
		aside: {
			__class: "col-sm-10 offset-sm-1 col-md-2 offset-md-0",
			asideNav: {
				__class: "aside-navigation",
				label: "Solution & Services",
				link: "#",
				nav: [
					{
						label: "Office Solutions",
						link: "/solutions-and-services/office-solutions",
						active: 'active'
					},
					{
						label: "Production Solutions",
						link: "/solutions-and-services/production-solutions/"
					},
					{
						label: "Enterprise Solutions",
						link: "/solutions-and-services/enterprise-solutions/"
					},
					{
						label: "Global Services",
						link: "/solutions-and-services/global-services/"
					},
					{
						label: "Commercial Financing Solution Services",
						link: "/solutions-and-services/commercial-financing-solution-services/"
					},
					{
						label: "Industries",
						link: "#"
					}

				]
			}

		}
	})
		+section
			a#content1.anchor-link(data-label = "Overview")
			h2 Overview

			p Supported by a team of consultants and solution architects, we help businesses transform complex information, giving you the ready resource to tap into enterprise knowledge and experience to enhance your competitiveness, accelerate your growth and increase your revenue.

		+section({__class: "related-pages"})
			a#content4.anchor-link(data-label = "Our Solutions")

			h3 Our Solutions

			+related-pages({
				relatedPages: [
					{
						title: "Print Management Solutions",
						link: "print-management-solutions",
						category: "Office Solutions"
					},
					{
						title: "Document Security Solutions",
						link: "#",
						category: "Office Solutions"
					},
					{
						title: "Office Automation Solutions",
						link: "office-automation-solutions/",
						category: "Office Solutions"
					},
					{
						title: "Content Management Solutions",
						link: "#",
						category: "Office Solutions"
					},
					{
						title: "Cloud & Mobility Solutions",
						link: "#",
						category: "Office Solutions"
					},
					{
						title: "Device Remote Support Services",
						link: "#",
						category: "Office Solutions"
					}
				]
			})


