extends ../_layouts/base

include ../_modules/organisms/featured-linkboxs/featured-linkboxs
include ../_modules/templates/landing/landing


//- Configuration
block config
	- var baseUrl = '../'
	- var pageTitle = 'Fuji Xerox | Company'
	- var parent = 1

block content
	+landing({
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Company"
			}
		],
		banner: {
			title: "Our Company, Capabilities and Commitment",
			text: "Delivering efficiency, productivity, innovation and sustainability to your business",
			image: "images/content/banners/solutions.jpg"
		}
	})
		//Company Introduction
		.childpage__intro.wingspan
			div
				.col.childpage__intro-block
					a(href = "about-fuji-xerox-singapore")
						img(src = "/images/solutions/box-1.png" alt = "")
						h2 About Fuji Xerox Singapore
						p Fuji Xerox Singapore is the country's leading provider of new class document solutions with a global network of 160 countries.

				.col.childpage__intro-block
					a(href = "management-team")
						img(src = "/images/solutions/box-2.png" alt = "")
						h2 Management Team
						p Our management team comprises of an unrivalled team of industry leading professionals, propelling Fuji Xerox to scale unsurpassed heights.

				.col.childpage__intro-block
					a(href = "awards-achievements")
						img(src = "/images/solutions/box-3.png" alt = "")
						h2 Awards &amp; Achievements
						p Our proven track record is the outcome of driving excellence in all that we do.

				.col.childpage__intro-block
					a(href = "substainable-future")
						img(src = "/images/solutions/box-4.png" alt = "")
						h2 Towards a Substainable Future
						p Our Corporate Social Responsibility showcases our commitment and focus on global sustainability, placing the environment at the organization's core.

				.col.childpage__intro-block
					a(href = "#")
						img(src = "/images/solutions/box-5.png" alt = "")
						h2 Fuji Xerox Dream Service
						p Our customer-centric focus has inspired us to assemble a team of highly qualified customer service engineers to ensure fast resolution and provide proactive services including virtual support.

				.col.childpage__intro-block
					a(href = "success-stories")
						img(src = "/images/solutions/box-6.png" alt = "")
						h2 Success Stories
						p View how we have worked with our clients to meet their various needs efficiently and effectively.

				.col.childpage__intro-block
					a(href = "newsroom")
						img(src = "/images/solutions/box-5.png" alt = "")
						h2 Newsroom
						p Our innovations, products and business solutions covered in the news.

				.col.childpage__intro-block
					a(href = "careers")
						img(src = "/images/solutions/box-6.png" alt = "")
						h2 Career with Us
						p Be a part of the winning team with Fuji Xerox, where exceptional people and ideas thrive.

		//End: Company Introduction
