// listing-sorter styles
.listing-content__sort-result, .newsroom-listing__sort-result {
	@extend %clearfix;
	margin: 0 0 30px;
	font-size: calc-em(14px);

	label { display: inline-block; margin-right: 5px; }

	select {
		display: none;
		// display: inline-block;
		float: right;
		min-width: 170px;
		vertical-align: middle;
	}

	.dropdown-copy {
		float: right;
		max-width: 200px;
	}
}

