include ../../atoms/select/select

mixin listing-sorter(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div.listing-content__sort-result(class=spec.__class)&attributes(attributes)
		+select({
			options: [
				{value: "latest", label: "Latest"},
				{value: "promotion", label: "Promotion"},
				{value: "recommended", label: "Recommended"},
				{value: "best seller", label: "Best Seller"}
			]
		})
		//- .dropdown-copy
		//- 	button(type="button" value="all") Latest
		//- 	ul
		//- 		li
		//- 			button(type="button" value="Latest")
		//- 				span Latest
		//- 		li
		//- 			button(type="button" value="Promotion")
		//- 				span Promotion
		//- 		li
		//- 			button(type="button" value="Recommended")
		//- 				span Recommended
		//- 		li
		//- 			button(type="button" value="Best Seller")
		//- 				span Best Seller
