// solutions-services styles
.insight,
.solution-services,
.success-stories-mapper {
	position: relative;
	background-color: $border;
	padding: 10px;

	&__header {
		&--bg {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
		}

		&--text {
			position: relative;
			z-index: 2;
			padding: 0 5px;
			margin-bottom: 36px;

			h1 {
				font-size: calc-em(30px);
				line-height: 1.166666;
				font-weight: 300;
			}

			p {
				font-size: calc-em(18px);
				line-height: normal;
				margin: 0 0 10px;
			}
		}
	}

	&__filter {
		margin-bottom: 20px;
	}

	&__content {
		position: relative;
		z-index: 2;
		margin-top: -12px;
	}

	.show-more {
		font-family: $primaryFont;
		font-size: calc-em(18px);
		line-height: 1.8;
		font-weight: 300;
		text-align: center;
		background: transparent;
		width: 100%;
		margin: 10px 0 0;
		padding: 5px 10px;
		border: 0;
		cursor: pointer;

		span { display: block; }

		&:after {
			content: "";
			background-image: url(../images/sprite.png);
			background-repeat: no-repeat;
			transform: scale(0.6);
			background-position: -912px 0;
			display: inline-block;
			width: 32px;
			height: 32px;
			text-align: center;
			display: inline-block;
		}
	}
}

@media only screen and (min-width: $bpTablet), print {
	.insight,
	.solution-services,
	.success-stories-mapper {
		&__header {
			&--bg {	display: block;	}

			&--text {
				max-width: 45%;

				h1 {
					font-size: calc-em(40px);
					margin: 25px 0 20px;
				}

				p {	font-size: calc-em(20px); }
			}
		}
	}
}

@media only screen and (min-width: $bpDesktop), print {
	.insight,
	.solution-services,
	.success-stories-mapper {
		&__header {
			&--text {
				h1 {
					font-size: calc-em(40px);
					margin: 25px 0 20px;
				}

				p {	font-size: calc-em(20px); }
			}
		}
	}
}

@media print {
	.solution-services {
		&__header {
			&--bg {
				display: none;
			}
		}
	}
}
