mixin solutions-services(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.solution-services
		.solution-services__header
			//- .solution-services__header--bg
			//- 	img(src="/assets/fuji-xerox/images/solutions_hero.jpg", alt="")
			.solution-services__header--text
				h1 Solutions &amp; Services
				p Dummy Text Dummy Text
					br
					| Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
		.solution-services__filter
			+solutions-filter({
				type: "solutions"
			})
		.solution-services__content(data-endpoint="/assets/fuji-xerox/api/solutions.json")
			.column-row
				//- each solution in spec
				//- 	+card-tiles(solution)
			button.show-more
				span Show More

		script(type="text/x-dot-template", id="dotSolutionsTemplate").
			{{~it :solutions:index}}
				<div class="card-tiles result col-sm-6 col-md-4">
					<a href="{{!solutions.url}}">
						{{? solutions.image}}
							<div class="card-tiles__image">
						  		<div class="overlay"></div><img src="{{!solutions.image}}" alt="">
							</div>
						{{?}}
						<div class="card-tiles__text">
					  		<p class="sub">{{!solutions.sub}}</p>
					  		<h3>{{!solutions.title}}</h3>
					  		<p>{{!solutions.text}}</p>
					  		<div class="meta"><span class="category">{{!solutions.category}}</span><span class="date">{{!solutions.date}}</span></div>
						</div>
					</a>
				</div>
			{{~}}

