mixin new-wffm-form(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.scfForm
		form.text-left(action='')
			input(name='__RequestVerificationToken', type='hidden', value='')
			input(name='', type='hidden', value='')
			input(name='', type='hidden', value='')
			if spec.title
				.page-header
					h1=spec.title
			//- else
			//- 	.page-header
			//- 		h1 Open new worlds of opportunity.
			if spec.text
				p !{spec.text}
			//- else
			//- 	p
			//- 		| Enter your details to learn more about print's new frontier with a free demo of Iridesse Production Press.
			.has-error.has-feedback
				.validation-summary-valid(data-valmsg-summary='true')
					ul.list-group
						li(style='display:none')
			if block
				block
			else
				p No content.

mixin singleLineText(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='singleLine')=spec.label
		input#singleLine.form-control.text-box.single-line(name='', placeholder='', style='', type='text', value='')
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin multiLineText(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='multiLine')=spec.label
		textarea#multiLine.form-control(cols='1', name='', rows='4')
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin passwordInput(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='pass')=spec.label
		input#pass.form-control.text-box.single-line.password(name='', placeholder='', style='', type='password', value='')
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin emailInput(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='email')=spec.label
		input#email.form-control.text-box.single-line(name='', placeholder='', style='', type='email', value='')
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin telephoneInput(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='tele')=spec.label
		input#tele.form-control.text-box.single-line(name='', placeholder='', style='', type='tel', value='')
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin smsInput(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='sms')=spec.label
		input#sms.form-control.text-box.single-line(name='', placeholder='', style='', type='tel', value='')
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin numberInput(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='num')=spec.label
		input#num.form-control.text-box.single-line(name='', placeholder='', style='', type='text', value='')
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin checkboxInput(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		.checkbox
			label
				if spec.disabled
					input#checkbox(name='', type='checkbox', value='true', disabled)
				else
					input#checkbox(name='', type='checkbox', value='true')
				input(name='', type='hidden', value='false')
				|                 !{spec.label}
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin fileInput(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='file')=spec.label
		input#file(name='', type='file', value='')
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin selectDropdown(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='select')=spec.label
		select#select.form-control(name='')
			option(value='')
			each option in spec.options
				if option.selected
					option(value=option.value, selected)=option.name
				else
					option(value=option.value)=option.name
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin selectListbox(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='selectList')=spec.label
		select#selectList.form-control(name='', size='4')
			each option in spec.options
				if option.selected
					option(value=option.value, selected)=option.name
				else
					option(value=option.value)= option.name
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin radioButtonList(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		if spec.label
			label.control-label(for='radiolist')=spec.label
		each option in spec.options
			.radio
				label
					if option.disabled
						input#radiolist(name='', type='radio', value=option.value, disabled)
						|                 !{option.label}
					else
						input#radiolist(name='', type='radio', value=option.value)
						|                 !{option.label}
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin checkboxList(spec)
	- spec = spec || {}
	- spec.pattern = spec.pattern || ".{0,50}"

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		if spec.label
			label.control-label(for='checkboxlist')=spec.label
		each option in spec.options
			.checkbox
				label
					if option.disabled
						input#checkboxlist(type='checkbox', value=option.value, name='', disabled)
						| !{option.label}
					else
						input#checkboxlist(type='checkbox', value=option.value, name='')
						| !{option.label}
		span.field-validation-valid.help-block
		if spec.help
			span.help-block help text

mixin formCaptcha(spec)
	- spec = spec || {}

	- var required = spec.required ? 'required-field' : ''
	.form-group(class=required)
		input(name='', type='hidden', value='')
		label.control-label(for='captcha')=spec.label
		input#captcha(name='', type='hidden', value='')
		.g-recaptcha(data-sitekey='6Lf1cQgUAAAAAMD2xDbpa0GntrKwMa_g779nP-Yk', data-theme='light', data-type='image')
		script(src='https://www.google.com/recaptcha/api.js')
		span.field-validation-valid.help-block

mixin formFooter(spec)
	- spec = spec || {}

	p=spec.text

mixin formSubmit(spec)
	- spec = spec || {}
	- spec.label = spec.label || 'Submit'

	.form-submit-border
		input.btn.btn-default(type='submit', value=spec.label)
