// new-wffm-form styles
.promotion {
	.page-header {
		h1 {
			margin: 0;
			font-size: calc-em(16px, 16px);
		}
	}

	p {
		margin: 0;
	}
}

.form-group {
	.help-block {
		font-size: calc-em(14px);
		display: block;
		margin-top: -1px;
	}

	.row {
		margin: 0 -6px;
	}
}

/* Required */
.required-field {
	position:relative;

	.control-label {
		&:before {
			display: none;
		}

		&:after{
			font-size: 20px;
			font-weight: 400;
			line-height: 1;
			color: $red;
			margin: 0 4px;
			content: "*";
		}
	}

	.checkbox {
		&:after {
			display: none;
		}

		&.required {
			&:after {
				display: inline !important;
				font-size: 20px;
				font-weight: 400;
				line-height: 1;
				color: $red;
				margin: 0 4px;
				content: "*";
			}
		}
	}
}

.field-validation-error, .field-validation-error span {
	color: $red;
}

.sitecore-form fieldset {
	margin: 30px 0;

	.row {
		margin: 0 -6px;
	}
}

//subscribe form
.subscribe-form {
	ul { @extend %list-unstyled; }

	form {
		margin: 0 -5px;
		padding: 0 5px;
	}

	label {
		display: none;
	}

	.form-submit-border {
		margin-top: 0;

		input {
			padding: 0;
			min-width: 100px !important;
		}
	}

	.form-group {
		width: 100%;
		margin-bottom: 10px !important;
	}
}


@media only screen and (min-width: $bpDesktop), print{
	.subscribe-form {
		form {
			padding: 0;
		}

		.form-group {
			float: left;
			margin-bottom: 0;
			margin-right: 5px !important;
			margin-left: 5px !important;

			&:nth-last-child(3), &:nth-last-child(4) {
				width: 18%;
			}

			&:nth-last-child(2) {
				width: 35%;
			}
		}

		.form-submit-border {
			float: left;
			margin-right: 5px !important;
			margin-left: 5px !important;
		}

	}

	//Captcha styles
	.g-recaptcha {
		.layout-side & {
			transform: scale(0.7);
			transform-origin: 0 0;
		}
	}
}
/* End Forms */


/* Bootstrap overwrite */
// .form-horizontal {
.scfForm {
	font-family: $primaryFont;
	line-height: 1.666666;
	font-weight: 300;
	word-wrap: break-word;
	color: #000;
	font-size: calc-em(16px, 16px);

	.page-header {
		border: none;
	}

	label {
		font-weight: 300;
	}

	form {
		.form-group {
			margin: 0 0 5px;

			.row {
				margin: 2px -10px 0;

				[class^="col-"], [class*=" col-"] {
					padding: 0 10px;
				}
			}

			.form-control:not(textarea) {
				padding: 0 10px;
				height: 36px;
			}

			select[size].form-control {
				height: auto;
			}

			.input-group-addon {
				border-radius: 0;
			}
		}

		.radio label, .checkbox label {
			padding: 0;
		}

		.radio input[type=radio],
		.radio-inline input[type=radio] {
			position: relative;
			margin: 8px 10px 8px 0;
		}

		.radio,
		.checkbox,
		.radio-inline,
		.checkbox-inline {
			padding: 0;
		}

		.checkbox-group, .checkbox {
		    position: relative;
		    margin: 5px auto;

		    label {
		        position: relative;
		        display: block;
				padding: 2px 0 2px 26px;
		        line-height: 1.2;

		        input[type=checkbox], {
		            position: absolute;
		            vertical-align: middle;
		            top: -2px;
		            left: 0;
		            margin-top: 7px;
		            margin-left: 0;
		        }
		    }
		}
	}

}
// }
/* End Bootsrap overwrite */

// events checkbox table
.events-form-checklist {
    margin: 25px 0;

    .control-label {
        background-color: $red;
        color: #fff;
        padding: 15px;
        margin: 0;
        display: block;
    }

    .checkbox:nth-child(odd) {
        background-color: $grey-1;
    }

    .checkbox {
    	position: relative;
        margin: 0;
        padding: 15px 80px 15px 15px;

        label {
            position: relative;
            padding: 0;
            display: inline-block;
            width: 100%;

            input {
				margin: 0;
            }
        }

        & span {
            display: inline-block;
            vertical-align: top;
        }

        .event-form-time {
            padding-right: 37px;
        }

        .event-form-detail {
            width: 80%;
        }

        input[type="checkbox"] {
            position: absolute;
            top: calc(50% - 6.5px);
            left: calc(100% - 6.5px);
            margin-top: 0;
            margin-left: 41px;
        }

        &:after {
            content: '';
            clear: both;
            display: table;
            position: absolute;
            left: 53px;
            top: 12px;
        }
    }
}


input:not([type=file]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
select.form-control,
textarea.form-control {
	transition: box-shadow .2s;
	width: 100%;
	padding: 10px;
	border: 1px solid #c1c1c1;
	border-radius: 0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	font-size: calc-em(16px);
}

input:not([type=file]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
select.form-control {
	font-family: $primaryFont;
	vertical-align: middle;
	height: 36px;
	margin: 2px 0;
	padding: 0 10px;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $placeholder;
		font-weight: 300;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: $placeholder;
		font-weight: 300;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: $placeholder;
		font-weight: 300;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $placeholder;
		font-weight: 300;
	}
}

select[size] {
	height: auto;
}

input[type="file"] {
	width: 100%;
	font-size: calc-em(16px);
}

input[type="checkbox"], input[type="radio"] {
	margin: 8px 10px 8px 0;
	border: none;
	box-shadow: none;
	transition: none;
	padding: 0;
	height: auto;
	width: auto;
}

input[type="text"], input[type="search"] {
	-webkit-appearance: none;
}

.form-submit-border {
	margin-top: 16px;
}

input[type="submit"] {
	font-family: $primaryFont;
	white-space: nowrap;
	min-width: 130px !important;
	height: 36px;
	margin: 2px 0;
	color: #fff;
	background: #d92231;
	border: 1px solid #d92231;
	font-weight: 400;
	line-height: 29px;
	text-align: center;
	position: relative;
	padding: 0 10px 0;
	cursor: pointer;
	width: auto;

	&:hover {
		color: $red;
		background-color: #fff;
		border: 1px solid $border4;

		&:after {
			color: $red;
		}
	}
}

form {
	button {
		font-family: $primaryFont;
		white-space: nowrap;
		min-width: 130px !important;
		height: 36px;
		margin: 2px 0;
		color: #fff;
		background: #d92231;
		border: 1px solid #d92231;
		font-weight: 400;
		line-height: 29px;
		text-align: center;
		position: relative;
		padding: 0 30px 0 10px;
		cursor: pointer;
		width: auto;

		&:hover {
			color: $red;
			background-color: #fff;
			border: 1px solid $border4;

			&:after {
				color: $red;
			}
		}

		&:after {
			font-family: Arial;
			font-size: 90%;
			color: #fff;
			position: relative;
			top: -1px;
			padding: 0 0 0 5px;
			content: "\0000a0\276F";
			transform: translate(0,-50%);
			position: absolute;
			top: 50%;
			right: 12px;
		}
	}

	&.search-bar {
		button {
			background-color: rgba(0, 0, 0, 0);
		}
	}
}


@media print {
	input[type="submit"] {
		border-color: #c1c1c1;
		color: #000;
	}
}
