extends ../_templates/reseller

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Reseller'
	- pageDescription = 'This is the reseller page of Fuji Xerox'

block ResellerContent
	+section()
		+reseller-locator({
			__class: "reseller-locator"
		})

	script(id="resellerData" type="application/json").
		{
			"south": [
				{
					"title": "Premier Partners",
					"name": "Challenger @ Funan",
					"address": "<p>109 North Bridge Road,</p><p>#06-00 Funan DigitaLife Mall</p><p>Singapore 179097</p>",
					"contact": "6339-9008",
					"fax": "6339-9008",
					"email": "contact@me.com",
					"webURL": "https://www.fujixerox.com.sg",
					"otherInfo": "This is a shop.",
					"lat": "1.2910662",
					"long": "103.8577843"
				},
				{
					"title": "Premier Partners",
					"name": "Challenger @ Tiong Bahru",
					"address": "<p>302 Tiong Bahru Road,</p><p>#03-19 Tiong Bahru Plaza</p><p>Singapore 168732</p>",
					"contact": "6376-5646",
					"lat": "1.286145",
					"long": "103.8271998"
				},
				{
					"title": "Authorised Partners",
					"name": "Pearlblue Tech Pte Ltd",
					"address": "<p>10 Anson Road,</p><p>#18-17 International Plaza</p><p>Singapore 079903</p>",
					"contact": "+65 90187110",
					"lat": "1.276109",
					"long": "103.84373"
				},
				{
					"title": "Premier Partners",
					"name": "retail south Challenger @ Funan",
					"address": "<p>109 North Bridge Road,</p><p>#06-00 Funan DigitaLife Mall</p><p>Singapore 179097</p>",
					"contact": "6339-9008",
					"lat": "1.2820662",
					"long": "103.8377843"
				},
				{
					"title": "Premier Partners",
					"name": "retail south Challenger @ Funan",
					"address": "<p>109 North Bridge Road,</p><p>#06-00 Funan DigitaLife Mall</p><p>Singapore 179097</p>",
					"contact": "6339-9008",
					"lat": "1.2900662",
					"long": "103.8577843"
				}
			],
			"east": [
				{
					"title": "Dummy Text",
					"name": "Dummy Text",
					"address": "<p>10 Anson Road,</p><p>#18-17 International Plaza</p><p>Singapore 079903</p>",
					"contact": "+65 90187110",
					"lat": "1.353588",
					"long": "103.969979"
				},
				{
					"title": "Dummy Text",
					"name": "Dummy Text2",
					"address": "<p>10 Anson Road,</p><p>#18-17 International Plaza</p><p>Singapore 079903</p>",
					"contact": "+65 90187110",
					"lat": "1.351872",
					"long": "103.981481"
				},
				{
					"title": "Dummy Text",
					"name": "retail east Dummy Text",
					"address": "<p>10 Anson Road,</p><p>#18-17 International Plaza</p><p>Singapore 079903</p>",
					"contact": "+65 90187110",
					"lat": "1.34588",
					"long": "103.969979"
				},
				{
					"title": "Dummy Text",
					"name": "retail east Dummy Text2",
					"address": "<p>10 Anson Road,</p><p>#18-17 International Plaza</p><p>Singapore 079903</p>",
					"contact": "+65 90187110",
					"lat": "1.352872",
					"long": "103.978481"
				}
			],
			"central": [
				{
					"title": "Premier Partners",
					"name": "Challenger @ United Square",
					"address": "<p>101 Thompson Road,</p><p>#02-26 United Square</p><p>Singapore 307591</p>",
					"contact": "6478-6255",
					"lat": "1.317711",
					"long": "103.841297"
				},
				{
					"title": "Authorised Partners",
					"name": "Reflection Solutions Pte Ltd",
					"address": "<p>47 Jalan Pemimpin,</p><p>#02-05 Halcyon 2</p><p>Singapore 577200</p>",
					"contact": "6499-8850",
					"lat": "1.349979",
					"long": "103.838965"
				}
			]
		}


block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This page url"
		}
