extends ../_templates/fullwidthpage

include ../_modules/molecules/carousel-item/carousel-item
include ../_modules/molecules/panel-caption/panel-caption
include ../_modules/molecules/image-text-item/image-text-item
include ../_modules/molecules/inquiry/inquiry
include ../_modules/molecules/loop-video/loop-video
include ../_modules/molecules/social-media-item/social-media-item
include ../_modules/molecules/social-sub-item/social-sub-item

include ../_modules/organisms/carousel/carousel
include ../_modules/organisms/2-col-carousel/2-col-carousel
include ../_modules/organisms/3-4-carousel/3-4-carousel
include ../_modules/organisms/tab-carousel/tab-carousel
include ../_modules/organisms/sort-table/sort-table
//- include ../_modules/organisms/insight-component/insight-component
include ../_modules/organisms/sort-table/sort-table
include ../_modules/organisms/social-media/social-media
include ../_modules/organisms/social-media-subpage/social-media-subpage

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Phase 2 Components'
	- pageDescription = 'This is the components page of Fuji Xerox'
	- componentsPhase2 = site.data.componentsPhase2

block FullWidthBanner
	+hero-banner(componentsPhase2.banner)
	//- +nav-tabs-anchor()

block FullWidthContent
	+section()
		a.anchor-link(id="2colcarousel" data-label="2 Column Carousel")
		+2-col-carousel(componentsPhase2.twocarousel)

	+section()
		a.anchor-link(id="34carousel" data-label="3/4 Carousel")
		+3-4-carousel(componentsPhase2.threefourcarousel)

	+section()
		a.anchor-link(id="topcarousel" data-label="Carousel (Top)")
		+carousel({
			__class: "carousel-top",
			data: componentsPhase2.carousel
		})

	+section()
		a.anchor-link(id="inquiry" data-label="Inquiry")
		+inquiry({
			"otherLinks": "#",
			"notes": [
				{
					"text": "Note 1 : Dummy Text Dummy Text Dummy Text Dummy Text"
				},
				{
					"text": "Note 2 : Dummy Text Dummy Text Dummy Text Dummy Text"
				}
			]
		})

	+section()
		a.anchor-link(id="sorttable" data-label="Sorting Table")
		+sort-table()

	+section()
		a.anchor-link(id="tab-carousel" data-label="Tabbed Carousel")
		+tab-carousel({
			"data": componentsPhase2.tabbed,
			"index": "1"
		})

	+section()
		a.anchor-link(id="tab-carousel2" data-label="Tabbed Carousel2")
		+tab-carousel({
			"data": componentsPhase2.tabbed,
			"index": "2"
		})

	+section()
		a.anchor-link(id="connect" data-label="Connect")
		+social-media({
			__class: "",
			data: componentsPhase2.social
		})

	+section()
		a.anchor-link(id="connectsubpage" data-label="Connect Sub Page")
		+social-media-subpage({
			__class: "",
			data: componentsPhase2.socialsub
		})

	+section()
		a.anchor-link(id="looping" data-label="Looping Video")
		+loop-video()

	// +section()
	// 	a.anchor-link(id="insight" data-label="Insight")
	// 	+insight-component()

	+section()
		a.red-link(href="javascript:;" data-src="#video" data-fancybox="data-fancybox") Test video
		#video
			video(src="/assets/fuji-xerox/videos/test.mp4" controls="controls" width="640" height="320" type="video/mp4")

	+section()
		a.red-link(href="/assets/fuji-xerox/videos/test.mp4" data-fancybox="data-fancybox" data-width="640" data-height="360") Test video

