.section {
	margin-bottom: 25px;
}

/**
 * Featured Blue Link Boxes
 */
.featured-linkboxs {

	.section-content { border-top: 1px solid $grey-3; }
	.section-header { text-align: center; margin: 30px auto; }

	.col { margin-bottom: 20px; }

	a {
		display: block;
		background: $blue-1;
		color: #fff;
		text-align: center;
		padding: 20px 10px;
		text-decoration: none;

		&:hover {
			background: $blue-2;
		}
	}

	p {
		margin: 10px 0 0;
		font-size: calc-em(16px);
	}

	img {
		display: inline-block;
		width: 75px;
		max-width: 100%;
	}
}

/**
 * Accordion Widget
 */
.accordion-widget__block {
	background: $grey-1;
	border-bottom: 1px solid #fff;
	font-size: calc-em(14px);

	&.active {
		.accordion-widget__block-title { background: $blue-1; }
	}
}

.accordion-widget__block-title {
	display: block;
	position: relative;
	background: $darkgrey-4;
	margin: 0;
	color: #fff;
	padding: 12px 20px;
	cursor: pointer;

	&.active, &:hover {
		background: $blue-1;
	}

	.toggle {
		position: absolute;
		font-size: 18px;
		right: 20px;
		top: 15px;
	}
}

.accordion-widget__block-content {
	padding: 20px;

	.logo {
		margin: 15px auto;
	}

	img {
		width: auto;
		max-width: 100%;
	}

	p, h2, h3 {
		&:first-child {
			margin-top: 0;
		}
	}
}

/**
 * Resources
 */
.resources {
	margin-top: 20px;
}

.resources__block {
	position: relative;
	padding: 0 0 20px;
	// border-bottom: 1px solid $grey-3;

	dt {
		float: left;
		margin-right: 5px;
		color: $darkgrey-1;
	}

	dd {
		clear: right;
		font-style: italic;
		margin: 0;
	}
}

.resources__block__download-btn {
	display: inline-block;
	border: 2px solid $blue-1;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	font-size: 34px;
	text-decoration: none;
}

.related-pages__block {
	margin: 0 0 20px;

	h3 { margin-top: 20px; }

	a {
		@include transition(background-color, 150ms, ease-in-out);
		position: relative;
		display: block;
		color: #000;
		padding: 20px;
		min-height: 190px;
		background: $grey-2;
		text-decoration: none;
		padding-right: 40px;

		&:hover {
			background: $blue-1;
			color: #fff;

			.category { border-color: #fff; }
		}

		&:after {
			@include icomoon('\f105');
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 24px;
		}
	}

	h4 { margin-top: 0; }

	.category {
		position: absolute;
		bottom: 0;
		left: 20px;
		right: 20px;
		display: block;
		border-top: 1px solid #000;
		padding: 20px 70px 20px 0;
		font-size: calc-em(14px);

		i {
			font-size: 1.3em;
			margin-right: 5px;
			color: $darkgrey-2;
		}
	}

	.label {
		position: absolute;
		display: block;
		top: 20px;
		right: 0;
		font-size: calc-em(12px);
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		background-color: $pink-1;
		padding: 3px 18px;
	}
}

.popup-video {
	display: none;
	text-align: center;

	iframe {
		margin: auto;
		max-width: 100%;
	}
}
