@media only screen and (min-width: $sm-breakpoint), print {

	.featured-linkboxs {
		text-align: center;

		.col {
			display: inline-block;
			width: 32%;
			margin: 0 -4px 20px 2%;
			vertical-align: top;

			&:first-child { margin-left: 0; }
			&:nth-child(3n - 2) { margin-left: -3px; }

			a {
				height: 100%;
			}
		}
	}

	.resources__block__download-btn {
		position: absolute;
		right: 0;
		top: 15px;
	}

	.related-pages {
		@include clearfix();
	}

	.related-pages__block {
		width: 48.5%;
		float: left;
		margin-right: 3%;

		&:nth-child(2n + 2) {
			margin-right: 0;
		}
	}
}
