// form styles
.input-group-text,
.input-group-textarea,
.input-group-select,
.input-group-captcha,
.checkbox-group {
    position: relative;
    margin: 10px auto;

    label {
        display: block;
        margin-bottom: 5px;
        font-size: calc-em(12px);
    }

    .required {
        color: #f00;
        margin-left: 2px;
        position: absolute;
        left: -10px;
        top: -5px;
        font-size: 12px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
}

.checkbox {
    position: relative;
    margin: 5px auto;

    label {
        display: block;
        font-size: calc-em(12px);
    }
}

.checkbox-group, .checkbox {
    label {
        line-height: 1.2;

        input {
            position: relative;
            margin-right: 5px;
            vertical-align: middle;
            top: -1px;
        }
    }
}

.input-group-text,
.input-group-captcha {
    input {
        @extend %input-element-styles;
        height: 32px;
    }
}

.input-group-captcha {
    input { width: 85%; }
}

.input-group-textarea {
    textarea {
        @extend %input-element-styles;
        height: 200px;
    }
}

.btn-group {
    button {
        position: relative;
        background: transparent;
        border: 1px solid #000;
        margin-right: 8px;
        display: inline-block;
        padding: 8px 25px;
        -webkit-appearance: none;

        &[type = "submit"] {
            background: $purple-1;
            color: #fff;
        }

        &:last-child { margin-right: 0; }

        i {
            position: relative;
            display: inline;
            margin-left: 10px;
            top: -1px;
            vertical-align: middle;
        }
    }
}

/**
* Sitecore
*/
.scfForm {
    width: auto;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 1.2;
    font-size: calc-em(16px);

    label {
        font-size: calc-em(12px);
        font-weight: normal;
    }

    .scfIntroBorder {
        padding-bottom: 20px;
        margin-bottom: 25px;
        padding: 12px;
    }

    .copyrightnotices_description { @extend %clearfix; }

    .scfSectionContent,
    .scfTitleBorder {
        padding: 12px 0 0;
    }

    input:not([type = "file"]):not([type = "checkbox"]):not([type = "radio"]):not([type = "image"]):not([type = "submit"]),
    textarea {
        @extend %input-element-styles;

        &.narrow { width: 52.5%; }
    }

    select {
        min-height: 32px;
        border: 0;
        background: $grey-2;
        color: $darkgrey-1;
        height: 32px;
        padding: 0 0 0 2%;
    }

    table {
        margin: 0;
        width: auto;

        th, td { padding: 0; min-width: inherit; background: transparent; }

        td {
            border: 0;
        }
    }

    textarea {
        height: auto;
        width: 100%;
        line-height: 1.2;
        padding: 12px 2%;
        min-height: 250px;
    }

    /**
     * Panels
     */
    .scfSingleLineGeneralPanel,
    .scfMultipleLineGeneralPanel,
    .scfConfirmPasswordGeneralPanel,
    .scfEmailGeneralPanel,
    .scfTelephoneGeneralPanel,
    .scfNumberGeneralPanel,
    .scfDatePickerGeneralPanel,
    .scfDateSelectorGeneralPanel,
    .scfFileUploadGeneralPanel,
    .scfDropListGeneralPanel,
    .scfListBoxGeneralPanel,
    .scfRadioButtonListGeneralPanel,
    .scfCheckBoxListGeneralPanel,
    .scfPasswordGeneralPanel {
        position: relative;
        width: auto;
        vertical-align: top;
        margin: 0;
        padding: 0;
        float: none;
    }

    .scfDatePickerGeneralPanel .ui-icon {
        position: absolute;
        top: 10px;
        right: 20px;
        display: block;
    }

    .scfListBox, .scfDropList {
        width: 100%;
    }

    .scfValidator {
        display: block;
        color: #f00;
        margin: 5px 0 15px;
        border-left: 3px solid #f00;
        padding-left: 5px;
        font-size: calc-em(12px);
        *zoom: 1;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    .scfRequired,
    .scfValidatorRequired {
        position: absolute;
        top: 0;
        left: -10px;
        margin-left: 2px;
        color: #f00;
        font-size: 12px;
    }

    .validator {
        display: block;
        color: #f00;
        margin-top: 5px;
        border-left: 3px solid #f00;
        padding-left: 5px;
        *zoom: 1;
    }

    .scfSectionBorderAsFieldSet {
        padding: 0;
        border-top: 0;
        margin: 0;

        legend {
            display: block;
            padding: 25px 0 0;
            margin: 0 0 10px;
            width: 100%;
            font-weight: bold;
            border-bottom: 1px solid $grey-2;
        }
    }

    /**
     * Dates
     */
    .scfDateSelectorYear,
    .scfDateSelectorMonth,
    .scfDateSelectorDay {
        width: 31%;
        margin: 5px 5px 0 0;
        float: left;
    }

    .scfDateSelectorDay {
        margin-right: 0;
    }


    .scfSectionContent .scfDateSelectorShortLabelYear,
    .scfSectionContent .scfDateSelectorShortLabelMonth,
    .scfSectionContent .scfDateSelectorShortLabelDay {
        width: 30.2%;
        margin-right: 5px;
        text-align: left;
        font-size: 12px;
        line-height: 1;
        display: inline-block;
    }

    /**
     * Label
     */
    .scfDropListLabel,
    .scfFileUploadLabel,
    .scfListBoxLabel {
        float: none;
    }

    .scfDateSelectorLabel {
        display: block;
        margin-top: 0;
        width: auto;
        float: none;
        font-size: calc-em(12px);
    }

    .scfSectionContent label,
    .scfRadioButtonListLabel,
    .scfCheckBoxListLabel {
        width: auto;
        padding-top: 6px;
        text-align: left;
        float: none;
        font-size: calc-em(12px);
    }

    .scfRadioButtonList,
    .scfCheckBoxList,
    .scfCheckbox {
        label {
            display: inline-block;
            width: auto;
            text-align: left;
            vertical-align: top;
            padding-top: 0;
            float: none;
            color: $body-text;
        }

        [type="checkbox"], [type="radio"] {
            position: relative;
            top: 2px;
            width: auto;
            height: auto;
            margin: 0 5px 0 0;
            padding: 0;
        }
    }

    .scfCheckbox label { width: 86%; }

    .scSmalltext {
        display: block;
        margin-top: 1em;
        font-size: .9em;
    }

    /**
     * Borders
     */
    .scfConfirmPasswordBorder,
    .scfPasswordBorder,
    .scfEmailBorder,
    .scfTelephoneBorder,
    .scfNumberBorder,
    .scfRadioButtonListBorder,
    .scfCheckBoxListBorder,
    .scfDateSelectorBorder,
    .scfCheckboxBorder,
    .scfFileUploadBorder,
    .scfDatePickerBorder,
    .scfDropListBorder,
    .scfMultipleLineTextBorder,
    .scfSingleLineTextBorder {
        @extend %clearfix;
        position: relative;
        margin-bottom: 15px;
    }

    /**
     * Submit Button
     */
    .scfSubmitButtonBorder,
    .scfFooterBorder {
        @extend %clearfix;
        display: block;
    }

    .scfSubmitButtonBorder {
        padding: 10px 0;

        input {
            position: relative;
            background: $purple-1;
            border: 1px solid #000;
            margin-right: 8px;
            display: inline-block;
            padding: 8px 15px;
            -webkit-appearance: none;
            color: #fff;
            width: auto;
            min-width: 180px;

            &:hover, &:focus {
                background: $purple-1;
                color: #fff;
            }
        }
    }

    .scfSubmitButton {
        @include transition('color opacity', .2s, linear);
        width: auto;
        color: #fff;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        background-color: $blue-1;
        border: 1px solid transparent;
        -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
           -o-user-select: none;
              user-select: none;

        &:hover { background-color: $blue-2; color: #fff; text-decoration: none; }

        &:focus {
            color: #0cf;
            text-decoration: none;
            outline: thin dotted;
            outline-offset: -2px;
        }
    }

    /**
     * Captcha
     */
    .scfCaptcha input { width: 100%; padding-left: 10px; padding-right: 10px; display: block; margin-top: 5px; }

    .scfCaptchTop,
    .scfMultipleLineTextBorder,
    .scfSingleLineTextBorder {
        @extend %clearfix;
    }

    .scfCaptchaGeneralPanel {
        width: auto;
        float: none;
        position: relative;
        clear: both;
    }

    .scfCaptchaLimitGeneralPanel {
        width: auto;

        td {
            img { width: auto; max-width: inherit; display: block; border: 0; }
        }
    }

    .scfCaptchTop {
        display: inline-block;
        padding: 10px 0 10px 10px;
        border: 1px solid $grey-2;
    }

    .scfCaptchaLabel {
        display: none;
    }


    .scfCaptchStrongTextPanel {
        width: 100%;
        float: none;
    }

    .scfCaptchaBorder {
        [type = "image"] {
            width: auto;
            height: auto;
            border: 0;
            margin: 0;
            background: transparent;
        }

        img { margin: 0; border: 1px solid $grey-2; }
        td { padding-right: 10px; }
    }

    .scfCheckboxBorder { margin-bottom: 0; }
}

#enquiryForm, .sitecore-form {

    .has-error, .has-feedback {
        ul {
            @extend %normal-list;
            font-size: calc-em(12px);

            li {
                padding-left: 0;

                &:before {
                    display: none;
                }
            }

            .list-group-item-danger {
                color: $red-1;
            }
        }

        .help-block {
            font-size: calc-em(12px);
        }

        .field-validation-error {
            color: $red-1;
        }
    }


    .form-group {
        margin-top: 15px;

        input.text-box, textarea {
            @extend %input-element-styles;
            height: 32px;
        }

        select {
            box-sizing: border-box;
            display: block;
            width: 100%;
            background: #e6e6e6;
            border: 0;
            line-height: 32px;
            height: 32px;
            padding: 0 10px;
            color: #808080;
        }

        textarea {
            height: 200px;
        }

        .control-label {
            display: block;
            margin-bottom: 5px;
            font-size: 0.75em;
        }

        .radio, .checkbox {
            position: relative;
            padding-left: 22px;

            label {
                font-size: calc-em(14px);
            }
        }

         [type="checkbox"], [type="radio"] {
            position: absolute;
            top: 6px;
            left: 2px;
        }
    }

    .events-form-checklist {
        margin-bottom: 25px;

        .control-label {
            background-color: $blue-1;
            color: #fff;
            font-size: calc-em(14px);
            padding: 15px;
            margin: 0;
        }

        .checkbox:nth-child(odd) {
            background-color: $grey-1;
        }
        .checkbox {
            margin: 0;
            padding: 15px 80px 15px 15px;
            label {
                position: relative;
            }

            & span {
                display: inline-block;
                vertical-align: top;
            }

            .event-form-time {
                padding-right: 37px;
            }

            .event-form-detail {
                width: 80%;
            }

            [type="checkbox"] {
                position: absolute;
                top: calc(50% - 6.5px);
                left: calc(100% - 6.5px);
                margin-left: 41px;
            }
            &:after {
                content: '';
                clear: both;
                display: table;
            }
        }

    }

    .required-field {

        .control-label,
        .checkbox {

            &:after {
                position: absolute;
                left: -6px;
                top: -5px;
            }
        }
    }

    .btn-default {
        position: relative;
        background: transparent;
        margin-right: 8px;
        display: inline-block;
        border: 0;
        border-radius: 5px;
        padding: 8px 25px;
        -webkit-appearance: none;

        &[type = "submit"] {
            @include transition('background-color', 200ms, linear);
            background: $orange-2;
            color: #fff;

            &:hover {
                background-color: $orange-1;
            }
        }

        &:last-child { margin-right: 0; }

        i {
            position: absolute;
            right: 15px;
            top: 13px;
        }
    }

     // I have both class in my template but not sure which one wffm uses
    .form-submit-border, .submit-form-border {
        margin-top: 15px;

        input { font-size: calc-em(14px); }
    }

    .sessions {
        margin-bottom: 25px;
    }

    .sessions-table {
        width: 100%;
        margin: 0;

        .form-group { margin-top: 0; }
    }
}

.promotion__contact-form {
    position: relative;
    top: -5px;
    margin-bottom: 50px;

    h3 {
        position: relative;
        margin: 0;
        font-size: calc-em(24px);
    }

    .introduction {
        font-size: calc-em(14px);
        line-height: 1.4;

        p { margin-top: 0; }
    }

    .sitecore-form textarea {
        height: 150px;
    }
}


@media only screen and (min-width: $sm-breakpoint) {
    /**
     * Dates
     */
    .scfDateSelectorYear,
    .scfDateSelectorMonth,
    .scfDateSelectorDay {
        width: 32.7%;
    }

    .scfDateSelectorDay {
        margin-right: 0;
    }


    .scfSectionContent .scfDateSelectorShortLabelYear,
    .scfSectionContent .scfDateSelectorShortLabelMonth,
    .scfSectionContent .scfDateSelectorShortLabelDay {
        width: 31.8%;
    }

    .promotion__contact-form {
        padding-left: 10px;
    }
}