extends ../_layouts/base

include ../_modules/atoms/button/button

include ../_modules/molecules/breadcrumb/breadcrumb
//- include ../_modules/molecules/side-nav/side-nav
include ../_modules/molecules/panel-item/panel-item
include ../_modules/molecules/quick-links/quick-links
include ../_modules/molecules/aside/aside
include ../_modules/molecules/aside-banner/aside-banner
include ../_modules/molecules/social-list/social-list
include ../_modules/molecules/subscribe-form/subscribe-form
include ../_modules/molecules/nav-tabs/nav-tabs
include ../_modules/molecules/nav-tabs-anchor/nav-tabs-anchor
include ../_modules/molecules/featured-speakers-item/featured-speakers-item

include ../_modules/organisms/rte/rte
include ../_modules/organisms/new-wffm-form/new-wffm-form
include ../_modules/organisms/hero-banner/hero-banner
include ../_modules/organisms/section/section
include ../_modules/organisms/agenda/agenda
include ../_modules/organisms/event-aside/event-aside
include ../_modules/organisms/featured-speakers/featured-speakers

block append config
	- articleData = site.data.article

block content
	.main-content.layout-article
		+breadcrumb()

		.top-banner
			block ArticleBanner

		aside.layout-side.layout-side--left.tablet-desktop
			+social-list(articleData.leftaside.socialList)

		article.layout-main
			block ArticleContent

		aside.layout-side
			block ArticleAside

	block ArticleBottom

	script(src="//s7.addthis.com/js/300/addthis_widget.js")
