extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb
include ../_modules/molecules/card-tiles/card-tiles
include ../_modules/molecules/quick-links/quick-links
include ../_modules/molecules/solutions-filter/solutions-filter
include ../_modules/molecules/image-links/image-links

include ../_modules/organisms/solutions-services/solutions-services
include ../_modules/organisms/hero-banner/hero-banner
include ../_modules/organisms/image-links-wrapper/image-links-wrapper
include ../_modules/organisms/landing-wrapper/landing-wrapper
include ../_modules/organisms/section/section
include ../_modules/organisms/promotion-listing/promotion-listing
include ../_modules/organisms/promotion-list/promotion-list
include ../_modules/organisms/rte/rte

block append config

block content
	.main-content.layout-aside
		+breadcrumb()

		.top-banner
			block PageBanner

		article.layout-main
			block PageContent

		block PageAside
