extends ../_layouts/base

include ../_modules/atoms/button/button
include ../_modules/atoms/select/select
include ../_modules/atoms/iframe/iframe
include ../_modules/atoms/filter-checkbox/filter-checkbox

include ../_modules/molecules/breadcrumb/breadcrumb
include ../_modules/molecules/nav-tabs-anchor/nav-tabs-anchor
include ../_modules/molecules/nav-tabs/nav-tabs
include ../_modules/molecules/follow-us/follow-us
include ../_modules/molecules/card-tiles/card-tiles
include ../_modules/molecules/panel-item/panel-item
include ../_modules/molecules/panel-with-overlay/panel-with-overlay
include ../_modules/molecules/accordion/accordion
include ../_modules/molecules/subscribe-form/subscribe-form
include ../_modules/molecules/listing-sorter/listing-sorter
include ../_modules/molecules/image-links/image-links
include ../_modules/molecules/testimonial/testimonial
include ../_modules/molecules/quick-links/quick-links
include ../_modules/molecules/solutions-filter/solutions-filter
include ../_modules/molecules/product-resources/product-resources

include ../_modules/organisms/hero-banner/hero-banner
include ../_modules/organisms/landing-wrapper/landing-wrapper
include ../_modules/organisms/topic-panels/topic-panels
include ../_modules/organisms/accordion-wrapper/accordion-wrapper
include ../_modules/organisms/image-links-wrapper/image-links-wrapper
include ../_modules/organisms/rte/rte
include ../_modules/organisms/form-wrapper/form-wrapper
include ../_modules/organisms/col-form-wrapper/col-form-wrapper
include ../_modules/organisms/new-wffm-form/new-wffm-form
include ../_modules/organisms/dynamic-listing/dynamic-listing
include ../_modules/organisms/listing-results/listing-results
include ../_modules/organisms/listing-filters/listing-filters
include ../_modules/organisms/agenda/agenda
include ../_modules/organisms/solutions-services/solutions-services
include ../_modules/organisms/section/section

block content
	.main-content
		+breadcrumb()

		if !isForm
			.top-banner
			block FullWidthBanner

		.layout-main
			block FullWidthContent
