extends ../_layouts/base

include ../_modules/atoms/button/button

include ../_modules/molecules/follow-us/follow-us
include ../_modules/molecules/panel-item/panel-item
include ../_modules/molecules/social-media-item/social-media-item
include ../_modules/molecules/carousel-item/carousel-item

include ../_modules/organisms/hero-banner/hero-banner
include ../_modules/organisms/panels-group/panels-group
include ../_modules/organisms/carousel/carousel
include ../_modules/organisms/social-media/social-media
include ../_modules/organisms/section/section
include ../_modules/organisms/home-announcement/home-announcement

block append config
	-isHome = true

block content
	.main-content
		block Home
