extends ../_layouts/base

include ../_modules/atoms/button/button
include ../_modules/atoms/select/select
include ../_modules/atoms/filter-checkbox/filter-checkbox

include ../_modules/molecules/nav-tabs/nav-tabs
include ../_modules/molecules/follow-us/follow-us
include ../_modules/molecules/listing-sorter/listing-sorter

include ../_modules/organisms/hero-banner/hero-banner
include ../_modules/organisms/rte/rte
include ../_modules/organisms/listing-results/listing-results
include ../_modules/organisms/listing-filters/listing-filters

block content
	.main-content
		.top-banner
			block ListingBanner

		block ListingContent
