extends ../_layouts/base

include ../_modules/atoms/select/select
include ../_modules/atoms/button/button

include ../_modules/molecules/breadcrumb/breadcrumb
include ../_modules/molecules/reseller-locator-filters/reseller-locator-filters

include ../_modules/organisms/reseller-locator/reseller-locator
include ../_modules/organisms/section/section

block append config

block content
	.main-content
		+breadcrumb()

		block ResellerContent
