include ../../organisms/home-list/home-list

mixin home-announcement(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	section.home-announcement.wingspan
		.row-col-12
			+home-list({
				__class: "col-sm-12",
				title: "Important notice about our products",
				list: site.data.list.announcement,
				type: 'announcement'
			})
