// breadcrumb styles
.breadcrumb {
	margin: 10px auto;

	li {
		display: inline-block;
		font-size: calc-em(12px);

		&:last-child:after {
			display: none;
		}

		&:after {
			content: '>';
			margin: 0 2px 0 6px;
		}
	}

	a {
		color: $body-text;
		text-decoration: none;

		&:hover {
			color: $blue-1;
			text-decoration: underline;
		}
	}
}