mixin breadcrumb(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.breadcrumb = spec.breadcrumb || [{'href': '/', 'label': 'Home'}]

	//Breadcrumb
	.breadcrumb.wingspan
		ul
			each item in spec.breadcrumb
				li
					if item.href
						a(href = item.href) #{item.label}
					else
						span #{item.label}
	//End: Breadcrumb
