extends ../../_layouts/base

include ../../_modules/organisms/mapper/mapper
include ../../_modules/organisms/featured-linkboxs/featured-linkboxs

include ../../_modules/templates/landing/landing

//- Configuration
block config
	- var baseUrl = '../../'
	- var pageTitle = 'Fuji Xerox | Events'
	- var parent = 4

block content
	+landing({
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Company",
				"href": "/company"
			},
			{
				"label": "Events"
			}
		],
		banner: {
			title: "Events",
			text: "Find your next experience",
			image: "images/content/banners/solutions.jpg"
		}
	})
		+mapper({type: "event"})
