extends _templates/home

block append config
	- pageTitle = 'Home'
	- pageDescription = 'This is the home page of Fuji Xerox'
	- homeData = site.data.home

block Home

	+hero-banner(homeData.banner)


	+panels-group(homeData.panels)


	+carousel({
		data: homeData.carousel
	})


	+hero-banner(homeData.banner2)


	+home-announcement(homeData.announcement)


	+social-media({
		__class: "",
		data: homeData.social
	})

	//- a.red-link(data-fancybox href="#testVideo") Video test

	//- #testVideo(style="padding: 15px; display: none;")
	//- 	video(src="/assets/fuji-xerox/videos/innovation-1200x440_1.mp4", width="640" height="320" controls)



block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@id": "https://www.fujixerox.com.sg/",
		    "@type": "Website",
		    "mainEntity": {
		    	"@type": "Organization",
		    	"@id": "https://www.fujixerox.com.sg/#organization",
			    "name": "Fuji Xerox",
			    "description": "Fuji Xerox Singapore offers managed print solutions and a huge range of office printers, multifunction devices, software and outsourced services. Contact us today on 6766 8888!",
			    "logo": "https://www.fujixerox.com.sg/assets/fuji-xerox/images/logo.gif",
			    "url": "https://www.fujixerox.com.sg/",
			    "sameAs": ["https://twitter.com/fujixeroxsg","https://www.linkedin.com/company/fuji-xerox-singapore/","https://www.facebook.com/FujiXeroxSingapore/","https://www.youtube.com/user/FujiXeroxGlobal","https://www.instagram.com/fujixeroxsg/","https://en.wikipedia.org/wiki/Fuji_Xerox"]
		    }
		}
