// sitemap styles
.sitemap {
	ul {
		@extend %clearfix;
		@extend %list-unstyled;
	}

	a, span {
		color: #000;
		font-weight: 400;
	}

	span {
		text-decoration: underline;
	}

	&__lvl1 {
		> li {
			display: block;
			margin-bottom: 24px;

			> a, > span {
				font-size: calc-em(24px);
			}
		}
	}

	&__lvl2 {
		> li {
			display: block;
			margin-bottom: 12px;

			> a, > span {
				font-size: calc-em(20px);
			}
		}
	}

	&__lvl3 {
		> li {
			display: block;
			> a, > span {
				font-size: calc-em(18px);
				color: $red;
			}
		}
	}

	&__lvl4 {

		> li {
			display: block;
			padding: 0 0 0 12px;
			margin-bottom: 6px;

			> a, > span {
				color: $red;
			}
		}
	}
}

@media only screen and (min-width: $bpTablet){
	.sitemap {
		&__lvl3 {
			> li {
				display: inline-block;
				float: left;
				width: 25%;
			}
		}
	}
}
