mixin sitemap(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.sitemap
		h1 Sitemap
		ul.sitemap__lvl1
			each lvl1 in spec.nav
				li
					if lvl1.url
						a(href=lvl1.url)=lvl1.name
					else
						span=lvl1.name
					if lvl1.children
						ul.sitemap__lvl2
							each lvl2 in lvl1.children
								li
									if lvl2.url
										a(href=lvl2.url)=lvl2.name
									else
										span=lvl2.name
									if lvl2.children
										ul.sitemap__lvl3
											each lvl3 in lvl2.children
												li.match-height
													if lvl3.url
														a(href=lvl3.url)=lvl3.name
													else
														span=lvl3.name
													if lvl3.children
														ul.sitemap__lvl4
															each lvl4 in lvl3.children
																li
																	if lvl4.url
																		a(href=lvl4.url)=lvl4.name
																	else
																		span=lvl4.name
