mixin panel-caption(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.panel-caption.match-height(class=spec.__class)
		a(href=spec.url)
			if spec.image
				.panel-caption__image
					img(src=spec.image, alt="")
					p.caption=spec.caption
			.panel-caption__text
				h3=spec.title
				p=spec.text

				+button({
					"label": "button",
					"url": "#",
					"notlink": true
				})
