// panel-caption styles
.panel-caption {
	position: relative;
	margin-top: 6px;
	padding: 0 6px;

	> a {
		display: block;
		text-decoration: none;
		padding: 6px;
		width: 100%;
		height: 100%;

		&:hover {
			text-decoration: none;
		}
	}

	&__image {
		display: inline-block;
		text-align: center;
	}

	.caption {
		color: #000;
		margin: 5px 0;
		font-size: calc-em(14px);
	}

	&__text {
		padding-bottom: 10px;

		h3 {
			font-size: calc-em(18px);
			margin: 0 0 10px;
			font-weight: 400;
			color: #000;
		}

		p {
			font-size: calc-em(18px);
			margin: 0;
			color: #000;
		}
	}

	.button {
		margin: 10px 0 0;
	}

	&:hover {
		> a {
			background-color: $panel-hover;
		}

		.button {
			background-color: #fff;
			color: #000;
			border: 1px solid $border3;
			padding: 4px 34px 4px 14px;

			&:after {
				border-top: 2px solid $red;
    			border-right: 2px solid $red;
			}
		}
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.panel-caption {
		padding: 0 12px;
	}
}
