include ../_modules/molecules/top-nav/top-nav
include ../_modules/molecules/main-nav/main-nav
include ../_modules/molecules/search-bar/search-bar
include ../_modules/molecules/footer-nav/footer-nav

include ../_modules/organisms/site-header/site-header
include ../_modules/organisms/site-footer/site-footer
include ../_modules/organisms/modal/modal
include ../_modules/organisms/sticky-buttons/sticky-buttons

//- Custom Configuration
block config
	//- Setup site's base URL to match the "baseUrl" key within `package.json`
	//- Otherwise default to relative pathing
	- var baseUrl = config.baseUrl || './'
	- var header = site.data.header
	- var footer = site.data.footer
	//- - var globalLinks = site.data.globalLinks
	- var pageTitle = 'Home'
	- var pageDescription = 'This is the page description'
	- var isHome = false
	-
		var navLevel = {
			"levelOne": -1,
			"levelTwo": -1,
			"levelThreee": -1
		}

doctype html
<html class='no-js' lang='en'>

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title= pageTitle + ' | Fuji Xerox'
	meta(name='description', content=pageDescription )
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	block stylesheets
		link(rel='stylesheet', href= baseUrl + 'assets/fuji-xerox/css/fuji-xerox.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700')
	//- if isHome
	//- 	script(type="text/javascript" src="//platform.linkedin.com/in.js").
	//- 		api_key: 86fhitecrucsei
	//- 		authorize: true
	//- 		onLoad: authorizeIn
body
	block Schema
	//- <!--[if lt IE 11]>
	//- <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
	//- <![endif]-->

	+site-header(header)

	block content

	+sticky-buttons

	+site-footer(footer)
	//- +modal()
	#back-to-top(data-text="上")
	block scripts
		script(src= baseUrl + 'assets/fuji-xerox/js/fuji-xerox.js')

</html>
