// form-wrapper styles
.form-wrapper {
	margin-bottom: 30px;
	max-width: 700px;

	h1{
		margin: 50px 0 10px;
		font-size: calc-em(26px);
		font-weight: 400;
	}

	p {
		margin: 0 0 10px;
	}
}

.modal {
	.form-wrapper {
		margin: 0 auto 30px;
	}
}

.event-registration-form,
.promotion-form {
	.page-header {
		h1 { margin-top: 0; }
	}
}
