mixin form-wrapper(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.form-wrapper
		if block
			block
		else
			+new-wffm-form({
				"title": "Level 2 Header",
				"text": "<p>Dummy Text Dummy Text <em>Emphasis</em> Dummy Text <strong> Stronger Emphasis</strong> Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text</p>",
			})
				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+selectDropdown({
					"label": "Dummy Text",
					"required": true,
					"options": [
						{
							"value": "Option 1",
							"name": "Option 1"
						},
						{
							"value": "Option 2",
							"name": "Option 2"
						}
					]
				})

				+checkboxList({
					options: [
						{
							"label": "Checkbox"
						},
						{
							"label": "Checkbox",
							"disabled": true
						}
					]
				})

				+radioButtonList({
					options: [
						{
							"label": "Radio button 1"
						},
						{
							"label": "Radio button 2"
						},
						{
							"label": "Disabled Radio button",
							"disabled": true
						}
					]
				})

				+multiLineText()

				+formCaptcha()

				+formFooter({
					"text": "This is the WFFM Form footer."
				})

				+formSubmit({
					"label": "Submit"
				})



			//- h3 Level 2 Header
			//- p Dummy Text Dummy Text
			//- 	em  Emphasis
			//- 	|  Dummy Text
			//- 	strong  Stronger Emphasis
			//- 	|  Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text

			//- form(action="")
			//- 	label.required(for="text1") Dummy Text
			//- 		strong.icon-required
			//- 	input#text1(type="text")
			//- 	label(for="text2") Dummy Text
			//- 		strong.icon-required
			//- 	input#text2(type="text")
			//- 	label(for="text3") Dummy Text
			//- 		strong.icon-required
			//- 	input#text3(type="text")
			//- 	label(for="text4") Dummy Text
			//- 		strong.icon-required
			//- 	input#text4(type="text")
			//- 	label(for="text5") Dummy Text
			//- 		strong.icon-required
			//- 	input#text5(type="text")
			//- 	label(for="select") Dummy Text
			//- 		strong.icon-required
			//- 	select#select(name="select")
			//- 		option(value="1") Option 1
			//- 		option(value="2") Option 2

			//- 	ul
			//- 		li
			//- 			label(for="")
			//- 				input(type="checkbox")
			//- 				| Checkbox
			//- 		li
			//- 			label(for="")
			//- 				input(type="checkbox" disabled)
			//- 				| Disabled Checkbox
			//- 		li
			//- 			label(for="")
			//- 				input(type="radio" name="radio1")
			//- 				| Radio button 1
			//- 		li
			//- 			label(for="")
			//- 				input(type="radio" name="radio2")
			//- 				| Radio button 2
			//- 		li
			//- 			label(for="")
			//- 				input(type="radio" disabled)
			//- 				| Disabled Radio Button

			//- 	label(for="textarea")
			//- 	textarea#textarea(name="", cols="60", rows="10")

		br
		p Dummy Text
		+subscribe-form()

