// social-media-item styles
.social-feed-item {
	&__icon {
		display: block;
		margin-bottom: 15px;
		padding-bottom: 10px;
		border-bottom: 1px solid $border3;

		img {
			display: inline-block;
			width: 30px;
			height: 30px;
			margin: 0 10px 0 0;
		}
	}

	&__text {
		.image {
			display: block;
			position: relative;
			padding-top: 56.25%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				@include image-cover;
			}
		}

		p {
			line-height: 1.6;
			margin: 0 0 10px;

			a { display: block; }
		}

		a {
			display: inline-block;
			text-decoration: none;
			color: $red;
			margin: 0 0 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__actions {
		margin-bottom: 10px;

		a {
			text-indent: -99999px;
			background-image: url(../images/twitter-actions.png);
			background-position: 0 0;
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 40px;
		}

		.reply {
			&:hover { background-position: -16px 0; }
		}

		.retweet {
			background-position: -81px 0;
			width: 17px;

			&:hover { background-position: -100px 0; }
		}

		.favorite {
			background-position: -32px 0;
			margin-right: 0;

			&:hover { background-position: -48px 0; }
		}
	}
}


@media only screen and (max-width: $bpTablet - 1){
	.social-feed-item {
		margin: 12px 0 0;
	}
}
