mixin social-media-item(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.social-feed-item.col-sm-6.col-md-3(id=spec.__class, data-id=spec.id)
		.social-feed-item__icon
			img(src=spec.icon, alt="")
		if spec.noAPI
			.social-feed-item__text
				if spec.image
					a.image(href=spec.imageurl)
						img(src=spec.image, alt="")
				p !{spec.text}
					if spec.morelabel
						a(href=spec.moreurl)=spec.morelabel
				a(href=spec.url)=spec.label
			if spec.actions
				.social-feed-item__actions
					a(class="reply", href="#") Reply
					a(class="retweet", href="#") Retweet
					a(class="favorite", href="#") Favorite
