extends ../_templates/fullwidthpage

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Solutions and Services'
	- pageDescription = 'This is the solutions and services page of Fuji Xerox'
	- solutionData = site.data.solutions

block FullWidthBanner
	+hero-banner(solutionData.banner)

block FullWidthContent
	+section()
		+solutions-services(solutionData.solutions)

	+section()
		+image-links-wrapper(solutionData.links)

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This page url"
		}
