extends ../_templates/article

include ../_modules/molecules/panel-caption/panel-caption
include ../_modules/molecules/panel-with-overlay/panel-with-overlay

include ../_modules/organisms/2-col-carousel/2-col-carousel
include ../_modules/organisms/3-4-carousel/3-4-carousel

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Article'
	- pageDescription = 'This is the article page of Fuji Xerox'
	- articleData = site.data.article
	- componentsPhase2 = site.data.componentsPhase2

block ArticleBanner
	+hero-banner(articleData.banner)

block ArticleContent
	+section()
		+rte()
			h1 Level 1 Header
			h2 Level 2 Header
			p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
			p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
			p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
			h2 Level 2 Header
			p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
			p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text

			+button({
				"__class": "btn-red",
				"label": "Button",
				"url": "#"
			})

			h3 Level 3 Header
			+subscribe-form()

	+section({__class: "video-box"})
		.video-box__yt-wrapper
			.video-box__yt-embed.
				<iframe src="https://www.youtube.com/embed/RedstKki19E?rel=0" frameborder="0" allowfullscreen></iframe>

		.video-box__desc
			h2: img(src="/assets/fuji-xerox/images/logo-arcadis.png" alt = "Arcadis")
			p Arcadis is a global brand with 300 offices and 28,000 employees spanning 70 countries. Arcadis provides exceptional and sustainable outcomes in design and consultancy, and professional technical skills in the areas of natural assets.

	+section()
		+2-col-carousel(componentsPhase2.twocarousel)

	+section()
		+3-4-carousel(componentsPhase2.threefourcarousel)

block ArticleAside
	+aside-banner(articleData.rightaside.asideBanner)
	+aside(articleData.rightaside.aside)
	+quick-links()

block ArticleBottom
	.layout-bottom
		+section()
			+2-col-carousel(componentsPhase2.twocarousel)


block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This Page Url",
		    "mainEntity": {
			    "@type": "Article",
			    "author": "Author Name",
			    "datePublished": "2018-01-01",
			    "dateModified": "2018-01-01",
		    	"headline": "Meta Title",
			    "image": {
			    	"@type": "imageObject",
					"url": "https://www.fujixerox.com.sg/assets/fuji-xerox/images/logo.png"
			    },
			    "publisher": {
			    	"@type": "Organization",
			    	"@id": "https://www.fujixerox.com.sg/#organization",
			    	"name": "Fuji Xerox",
			    	"logo": {
			    		"@type": "imageObject",
			    		"url": "https://www.fujixerox.com.sg/assets/fuji-xerox/images/logo.gif"
			    	}
			    },
			    "mainEntityOfPage": {
			    	"@type": "WebPage"
			    }
		    }
		}
