// carousel styles
.home-carousel {
	margin: 25px auto;
	position: relative;

	.slider-widget {
		@include transform(translate3d(0, 0, 0));
	}

	.slide {
		img {
			display: block;
			width: 100%;
		}
	}

	.slick-list {
		@include transform(translate3d(0, 0, 0));
		border-radius: 5px 0 0 5px;
		overflow: hidden;
		border: 1px solid $grey-1;
	}

	.slick-dots {
		position: absolute;
		bottom: -35px;
		width: 100%;
		text-align: center;

		.slick-active {
			button { background: $darkgrey-2; }
		}

		button {
			display: block;
			text-indent: -999px;
			overflow: hidden;
			margin: 0 5px;
			padding: 0;
			width: 20px;
			height: 20px;
			background: $grey-2;
			border: 0;
			border-radius: 50%;
			outline: 0;
		}

		li { display: inline-block; }
	}
}

.slider-custom-control {
	@include transform(translate3d(0, 0, 0));
	position: absolute;
	right: 0;
	top: 1px;
	bottom: 1px;
	width: 120px;
	background: #000;
	border-radius: 0 5px 5px 0;
}

.slider-custom-control__pager {
	padding: 30px 8px;

	li { margin-bottom: 10px; }

	a {
		@include transform(translate3d(0, 0, 0));
		@include transition(opacity, 100ms, linear);
		display: block;
		border-radius: 7px;
		overflow: hidden;
		opacity: .6;
		outline: 0;

		&:hover, &.active { opacity: 1; }
	}

	img {
		display: block;
		width: 115%;
	}
}

.slider-custom-control__play-toggle {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	text-align: center;

	a {
		@include transition(opacity, 100ms, linear);
		display: inline-block;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		border: 1px solid #fff;
		color: #fff;
		text-decoration: none;
		opacity: .6;
		outline: 0;

		&:hover { opacity: 1; }

		.icon {
			position: relative;
			top: -1px;
			left: 0;
			line-height: 35px;
			font-size: 24px;
		}
	}
}


@media only screen and (max-width: $md-breakpoint - 1) {
	.home-carousel {
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 599px) {
	.home-carousel {
		.slide {
			height: 350px;
			background-position: center;
			background-size: cover;

			img { display: none; }

			a {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media only screen and (min-width: $md-breakpoint) {

	.home-carousel {
		max-height: 320px;
		overflow: hidden;
	}

	.slider { margin-right: 119px; }
}
