mixin carousel(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- slides = spec.slides || {}
	- type = spec.type || ''


	//Homepage Carousel
	if type == "homepage"
		.home-carousel.wingspan(data-carousel-interval = "5000")
			.slider-widget
				.slider
					each slide in slides
						.slide(data-mobile-banner!=slide.mobile_image)
							a(href = "#"): img(src !=slide.image alt = "")

				.slider-custom-control.visible-md-block.visible-lg-block
					.slider-custom-control__play-toggle.autoplay
						a(href = "#")
							span.icon.icon-controller-paus
		//End: Homepage Carousel