// event-speakers styles

.event-speakers__list {
	overflow: hidden;
	position: relative;
	left: -10px;
	margin-right: -20px;



	@media only screen and (max-width: $sm-breakpoint - 1) {

		.slick-slider {
			width: 90%;
		}

		.slick-list {
			overflow: visible;
		}
	}
}


.event-speakers__speaker {
	position: relative;
	border: 1px solid $grey-2;
	padding: 180px 20px 80px;
	text-align: center;
	outline: 0;

	&.slick-slide {
		margin: 0 10px;
	}

	.thumbnail {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 145px;
		width: 145px;
		margin: 20px auto;
		border-radius: 50%;
		overflow: hidden;
		text-align: center;

		img {
			position: absolute;
			top: 0;
			left: 0;
		}

		.label {
			@include transition(all, 300ms, ease-in-out);
			// @include transform(translateX(-50%) translateY(-50%));
			display: inline-block;
			position: relative;
			top: 20%;
			color: #fff;
			font-weight: bold;
			z-index: 10;
			opacity: 0;
			vertical-align: middle;
		}

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}


		&:after {
			@include transition(opacity, 200ms, linear);
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, .5);
			opacity: 0;
			border-radius: 50%;
		}


		&:hover {
			&:after {
				opacity: 1;
			}

			.label {
				opacity: 1;
				top: 0%;
				vertical-align: middle;
			}
		}
	}

	img {
		display: inline-block;
		max-width: 100%;
	}

	h3 {
		margin: 0 0 5px;
	}

	.title, .company {
		display: block;
		font-size: calc-em(14px);
		color: $darkgrey-2;
		line-height: 1.4;
	}

	.btn-orange--inverse {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
	}
}

.event-speakers__bio {

	.bio__header, .bio__body { padding: 20px 50px 0; }

	.bio__header {
		padding-left: 140px;

		h3 {
			font-size: calc-em(24px);
			margin: 0 0 6px;
			line-height: 1;
		}

		span {
			font-size: calc-em(14px);
			display: block;
			line-height: 1.3;
		}
	}

	.bio__thumbnail {
		position: absolute;
		left: 50px;
		top: 20px;
		width: 75px;
		border-radius: 50%;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
		}
	}
}


@media only screen and (min-width: $md-breakpoint), print {
	.event-speakers__speaker {
		border: 0;
		margin: 0;
		width: 33%;
		float: left;

		&:nth-child(3n + 3) { clear: right; }
	}
}
