mixin event-speakers(spec)
	- spec = spec || {}
	- spec.speakers = spec.speakers || {}
	- spec.__class = spec.__class || ''

	div.event-speakers__list(class=spec.__class)&attributes(attributes)
		.event-speakers__slider
			each speaker in spec.speakers
				.event-speakers__speaker
					h3= speaker.name
					span.title= speaker.title
					span.company= speaker.company

						a.thumbnail.bio-popup(href = speaker.link)
							img(src = speaker.thumbnail alt = "")
							span.label View Profile

					a.bio-popup.btn-orange--inverse(href = speaker.link) View Profile

					.event-speakers__bio.hidden
						.bio__header
							.bio__thumbnail
								img(src = speaker.thumbnail alt = "")

							h3= speaker.name
							span.title= speaker.title
							span.company= speaker.company

						.bio__body
							p Wai Meng leads the Corporate Purchasing, Admin & Logistics team in StarHub. He joined Singapore Cable Vision to head Materials Management in 2000. Since the merger with StarHub, he has been leading Corporate Purchasing & Logistics functions, with a 4-year stint in Consumer Business Group in Consumer Sales Channels Operations, Sales Fulfillment & Field Services. Prior to StarHub, Wai Meng has 13 years of wide ranging Manufacturing, Supply Chain Management and purchasing experience in Communications, Consumer Electronics & Optoelectronic manufacturing sectors – in Motorola Electronics, Philips Consumer Electronics, Siemens Optoelectronics & Perkin Elmer Optoelectronics respectively. 

							p Wai Meng holds a Bachelor of Engineering Degree in Civil Engineering, as well as a Master in Industrial & Systems Engineering from National University of Singapore. He is also married with 2 sons. Outside of work, Wai Meng enjoys scuba diving, road biking, occasional triathlons & playing badminton in his spare time.

							h4 Speaker’s Topic: How to Achieve Office Automation Efficiency and Sustainability in an Enterprise

							p Justifying the business case to obtain Enterprise Project Approval for a Managed Print Services Project is an uphill task, with so many other IT priorities clamoring for attention. Ranked among the 100 most sustainable companies in the world, StarHub took a bold step into building the workplace of the future, freeing up staff members to focus on its core business by simplifying, standardizing and optimizing its document processes. Join us to find out how Mr Chee Wai Meng, Vice President of Corporate Purchasing, Admin & Logistics at StarHub, made this project a resounding success with strong organizational alignment and an outcome-based approach.


