mixin right-layout(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	// START: Right Layout
	<!--[if mso | IE]>
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="640" align="center" style="width: 640px;">
	<tr>
	<td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
	<![endif]-->
	div(style='margin: 0px auto; max-width: 640px; background-color: #ffffff;')
		table(role='presentation', cellpadding='0', cellspacing='0', border='0', style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-collapse: collapse;', align='center', width='100%')
			tbody
				tr
					td.right-layout-padding(bgcolor='#ffffff' width="100%" style="border-style: none; padding-right: 15px; padding-bottom: 15px; padding-top: 15px; padding-left: 15px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff;")
						table(cellpadding='0' cellspacing='0' border='0' direction="rtl" width='100%' style='border-style: none; direction: rtl; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;' )
							tr
								td.mobile-fullwidth.mobile-fullwidth--right(bgcolor='#ffffff' width="50%" style="border-style: none; padding-top: 0; padding-left: 10px; padding-bottom: 0; width: 50%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" valign="top")
									table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt;border-collapse: collapse;')
										tbody
											tr
												td.right-layout-image(bgcolor='#ffffff' width="298", height="179" style='border-style: none; color: #474747; cursor: auto; font-size: 12px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 298px; height: 179px; background: #ffffff;')
													table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
														tbody
															tr
																td(width="100%" style='border-style: none; font-family: Arial, sans-serif; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
																	img(src="/fx_exm/images/item4.jpg", alt="2 Col Layout", title='', width="298", height='179', border="0", style='-ms-interpolation-mode: bicubic; border: 0 none; display: block; width: 100%; height: 179px; line-height: 1px; outline: none; text-decoration: none; border-style: none; max-width: 298px;')
								//- <!--[if mso | IE]>
								//- </tr>
								//- <tr>
								//- <![endif]-->
								td.mobile-fullwidth.mobile-fullwidth__rightlayout--left(bgcolor='#ffffff' width="50%" style="border-style: none; padding-top: 0; padding-bottom: 0; padding-right: 10px; width: 50%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff;border-left: 1px solid #ffffff;" valign="top")
									table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; border-left: 1px solid #ffffff;')
										tbody
											tr
												td.third-padding(bgcolor='#ffffff' style="border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff;border-left: 1px solid #ffffff;")
													table(cellpadding='0' cellspacing='0' direction="ltr" border='0' width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; border-left: 1px solid #ffffff; direction: ltr;')
														tbody
															tr
																td.third-title(width="100%" style='border-style: none; color: #101010; cursor: auto; font-size: 15px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' align="left" valign="top")
																	h2(style='display: block; margin: 0; text-align: left; color: #101010; font-family: Arial, sans-serif; font-weight: 700; font-size: 15px; line-height: 20px; margin-bottom: 17px;') H2: Arial 15pt, Lorem ipsum dolor consectetur adipiscing elit

															tr
																td.third-text(width="100%" height="90" style='border-style: none; color: #444444; cursor: auto; font-size: 12px; line-height: 16px; height: 90px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' align="left" valign="top")
																	p(style='display: block; margin: 0; text-align: left; color: #444444; font-family: Arial, sans-serif; font-weight: 300; font-size: 12px; line-height: 16px; margin-bottom: 13px;') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
															tr
																td.third-link(width="100%" direction="ltr" style='border-style: none; color: #d92231; direction: ltr; cursor: auto; font-size: 12px; line-height: 15px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' align="left" valign="top")
																	p(style='display: block; margin: 0; text-align: left; color: #d92231; font-family: Arial, sans-serif;')
																		a(href="https://www.fujixerox.com.sg/en" style='display: block; margin: 0; text-align: left; color: #d92231; font-size: 12px; line-height: 20px; text-decoration: none;') Learn More >

	<!--[if mso | IE]>
	</td>
	</tr>
	</table>
	<![endif]-->
	// END: Right Layout
