// pagination styles
.pagination {
	text-align: center;
	margin: 15px auto;

	ul {
		@extend %list-unstyled;
	}

	li {
		display: inline-block;

		&.active {
			a .pagenav{
				background-color: $red;
				color: #fff;
			}
		}
	}

	a {
		text-decoration: none;
		color: #000;

		&:focus, &:hover {

			.pagenav {
				background-color: $red;
				color: #fff;
			}
		}
	}

	.pagenav {
		display: block;
		padding: 5px 8px;
		border: 1px solid $red;
		background-color: #fff;
		color: $red;
	}

	.pagination-prev, .pagination-next {

		.pagenav {
			position: relative;
			padding: 5px 15px;
		}
	}

	.pagination-prev {
		margin-right: 10px;

		.pagenav {
			padding: 5px 15px 5px 35px;

			&:before {
				transform: rotate(-45deg) translate(0,-50%);
				position: absolute;
				top: 50%;
				left: 21px;
				display: block;
				width: 10px;
				height: 10px;
				margin: -2px 0 0;
				content: "";
				border-top: 2px solid $red;
				border-left: 2px solid $red;
			}

			&:hover {
				&:before {
					border-top: 2px solid #fff;
					border-left: 2px solid #fff;
				}
			}
		}
	}

	.pagination-next {
		margin-left: 10px;

		.pagenav {
			padding: 5px 35px 5px 15px;

			&:after {
				transform: rotate(45deg) translate(0,-50%);
				position: absolute;
				top: 50%;
				right: 21px;
				display: block;
				width: 10px;
				height: 10px;
				margin: -2px 0 0;
				content: "";
				border-top: 2px solid $red;
				border-right: 2px solid $red;
			}

			&:hover {
				&:after {
					border-top: 2px solid #fff;
					border-right: 2px solid #fff;
				}

			}
		}
	}
}


@media only screen and (max-width: $bpTablet - 1) {

	.pagination li {
		display: none;

		&.pagination-prev,
		&.pagination-next {
			display: inline-block;
		}
	}

}
