mixin main-navigation(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//Main Navigation
	.main-navigation
		nav.wingspan
			//Main Navigation Menu
			ul.main-navigation__menu.row-col-12
				li.parent.col-sm-3
					a(href = "/solutions-and-services") Solutions &amp; Services

					//Flyout
					.flyout.full-width
						.row-col-12
							.col-sm-4
								ul
									li
										a(href = "/solutions-and-services/office-solutions") Office Solutions

										ul
											li: a(href = "/solutions-and-services/office-solutions/print-management-solutions/") Print Management Solutions
											li: a(href = "#") Document Security Solutions
											li: a(href = "/solutions-and-services/office-solutions/office-automation-solutions/") Office Automation Solutions
											li: a(href = "#") Content Management Solutions
											li: a(href = "#") Cloud &amp; Mobility Solutions
											li: a(href = "#") Device Remote Support Services

									li
										a(href = "/solutions-and-services/production-solutions") Production Solutions

										ul
											li: a(href = "/solutions-and-services/production-solutions/customer-communication-management") Customer Communication Management (CCM) Solutions
											li: a(href = "#") Print Workflow Automation
											li: a(href = "#") Color Management Solutions &amp; Services
											li: a(href = "/solutions-and-services/production-solutions/print-management-information-systems") Print Management Information Systems (MIS)
											li: a(href = "#") Packaging Solutions
											li: a(href = "#") Business Development Consultancy Services


							.col-sm-4.push-left-25
								ul
									li
										a(href = "/solutions-and-services/enterprise-solutions") Enterprise Solutions

										ul
											li: a(href = "#") Business Process Management (BPM)
											li: a(href = "#") Enterprise Content Management (ECM)
											li: a(href = "#") Knowledge Management Solutions
											li: a(href = "#") Enterprise Collaboration Solutions
											li: a(href = "#") Infrastructure Solutions
											li: a(href = "#") System Integration Services
											li: a(href = "/solutions-and-services/enterprise-solutions/it-services/") IT Services

									li
										a(href = "/solutions-and-services/global-services") Global Services

										ul
											li: a(href = "#") Managed Document/Print Services
											li: a(href = "/solutions-and-services/global-services/marketing-communication-services") Marketing Communications Services
											li: a(href = "#") Imaging &amp; Document Management Services
											li: a(href = "#") Short-term Rental

							.col-sm-4.push-left-25
								ul
									li: a(href = "/solutions-and-services/commercial-financing-solution-services/") Commercial Financing Solution Services
									li
										a(href = "#") Industries

										ul.sitemap__mega-menu-links--lvl3
											li: a(href = "#") Aerospace
											li: a(href = "#") Architecture, Engineering, and Construction
											li: a(href = "#") Education
											li: a(href = "#") Finance
											li: a(href = "#") Government
											li: a(href = "#") Healthcare
											li: a(href = "#") Insurance
											li: a(href = "#") Logistics

					//End: Flyout
				li.parent.col-sm-3.short-flyout-menu
					a(href = "/products") Products

					//Flyout
					.flyout
						ul
							li: a(href = "/products/?listing=office+printers") Office Printers
							li: a(href = "/products/?listing=文件管理軟體") Supplies
							li: a(href = "/products/?listing=software") Softwares
					//End: Flyout

				li.parent.col-sm-2
					a(href = "http://onlinesupport.fujixerox.com/setupSupport.do?cid=1&lang_code=en&ctry_code=SG") Support &amp; Drivers

					//Flyout
					.flyout.half-width
						.row-col-12
							.col-sm-6
								ul
									li
										ul
											li: a(href = "https://www.fujixerox.com.sg/contact/general-information/reseller-partners/authorized-resellers") Technical Support
											li: a(href = "https://onlinesupport.fujixerox.com/setupRelocation.do?cid=1&lang_code=en&ctry_code=SG") Relocate Machine Request
											li: a(href = "https://www.fujixerox.com.sg/support-and-drivers/tools-and-guides/quick-reference-guide") Quick Reference Guide
											li: a(href = "https://www.fujixerox.com.sg/support-and-drivers/tools-and-guides/authentication-label") Authentication Label

							.col-sm-6.push-left-15
								ul
									li
										ul
											li: a(href = "http://onlinesupport.fujixerox.com/setupSupport.do?cid=1&lang_code=en&ctry_code=SG") Self Help
											li: a(href = "http://www.fujixeroxprinters.com.sg/en/support/warrantyregistration.aspx") Warranty Registration
											li: a(href = "http://onlinesupport.fujixerox.com/setupSuppTool.do?cid=1&lang_code=en&ctry_code=SG") Support Tools
											li: a(href = "http://onlinesupport.fujixerox.com/setupDriverList.do?cid=1&lang_code=en&ctry_code=SG") Downloads
					//End: Flyout

				li.parent.col-sm-2
					a(href = "/company") Company

					//Flyout
					.flyout.half-width
						.row-col-12
							.col-sm-6
								ul
									li
										span.category-title Company
										ul
											li: a(href = "/company/about-fuji-xerox-singapore") About Fuji Xerox Singapore
											li: a(href = "/company/management-team") Management Team
											li: a(href = "/company/awards-achievements") Awards &amp; Achievements
											li: a(href = "/company/substainable-future") Towards a Sustainable Future

							.col-sm-6.push-left-15
								ul
									li
										ul.no-parent
											li: a(href = "#") Fuji Xerox Dream Service
											li: a(href = "/company/success-stories") Success Stories
											li: a(href = "/company/newsroom") Newsroom
											li: a(href = "/company/career-with-us") Career with Us
					//End: Flyout

				li.parent.col-sm-2
					a(href = "/contact") Contact

					//Flyout
					.flyout.half-width
						.row-col-12
							.col-sm-6
								ul
									li
										span.category-title Company
										ul
											li: a(href = "#") Contact Details
											li: a(href = "#") Authorised Resellers

							.col-sm-6.push-left-15
								ul
									li
										span.category-title Online Forms
										ul
											li: a(href = "#") Request Pricing
											li: a(href = "/contact/customer-feedback") Customer Feedback
											li: a(href = "#") Technical Support
											li: a(href = "#") Submit Meter Readings
											li: a(href = "#") Toner Ordering
											li: a(href = "#") Customer Rental Programme

			//End: Main Navigation Menu
