// pagination styles
.pagination {
	text-align: center;
	margin: 15px auto;

	li {
		display: inline-block;
		font-size: calc-em(12px);
	}

	a {
		text-decoration: none;

		.pagenav {
			background-color: #fff;
			color: inherit;
		}


		&:focus, &:hover {

			.pagenav {
				background-color: $blue-1;
				color: #fff;
			}
		}
	}

	.pagenav {
		display: block;
		padding: 5px 8px;
		border: 1px solid #ebebeb;
		background-color: #666;
		color: #fff;
	}

	.pagination-prev, .pagination-next {

		.pagenav {
			position: relative;
			background-color: $grey-2;
			color: $body-text;
			padding: 5px 15px;

			&:before {
				position: absolute;
				content: '';
				display: block;
				width: 0;
				height: 0;
			}
		}

		a {
			.pagenav {
				background-color: $blue-1;
				color: #fff;
			}
		}
	}

	.pagination-prev {
		margin-right: 10px;

		.pagenav {
			border-radius: 2px 6px 6px 2px;

			&:before {
				border-top: 14px solid transparent;
				border-bottom: 14px solid transparent;
				border-right: 14px solid $grey-2;
				left: -14px;
				top: 0;
			}
		}

		a {
			.pagenav {
				&:before {
					border-right: 14px solid $blue-1;
				}
			}
		}
	}

	.pagination-next {
		margin-left: 10px;

		.pagenav {
			border-radius: 6px 2px 2px 6px;

			&:before {
				border-top: 14px solid transparent;
				border-bottom: 14px solid transparent;
				border-left: 14px solid $grey-2;
				right: -14px;
				top: 0;
			}
		}

		a {
			.pagenav {
				&:before {
					border-left: 14px solid $blue-1;
				}
			}
		}
	}
}


@media only screen and (max-width: $xs-breakpoint - 1) {

	.pagination li {
		display: none;

		&.pagination-prev,
		&.pagination-next,
		&.active {
			display: inline-block;
		}
	}

}