mixin pagination(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div.pagination(class=spec.__class)&attributes(attributes)
		ul
			li.pagination-prev: a(href = "javascript:void(0)" title = "Prev"): span.pagenav Prev
			li: a(href = "javascript:void(0)"): span.pagenav 4
			li: a(href = "javascript:void(0)"): span.pagenav 5
			li: a(href = "javascript:void(0)"): span.pagenav 6
			li: a(href = "javascript:void(0)"): span.pagenav 7
			li: a(href = "javascript:void(0)"): span.pagenav 8
			li: a(href = "javascript:void(0)"): span.pagenav 9
			li: a(href = "javascript:void(0)"): span.pagenav 10
			li: a(href = "javascript:void(0)"): span.pagenav 11
			li: a(href = "javascript:void(0)"): span.pagenav 12
			li.pagination-next: a(href = "javascript:void(0)" title = "Next"): span.pagenav Next
