// hero-banner styles
.hero-banner {
	@extend %clearfix;
	margin-bottom: 12px;

	.button {
		&:hover {
			border-color: #fff;
		}
	}

	&__image {
		width: 100%;
		max-height: 100%;
		overflow: hidden;

		img {
			@include image-cover;
			display: block;
		}
	}

	&__text {
		background-color: $bannerText;
		padding: 30px 25px;
		color: #fff;
		line-height: 1.3;

		h1 {
			font-size: calc-em(16px);
			margin: 0 0 20px;
			font-weight: 300;
		}

		h2 {
			font-size: calc-em(28px);
			margin: 0 0 15px;
			font-weight: 300;
		}

		p {
			line-height: 1.4;
			margin: 0 0 15px;
		}

		a {
			font-size: calc-em(17px);
		}

		ul a { color: #fff; }

		ul {
			@extend %list-unstyled;
			margin-top: 10px;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	video {
		@include image-cover;
		display: block;
		font-family: 'object-fit: cover; object-position: center center;';
	}

	&.product {
		.hero-banner__text {
			position: static;
			background-color: transparent;
			color: #000;
			padding-bottom: 30px;
		}

		ul a { color: #000; }
	}

	&.invert {
		.hero-banner__text {
			background-color: $border;
			color: #000;
		}

		ul a { color: #000; }
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.hero-banner {
		&.home {
			.hero-banner__text { margin: 15px 0 0; }
		}

		&.narrow {
			.hero-banner__image {
				height: 138px;

				img, video {
					@include image-cover;
				}
			}
		}

		&.invert.home {
			position: relative;
			padding: 46px 0 0;

			.hero-banner__text {
				margin: 0 0 15px;
				color: #000;

				h1 {
					position: absolute;
					top: 0;
					font-size: calc-em(27px);
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					margin: 0 0 0 -25px;
				}

				p { margin: 0; }
			}
		}

		&.product {
			.hero-banner__image {
				img {
					max-width: 300px;
					display: block;
					margin: auto;
				}
			}
		}
	}
}


@media only screen and (min-width: $bpTablet), print {
	.hero-banner {
		position: relative;
		padding-top: 36.666666%;

		&__text {
			width: 360px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			padding: 30px 25px 0 30px;
			margin: 0;

			h1 {
				font-size: calc-em(20px);
			}

			h2 {
				font-size: calc-em(26px);
			}

			p, a { margin: 0 0 10px; }
		}

		&__image {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
		}

		&.reverse {
			.hero-banner__text {
				left: auto;
				right: 0;
			}

			.follow {
				right: auto;
				left: 4%;
			}
		}

		&.narrow {
			padding-top: 26.666666%;
			overflow: hidden;
		}

		&.clear {
			.hero-banner__text {
				background-color: transparent;
				color: #000;
			}
		}

		&.blur {
			.hero-banner__text {
				background-color: rgba(0,0,0,0.7);
				color: #fff;

				ul a { color: #fff; }
			}
		}

		&.product {
			padding-top: 0;

			.hero-banner__image {
				width: 50%;
				top: 0;
				right: 0;
				bottom: 0;
				left: auto;

				img {
					height: auto;
				}
			}
		}
	}
}

@media only screen and (min-width: $bpDesktop), print{
	.hero-banner {
		&__text {
			width: 400px;

			h1 { font-size: calc-em(20px); }
			h2 { font-size: calc-em(30px); }

			p, a {
				margin: 0 0 10px;
			}

			a {
				font-size: calc-em(17px);
			}

			ul { margin: 0; }
		}

		&.product {
			min-height: 440px;
		}
	}
}

@media print {
	.hero-banner {
		page-break-inside: avoid;

		&.narrow {
			padding-top: 36.666666%;
		}
	}

}
