mixin hero-banner(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.hero-banner(class=spec.class)
		.hero-banner__image
			if spec.image
				img(src=spec.image, alt="")
			if spec.video
				video#video1.video-player(src=spec.video, autoplay muted loop)

		if spec.textbox
			.hero-banner__text
				if spec.title1
					h1=spec.title1
				if spec.title2
					h2=spec.title2
				if spec.text
					p=spec.text
				
				if spec.url
					+button({
						"label": spec.label,
						"url": spec.url
					})

				if spec.links
					ul
						each link in spec.links
							li
								a(href=link.url)=link.name
		if spec.follow
			+follow-us(spec.follow)

