/* =======================================================================
Project - IHIS

DEPENDENCIES
--------------------------------------------------------------------------
Normalize CSS

TABLE OF CONTENT
--------------------------------------------------------------------------
01 Global
02 Layout
03 Components
04 Media Queries (For miscellaneous styles)
========================================================================== */
@import 'common/variables';
@import 'common/mixins';
@import 'normalize';
@import 'common/helpers';
@import 'common/grids';
@import 'common/fonts';
@import 'vendor/stacktable';
@import 'vendor/fancybox';
@import 'vendor/slick';

@-ms-viewport { width: device-width; }

/* =======================================================================
01 Global
========================================================================== */

html { font-size: 1em; }

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.5;
	color: $body-text;
	background: #fff;
	-webkit-animation: load .5s;
	   -moz-animation: load .5s;
			animation: load .5s;
	font-size: 1em; //16px
	padding: 0;
	margin: 0;
	min-width: 300px;
	position: relative;

	.scfForm { font-family: inherit; }
}

img { border: 0; }

@-webkit-keyframes load { 0% { opacity: 0; } 20% { opacity: 0; } }
@-moz-keyframes load { 0% { opacity: 0; } 20% { opacity: 0; } }
@-o-keyframes load { 0% { opacity: 0; } 20% { opacity: 0; } }
@keyframes load { 0% { opacity: 0; } 20% { opacity: 0; } }


/**
 * Sass extensions
 */
%clearfix { @include clearfix(); }
%normal-list { @include normalise-list(); }

%input-element-styles {
	box-sizing: border-box;
	display: block;
	width: 100%;
	background: $grey-2;
	border: 0;
	line-height: 32px;
	height: 32px;
	padding: 0 10px;
	color: $darkgrey-1;
	-webkit-appearance: none;
}

.clearfix {
	@extend %clearfix;
}

ul {
	@extend %normal-list;
}

a {
	@include transition('color, background-color', 200ms, linear);
	-webkit-backface-visibility: initial;
	color: $blue-1;

	&:hover, &:focus {
		color: $blue-1;
	}
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}


/* =======================================================================
02 Layout
========================================================================== */
.wingspan {
	margin: auto;
	padding: 0 10px;
	max-width: $max-width;
	box-sizing: border-box;
}

.article {
	min-height: 300px;
	padding-bottom: 15px;
}

/**
 * Breadcrumb
 */
.breadcrumb {
	margin: 10px auto;

	li {
		display: inline-block;
		font-size: calc-em(12px);

		&:last-child:after {
			display: none;
		}

		&:after {
			content: '>';
			margin: 0 2px 0 6px;
		}
	}

	a {
		color: $body-text;
		text-decoration: none;

		&:hover {
			color: $blue-1;
			text-decoration: underline;
		}
	}
}

/**
 * Notification
 */
.notifications {
	display: none;

	li {
		display: block;
		padding: 20px 0;
		border-bottom: 1px solid $grey-1;

		&:first-child { padding: 0 0 20px; }
		&:last-child { border: 0; }
	}
}

/**
 * Form
 */
.input-group-text,
.input-group-textarea,
.input-group-select,
.input-group-captcha,
.checkbox-group {
	position: relative;
	margin: 10px auto;

	label {
		display: block;
		margin-bottom: 5px;
		font-size: calc-em(12px);
	}

	.required {
		color: #f00;
		margin-left: 2px;
		position: absolute;
		left: -10px;
		top: -5px;
		font-size: 12px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
}

.checkbox {
	position: relative;
	margin: 5px auto;

	label {
		display: block;
		font-size: calc-em(12px);
	}
}

.checkbox-group, .checkbox {
	label {
		input {
			position: relative;
			margin-right: 5px;
			vertical-align: middle;
			top: -1px;
		}
	}
}

.input-group-text,
.input-group-captcha {
	input {
		@extend %input-element-styles;
		height: 32px;
	}
}

.input-group-captcha {
	input {
		width: 85%;
	}
}

.input-group-textarea {
	textarea {
		@extend %input-element-styles;
		height: 200px;
	}
}

.btn-group {
	button {
		position: relative;
		background: transparent;
		border: 1px solid #000;
		margin-right: 8px;
		display: inline-block;
		padding: 8px 25px;
		-webkit-appearance: none;

		&[type = "submit"] {
			background: $purple-1;
			color: #fff;
		}

		&:last-child { margin-right: 0; }

		i {
			// position: absolute;
			// right: 15px;
			// top: 13px;
			position: relative;
			display: inline;
			margin-left: 10px;
			top: -1px;
			vertical-align: middle;
		}
	}
}

#at15s {
	display: none !important;
}

/**
 * loading animation
 */
@keyframes fade {
    0%   {opacity: 1;}
    40%   {opacity: 0;}
    60%   {opacity: 0;}
    100% {opacity: 1;}
}

.loader-animation {
	display: none;
	position: relative;
	margin-left: -30px;

	.inner {
		display: block;
		width: 10px;
		height: 10px;
		background: #000;
		position: absolute;
		animation-name: fade;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		top: 0;

		&:nth-child(1) {
			left: 0;
			animation-delay: 0;
		}

		&:nth-child(2) {
			left: 12px;
			animation-delay: 200ms;
		}

		&:nth-child(3) {
			left: 24px;
			animation-delay: 400ms;
		}
	}
}

/**
 * Pagination
 */
.pagination {
	text-align: center;
	margin: 15px auto;

	li {
		display: inline-block;
		font-size: calc-em(12px);
	}

	a {
		text-decoration: none;

		.pagenav {
			background-color: #fff;
			color: inherit;
		}


		&:focus, &:hover {

			.pagenav {
				background-color: $blue-1;
				color: #fff;
			}
		}
	}

	.pagenav {
		display: block;
		padding: 5px 8px;
		border: 1px solid #ebebeb;
		background-color: #666;
		color: #fff;
	}

	.pagination-prev, .pagination-next {

		.pagenav {
			position: relative;
			background-color: $grey-2;
			color: $body-text;
			padding: 5px 15px;

			&:before {
				position: absolute;
				content: '';
				display: block;
				width: 0;
				height: 0;
			}
		}

		a {
			.pagenav {
				background-color: $blue-1;
				color: #fff;
			}
		}
	}

	.pagination-prev {
		margin-right: 10px;

		.pagenav {
			border-radius: 2px 6px 6px 2px;

			&:before {
				border-top: 14px solid transparent;
				border-bottom: 14px solid transparent;
				border-right: 14px solid $grey-2;
				left: -14px;
				top: 0;
			}
		}

		a {
			.pagenav {
				&:before {
					border-right: 14px solid $blue-1;
				}
			}
		}
	}

	.pagination-next {
		margin-left: 10px;

		.pagenav {
			border-radius: 6px 2px 2px 6px;

			&:before {
				border-top: 14px solid transparent;
				border-bottom: 14px solid transparent;
				border-left: 14px solid $grey-2;
				right: -14px;
				top: 0;
			}
		}

		a {
			.pagenav {
				&:before {
					border-left: 14px solid $blue-1;
				}
			}
		}
	}
}

/**
 * 404 page
 */
.\34 04-banner {
	background: $blue-4;
	padding: 60px 20px 10px;
	border-radius: 10px;
	position: relative;
	margin-bottom: 50px;

	.logo {
		position: absolute;
		right: 20px;
		top: 20px;
	}

	p {
		color: #fff;
		font-size: calc-em(50px);
		line-height: 1.2;
		margin: 0 0 10px;

		&.black-text { color: $body-text; }
	}
}

.\34 04-links {

	li { margin-bottom: 20px; }

	.ico {
		display: inline-block;
		width: 80px;
		height: auto;
		vertical-align: middle;

		img { max-width: 100%; }
	}

	.label {
		display: inline-block;
		margin-left: 25px;
		max-width: 62%;
		text-decoration: none;
		font-size: calc-em(14px);
	}
}

/**
 * Back to top button
 */
.back-to-top {
	position: fixed;
	right: 0;
	top: 50%;
	padding: 5px 8px 10px;
	background: #f9f9f9;
	text-align: center;
	cursor: pointer;
	display: none;

	span {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		margin-top: -5px;
	}

	i {
		font-size: 22px;
		line-height: 1;
	}
}

/* =======================================================================
03 Components
========================================================================== */
@import 'components/header/component';
@import 'components/main-navigation/component';
@import 'components/banners/component';
@import 'components/carousel/component';
@import 'components/solution-mapper/component';
@import 'components/sections/component';
@import 'components/quick-links/component';
@import 'components/related-products/component';
@import 'components/homepage/component';
@import 'components/article-content/component';
@import 'components/product-listing/component';
@import 'components/newsroom/component';
@import 'components/aside/component';
@import 'components/sitemap/component';
@import 'components/search/component';
@import 'components/footer/component';
@import 'components/side-menu/component';
@import 'components/modal/component';
@import 'components/ie/component';
@import 'components/sitecore-form/component';


/* =======================================================================
04 Media Queries (For miscellaneous styles)
========================================================================== */


@media only screen and (max-width: $xs-breakpoint - 1) {

	.pagination li {
		display: none;

		&.pagination-prev,
		&.pagination-next,
		&.active {
			display: inline-block;
		}
	}

}

@media only screen and (min-width: $sm-breakpoint) {
	.article { margin-top: 20px; }

	.\34 04-banner { padding: 50px 200px 10px 20px; }
}
