extends ../../../_layouts/base

include ../../../_modules/molecules/section/section
include ../../../_modules/templates/article/article

include ../../../_modules/organisms/related-pages/related-pages

//- Configuration
block config
	- var baseUrl = '../../../'
	- var pageTitle = 'Fuji Xerox | Print Management Solutions'
	- var parent = 1

block content
	+article({
		contentClass: "col-sm-10 col-md-8 offset-sm-1 offset-md-2",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Solution & Services",
				"href": "/solutions-and-services"
			},
			{
				"label": "Office Solutions",
				"href": "/solutions-and-services/office-solutions"
			},
			{
				"label": "Print Management Solutions"
			}
		],
		banner: {
			title: "Print Management Solutions",
			image: "images/content/banners/solutions.jpg"
		},
		quicklinks: [
			{
				label: "Engage",
				target: "#content1"
			},
			{
				label: "MPS Provider",
				target: "#content2"
			},
			{
				label: "Our Services",
				target: "#content3"
			},
			{
				label: "Related Pages",
				target: "#content4"
			}
		],
		aside: {
			__class: "col-sm-10 offset-sm-1 col-md-2 offset-md-0",
			asideNav: {
				__class: "aside-navigation",
				label: "Office Solutions",
				link: "#",
				nav: [
					{
						label: "Print Management Solutions",
						link: "/solutions-and-services/office-solutions/print-management-solutions/",
						active: 'active'
					},
					{
						label: "Document Security Solutions",
						link: "#"
					},
					{
						label: "Office Automation Solutions",
						link: "/solutions-and-services/office-solutions/office-automation-solutions/"
					},
					{
						label: "Content Management Solutions",
						link: "#"
					},
					{
						label: "Cloud & Mobility Solutions",
						link: "#"
					},
					{
						label: "Document Security Solutions",
						link: "#"
					}

				]
			}

		}
	})
		+section
			a#content1.anchor-link(data-label = "Engage")
			h2 Engage our expertise and find more time to concentrate on your business.

			p Fuji Xerox Managed Print Services (MPS) is a suite of software, solutions, services and strategies that is customised to meet the different needs of each organisation, helping companies achieve significant cost savings and improve process efficiency.

			h3 Managed Print Services - Government
			img(src = "/images/articles/MPS.png" alt = "MPS")
			p Analyse the organisation's printing usage and optimise the document workflow.

			h3 Enterprise Print Services
			img(src = "/images/articles/EPS.png" alt = "EPS")
			p Increase flexibility and mobility througbh mobile and remote printing.

			h3 Xerox Print Services
			img(src = "/images/articles/XPS.png" alt = "XPS")
			p Reduce cost of printing and enhance security of confidential and sensitive documents.

		+section
			a#content3.anchor-link(data-label = "MPS Provider")
			h2 MPS Provider

			p When you choose Fuji Xerox as your MPS provider, we will give you comprehensive assistance to benefit your overall productivity, reduce ongoing costs and improve your processes. Our experienced team will assist you by organising content, assuring incremental savings and maximising efficiency. With a combination of advanced technology, process management and skilled staff, we will lead your business to holistic improvements. Benefits we offer include:

			ul
				li Reduce costs
				li More efficient workflow
				li Improved productivity
				li Higher performance across numerous operations
				li Expanded security

		+section
			a#content3.anchor-link(data-label = "Our Services")
			h2 Our Services

			p We will begin by evaluating your environment, document infrastructure and your workflows. After getting an idea of your current print spending, we will chart out a path for your future operations. Our experts will help in connecting all operations to your IT environment in a secure manner. We will proceed to offer solutions for secure processes and undertake management of your servers and printing queues. After an appropriate review and analysis, we will put our best foot forward in helping you with your managed printing services in Singapore while improving productivity.

			p If you would like to find out more, get in touch with our team and we will gladly provide you with any information you need.

		+section({__class: "related-pages"})
			a#content4.anchor-link(data-label = "Related Pages")

			h3 Related Pages

			+related-pages({
				relatedPages: [
					{
						title: "Customer Communication Management (CCM) Solutions",
						link: "#",
						category: "Production Solutions"
					},
					{
						title: "Color Management Solutions & Services",
						link: "#",
						category: "Production Solutions"
					}
				]
			})


