// tab-carousel styles
.tab-carousel {
	&__tabs {
		ul {
			@extend %list-unstyled;
			@extend %clearfix;
		}

		li {
			float: left;
			width: auto;
			min-width: 25%;
			text-align: center;
			cursor: pointer;

			&.active {
				a {
					background-color: $red;
					color: #fff;
				}
			}
		}

		a {
			text-decoration: none;
			display: block;
			padding: 5px 0;
			background-color: $border;
			color: #000;
			font-weight: 400;
			font-size: calc-em(20px);

			&:hover {
				text-decoration: none;
			}
		}

		// background-color: $border;

		// ul {
		// 	@extend %list-unstyled;
		// 	@extend %clearfix;
		// }

		// li {
		// 	position: relative;
		// 	float: left;
		// 	text-align: center;
		// 	cursor: pointer;
		// 	height: 100%;
		// 	min-width: 15%;

		// 	&:after {
		// 		transform: translate(0,-50%);
		// 		background: $border3;
		// 		position: absolute;
		// 		top: 50%;
		// 		right: 0;
		// 		display: block;
		// 		width: 1px;
		// 		height: 45%;
		// 		content: "";
		// 	}

		// 	&.active {
		// 		// background-color: $red;
		// 		&:after {
		// 			display: none;
		// 		}

		// 		a {
		// 			background-color: $red;
		// 			color: #fff;
		// 		}
		// 	}

		// 	&:last-child {
		// 		&:after {
		// 			display: none;
		// 		}
		// 	}
		// }

		// a {
		// 	display: block;
		// 	text-decoration: none;
		// 	padding: 15px;
		// 	background-color: $border;
		// 	color: #000;
		// 	font-size: calc-em(20px);
		// }
	}

	&__contents {
		margin: 25px 0;
		min-height: 250px;
		text-align: center;
	}

	.tabbed-carousel {
		display: inline-block;
		width: 80%;
	}
}
