mixin tab-carousel(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.tab-carousel
		.tablet-desktop
			.tab-wrapper
				.tab-wrapper__tabs.tab-carousel__tabs
					ul
						if spec.index == "1"
							li.active
								a.tab-controller(href="#contentA1") Dummy Text A1
							li
								a.tab-controller(href="#contentB1") Dummy Dummy Text B1
							li
								a.tab-controller(href="#contentC1") Dummy Dummy Text C1
						else
							li.active
								a.tab-controller(href="#contentA2") Dummy Text A2
							li
								a.tab-controller(href="#contentB2") Dummy Dummy Text B2
							li
								a.tab-controller(href="#contentC2") Dummy Dummy Text C2

				.tab-wrapper__contents.tab-carousel__contents
					if spec.index == "1"
						#contentA1.active
							.tabbed-carousel.column-row
								.tabbed-carousel__dots
								.tabbed-carousel__items
									each first in spec.data.contentA
										+image-text-item(first)

						#contentB1
							.tabbed-carousel.column-row
								.tabbed-carousel__dots
								.tabbed-carousel__items
									each second in spec.data.contentB
										+image-text-item(second)

						#contentC1
							.tabbed-carousel.column-row
								.tabbed-carousel__dots
								.tabbed-carousel__items
									each first in spec.data.contentA
										+image-text-item(first)

					else
						#contentA2.active
							.tabbed-carousel.column-row
								.tabbed-carousel__dots
								.tabbed-carousel__items
									each first in spec.data.contentA
										+image-text-item(first)

						#contentB2
							.tabbed-carousel.column-row
								.tabbed-carousel__dots
								.tabbed-carousel__items
									each second in spec.data.contentB
										+image-text-item(second)

						#contentC2
							.tabbed-carousel.column-row
								.tabbed-carousel__dots
								.tabbed-carousel__items
									each first in spec.data.contentA
										+image-text-item(first)

		.mobile-only
			.accordion.tab-carousel__accordion
				button.accordion-controller(type="button") A
				.accordion__content
					.tabbed-carousel.column-row
						.tabbed-carousel__dots
						.tabbed-carousel__items
							each first in spec.data.contentA
								+image-text-item(first)

			.accordion.tab-carousel__accordion
				button.accordion-controller(type="button") B
				.accordion__content
					.tabbed-carousel.column-row
						.tabbed-carousel__dots
						.tabbed-carousel__items
							each second in spec.data.contentB
								+image-text-item(second)

			.accordion.tab-carousel__accordion
				button.accordion-controller(type="button") C
				.accordion__content
					.tabbed-carousel.column-row
						.tabbed-carousel__dots
						.tabbed-carousel__items
							each first in spec.data.contentA
								+image-text-item(first)
