extends ../_layouts/base

include ../_modules/molecules/section/section
include ../_modules/templates/article/article
include ../_modules/organisms/featured-linkboxs/featured-linkboxs

include ../_modules/organisms/related-pages/related-pages

//- Configuration
block config
	- var baseUrl = '../'
	- var pageTitle = 'Fuji Xerox | Contact'
	- var parent = 4

block content
	+article({
		contentClass: "wide",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Contact"
			}
		],
		banner: {
			title: "Contact",
			text: "Easily reachable, always at your service",
			image: "images/content/banners/solutions.jpg"
		}
	})
		p At Fuji Xerox, we welcome all our customer enquiries. You can reach us through various channels.

		table.stackable
			thead
				tr
					th
					th Call Us
					th Online Forms
				tbody
					tr
						td: strong  For General Matters
						td 6766 8888 <br> &amp; Press '0'
						td
							a(href = "#") Submit Meter Readings
							br
							a(href = "#") Submit Customer Software Training
							br
							a(href = "/contact/customer-feedback") Submit Customer Feedback

					tr
						td: strong  For Technical Support, Toner Ordering and Billing Enquiries
						td 6766 8888 <br> &amp; Press '1'
						td
							a(href = "#") Technical Support
							br
							a(href = "#") Toner Ordering

					tr
						td: strong  For Paper and Office Supplies
						td 6766 8888 <br> &amp; Press '2'
						td
							a(href = "#") Request Pricing

					tr
						td: strong  For Equipment and Software Sales Enquiries
						td 6766 8888 <br> &amp; Press '3'
						td
							a(href = "#") Request Pricing

	+featured-linkboxs({page: "contact"})


