extends ../../../../_layouts/base

include ../../../../_modules/molecules/section/section
include ../../../../_modules/templates/article/article

include ../../../../_modules/organisms/form/form

//- Configuration
block config
	- var baseUrl = '../../../../'
	- var pageTitle = 'Fuji Xerox | DocWorld Conference 2017'
	- var parent = 4

block content
	+article({
	contentClass: "col-sm-10 col-md-8 offset-sm-1 offset-md-0",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Company",
				"href": "/company"
			},
			{
				"label": "Events",
				"href": "/company/events"
			},
			{
				"label": "DocWorld Conference 2017",
				"href": "/company/events/event-details"
			},
			{
				"label": "Register"
			}
		],
		banner: {
			image: "images/content/banners/events.jpg",
			title: "Event Registration",
			text: "This is the event registration page."
		},
		aside: {
			__class: "event-aside col-sm-10 offset-sm-1 col-md-4 offset-md-0",
			asideEvent: {
				link: "#",
				eventDetails: {
					location: "Fuji Xeros Towers, 80 Anson Road #01-01, Singapore 079907",
					duration: {
						time: "0900 to 1800 hours ",
						date: "22 Mar - 23 Mar 2017"
					}
				},
				register: true
			}
		}
	})
		+section({__class: "event-registration"})
			h1 Registration for DocuWorld Conference 2017

			+form({form: "event registration"})
