mixin image-links(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	if spec.type == 'video'
		.link-image
			//- a(data-fancybox data-type="iframe" data-src="/assets/fuji-xerox/videos/innovation-1200x440_1.mp4")
			a(data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/qtS3rz31KII")
				p=spec.name
				.image-holder
					img(src=spec.image, alt="")
	else if spec.type == 'enquiry'
		.link-image
			a.modalbox(href="#enquiryForm")
				p=spec.name
				.image-holder
					img(src=spec.image, alt="")
	else if spec.type == 'chat'
		.link-image
			a.modalbox(href = "#" onclick="window.open('https://secure.livechatinc.com/licence/2559781/open_chat.cgi?groups=0','newChatWindow','height=520,width=530,top=' + (screen.height / 2 - 260) + ',left=' + (screen.width / 2 - 265) + ',resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');")
				p=spec.name
				.image-holder
					img(src=spec.image, alt="")
	else
		.link-image
			a(href=spec.url)
				p=spec.name
				.image-holder
					img(src=spec.image, alt="")
