// image-links styles
.link-image {
	padding: 10px 12px 0;
	width: 25%;
	text-align: left;
	display: inline-block;

	&.float {
		float: left;
	}

	a {
		text-decoration: none;
		color: #000;

		&:hover { color: $red; }
	}

	p {
		display: inline-block;
		position: relative;
		font-size: calc-em(22px);
		margin: 0 0 10px;

		&:after {
			transform: translate(0,-50%);
			font-family: Arial;
			font-size: 90%;
			text-decoration: none;
			color: $red;
			position: absolute;
			top: 50%;
			right: -20px;
			display: inline-block;
			content: "\0000a0\276F";
		}
	}

	.image-holder {
		position: relative;
		padding-top: 100%;
		background-color: $red;

		img {
			@include image-cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

}

@media only screen and (max-width: $bpTablet - 1){
	.link-image {
		width: calc(50% - 3px);

		&.float {
			width: 50%;
		}
	}
}

@media only screen and (max-width: $bpDesktop - 1){
	.link-image {
		padding: 10px 10px 0;

		p {
			font-size: calc-em(20px);
		}
	}
}
