// newsroom-wrapper styles
.newsroom-featured {
	overflow: hidden;
	margin-bottom: 20px;
}

.newsroom .column-row:first-child {
	.panel-item {
		&:first-child {
			.panel-item__text {
				background-color: $red;
				color: #fff;
			}

			a { background-color: $red; }

			&:hover {
				a { background-color: $red-hover; }

				.panel-item__text {
					background-color: $red-hover;
				}
			}
		}
	}
}

.newsroom-listing {
	@extend %clearfix;
	text-align: center;

	.loader { text-align: center; }
}

.newsroom-load-more {
	width: 100%;
	text-align: center;
}

.news-list {
	text-align: left;

	li {
		a {
			color: $red;

			&:hover {
				text-decoration: underline;
			}
		}

		.date {
			display: inline-block;
			width: 120px;
		}
	}

	.no-result {
		display: none;
	}
}

.newsroom-listing__sort-result {
	margin-bottom: 0;
}

.newsroom-listing__sort-result .dropdown-copy {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	float: none;
}

@media only screen and (max-width: $bpTablet - 1) {
	.newsroom-listing__sort-result .right {
		float: none;
		padding: 0 6px;
		text-align: left;
	}

	.news-list .news-results {
		margin-bottom: 15px;
	}
}

@media only screen and (min-width: $bpTablet) {
	.newsroom-listing__sort-result .right {
		padding: 0 6px;
	}
}
