mixin newsroom-wrapper(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	h1 Newsroom
	.newsroom
		//Newsroom Featured
		.newsroom-featured
			.column-row
				each firstrow in newsData.firstrow
					+panel-item(firstrow)
			.column-row
				+newsroom-blog-item()

				each secondrow in newsData.secondrow
					+panel-item(secondrow)


		//Newsroom listing
		.newsroom-listing.column-row(data-corporate="/assets/fuji-xerox/api/news.json" data-standard="/assets/fuji-xerox/api/news.json")
			.newsroom-listing__sort-result
				.right
					label Show news from
					select.custom-select
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014
			section.news-list.corporate-news.col-sm-6(data-category='1')
				h2 Corporate News
				// Dynamic List Content (rr.newsroom.js)
				ul.news-results
				.loader
					.loader-animation(style='display: inline-block;')
						.inner
						.inner
						.inner
				a.button.load-more.js-load-more.mobile-only(href='#') Load More
				ul
					li.no-result No more news
			section.news-list.standard-news.col-sm-6(data-category='2')
				h2 News
				// Dynamic List Content (rr.newsroom.js)
				ul.news-results
				.loader
					.loader-animation(style='display: inline-block;')
						.inner
						.inner
						.inner
				a.button.load-more.js-load-more.mobile-only(href='#') Load More
				ul
					li.no-result No more news
					ul
		.newsroom-load-more
			a.button.load-more.js-load-all.tablet-desktop(href='#') Load More

		//- 	<section class="news-list corporate-news col-sm-6" data-category="1">
		//- 		<h2>Corporate News</h2>

		//- 		<!-- Dynamic List Content (rr.newsroom.js)-->
		//- 		<ul class="news-results"></ul>

		//- 		<div class="loader">
		//- 			<div class="loader-animation" style="display: inline-block;">
		//- 				<div class="inner"></div>
		//- 				<div class="inner"></div>
		//- 				<div class="inner"></div>
		//- 			</div>
		//- 		</div>
		//- 		<a class="button load-more js-load-more mobile-only" href="#">Load More</a>
		//- 		<ul>
		//- 			<li class = "no-result">No more news</li>
		//- 		</ul>
		//- 	</section>

		//- 	<section class="news-list standard-news col-sm-6" data-category="2">
		//- 		<h2>News</h2>

		//- 		<!-- Dynamic List Content (rr.newsroom.js)-->
		//- 		<ul class="news-results"></ul>

		//- 		<div class="loader">
		//- 			<div class="loader-animation" style="display: inline-block;">
		//- 				<div class="inner"></div>
		//- 				<div class="inner"></div>
		//- 				<div class="inner"></div>
		//- 			</div>
		//- 		</div>
		//- 		<a class="button load-more js-load-more mobile-only" href="#">Load More</a>
		//- 		<ul>
		//- 			<li class = "no-result">No more news</li>
		//- 		<ul>
		//- 	</section>
		//- <div class="newsroom-load-more">
		//- 	<a class="button load-more js-load-all tablet-desktop" href="#">Load More</a>
		//- </div>
		//End: Newsroom listing

		script#results-template(type="text/x-dot-template").
			{{~ it.news:item}}
				<li itemscope itemtype="http://schema.org/Article">
					<span class="date">{{=item.date}}</span>
					<h3 itemprop="name"><a itemprop="url" href = "{{=item.url}}">{{=item.title}}</a></h3>
				</li>
			{{~}}
