extends _layouts/base

include _modules/templates/homepage/homepage

//- Configuration
block config
	- var baseUrl = config.baseUrl || './'
	- var pageTitle = 'Fuji Xerox'
	- var parent = 0
	- var isHome = true

block content
	+homepage({
		carousel: {
			type : "homepage",
			slides: site.data.carousel.homepage
		}
	})


