extends ../_templates/aside

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Promotion Details'
	- pageDescription = 'This is the promotion details page of Fuji Xerox'
	- pageData = site.data.bannerTabs

block PageBanner
	+hero-banner(pageData.banner)

block PageContent
	+section({__class: "promotion-details"})
		+rte()
			h1 Level 1 Header
			h2 Level 2 Header
			p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
			p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
			p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text

			+button({
				"label": "View All Promotion",
				"url": "#"
			})

	//- +section({
	//- 	"__class": "promotion-form"
	//- })
	//- 	+new-wffm-form({
	//- 		"title": "Level 2 Header",
	//- 		"text": "<p>Dummy Text Dummy Text <em>Emphasis</em> Dummy Text <strong> Stronger Emphasis</strong> Dummy Text Dummy Text Dummy</p>",
	//- 	})
	//- 		+singleLineText({
	//- 			"label": "Dummy Text",
	//- 			"required": true
	//- 		})

	//- 		+singleLineText({
	//- 			"label": "Dummy Text",
	//- 			"required": true
	//- 		})

	//- 		+singleLineText({
	//- 			"label": "Dummy Text",
	//- 			"required": true
	//- 		})

	//- 		+singleLineText({
	//- 			"label": "Dummy Text",
	//- 			"required": true
	//- 		})

	//- 		+singleLineText({
	//- 			"label": "Dummy Text",
	//- 			"required": true
	//- 		})

	//- 		+selectDropdown({
	//- 			"label": "Dummy Text",
	//- 			"required": true,
	//- 			"options": [
	//- 				{
	//- 					"value": "Option 1",
	//- 					"name": "Option 1"
	//- 				},
	//- 				{
	//- 					"value": "Option 2",
	//- 					"name": "Option 2"
	//- 				}
	//- 			]
	//- 		})

	//- 		+multiLineText({
	//- 			"label": "Dummy Text",
	//- 			"required": true
	//- 		})

	//- 		+formSubmit({
	//- 			"label": "Submit"
	//- 		})
block PageAside
	aside.layout-side
		+section({
			"__class": "promotion-form"
		})
			+new-wffm-form({
				"title": "Level 2 Header",
				"text": "<p>Dummy Text Dummy Text <em>Emphasis</em> Dummy Text <strong> Stronger Emphasis</strong> Dummy Text Dummy Text Dummy</p>",
			})
				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+selectDropdown({
					"label": "Dummy Text",
					"required": true,
					"options": [
						{
							"value": "Option 1",
							"name": "Option 1"
						},
						{
							"value": "Option 2",
							"name": "Option 2"
						}
					]
				})

				+multiLineText({
					"label": "Dummy Text",
					"required": true
				})

				+formSubmit({
					"label": "Submit"
				})

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This page url"
		}
