.sitemap__mega-menu-section {
	h2 {
		display: block;
		border-bottom: 1px solid $grey-1;
		padding-bottom: 5px;

		a {
			&:hover, &:focus {
				text-decoration: underline;
				color: $darkgrey-1;
			}
		}
	}

	a {
		text-decoration: none;
		color: $body-text;
	}
}

.sitemap__mega-menu-links {
	> li {
		margin-bottom: 25px;

		li {
			margin-bottom: 5px;

			a {
				display: block;
				position: relative;
				padding-left: 12px;
				word-wrap: break-word;
				line-height: 1.2;
				font-size: calc-em(14px);

				&:before {
					@include icomoon('\f105', #333);
					position: absolute;
					left: 0;
					top: 2px;
					font-size: 16px;
				}
			}
		}

		a {
			color: $blue-1;

			&:hover {
				text-decoration: underline;
			}
		}

		> a {
			position: relative;
			display: inline-block;
			color: $body-text;
			font-weight: bold;
			margin-bottom: 10px;
			padding-left: 12px;

			&:before {
				display: block;
				position: absolute;
				content: '';
				left: 0;
				top: 8px;
				width: 5px;
				height: 5px;
				background-color: $blue-1;
			}
		}
	}
}

.sitemap__mega-menu-links--lvl3 {
	padding-right: 20px;
}
