// section styles
.section {
	@extend %clearfix;
	margin-bottom: 25px;
	border-top: 1px solid $grey-3;

	&:first-of-type {
		border-top: 0;
		padding-top: 0;
	}

	&.featured-linkboxs  { border-top: 0; }

	&.center {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;

		@media only screen and (min-width: $sm-breakpoint) {
			max-width: 80%;
		}
	}
}

/**
 * Video Section
 */
.video-box, .testimony-box {
	position: relative;
	padding: 0;
	margin-top: 25px;
	border-top: 0;

	&:before {
		position: absolute;
		content: '';
		display: block;
		height: 1px;
		background-color: $grey-3;
		left: 0;
		right: 0;
		top: -25px;

		@media only screen and (min-width: $sm-breakpoint) {
			left: 100% / 12 * 2;
			right: 100% / 12 * 2;
		}
	}
}

.video-box { background-color: $grey-2; }

.video-box__desc {
	padding: 20px 30px;

	h2 { margin-top: 0; }
}


.video-box__yt-embed {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	height: 0;

	iframe {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/**
 * Testimony Section
 */
.testimony-box__image {
	img {
		display: block;
		width: 100%;
	}
}

.testimony-box__quote {
	padding: 0 8px;

	blockquote {
		margin-top: 0;
	}

	.testimony-content {
		line-height: 1.4;
		font-style: italic;
		color: $darkgrey-2;
		margin: 0 0 16px;

		p {
			margin: 0;
		}
	}

	footer {
		display: block;
		font-weight: bold;
		line-height: 1.4;

		&:before {
			content: '';
			display: block;
			width: 30px;
			height: 1px;
			background-color: #000;
			margin-bottom: 16px;
		}
	}
}


/**
 * Resources
 */
.resources {
	margin-top: 20px;
}

.resources__block {
	position: relative;
	padding: 0 0 20px;

	dt {
		float: left;
		margin-right: 5px;
		color: $darkgrey-1;
	}

	dd {
		clear: right;
		font-style: italic;
		margin: 0;
	}
}

.article-content .resources__block {
	h3 {
		margin-bottom: 0;
	}
}

.resources__block__download-btn {
	display: inline-block;
	border: 2px solid $blue-1;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	font-size: 34px;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		background-color: $blue-1;

		i { color: #fff; }
	}
}

/**
 * Event Agenda (career-detail page table added)
 */
.career-detail-overview,
.event-agenda__day-table {
	table {
		width: 100%;
	}

	td {
		h3, h4 { margin-top: 0; }
	}
}

/**
 * Event detail page overview
 */
.event-overview, .event-registration {
	margin-top: 24px;

	h1 {
		margin-top: 0;
		font-size: calc-em(24px);
	}
}

/**
 * Event details actions(career-detail-actions added)
 */
.career-details-actions,
.event-details-actions {
	@media only screen and (min-width: $md-breakpoint){
		width: 960px;
	}
	padding-top: 35px;
	text-align: center;

	a {
		margin: 0 5px;
	}

	.btn-orange { padding: 9px 8px; font-size: calc-em(16px); }
	.btn-orange--inverse { padding: 7px 8px; font-size: calc-em(16px); }
}

.career-details-actions {
	border-top: none;
	padding-top: 0;
	.btn-orange, .btn-orange--inverse {
		width: 110px;
	}
}

/**
 * Product Introduction
 */
.product-introduction {

	.label {
		font-size: calc-em(12px);
		position: relative;
		left: 0;
		top: 12px;
	}

	.desc {	position: relative; }

	.contact-link {
		font-size: calc-em(12px);

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	.image {
		position: relative;
		padding-top: 1.5em;

		img { max-width: 100%; }
	}
}

/**
 * Related Products
 */
.related-products {
	@extend %clearfix;
}

.related-products__block {
	position: relative;
	border: 1px solid $grey-1;
	padding: 10px;
	font-size: calc-em(12px);
	margin: 0 auto 10px;
	max-width: 300px;

	.label {
		margin: 0 0 10px;
		top: -8px;
		left: 10px;
	}

	h3 {
		display: block;
		word-wrap: break-word;
		min-height: 75px;
		border-bottom: 1px solid $grey-1;
		padding-bottom: 15px;
	}

	p { font-size: cal-em(12px); }

	a {
		color: $body-text;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.thumbnail {
		text-align: center;
	}

	img {
		display: inline-block;
		max-width: 100%;
	}
}


.article-content .related-products__block li {
	padding-left: 0;
	margin-bottom: auto;
	line-height: inherit;

	&:before {
		display: none;
	}
}


/**
 * Career-details
 */

 .career-detail-overview {
 	.job-listing-dates {
 		position: relative;
 		top: -15px;
 		display: inline-block;
 		width: 100%;
	 	font-size: calc-em(14px);

 	}

 	.job-at-a-glance {
 		margin-bottom: 0;
	 	thead {
	 		display: none;
	 	}
	 	tr {
	 		background-color: $grey-1;
	 		border-bottom: 1px solid #fff;
	 		font-size: calc-em(12px, 14px);
	 		td {
	 			padding: 8px;
	 		}

	 		td:first-child {
	 			background-color: $blue-1;
	 			color: #fff;
			}
	 	}
 	}


 	p {
 		position: relative;
 		top: -10px;
 	}
 }


 /**
 * Success Stories Landing
 */

 .success-landing-intro {
 	margin-top: 25px;
 	& .intro-text {
 		width: 100%;
 		padding: 0 10px;
 		margin-bottom: 0;
 		margin: 0 auto 0;
 		@media only screen and (min-width: $sm-breakpoint) {
			max-width: 80%;
		}
 	}
 }


@media only screen and (min-width:  600px) {

	.related-products__block {
		width: 32%;
		float: left;
		margin-right: 2%;

		&:nth-child(3n + 3) { margin-right: 0; }
	}
}

@media only screen and (min-width: $sm-breakpoint), print {

	.related-pages {
		@include clearfix();
	}

	.related-pages__block {
		width: 48.5%;
		float: left;
		margin-right: 3%;

		&:nth-child(2n + 2) {
			margin-right: 0;
		}
	}

}

@media only screen and (min-width: $sm-breakpoint), print {

	.resources__block__download-btn {
		position: absolute;
		right: 0;
		top: 15px;
	}
	.event-details-actions {
		.btn-orange, .btn-orange--inverse {
			padding-right: 18px;
			padding-left: 18px;
		}
	}
	.career-detail-overview {
	 	.job-listing-dates {
 			padding-right: 45px;
	 		display: inline;
	 		font-size: 1em;
	 	}

	 	.job-at-a-glance {
	 		margin-bottom: 0;
		 	thead {
		 		display: table-header-group;
		 	}
		 	tr {
		 		background-color: #fff;
		 		border-bottom: none;
		 		font-size: calc-em(14px, 14px);
		 		td {
		 			padding: 15px;
		 		}

		 		td:first-child {
		 			color: #000;
		 			width: 225px;
		 			background-color: #fff;
				}
		 	}
		 	tr:nth-child(odd) {
		 		background-color: $grey-1;
		 		td:first-child {
		 			background-color: $grey-1;
		 		}
		 	}
	 	}
	}

	.career-details-actions {
		.btn-orange, .btn-orange--inverse {
			width: 170px;
		}
	}
}

@media only screen and (min-width: $md-breakpoint), print {
	.video-box__yt-wrapper {
		float: right;
		width: 65%;
	}

	.video-box__desc {
		float: left;
		width: 35%;

		h2 {
			margin-top: 25px;
		}
	}
}
