//- Wrap chunks of content in section block that can be inserted ad-hoc
mixin section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.section(class=spec.__class)&attributes(attributes)
    block
