mixin insight-component(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.insight
		.insight__header
			//- .insight__header--bg
			//- 	img(src="/assets/fuji-xerox/images/solutions_hero.jpg", alt="")
			.insight__header--text
				h1 Insight
				p Dummy Text Dummy Text
					br
					| Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
		.insight__filter
			.insights-filter(data-endpoint="/assets/fuji-xerox/api/insight-map.json")
				.filter-item
					select#categoryFilter(name="category" data-label="Select Category")
						option Select Category
						option(value="C1") Category 1
						option(value="C2") Category 2
						option(value="C3") Category 3
						option(value="C4") Category 4
						option(value="C5") Category 5

				.filter-item
					select#typeFilter(name="type" data-label="Select Type")
						option Select Type
						option(value="T1") Type 1
						option(value="T2") Type 2
						option(value="T3") Type 3
						option(value="T4") Type 4
						option(value="T5") Type 5

				.filter-item.filter-item--reset
					button(type="button" value="").btn-reset
						span Reset

				.filter-item.filter-item--view
					button(type="button" value="" data-view="grid").btn-grid.active
						span Grid View
					button(type="button" value="" data-view="list").btn-list
						span List View
		.insight__content.content-holder(data-endpoint="/assets/fuji-xerox/api/insights.json")
			.column-row
				//- each solution in spec
				//- 	+card-tiles(solution)
			button.show-more
				span Show More

		script(type="text/x-dot-template", id="dotInsightTemplate").
			{{~it :insights:index}}
				<div class="card-tiles result col-sm-6 col-md-4" itemscope itemtype="http://schema.org/Article">
					<a href="{{!insights.url}}" itemprop="url">
						{{? insights.image}}
							<div class="card-tiles__image">
						  		<div class="overlay"></div><img src="{{!insights.image}}" alt="" itemprop="thumbnailUrl">
							</div>
						{{?}}
						<div class="card-tiles__text">
					  		<h3 itemprop="name">{{!insights.title}}</h3>
					  		<p itemprop="description">{{!insights.text}}</p>
					  		<div class="meta"><span class="category">{{!insights.category}}</span><span class="date">{{!insights.date}}</span></div>
						</div>
					</a>
				</div>
			{{~}}
