// side-nav styles
.side-nav {
	padding: 20px 0;
	margin: 0 0 20px;
	border-top: 1px solid $border3;
	border-bottom: 1px solid $border3;

	h3 {
		font-size: calc-em(20px);
		font-weight: 400;
		margin: 0 0 10px;
		padding: 0;
	}

	ul { @extend %list-unstyled; }

	a {
		text-decoration: none;
		color: $red;
		line-height: 1.875;
		display: block;
		padding: 5px 0;

		&:hover {
			text-decoration: underline;
		}
	}
}
