mixin 1-col-layout(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	// START: 1 Column Layout
	<!--[if mso | IE]>
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="640" align="center" style="width: 640px;">
	<tr>
	<td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
	<![endif]-->
	div(style='margin: 0px auto; max-width: 640px; background-color: #ffffff;')
		table(role='presentation', cellpadding='0', cellspacing='0', border='0', width='100%', bgcolor='#ffffff', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-collapse: collapse;', align='center')
			tbody
				tr
					td.one-col-padding(width='100%', style='padding: 15px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;border-collapse: collapse;')
						table(cellpadding='0', cellspacing='0', border='0', width='100%', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;border-collapse: collapse;')
							tbody
								tr
									th.one-col-title(width='100%', style='color: #101010; cursor: auto; font-family: Arial, sans-serif; font-size: 18px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;', align='left')
										h1(style='display: block; margin: 0; text-align: left; color: #101010; font-weight: 700; font-size: 18px;') H1: Arial 18pt, Lorem ipsum consectetur adipiscing elit
								tr
									td.one-col-item-padding(width='100%', style='color: #101010; cursor: auto; font-family: Arial, sans-serif; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding-bottom: 15px;', align='left')
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										ul
											li Consectetur adipiscing elit
											li Ded do eiusmod tempor
											li Exercitation ullamco

										p Ut sit amet nibh hendrerit, maximus nisl at, iaculis sapien. Curabitur neque nibh, suscipit eget euismod ac, tincidunt sit amet nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam mattis suscipit aliquet. Proin tincidunt libero gravida nunc egestas fringilla.
								tr
									td.one-col-item-padding(width='100%', style='color: #101010; cursor: auto; font-family: Arial, sans-serif; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;', align='left')
										p.one-col-item-link(style='display: block; margin: 0; text-align: left; color: #d92231; font-family: Arial, sans-serif;padding:0;')
											a(href='https://www.fujixerox.com.sg/en', style='color: #d92231; font-size: 12px; line-height: 16px; text-decoration: none;') Learn More >


	<!--[if mso | IE]>
	</td>
	</tr>
	</table>
	<![endif]-->
	// END: 1 Column Layout
