mixin agenda(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.event-agenda__header
		.day-toggle
			a.day-1.active(href = "#") Day 1
			a.day-2(href = "#") Day 2

		a.btn-orange(href = "/PDFsamples/testPDF.pdf" download) Download Agenda <i class = "icon-file-pdf-o"></i>

	.event-agenda__tables
		block

	.event-agenda__header
		.day-toggle
			a.day-1.active(href = "#") Day 1
			a.day-2(href = "#") Day 2