// agenda styles
.event-agenda__header {
	@extend %clearfix;

	.day-toggle {
		width: auto;

		@media only screen and (min-width: $xs-breakpoint) {
			float: left;
		}

		a {
			margin-right: 5px;

			&.active {
				color: #fff;
				background-color: $blue-1;
			}
		}
	}

	.btn-orange {
		margin-top: 10px;

		@media only screen and (min-width: $xs-breakpoint) {
			float: right;
			margin-top: auto;
		}
	}
}


.event-agenda__day-table {
	display: none;

	&:first-child {
		display: block;
	}

	// th:first-child {
	// 	width: 70px;
	// 	@media only screen and (min-width: $md-breakpoint) {
	// 		width: 81px;
	// 	}
	// }

	.js-synopsis-toggle {
		text-decoration: none;
		color: $orange-2;
		font-weight: bold;
		display: block;

		&:before {
			@include icomoon('\e90c');
			position: relative;
			top: 1px;
			margin-right: 2px;
		}

		&.visible {
			&:before {
				content: '\e90b';
			}
		}
	}
}
