@media only screen and (min-width: $sm-breakpoint) {
	/**
	 * Dates
	 */
	.scfDateSelectorYear,
	.scfDateSelectorMonth,
	.scfDateSelectorDay {
		width: 32.7%;
	}

	.scfDateSelectorDay {
		margin-right: 0;
	}


	.scfSectionContent .scfDateSelectorShortLabelYear,
	.scfSectionContent .scfDateSelectorShortLabelMonth,
	.scfSectionContent .scfDateSelectorShortLabelDay {
		width: 31.8%;
	}
}
