extends ../../../_layouts/base

include ../../../_modules/molecules/section/section
include ../../../_modules/templates/article/article

include ../../../_modules/organisms/related-pages/related-pages
include ../../../_modules/organisms/accordion/accordion

//- Configuration
block config
	- var baseUrl = '../../../'
	- var pageTitle = 'Fuji Xerox | Office Automation Solutions'
	- var parent = 1

block content
	+article({
		contentClass: "col-sm-10 col-md-8 offset-sm-1 offset-md-2",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Solution & Services",
				"href": "/solutions-and-services"
			},
			{
				"label": "Office Solutions",
				"href": "/solutions-and-services/office-solutions"
			},
			{
				"label": "Office Automation Solutions"
			}
		],
		banner: {
			title: "Office Automation Solutions",
			image: "images/content/banners/solutions.jpg"
		},
		quicklinks: [
			{
				label: "Soutions",
				target: "#content1"
			},
			{
				label: "Partnership",
				target: "#content2"
			},
			{
				label: "Case Study",
				target: "#content3"
			},
			{
				label: "Related Pages",
				target: "#content4"
			}
		],
		aside: {
			__class: "col-sm-10 offset-sm-1 col-md-2 offset-md-0",
			asideNav: {
				__class: "aside-navigation",
				label: "Office Solutions",
				link: "#",
				nav: [
					{
						label: "Print Management Solutions",
						link: "/solutions-and-services/office-solutions/print-management-solutions/"
					},
					{
						label: "Document Security Solutions",
						link: "#"
					},
					{
						label: "Office Automation Solutions",
						link: "/solutions-and-services/office-solutions/office-automation-solutions/",
						active: 'active'
					},
					{
						label: "Content Management Solutions",
						link: "#"
					},
					{
						label: "Cloud & Mobility Solutions",
						link: "#"
					},
					{
						label: "Document Security Solutions",
						link: "#"
					}

				]
			}

		}
	})
		+section
			a#content1.anchor-link(data-label = "Soutions")
			h2 Office Operations Solutions

			p Understanding that each industry has its own needs, Fuji Xerox provides business and industry-centric solutions to facilitate the smooth running of your businesses.

			p For <a href="#">Enterprises</a>, we provide solutions to automate your document processes of Accounts Payables, Receivables, Sales Orders and more, regardless if you are on a SAP platform or looking for a cloud solution. If you are in the Healthcare industry, Fuji Xerox provides an integrated solution to manage your bed turnaround, hospital facilities, meal ordering systems and other solutions through mobility.

			p For <a href="#">SMEs</a>, we are able to help you streamline your most fundamental yet critical processes of accounting and inventory management, ensuring that finances are accurate and accounted for. To enable quick and easy access to your business-critical information, a Document Management Solution for SMEs would help you to consolidate your physical and electronic documents.

			p We work with the industry's technology leaders to provide the best breed of solutions and services to meet all your business information management needs.

		+section({__class: "accordion-widget"})
			a#content2.anchor-link(data-label = "Partnership")
			h2 Partnership

			+accordion
				.accordion-widget__block
					h3.accordion-widget__block-title Imagine
					.accordion-widget__block-content
						.row-col-12
							.description-text
								p Imagine streamlines solutions for business and operations processes, allowing users to leverage on technology to reach operational efficiency.

								h4 aBzB

								p aBzB is built on a workflow management system that assists businesses to orchestrate various business and operational functions. The system is quick to model after you dynamic business rules. It facilitates effective planning, execution and co-ordination; driven by constant improvement based on feedback collection and process analysis.

								p aBzB suite of solutions aids your business in terms of:

								ul
									li Accounting and Finance
									li CRM &amp; Sales
									li Human Resource
									li Inventory &amp; Warehousing
									li Project management
									li Document management
									li Training module
									li Business Intelligence
									li Events

								h4 Janison

								p Deliver online learning to your internal and external clients simply and quickly across a variety of platforms and devices with Janison’s Cloud Learning System (CLS).

								p With Janison, you will be able to:

								ul
									li Take control of your learning management and delivery, with our easy-to-use interface
									li Create dynamic, interactive and engaging online content for many different purposes, li out extensive HTML knowledge
									li Quickly create separate sites for a limitless number of clients
									li Access from any device and browser
									li Easily manage and extend the platform’s functionality
									li Work with the best in the industry

				.accordion-widget__block
					h3.accordion-widget__block-title WMD

					.accordion-widget__block-content
						.row-col-12
							.description-text

								p WMD delivers best-practice solutions based on SAP Business Workflow, particularly for DMS projects interfacing with SAP. All solutions are entirely SAP-integrated and take advantage of the SAP infrastructure that you already have in place. Two products from WMD's xSuite for SAP - xFlow Invoice and Interface - are SAP-certified, carrying the designation "powered by SAP NetWeaver".

								h4 WMD x Suite &reg; - Comprehensive Workflow Solutions for Business Processes in SAP Standard

								p WMD xSuite is a generic solution based on SAP Standard and designed to optimise your business processes. xSuite delivers an automated method for mapping your paper-based processes within SAP. It delivers an best-practice approach and solutions that are regularly enhanced by further updates and releases.

								p Click here to view the <a href="#">WMD xSuite&reg;</a> brochure

				.accordion-widget__block
					h3.accordion-widget__block-title Esker

					.accordion-widget__block-content
						.row-col-12
							.description-text

								p Esker is helping organisations eliminate paper and improve business processes with on-demand document automation solutions. Thousands of Esker solutions worldwide enable industry leaders to greatly increase their competitive advantages.

								h4 Document Delivery

								p Send business documents via cloud fax or mail services directly from desktop or enterprise applications. Esker offers both on-demand and on-premise solutions to automate document delivery.

								ul
									li Mail Services
									li Fax Services
									li Fax Servers

								h4 Accounts Receivables Automation

								p Integrating directly with invoicing applications, Esker AR solutions allow companies to automate the delivery and archiving of electronic and paper invoices. Esker AR is the first SaaS (Software as a Service) solution to offer 100% automation of customer invoice delivery.

								h4 Automated Sales Order Processing

								p Esker Sales Order Processing solution automates every phase of sales order processing - from the reception of a customer document to the creation of a corresponding sales order in your ERP system. With the ability to handle any type of incoming order format, the Esker solution makes every order electronic and instantly accessible. Esker offerings include solutions with specific content mappings between the Esker platform and the sales order management module of SAP applications.

								p Click here to view the <a href="#">Eskter On-Demand Solutions</a> brochure.

				.accordion-widget__block
					h3.accordion-widget__block-title AutoCount

					.accordion-widget__block-content
						.row-col-12
							.description-text
								p AutoCount Sdn Bhd develop and deliver quality business software solution, AutoCount Business Suite which comprises of Accounting, Stock Control, Payroll, Point of Sales and Mobile solutions that integrates seamlessly to ensure the smooth running of customer business.

								h4 AutoCount Accounting

								p With its advanced technology such as Microsoft .Net Framework, SQL Server 2005, and internet ready, AutoCount Accounting stands out as one of the best accounting software for today business requirements. Characterized by its easy-to-learn and integrated features, AutoCount Accounting helps to streamline your business operation.

				.accordion-widget__block
					h3.accordion-widget__block-title Wavex

					.accordion-widget__block-content
						.row-col-12
							.description-text

								p Wavex provides state-of-the-art technologies in the RFID and Wireless industry.

								ul
									li RFID Readers
									li RFID Handhelds
									li RFID Accessories
									li RFID Labels/Tags/Cards

				.accordion-widget__block
					h3.accordion-widget__block-title K2

					.accordion-widget__block-content
						.row-col-12
							.description-text

								p Infenion Tech Pte Ltd is an integrated information technology (IT) solutions provider of smart phones application, web-based business solutions and enterprise infrastructure that delivers the best value IT solutions that help our customers achieve better business performance.

								h4 Apple iOS, Google Android and BlackBerry Mobile Application Development

								p Infenion Tech Pte Ltd are experienced in designing and developing software applications for your business needs. We are specialized with mobile solutions, especially Apple iOS (iPhone, iPad &amp; iPod) , Google Android platforms and BlackBerry; not forgotten the know-how of our web-based solutions on both desktop and mobile browsers.

								h4 System Development &amp; Integration (Web/Mobile Application &amp; System Application)

								p Systems integration is all about combining your disparate systems and processes to create one business system that successfully services your customers. Infenion Tech is a full-service Information Technology consulting firm that assists IT professionals in selecting, implementing, and integrating core business technologies within a robust infrastructure.


				.accordion-widget__block
					h3.accordion-widget__block-title Faxcore

					.accordion-widget__block-content
						.row-col-12
							.description-text
								p Built on the Microsoft .NET Framework (3.5 and above) the FaxCore high-performance engine is designed to deliver fax traffic over enterprise networks of any size. FaxCore lets you fax enable the entire organization, locally or globally, plus provides full access for road warriors and employees working from home offices.

								p FaxCore is integrated and is certified for most Microsoft applications including Microsoft SQL Server, Exchange (all versions), SharePoint, Microsoft CRM and Windows Server 2008 without cumbersome connectors or expensive add-ons.


				.accordion-widget__block
					h3.accordion-widget__block-title EF Software

					.accordion-widget__block-content
						.row-col-12
							.description-text

								p EF Software is a solution company that specialise in healthcare support services applications. From the top-down approach of viewing consolidated reports on hospital operations to the management of patients’ meals or beds by nurses or housekeepers, EF Software can aid the healthcare segment in addressing their problems and improve the overall patient’s healthcare experience.

								h4 eBed Turnaround System (eBTS)

								p eBTS is the application in the eMobileCare suite that is designed for the housekeeping department. It is 1 of our most popular and highly sought-after product that had won several awards such as the "TEC Public Service Innovation Award" awarded by Prime Minister's Office in year 2006.

								p This revolutionary system enables hospitals to reduce bed turnover time and maximize resources. It can be integrated with the hospitals' patient information system such as SAP using the HL7 protocol. It is particularly useful for both nursing staffs and housekeepers.

								h4 ePorter

								p ePorter is the application in the eMobileCare suite that is designed for the portering department.

								p It replaces the manual process that required hardcopy requests and faxes which used up a lot of resources like papers and toners. With ePorter, nursing staffs can submit portering services requests online via the web-based interface.

								<h4>eMeal Ordering System (eMOS)

								p eMOS is the applications in the eMobileCare suite that is designed for the food service department.

								p It is designed to auto-retrieve patient data through the integration with patients information system such as SAP and for hospitals to capture patient's daily three meal orders submitted either via the web-based interface used by nursing staffs or the PDA / Smart Phone program used by food service attendants.

								h4 eMedical Record Sheet (eMRS)

								p eMRS is the applications in the eMobileCare suite that is designed for the emergency department.

								p It provided the emergency department a central storage to store all the important information such as the diagnosis and inspection carried out by the doctor and the nurses before transferring the patients to the wards. Through eMRS, all the information starting from which doctor or nurses served the patient and the diagnosis can be retrieved instantaneously from eMRS.

								h4 eLaundry RFID

								p eLaundry is the application in the eMobileCare suite that is designed for the Linen Supply department and their laundry partners.

								p It replaces the manual process of tracking the items that are send for laundry services. With eLaundry, each item movements can be traced and its actual location can be retrieved with a click away. This system is packaged together with the RFID tag and readers for ease of use.

				.accordion-widget__block
					h3.accordion-widget__block-title InspireTech

					.accordion-widget__block-content
						.row-col-12
							.description-text
								p Inspire-Tech's passion lies in creating comprehensive mobile applications, their core competency.

								h4 EasiShare

								p EasiShare is a mobility-enabling solution that allows easy sync and share with team members, in a secure environment. Enterprises and security-minded organisations may now ensure balance between mobility and productivity, while adhering to stringent IT protocol compliance.

								p Users enjoy security and true mobility when collaborating on documents, resulting in greater productivity for enterprises and government organisations.

								p Click to view the <a href="#">EasiShare</a> brochure.



		+section
			a#content3.anchor-link(data-label = "Case Study")
			h2 Construction Case Studies
			h3 Leading Concrete Supplier

			a(href = "#")
				img(src = "/images/articles/case-study.jpg" alt = "Case Study")
				p Fuji Xerox helps Leading Construction Firm Implement Barcode Tracking System

		+section({__class: "related-pages"})
			a#content4.anchor-link(data-label = "Related Pages")

			h3 Related Pages

			+related-pages({
				relatedPages: [
					{
						title: "Customer Communication Management (CCM) Solutions",
						link: "#",
						category: "Production Solutions"
					},
					{
						title: "Color Management Solutions & Services",
						link: "#",
						category: "Production Solutions"
					}
				]
			})