mixin subscribe-form(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//- form.subscribe(action="#")
	//- 	.form-section
	//- 		input.input30(type="text" placeholder="First Name")
	//- 		input.input30(type="text" placeholder="Last Name")
	//- 		input.input50(type="email" placeholder="Email")
	//- 		button(type="submit") Subscribe
	.subscribe-form
		+new-wffm-form()
			+singleLineText({
				"label": "First Name"
			})
			+singleLineText({
				"label": "Last Name"
			})
			+emailInput({
				"label": "Email Name"
			})
			+formSubmit({
				"label": "Subscribe"
			})
