include ../../molecules/breadcrumb/breadcrumb
include ../../molecules/pagination/pagination
include ../../organisms/top-banner/top-banner

mixin newsroom(spec)
	- spec = spec || {}
	- spec.breadcrumb = spec.breadcrumb || {}
	- spec.__class = spec.__class || ''

	+breadcrumb({breadcrumb: spec.breadcrumb})

	if spec.banner
		+top-banner(spec.banner)

	.newsroom(class=spec.__class)&attributes(attributes)
		block

		//Newsroom listing
		.newsroom-listing.listing-content.row-col-12
			.listing-content__sort-result
				.pull-right
					label Show news from
					select.custom-select
						option(value = "2016") 2016
						option(value = "2015") 2015
						option(value = "2014") 2014

			<section class="home-news-list corporate-news col-sm-6 push-right-15" data-category="1">
				<h2>Corporate News</h2>

				<!-- Dynamic List Content (rr.newsroom.js)-->
				<ul class="news-results"></ul>

				<div class="loader">
					<div class="loader-animation" style="display: inline-block;">
						<div class="inner"></div>
						<div class="inner"></div>
						<div class="inner"></div>
					</div>
				</div>

				<div class="more-link visible-xs-block"><a href="#">Load More</a></div>
				<ul>
					<li class = "no-result">No more news</li>
				</ul>
			</section>

			<section class="home-news-list standard-news col-sm-6 push-left-15" data-category="2">
				<h2>News</h2>

				<!-- Dynamic List Content (rr.newsroom.js)-->
				<ul class="news-results"></ul>

				<div class="loader">
					<div class="loader-animation" style="display: inline-block;">
						<div class="inner"></div>
						<div class="inner"></div>
						<div class="inner"></div>
					</div>
				</div>
				<div class="more-link visible-xs-block"><a href="#">Load More</a></div>
				<ul>
					<li class = "no-result">No more news</li>
				<ul>
			</section>
		//End: Newsroom listing

		<div class="more-link load-all-news-btn hidden-xs"><a href="#">Load More</a></div>

		script#results-template(type="text/x-dot-template").
			{{~ it.news:item}}
				<li>
					<h3><a href = "{{=item.url}}">{{=item.title}}</a></h3>
					<span class="date">{{=item.date}}</span>
				</li>
			{{~}}

