// newsroom styles
.newsroom-featured {
	overflow: hidden;
	margin-bottom: 20px;
}

.newsroom-featured__block,
.newsroom-featured__blog-block,
.newsroom-featured__download-block {
	position: relative;

	> a {
		display: block;
		color: $body-text;
		text-decoration: none;
		background: #000;

		&:hover .image {
			opacity: .6;
		}
	}

	.image {
		@include transition(opacity, 200ms, linear);
		overflow: hidden;
		text-align: center;
		-webkit-backface-visibility: inherit;
	}

	img {
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
	}

	.desc {
		background: $grey-3;
		overflow: hidden;
		padding: 0 15px 20px;
	}

	h3 {
		margin: 15px 0 0;
		font-size: calc-em(16px);
		line-height: 1.2;
	}

	.date {
		font-size: calc-em(12px);
		margin-bottom: 15px;
	}

	p { margin-top: 10px; line-height: 1.4; font-size: calc-em(14px); }
}

.newsroom-featured__download-block {

	> a {
		&:hover .image {
			opacity: 1;
		}

		&:hover img {
			opacity: .6;
		}
	}

	p {
		position: relative;
		padding-left: 25px;
		margin-bottom: 0;
	}

	.date {
		padding-left: 25px;
	}

	.icon-download {
		position: absolute;
		left: 0;
		top: 0;
		font-size: calc-em(24px);
	}

	.image {
		padding: 20px 0 0;
		background: $grey-3;
		height: 160px;

		img { @include transition(opacity, 200ms, linear); max-height: 100%; display: block; margin: auto; }
	}
}

.newsroom-featured__block {
	&:nth-child(1), &:nth-child(2) {
		margin-bottom: 10px;
	}

	&.is-video {
		.image {
			position: relative;

			&:before {
				@include icomoon('\e90a', #fff);
				font-size: 42px;
				position: absolute;
				left: 50%;
				top: 50%;
				width: 60px;
				height: 60px;
				line-height: 60px;
				margin: -24px 0 0 -22px;
				text-shadow: 2px 2px 3px #bbb;
				background: rgba(0, 0, 0, .8);
			}
		}
	}
}

.newsroom-featured__blog-block {
	position: relative;

	.desc {
		margin-bottom: 10px;
		background-size: cover;
		background-position: center center;
		color: #fff;

		> div { position: relative; }

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background: rgba(0, 0, 0, .5);
			z-index: 0;
		}
	}
}

.load-all-news-btn {
	text-align: center;
	margin-top: 0;
}

.newsroom-listing {
	.loader { text-align: center; }
}

.no-results {
	display: none;
}

@media only screen and (max-width: $sm-breakpoint - 1) {

	.newsroom-featured__download-block {
		margin-top: 10px;
	}

	.newsroom-featured__blog-block {
		margin-top: 10px;
	}
}

@media only screen and (min-width: $sm-breakpoint) {
	.newsroom-featured {
		>.col-sm-5, >.col-sm-7 {
			position: relative;
		}
	}

	.newsroom-featured__block,
	.newsroom-featured__download-block {
		.desc {
			min-height: 150px;
		}
	}

	.newsroom-featured__blog-block {
		height: 50%;

		.desc {
			position: absolute;
			width: 100%;
			height: 100%;
			// padding-bottom: 100px;
			top: 0;
		}
	}

	.newsroom-featured__block,
	.newsroom-featured__download-block {
		&.highlight-block {
			.image { height: auto; }
		}

		.image {
			height: 160px;
			background-size: cover;
			background-position: center center;
		}
	}
}

@media only screen and (min-width: $md-breakpoint) {
	.newsroom-featured__block,
	.newsroom-featured__download-block {
		.desc {
			min-height: 130px;
		}
	}
}
