mixin quick-links(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.quick-links
		h3 Quick Links
		ul
			li
				a(href="#") Link 1
			li
				a(href="#") Link 2
			li
				a(href="#") Link 3
			li
				a(href="#") Link 4
