// quick-links styles
.quick-links {
	padding: 20px 0;
	margin: 0 0 20px;
	border-top: 1px solid $border3;
	border-bottom: 1px solid $border3;

	h3 {
		font-size: calc-em(20px);
		font-weight: 400;
		margin: 0 0 10px;
		padding: 0;
		line-height: 1.2;
	}

	ul { @extend %list-unstyled; }

	a {
		text-decoration: none;
		color: $red;
		line-height: 1.666666;
		display: block;
		padding: 5px 0;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media only screen and (min-width: $bpDesktop), print{
	.quick-links {
		a {
			line-height: 1.875;
		}
	}
}

@media print {
	.quick-links {
		a {
			color: #000;
		}

		.layout-aside & {
			margin-top: 80px;
		}
	}
}
