// newsroom-blog-item styles
.panel-blog {
	position: relative;
	margin-top: 12px;

	&__image {
		width: 100%;
		height: 100%;

		img {
			@include image-cover;
		}
	}

	&__text {
		position: absolute;
		top: 0;
		color: #fff;
		padding: 24px;

		h3 {
			margin: 0;
		}

		p {
			margin: 0;
		}
	}

	.button {
		&:hover {
			border-color: #fff;
		}
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.panel-blog {
		padding: 0;
	}
}

@media print {
	.panel-blog {
		width: 100%;
	}
}
