mixin newsroom-blog-item(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.panel-blog.match-height.col-sm-3(itemscope itemtype="http://schema.org/Article")
		.panel-blog__image
			img(src="/assets/fuji-xerox/images/969x686.png", alt="", itemprop="thumbnailUrl")
		.panel-blog__text
			h3(itemprop="name") Dummy Text Dummy
			p(itemprop="description") Dummy Text

			+button({
				"label": "Read Blog",
				"url": "#"
			})
