//- Defaults
- var pageTitle = 'Fuji Xerox'


//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'
  - var pageDesc = ''
  - var parent = 0
  - var isHome = false
  - var renderBrands = false
  - var bodyClass = ''
  - var lang = 'vn'

//- Organism
include ../_modules/organisms/site-header/site-header
include ../_modules/organisms/site-footer/site-footer
include ../_modules/organisms/main-navigation/main-navigation
include ../_modules/organisms/modal/modal
include ../_modules/organisms/side-menu/side-menu


doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title=pageTitle
  meta(name='description', content= '')
  meta(name='keywords', content= '')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(rel='stylesheet', href= baseUrl + 'styles/fuji-xerox.css')

body
  +site-header({ishome: isHome})
  +main-navigation

  block content

  +site-footer
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56efd9924678a455"></script>
  +side-menu
  +modal

  block scripts
    script(src= baseUrl + 'scripts/fuji-xerox.js')

</html>
