extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = '404 - Page Not Found'
	- pageDescription = 'This is the solutions and services page of Fuji Xerox'

block content
	.page-not-found
		+breadcrumb()

		div.page-not-found-banner
			.logo
				img(src = "/assets/fuji-xerox/images/logo.gif" alt = "Fuji Xerox")

			p If yuo end up hree, prehpas yup are tpying it worngly.


			p.black-text Let us get you back on track

		ul(class = "page-not-found-links")
			li.col-sm-6
				a(href = "/")
					span.ico: img(src = "/assets/fuji-xerox/images/home-blue.png" alt = "")
					span.label Return to homepage

			li.col-sm-6
				a(href = "#")
					span.ico: img(src = "/assets/fuji-xerox/images/office-imaging-blue.png" alt = "")
					span.label View our full list of products

			li.col-sm-6
				a(href = "#")
					span.ico: img(src = "/assets/fuji-xerox/images/chat-blue.png" alt = "")
					span.label Talk to us on Live Chat

			li.col-sm-6
				a(href = "#")
					span.ico: img(src = "/assets/fuji-xerox/images/cloud-blue.png" alt = "")
					span.label Check out our range of services and solutions
