extends ../_templates/fullwidthpage

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Topics'
	- pageDescription = 'This is the topics page of Fuji Xerox'
	- topicsData = site.data.topics

block FullWidthBanner
	+hero-banner(topicsData.banner)
	//- +nav-tabs-anchor()

block FullWidthContent
	+section()
		a.anchor-link(id="anchor1" data-label="Anchor 1")
		+topic-panels(topicsData.topics)

	+section()
		a.anchor-link(id="anchor2" data-label="Anchor 2")
		+accordion-wrapper(topicsData.accordions)

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "this page url",
		    "mainEntity": {
		    	"@type": "Product",
		    	"name": "Dell UltraSharp 30\" LCD Monitor",
		    	"image": {
			    	"@type": "imageObject",
					"url": "https://www.fujixerox.com.sg/assets/fuji-xerox/images/logo.png"
			    }
		    }
		}
