// alipay-form styles
.alipay-form {
	table {
		width: 100%;
		min-width: 850px;
		font-size: calc-em(14px);

		a {
			color: $red;
		}

		tbody {
			tr {
				background-color: transparent !important;
			}

			th, td {
				border: 1px solid $grey-1;
			}

			.left-column {
				text-align: right;
			}

			.required {
				color: $red;

				span {
					color: #000;
				}
			}

			p {
				position: relative;
				margin: 0 0 10px;
			}

			.help-text {
				display: inline-block;
				margin-left: 10px;
			}
		}

		h3 {
			margin-top: 0;
		}

		.payment {
			strong {
				display: block;
			}
		}
	}

	button {
		line-height: 1.55;
		text-decoration: none;
		color: #fff;
		background: $red;
		position: relative;
		display: inline-block;
		margin: 0;
		border: 1px solid $red;
		padding: 4px 34px 4px 14px;
		outline: 0;

		&:after {
			transform: rotate(45deg) translate(0,-50%);
			position: absolute;
			top: 50%;
			right: 21px;
			display: block;
			width: 10px;
			height: 10px;
			margin: -2px 0 0;
			content: "";
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
		}

		&:hover {
			background: #fff;
			color: $red;
			border-color: $red;

			&:after {
				border-top: 2px solid $red;
				border-right: 2px solid $red;
			}
		}

		&.addNewInvoice {
			padding: 4px 30px;
			min-width: 0 !important;

			&:after {
				display: none;
			}
		}
	}
}
