extends ../_templates/fullwidthpage

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Listing'
	- pageDescription = 'This is the listing page of Fuji Xerox'
	- productsData = site.data.products

block FullWidthBanner
	+hero-banner(productsData.banner)
	+nav-tabs(productsData.tabs)

block FullWidthContent
	+dynamic-listing({
		__class: "product-listing",
		type: 'Products'
	})
	#productForm.modal
		.modal-wrapper
			.modal-close-button
				a(href='#')
					i.icon-cross
			.modal-form

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "this page url"
		}
