@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?ej4vcp');
  src:  url('#{$icomoon-font-path}/icomoon.eot?ej4vcp#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?ej4vcp') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?ej4vcp') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?ej4vcp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-chevron-with-circle-left {
  &:before {
    content: $icon-chevron-with-circle-left;
  }
}
.icon-chevron-with-circle-right {
  &:before {
    content: $icon-chevron-with-circle-right;
  }
}
.icon-controller-paus {
  &:before {
    content: $icon-controller-paus;
  }
}
.icon-controller-play {
  &:before {
    content: $icon-controller-play;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-quote {
  &:before {
    content: $icon-quote;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin;
  }
}
.icon-notification {
  &:before {
    content: $icon-notification;
  }
}
.icon-enquiry {
  &:before {
    content: $icon-enquiry;
  }
}
.icon-chat {
  &:before {
    content: $icon-chat;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-dropdown-arrow {
  &:before {
    content: $icon-dropdown-arrow;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up;
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down;
  }
}
.icon-navicon {
  &:before {
    content: $icon-navicon;
  }
}
.icon-file-pdf-o {
  &:before {
    content: $icon-file-pdf-o;
  }
}

