@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ej4vcp');
  src:  url('fonts/icomoon.eot?ej4vcp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ej4vcp') format('truetype'),
    url('fonts/icomoon.woff?ej4vcp') format('woff'),
    url('fonts/icomoon.svg?ej4vcp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e906";
}
.icon-chevron-with-circle-left:before {
  content: "\e907";
}
.icon-chevron-with-circle-right:before {
  content: "\e908";
}
.icon-controller-paus:before {
  content: "\e909";
}
.icon-controller-play:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-quote:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-clock:before {
  content: "\f017";
}
.icon-map-pin:before {
  content: "\f041";
}
.icon-notification:before {
  content: "\e902";
}
.icon-enquiry:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e904";
}
.icon-share:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e901";
}
.icon-dropdown-arrow:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-youtube:before {
  content: "\f16a";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
