$icomoon-font-path: "fonts" !default;

$icon-cross: "\e906";
$icon-chevron-with-circle-left: "\e907";
$icon-chevron-with-circle-right: "\e908";
$icon-controller-paus: "\e909";
$icon-controller-play: "\e90a";
$icon-minus: "\e90b";
$icon-plus: "\e90c";
$icon-quote: "\e90d";
$icon-instagram: "\ea92";
$icon-calendar: "\f073";
$icon-clock: "\f017";
$icon-map-pin: "\f041";
$icon-notification: "\e902";
$icon-enquiry: "\e903";
$icon-chat: "\e904";
$icon-share: "\e905";
$icon-download: "\e901";
$icon-dropdown-arrow: "\e900";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-linkedin: "\f0e1";
$icon-youtube: "\f16a";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-angle-up: "\f106";
$icon-angle-down: "\f107";
$icon-navicon: "\f0c9";
$icon-file-pdf-o: "\f1c1";

