// aside-banner styles
.aside-banner {
	a {
		text-decoration: none;

		&:hover {
			p { text-decoration: underline; color: $red; }
		}
	}

	h3 {
		color: #000;
		font-weight: 400;
		font-size: calc-em(20px);
		margin: 10px 0 5px;
	}

	p {
		color: #000;
		font-weight: 300;
		margin: 0;
		line-height: 1.6;
	}
}

@media only screen and (min-width: $bpDesktop), print {
	.aside-banner {
		h3 {
			line-height: 1.875;
		}
	}
}
