mixin image-text-item(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.tabbed-carousel-item.image-text-item
		a(href=spec.url)
			.image-text-item__image
				img(src=spec.image, alt="")
			.image-text-item__text
				p=spec.text
