// image-text-item styles
.image-text-item {
	width: 150px;
	margin: 0 auto;
	padding: 0 6px;

	a {
		display: block;
		text-decoration: none;
		color: #000;
		max-width: 150px;
		margin: 0 auto;

		&:hover {
			p {
				color: $red;
				text-decoration: underline;
			}
		}
	}

	span {
		display: block;
		text-decoration: none;
		color: #000;
		max-width: 150px;
		margin: 0 auto;
	}

	&__image {
		@include aspect-ratio(1, 1, 100%);
	}

	img {
		@include image-cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	p {
		font-size: calc-em(19px);
		line-height: 1.666666;
		display: inline-block;
		word-break: break-word;
		text-align: center;
	}

}
