mixin call-to-action(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	// START: Call to Action
	<!--[if mso | IE]>
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="640" align="center" style="width: 640px;">
	<tr>
	<td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
	<![endif]-->
	div(style='background: #ffffff; margin: 0px auto; max-width: 640px;')
		table(role='presentation' cellpadding='0' cellspacing='0' style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' align='center' width='100%' border='0' bgcolor='#ffffff')
			tbody
				tr
					td.cta-padding(align="center" valign="middle" style="font-family:Arial;text-align:center; padding-bottom: 15px;")
						div
							<!--[if mso]>
								<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.fujixerox.com.sg/en" style="height:36px;v-text-anchor:middle;width:180px;" arcsize="0%" strokecolor="#d92231" fillcolor="#d92231">
									<w:anchorlock/>
									<center style="color:#ffffff;font-family:Arial,sans-serif;font-size:14px;">Learn More ></center>
								</v:roundrect>
							<![endif]-->
							a(href='https://www.fujixerox.com.sg/en', target='_blank', style='background-color:#d92231;color:#ffffff;width:150px;display:inline-block;padding:10px 15px;font-family:sans-serif;font-size:14px;font-weight:300;text-decoration:none;-webkit-text-size-adjust:none;mso-hide:all;border:none; border-radius:0;') Learn More >




	<!--[if mso | IE]>
	</td>
	</tr>
	</table>
	<![endif]-->
	// END: Call to Action
