extends ../../../_layouts/base

include ../../../_modules/molecules/section/section
include ../../../_modules/molecules/promotion-details/promotion-details
include ../../../_modules/organisms/form/form
include ../../../_modules/organisms/promotion-list/promotion-list
include ../../../_modules/templates/standard/standard

//- Configuration
block config
	- var baseUrl = '../../../'
	- var pageTitle = 'Fuji Xerox | Promotions Detail'
	- var parent = 1

block content
	+standard({
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Contact",
				"href": "/contact"
			},
			{
				"label": "Promotions",
				"href": "/contact/promotions"
			},
			{
				"label": "A Smart Office transfoms the way you live and work"
			}
		],
		banner: {
			image: "images/content/banners/solutions.jpg",
			title: "Promotion Details",
			text: "This is the promotion details page."
		}
	})

		.promotion.wingspan
			.row-col-12
				+promotion-details({__class: "col-sm-7 col-md-8"})

					h1 A Smart Office transfoms the way you live and work

					p Lease from us today and stand to win an Apple iPad Pro! *
					p Here's How:

					h2 Step 1: Submit your enquiry

					p <strong>Enjoy $50 THANK YOU shopping voucher</strong> on us when you

					ul
						li Fill up this form and send us your multifunction sales enquiry. * 
						li Quote “WEB” when you call our hotline 6766 8888. * 

					p *Terms and Conditions apply. Click <a href = "#">here</a> for the full details.

					p A smart office goes beyond a multifunction printer. Once you have sent us an enquiry, our sales colleague will contact and assist you. <a href = "#">Ask them about our Smart Office concept</a>. 

					h2 Step 2: Lease from us and win an iPad Pro!

					p View the list of eligible multifunction printers and their respective promotion rewards <a href = "#">here</a>.

					.view-all
						a.btn-orange(href = "#") View All Promotions

				.promotion__contact-form.col-sm-5.col-md-4
					+form({form: "promotions"})


