.main-navigation {
	position: relative;
	z-index: 999;

	.short-flyout-menu {
		position: relative;

		.flyout {
			width: 100%;
		}
	}

	.flyout {
		padding: 20px 10px;
		display: none;
		position: absolute;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
		background-color: $grey-4;
		border-color: $grey-1;
		font-size: calc-em(13px);

		&.full-width {
			width: 100%;
			left: 0;
			top: 100%;
		}

		&.half-width {
			width: 50%;
			right: 0;
			top: 100%;
		}

		a {
			display: block;
			color: $blue-1;
		}

		.btn-blue { color: #fff; display: inline-block; }
	}
}

.flyout {
	a, .category-title {
		border-bottom: 1px dotted $darkgrey-2;
		padding: 5px 0;
		text-decoration: none;
		font-weight: bold;

		&:hover { text-decoration: underline; }
	}

	.category-title {
		display: block;
	}

	ul {
		ul {
			margin: 10px 0 20px;

			a {
				display: inline-block;
				position: relative;
				margin-bottom: 0;
				border-bottom: 0;
				padding: 0;
				font-weight: normal;
				padding-left: 12px;

				&:before {
					@include icomoon('\f105', #333);
					position: absolute;
					left: 0;
					top: 0;
					font-size: 16px;
				}
			}
		}
	}

	.box {
		padding: 10px;
		border: 1px solid $grey-1;
		background-color: #fff;

		p {
			margin-top: 0;

			&:last-child { margin-bottom: 0; }
		}

		.btn {
			@include linear-gradient(#f7d6b2, #f0ad66);
			display: block;
			text-align: center;
			border: 1px solid #e67600;
			text-decoration: none;
			color: #000;
			margin: 0;
			font-size: calc-em(16px, 13px);
		}
	}

	.image {
		margin-bottom: 25px;

		img {
			display: block;
			max-width: 100%;
		}
	}

	.btn-blue {
		border: 0;
		background: #4f81bd;
		border-radius: 6px;
		padding: 10px 40px;
		text-align: center;
		margin-bottom: 25px;
		font-weight: normal;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
	}

	.no-parent {
		border-top: 1px dotted #666;
		padding-top: 10px;
		margin-top: 29px;
	}

	.size-18 { font-size: calc-em(18px); }
	.size-28 { font-size: calc-em(28px); }
}

.main-navigation__menu {

	> li > a {
		display: block;
		color: #fff;
		text-decoration: none;
		padding: 5px;

		&:hover { text-decoration: underline; }
	}
}
