@media only screen and (max-width: $sm-breakpoint - 1) {

	.main-navigation {
		@include linear-gradient(#344d83, #1e2c49);
	}

	.main-navigation__menu {
		text-align: center;
		padding: 5px 0;

		.parent {
			margin: 0 10px;
			display: inline-block;
		}
	}
}

@media only screen and (min-width: $sm-breakpoint), print {
	.main-navigation__menu {
		position: relative;
		margin-top: -29px;

		%tall-parent {
			@include linear-gradient(#3b74b5, #334976);
			padding: 8px 5px;
			font-size: calc-em(14px);
			font-weight: bold;
			margin-top: -8px;
		}

		.parent {
			> a {
				@include linear-gradient(#344d83, #1e2c49);
				position: relative;
				text-align: center;
				border-right: 1px solid #fff;
				font-size: calc-em(13px);

				&:after {
					display: none;
					content: '';
					position: absolute;
					bottom: -6px;
					left: 50%;
					margin-left: -3px;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-top: 6px solid #1e2c49;
					z-index: 10;
				}
			}

			&.hover-on {
				.flyout { display: block; }

				> a {
					&:after {
						display: block;
					}
				}
			}

			&:last-child > a {
				border-right: 0;
			}

			&:nth-child(1) > a {
				@extend %tall-parent;
				border-radius: 5px 0 0;

				&:after {
					border-top: 6px solid #334976;
				}
			}

			&:nth-child(2) > a {
				@extend %tall-parent;
				border-radius: 0 5px 0 0;

				&:after {
					border-top: 6px solid #334976;
				}
			}
		}
	}
}
