// aside styles
.aside {
	margin: 30px 0 20px;
	border-top: 1px solid $border3;

	h3 {
		font-weight: 400;
		font-size: calc-em(20px);
		line-height: 1.2;
		margin: 20px 0 10px;
		color: #000;

		a {
			text-decoration: none;
			color: #000;

			&:hover {
				color: $red;
				text-decoration: underline;
			}
		}
	}

	p {
		line-height: 1.6;
		font-weight: 300;
		margin: 0 0 10px;
	}

	ul {
		@extend %list-unstyled;

		a {
			display: inline-block;
			line-height: 1.666666;
			padding: 5px 0;
			color: #000;
			text-decoration: none;
			font-weight: 300;

			&:hover { color: $red; }
		}
	}

	li {
		border-top: 1px solid $border3;

		&:first-child { border: none; }
	}
}

@media only screen and (min-width: $bpDesktop), print{
	.aside {
		ul {
			a {
				line-height: 1.875;
			}
		}
	}
}
