mixin panels-group(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.panels.column-row
		each panel in spec
			+panel-item({
				"__class": panel.class,
				"image": panel.image,
				"title": panel.title,
				"text": panel.text,
				"url": panel.url
			})
