// solutions-item styles
.solutions-item {
	margin-top: 12px;

	a {
		display: block;
		background-color: #fff;
		height: 100%;
		color: #000;
		text-decoration: none;
	}

	&__image {
		position: relative;
		height: 122px;

		img {
			@include image-cover;
		}
	}

	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&__text {
		position: relative;
		padding: 16px 30px 10px 16px;

		p {
			font-size: calc-em(14px);
			margin: 0 0 10px;
			line-height: 1.4;
		}

		.sub, span {
			font-size: calc-em(12px);
			line-height: 1.875;
		}

		.date {
			&:before {
				display: inline-block;
				margin: 0 5px;
				content: "|";
			}
		}

		h3 {
			font-size: calc-em(20px);
			line-height: 1.2;
			margin: 0 0 10px;
			font-weight: 300;
		}

		&:before {
			top: 15px;
			width: 30px;
			height: 30px;
			background: $red;
			position: absolute;
			z-index: 2;
			right: 0;
			display: block;
			content: "";
		}

		&:after {
			top: 25px;
			right: 11px;
			width: 10px;
			height: 10px;
			transform: rotate(-45deg);
			position: absolute;
			z-index: 2;
			display: block;
			content: "";
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}
	}

	&:hover {
		.overlay {
			background-color: rgba(0,0,0,0.3);
		}

		a { background-color: $panel-hover; }

		.solutions-item__text {
			background-color: $panel-hover;

			&:before { background: #fff; }

			&:after {
				border-right: 2px solid $red;
				border-bottom: 2px solid $red;
			}
		}
	}
}

@media only screen and (min-width: $bpDesktop), print{
	// .list {
	// 	.solutions-item {
	// 		width: 100%;

	// 		a {
	// 			display: flex;
	// 			align-items: center;
	// 			min-height: auto;
	// 			max-height: none;
	// 		}

	// 		&__image {
	// 			width: calc(25% - 10px);
	// 			min-width: calc(25% - 10px);
	// 			position: relative;
	// 			height: 122px;
	// 			margin: 0 0 0 10px;

	// 			img {
	// 				@include image-cover;
	// 			}
	// 		}

	// 		&__text {
	// 			width: 100%;

	// 			&:before {
	// 				transform: translate(0, -50%);
	// 				top: 50%;
	// 			}

	// 			&:after {
	// 				transform: translate(0, -50%) rotate(-45deg);
	// 				top: 50%;
	// 			}
	// 		}

	// 	}
	// }

	.solutions-item {
		&__text {
			p {	font-size: calc-em(14px, 16px);	}

			.sub, span { font-size: calc-em(12px, 16px); }

			h3 { font-size: calc-em(20px, 16px); }
		}
	}
}

