mixin solutions-item(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.solutions-item.col-sm-6.col-md-4(itemscope itemtype="http://schema.org/Article")
		a(href=spec.url, itemprop="url")
			if spec.image
				.solutions-item__image
					.overlay
					img(src=spec.image, alt="", itemprop="thumbnailUrl")
			.solutions-item__text
				p.sub=spec.sub
				h3(itemprop="name")=spec.title
				p(itemprop="description")=spec.text
				.meta
					span.category=spec.category
					span.date=spec.date
