// social-sub-item styles
.social-sub-item {
	position: relative;
	border-top: 1px solid $border4;
	padding: 15px 0 10px 45px;

	&__text {
		p {
			line-height: 1.6;
			margin: 0;
		}
	}

	&__actions {
		margin: 10px 0 0;

		a {
			text-indent: -99999px;
			background-image: url(../images/twitter-actions.png);
			background-position: 0 0;
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 40px;
		}

		.reply {
			&:hover { background-position: -16px 0; }
		}

		.retweet {
			background-position: -81px 0;
			width: 17px;

			&:hover { background-position: -100px 0; }
		}

		.favorite {
			background-position: -32px 0;
			margin-right: 0;

			&:hover { background-position: -48px 0; }
		}
	}

	&__more {
		margin-bottom: 5px;
		
		a {
			text-decoration: none;
			color: $red;

			&:hover { text-decoration: underline; }
		}
	}

	&:before {
		position: absolute;
		left: 0;
		background-image: url(../images/sprite.png);
		background-repeat: no-repeat;
		content: "";
		display: inline-block;
	    width: 30px;
	    height: 30px;
	}

	&#twitter-sub {
		&:before {
			background-position: -1105px 0px; 
	    	width: 29px;
	    	height: 27px;
		}
	}

	&#linkedin-sub {
		&:before {
			background-position: -552px 0px; 
	    	width: 32px;
	    	height: 32px;
		}
	}

	&#facebook-sub {
		&:before {
			background-position: -330px 0px; 
		}
	}
}
