mixin social-sub-item(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.social-sub-item(id=spec.__class, data-id=spec.id)
		.social-sub-item__text
			p=spec.text
		if spec.actions
			.social-sub-item__actions
				a(class="reply", href="#") Reply
				a(class="retweet", href="#") Retweet
				a(class="favorite", href="#") Favorite
		else
			.social-sub-item__more
				a(href=spec.url) More
