extends ../_templates/article

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Event Registration'
	- pageDescription = 'This is the event registration page of Fuji Xerox'
	- pageData = site.data.bannerTabs

block ArticleBanner
	+hero-banner(pageData.banner)
	//- +nav-tabs-anchor()

block ArticleContent
	+section({
		"__class": "event-registration-form"
	})
		//- a.anchor-link(id="register" data-label="Register")
		+new-wffm-form({
			title: "Level 2 Header",
			text: "<p>Dummy Text Dummy Text <em>Emphasis</em> Dummy Text <strong> Stronger Emphasis</strong> Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text</p>"
		})
			+singleLineText({
				"label": "Dummy Text",
				"required": true
			})

			+singleLineText({
				"label": "Dummy Text",
				"required": true
			})

			+singleLineText({
				"label": "Dummy Text",
				"required": true
			})

			+singleLineText({
				"label": "Dummy Text",
				"required": true
			})

			+singleLineText({
				"label": "Dummy Text",
				"required": true
			})

			+selectDropdown({
				"label": "Dummy Text",
				"required": true,
				"options": [
					{
						"value": "Option 1",
						"name": "Option 1"
					},
					{
						"value": "Option 2",
						"name": "Option 2"
					}
				]
			})

			+checkboxList({
				"label": "Attending on",
				"required": true,
				"options": [
					{
						"label": "Checkbox"
					},
					{
						"label": "Checkbox",
						"disabled": true
					}
				]
			})

			+radioButtonList({
				"label": "Do you require assistance from our Fuji Xerox consultants?",
				"required": true,
				"options": [
					{
						"label": "Radio button 1"
					},
					{
						"label": "Radio button 2"
					}
				]
			})

			//- +section({
			//- 	"__class": "event-agenda"
			//- })
			//- 	a.anchor-link(id="agenda" data-label="Event Agenda")
			//- 	+agenda({
			//- 		"register": true
			//- 	})
			//- 		.event-agenda__day-table
			//- 			table
			//- 				thead
			//- 					tr
			//- 						th Time
			//- 						th Session

			//- 				tbody
			//- 					tr
			//- 						td 0915
			//- 						td
			//- 							h3 Seminar: Seminar: How to Achieve Office Automation Efficiency and Sustainability in an Enterprise

			//- 							p By Mr. Chee Wai Meng, Vice President, Corporate Purchasing, Admin &amp; Logistics , Starhub feat. Mr. Janne Kalervo Iivonen, Regional Principal, Fuji Xerox Asia Pacific

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1000
			//- 						td
			//- 							h3 Seminar: Increasing Engagement through Digital Customer Communications

			//- 							p By Mr. Nathan Symes, General Manager, Regional Channel Sales &amp; Business Development, Fuji Xerox Asia Pacific

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1030
			//- 						td
			//- 							h3 Seminar: How Centralized Print Centre can Help You Work Smarter and Communicate Better?

			//- 							p By Ms. Jyotsna Jammi, Service Development Manager (Campaign Management), Fuji Xerox Asia Pacific

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1100
			//- 						td
			//- 							h3 Seminar: Enhance your Business through Digital Business Space

			//- 							p By Ms. Sabrina Tan, Founder and CEO, Skin Inc.

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1130
			//- 						td
			//- 							h3 Seminar: Singapore Budget 2017 - Insights on the New Measures

			//- 							p By Mr. Ng Voon Seong, Tax Manager, BDO Tax Advisory

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1200
			//- 						td
			//- 							h3 Seminar: Singapore Budget 2017 - Insights on the New Measures

			//- 					tr
			//- 						td 1230
			//- 						td
			//- 							h3 Demo: Experience the Smarter Way of Working with Fuji Xerox Cloud-enabled Multifunction Device and Smart Solutions

			//- 							p By Mr. Tan Keh Joo, Senior Manager, Marketing, Fuji Xerox Asia Pacific, Ms. Grace Li, Associate Manager, Solutions Marketing, Fuji Xerox Singapore

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1300
			//- 						td
			//- 							h3 Demo: Welcome to the Simply Managed Office with AWMS

			//- 							p By Mr. Chan Wai Tuck, Senior Business Manager, Solutions &amp; Services, Fuji Xerox Singapore

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1330
			//- 						td
			//- 							h3 Demo: Welcome to the Simply Managed Office with AWMS

			//- 							p By Mr. Enda Kavanagh, Regional Sales Manager, Asia Pacfic, XMPie

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1330
			//- 						td
			//- 							h3 Demo: The Wonderful World of Finishing for Digital Print

			//- 							p By Mr. Job van Hasselt, Regional Representative, KAMA GmbH

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1400
			//- 						td
			//- 							h3 Demo: Digitize your Workforce, Empower your Business

			//- 							p By Mr. Alvin Lee, Deputy Head, Strategy &amp; Planning, Innovation Office, Fuji Xerox Asia Pacific

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1400
			//- 						td
			//- 							h3 Demo: Digitize your Workforce, Empower your Business

			//- 							p By Mr. Alvin Lee, Deputy Head, Strategy &amp; Planning, Innovation Office, Fuji Xerox Asia Pacific

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1430
			//- 						td
			//- 							h3 Demo: Digitize your Workforce, Empower your Business

			//- 							p By Mr. Danny Lim, Associate Manager, Development, Fuji Xerox Singapore

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			//- 					tr
			//- 						td 1500
			//- 						td
			//- 							h3 Demo: Strategize your Business with Government Grants

			//- 							p By Mr. Wu Jiaqing, Business Advisor, SME Centre@SMF

			//- 							a.js-synopsis-toggle(href = "#") Synopsis
			//- 							.synopsis
			//- 								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

			+formSubmit({
				"label": "Register Now"
			})

block ArticleAside
	+event-aside({
		"register": true
	})


block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This page url"
		}
