include ../../atoms/filter-checkbox/filter-checkbox

mixin listing-filters(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//Listing Filters
	div.listing-side-filters(class=spec.__class)&attributes(attributes)
		//Filter Panel
		form
			fieldset
				legend.sr-only #{spec.type} Finder Filter
				input#categoryField(type = "hidden" name = "categoryField" value = "jobs")
				.filter-panel-header
					h3 Options
					a.clear-filters-selection-btn(href = "#") Clear Selections

					if spec.type == "Careers"
						.filter-group.job-filter-group
							.basic-filters
								.filter-subgroup
									h4 Location
									.filter-subgroup__fields
										+filter-checkbox({label: "Singapore"})
										+filter-checkbox({label: "Malaysia"})
										+filter-checkbox({label: "Philippines"})
										+filter-checkbox({label: "Vietnam"})
										+filter-checkbox({label: "All Locations", scope: 'all'})

								.filter-subgroup
									h4 Specialisation
									.filter-subgroup__fields
										+filter-checkbox({label: "Account Delivery/ Service Delivery/ Transition Management"})
										+filter-checkbox({label: "Business Planning/ Business Analysis"})
										+filter-checkbox({label: "Business Support"})
										+filter-checkbox({label: "Channel Sales"})
										+filter-checkbox({label: "Corporate Planning & Support"})
										+filter-checkbox({label: "Corporate Social Responsibility"})
										+filter-checkbox({label: "Creative Services/Design"})
										+filter-checkbox({label: "Customer Support"})
										+filter-checkbox({label: "Document Management Services"})
										+filter-checkbox({label: "Engineering &amp; Technical Support"})
										+filter-checkbox({label: "E-services/ Web Marketing"})
										+filter-checkbox({label: "Executive Assistant/ Secretarial/ Admin/ Reception"})
										+filter-checkbox({label: "Finance"})
										+filter-checkbox({label: "Graphic Communications/ Design"})
										+filter-checkbox({label: "Helpdesk/Call Centre"})
										+filter-checkbox({label: "Human Resource"})
										+filter-checkbox({label: "Information Technology"})
										+filter-checkbox({label: "Legal and Compliance"})
										+filter-checkbox({label: "Logistics/Supply Chain"})
										+filter-checkbox({label: "Managed Services"})
										+filter-checkbox({label: "Marketing/ Corporate Communications"})
										+filter-checkbox({label: "Operations"})
										+filter-checkbox({label: "Project Management"})
										+filter-checkbox({label: "Purchasing/ Procurement"})
										+filter-checkbox({label: "Sales/Business Development"})
										+filter-checkbox({label: "Service Quality"})
										+filter-checkbox({label: "Technical Pre-Sales"})
										+filter-checkbox({label: "Technical Post Sales"})
										+filter-checkbox({label: "Warehouse/ Store"})
										+filter-checkbox({label: "Others"})
										+filter-checkbox({label: "All Specialisation", scope: 'all'})

								.filter-subgroup
									h4 Job Type
									.filter-subgroup__fields
										+filter-checkbox({label: "Full Time"})
										+filter-checkbox({label: "Part Time"})
										+filter-checkbox({label: "Temporary"})
										+filter-checkbox({label: "Project"})
										+filter-checkbox({label: "Internship"})
										+filter-checkbox({label: "All Type", scope: 'all'})

								.filter-subgroup
									h4 Title
									.filter-subgroup__fields
										+filter-checkbox({label: "Executive"})
										+filter-checkbox({label: "Engineer"})
										+filter-checkbox({label: "Consultant"})
										+filter-checkbox({label: "Manager"})
										+filter-checkbox({label: "All Titles", scope: 'all'})

								.filter-subgroup
									h4 Posting Date
									.filter-subgroup__fields
										+filter-checkbox({label: "Recent"})
										+filter-checkbox({label: "1 months ago"})
										+filter-checkbox({label: "2 months ago"})
										+filter-checkbox({label: "All Dates", scope: 'all'})


					if spec.type == "Products"
						//Software Filter Group
						.filter-group.software-filter-group
							.basic-filters
								.filter-subgroup
									h4 Usage

									.filter-subgroup__fields
										+filter-checkbox({label: "Office"})
										+filter-checkbox({label: "Production"})
										+filter-checkbox({label: "All uses", scope: 'all'})
						//End: Software Filter Group

						//Supplies Filter Group
						.filter-group.supplies-filter-group
							.basic-filters
								.filter-subgroup
									h4 Usage

									.filter-subgroup__fields
										+filter-checkbox({label: "Paper"})
										+filter-checkbox({label: "Binders"})
										+filter-checkbox({label: "Laminators"})
										+filter-checkbox({label: "Labels"})
										+filter-checkbox({label: "Xerox Mobility Chart"})
										+filter-checkbox({label: "Coffee"})
										+filter-checkbox({label: "All Uses", scope: 'all'})

								.filter-subgroup
									h4 Paper Size

									.filter-subgroup__fields
										+filter-checkbox({label: "A3 (16.5 x 11.7in)"})
										+filter-checkbox({label: "A3+ (12.95 x 19in)"})
										+filter-checkbox({label: "Roll Paper"})
										+filter-checkbox({label: "All Sizes", scope: 'all'})

								.filter-subgroup
									h4 Paper Weight(gsm)

									.filter-subgroup__fields
										+filter-checkbox({label: "70"})
										+filter-checkbox({label: "80"})
										+filter-checkbox({label: "90"})
										+filter-checkbox({label: "All Weight", scope: 'all'})
						//End: Supplies Filter Group

						+printer-filters({__class: "printers-filter-group"})
						//- +printer-filters({__class: "production-printers-filter-group"})

					.filter-panel-btn-group
						button.submit-btn(type = "submit") Submit

				//End: Filter Panel
			//End: Listing Filters

mixin printer-filters(spec)
	- spec.__class = spec.__class || ''

	//Printers Filter Group
	.filter-group(class=spec.__class)&attributes(attributes)
		.basic-filters
			.filter-subgroup
				h4 Type

				.filter-subgroup__fields
					+filter-checkbox({label: "Multifunction"})
					+filter-checkbox({label: "Desktop"})
					+filter-checkbox({label: "Production"})
					+filter-checkbox({label: "Digital Finishing"})
					+filter-checkbox({label: "3D"})
					+filter-checkbox({label: "All Types", scope: 'all'})

			.filter-subgroup
				h4 Usage

				.filter-subgroup__fields
					+filter-checkbox({label: "Personal"})
					+filter-checkbox({label: "Office"})
					+filter-checkbox({label: "Production"})
					+filter-checkbox({label: "Wide Format"})
					+filter-checkbox({label: "3D"})
					+filter-checkbox({label: "All Uses", scope: 'all'})


			.filter-subgroup
				h4 Purpose

				.filter-subgroup__fields
					+filter-checkbox({label: "Copying"})
					+filter-checkbox({label: "Printing"})
					+filter-checkbox({label: "Scan"})
					+filter-checkbox({label: "Fax"})
					+filter-checkbox({label: "Scan to Email"})
					+filter-checkbox({label: "Network Printing"})
					+filter-checkbox({label: "All Functions", scope: 'all'})

			.filter-subgroup
				h4 Purpose

				.filter-subgroup__fields
					+filter-checkbox({label: "Colour"})
					+filter-checkbox({label: "Black &amp; White"})
					+filter-checkbox({label: "All Colours", scope: 'all'})

			.filter-subgroup
				h4 Paper Size(inches)

				.filter-subgroup__fields
					+filter-checkbox({label: "A0 (46.8 x 33.1)"})
					+filter-checkbox({label: "A1 (33.1 x 23.4)"})
					+filter-checkbox({label: "A2 (23.4 x 16.5)"})
					+filter-checkbox({label: "A3 (16.5 x 11.7)"})
					+filter-checkbox({label: "A4 (11.7 x 8.3)"})
					+filter-checkbox({label: "A5 (8.3 x 5.8)"})
					+filter-checkbox({label: "All Paper Sizes", scope: 'all'})

			.filter-subgroup
				h4 Storage(GB)

				.filter-subgroup__fields
					+filter-checkbox({label: "2"})
					+filter-checkbox({label: "4"})
					+filter-checkbox({label: "6"})
					+filter-checkbox({label: "8"})
					+filter-checkbox({label: "10"})
					+filter-checkbox({label: "All Sizes", scope: 'all'})

			.filter-subgroup
				h4 Features

				.filter-subgroup__fields
					+filter-checkbox({label: "Wireless"})
					+filter-checkbox({label: "ConnectKey Technology"})
					+filter-checkbox({label: "All Features", scope: 'all'})

			.filter-subgroup
				h4 Price

				.filter-subgroup__fields
					+filter-checkbox({label: "$X-X"})
					+filter-checkbox({label: "$X-X"})
					+filter-checkbox({label: "All Prices", scope: 'all'})

		//- a.advanced-options-toggle(href = "#") Advanced Options</a>

		//- // Advanced Filters
		//- .advanced-filters
		//- 	.filter-subgroup
		//- 		h4 Print Speed (pages per minute)

		//- 		.filter-subgroup__fields
		//- 			+filter-checkbox({label: "3"})
		//- 			+filter-checkbox({label: "4-7"})
		//- 			+filter-checkbox({label: "20-40"})
		//- 			+filter-checkbox({label: "41-60"})
		//- 			+filter-checkbox({label: "61-80"})
		//- 			+filter-checkbox({label: "81-130"})
		//- 			+filter-checkbox({label: "131-300"})
		//- 			+filter-checkbox({label: "All Print Speeds", scope: 'all'})

		//- 	.filter-subgroup
		//- 		h4 Paper Weight

		//- 		.filter-subgroup__fields
		//- 			+filter-checkbox({label: "60-150"})
		//- 			+filter-checkbox({label: "151-200"})
		//- 			+filter-checkbox({label: "All Paper Weights", scope: 'all'})


		//- 	.filter-subgroup
		//- 		h4 Scanning Resolution (dpi)

		//- 		.filter-subgroup__fields
		//- 			+filter-checkbox({label: "Standard (200 x 100)"})
		//- 			+filter-checkbox({label: "Fine (200 x 200)"})
		//- 			+filter-checkbox({label: "Extra Fine (400 x 400)"})
		//- 			+filter-checkbox({label: "Super Fine (600 x 600)"})
		//- 			+filter-checkbox({label: "All Resolutions", scope: 'all'})

		//- 	.filter-subgroup
		//- 		h4 Finishing

		//- 		.filter-subgroup__fields
		//- 			+filter-checkbox({label: "Staple"})
		//- 			+filter-checkbox({label: "Hole Punch"})
		//- 			+filter-checkbox({label: "Booklet"})
		//- 			+filter-checkbox({label: "All Finishing Options", scope: 'all'})

		//- 	.filter-subgroup
		//- 		h4 Print Volume(pages)

		//- 		.filter-subgroup__fields
		//- 			+filter-checkbox({label: "Less than 5000"})
		//- 			+filter-checkbox({label: "5001 - 20,000"})
		//- 			+filter-checkbox({label: "20,001 - 40,000"})
		//- 			+filter-checkbox({label: "All Volumes", scope: 'all'})

		//- 	.filter-subgroup
		//- 		h4 Print Volume (per month)

		//- 		.filter-subgroup__fields
		//- 			+filter-checkbox({label: "Less than 750"})
		//- 			+filter-checkbox({label: "751 - 1,000"})
		//- 			+filter-checkbox({label: "1,001 - 2,000"})
		//- 			+filter-checkbox({label: "100,000 - 500,000"})
		//- 			+filter-checkbox({label: "500,001 - 1,000,000"})
		//- 			+filter-checkbox({label: "1,000,001 - 2,000,000"})
		//- 			+filter-checkbox({label: "All Volumes", scope: 'all'})

	//End: Printers Filter Group
