// listing-filters styles
.listing-side-filters {
	position: relative;
	margin-bottom: 20px;

	.advanced-filters, .basic-filters {
		background: #fff;
	}

	.advanced-filters {
		display: none;
	}
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.filter-panel-header {
	h3 {
		display: block;
		margin: 0;
		padding: 0 0 20px;
		font-size: calc-em(20px);
		font-weight: 400;
		line-height: 1;
	}
}

.advanced-options-toggle {
	display: block;
	position: relative;
	padding: 6px 10px;
	text-decoration: none;
	font-weight: bold;
	color: $red;
	// background: $purple-1;
	font-size: calc-em(14px);
	margin: 10px;

	i {
		position: absolute;
		top: 9px;
	}

	&:hover, &:focus, &:visited, &:link { color: $red; }
}

.filter-group {
	display: none;

	&.printers-filter-group,
	&.job-filter-group {
		display: block;
	}
}

.clear-filters-selection-btn {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 4px 7px;
	// background: $blue-1;
	color: #000;
	text-decoration: none;
	font-size: calc-em(13px);
	line-height: 1;
	font-weight: 400;
	border: 1px solid #000;

	&:visited, &:link { color: #000; }
	&:hover, &:focus { color: #fff; background: $red; border: none; }
}

.filter-subgroup {
	h4 {
		border: 1px solid $border3;
		border-bottom: none;
		display: block;
		position: relative;
		margin: 0;
		font-size: calc-em(18px);
		font-weight: 300;
		// background: $grey-2;
		padding: 6px 10px;
		cursor: pointer;
		outline: 0;

		&:before, &:after {
			transform: translate(0,-50%);
			background: $red;
			position: absolute;
			top: 50%;
			right: 22px;
			display: inline-block;
			width: 2px;
			height: 2px;
			content: "";
		}

		&:before {
			width: 16px;
		}

		&:after {
			right: 29px;
			height: 16px;
		}
	}

	&.open {
		h4 {
			color: #fff;
			border: 1px solid $red;
			background-color: $red;

			&:before {
				background-color: #fff;
			}

			&:after {
				display: none;
			}
		}
	}

	&:last-child h4 {
		border-bottom: 1px solid $border3;
	}
}

.filter-subgroup__fields {
	padding: 5px 10px 15px;
	display: none;
	background-color: $border;

	.checkbox {
		position: relative;
		margin-bottom: 8px;
		cursor: pointer;

		input {
			position: absolute;
			top: 2px;
			left: 0;
		}

		label {
			padding-left: 20px;
			line-height: 1.2;
			font-size: calc-em(17px);
		}
	}
}

.filter-panel-btn-group {
	padding: 10px 0;
	text-align: left;
	display: none;

	.submit-btn {
		// @include transition(background, 200ms, linear);
		display: inline-block;
		// background: $blue-1;
		color: #fff;
		border: 0;
		text-align: center;
		line-height: 1.25;
		padding: 5px 9px;
		text-decoration: none;
		font-size: .875em;

		&:hover, &:focus, a:visited {
			// background: $blue-2;
			color: #fff;
		}
	}
}


// @media only screen and (min-width: $bpTablet), print {

// 	.dynamic-listing {
// 		.listing-side-filters { width: 25%; float: left; }
// 	}
// }


@media only screen and (min-width: $bpDesktop), print {
	.filter-panel-header {
		h3 { font-size: calc-em(20px); }
	}

	.advanced-options-toggle { font-size: calc-em(14px); }

	.clear-filters-selection-btn { font-size: calc-em(13px); }

	.filter-subgroup {
		h4 { font-size: calc-em(18px); }
	}

	.filter-subgroup__fields {
		.checkbox {
			label {	font-size: calc-em(17px); }
		}
	}
}

@media print {
	.filter-subgroup.open h4 {
		color: #000;
		border-color: #000;
	}
}
