extends ../_templates/fullwidthpage

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Templates'

block FullWidthContent
	+section()
		table
			tr(style="background-color: #d92231; color: #fff; text-align: left;")
				th Template
				th URL
			tr
				td Home template
				td
					a(href="/" target="_blank") /
			tr
				td Solutions and Services template
				td
					a(href="/solutions-and-services" target="_blank") /solutions-and-services
			tr
				td Article template
				td
					a(href="/article" target="_blank") /article
			tr
				td RTE template
				td
					a(href="/rte-tester" target="_blank") /rte-tester
			tr
				td Landing template
				td
					a(href="/landing" target="_blank") /landing
			tr
				td Form template
				td
					a(href="/form" target="_blank") /form
			tr
				td Topic template
				td
					a(href="/topic" target="_blank") /topic
			tr
				td Listing template
				td
					a(href="/listing" target="_blank") /listing
			tr
				td Components
				td
					a(href="/components" target="_blank") /components
			tr
				td Newsroom
				td
					a(href="/newsroom" target="_blank") /newsroom
			tr
				td Success Stories Listing
				td
					a(href="/success-stories" target="_blank") /success-stories
			tr
				td Events Listing
				td
					a(href="/event-listing" target="_blank") /event-listing
			tr
				td Event Details
				td
					a(href="/event-details" target="_blank") /event-details
			tr
				td Events Registration
				td
					a(href="/event-registration" target="_blank") /event-registration
			tr
				td Promotion Landing
				td
					a(href="/promotion-landing" target="_blank") /promotion-landing
			tr
				td Promotion Details
				td
					a(href="/promotion-details" target="_blank") /promotion-details
			tr
				td New Reseller Locator
				td
					a(href="/reseller" target="_blank") /reseller
			tr
				td Reseller Locator
				td
					a(href="/new-reseller-locator" target="_blank") /new-reseller-locator
			tr
				td Search
				td
					a(href="/search" target="_blank") /search
			tr
				td Sitemap
				td
					a(href="/sitemap" target="_blank") /sitemap
			tr
				td RTE Tester
				td
					a(href="/rte-tester" target="_blank") /rte-tester
			tr
				td Alipay
				td
					a(href="/alipay-form" target="_blank") /alipay-form
		br
		br

		table
			tr(style="background-color: #d92231; color: #fff; text-align: left;")
				th Template
				th URL
			tr
				td Career Listing
				td
					a(href="/career-listing" target="_blank") /career-listing
			tr
				td Career Details
				td
					a(href="/career-details" target="_blank") /career-details
			tr
				td Insights
				td
					a(href="/insights" target="_blank") /insights
			tr
				td Phase 2 Components
				td
					a(href="/components_phase2" target="_blank") /components_phase2
