mixin site-footer(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	footer.site-footer
		.site-footer__wrapper.container
			+footer-nav(spec.footer)


			.language-selector.mobile-only
				a(href="#") Singapore
				span &nbsp;[
					a(href="#") EN
					| ]
				span &nbsp;[
					a(href="#") JP
					| ]

			.copyright
				a(href="#") &copy;Fuji Xerox Co., Ltd. All rights reserved.
				p Xerox, Xerox and Design, as well as Fuji Xerox and Design are registered trademarks or trademarks of Xerox Corporation in Japan and/or other countries.
