// site-footer styles
.site-footer {
	margin-top: 45px;

	&__wrapper {
		padding: 15px 10px;
	}

	ul {
		@extend %list-unstyled;
	}

	.language-selector {
		margin: 10px 0 20px;

		a {
			text-decoration: none;
			color: #000;
			line-height: 1.35;
			font-weight: 400;
			font-size: calc-em(15px);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.copyright {
		font-size: calc-em(12px);
		font-weight: 400;
		line-height: 1.2;
		margin: 0;
		padding: 0 0 4px;

		a {
			color: #000;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		p { margin: 0; }
	}
}

@media only screen and (max-width: $bpDesktop - 1){
	.site-footer {
		padding: 0 10px;

		&__wrapper {
			padding: 15px 0;
		}

		.copyright {
			font-size: calc-em(12px);
		}
	}
}
