mixin iframe(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div.iframe-container(class=spec.__class)
		iframe(src="http://www.nomnomplush.com", width="1200", height="600", frameborder="0")
