mixin solutions-filter(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.solutions-filter(data-endpoint="/assets/fuji-xerox/api/solution-map.json")
		.filter-item
			select#industryFilter(name="industry" data-label="Select Industry")
				option Select Industry

		.filter-item
			select#departmentFilter(name="department" data-label="Select Department")
				option Select Department

		.filter-item
			select#serviceFilter(name="service" data-label="Select Service")
				option Select Service

		.filter-item
			select#businessFilter(name="business" data-label="Select Business")
				option Select Business

		.filter-item.filter-item--reset
			button(type="button" value="").btn-reset
				span Reset
		//- .filter-item.filter-item--view
		//- 	button(type="button" value="").btn-grid.active
		//- 		span Grid View
		//- 	button(type="button" value="").btn-list
		//- 		span List View
