// solutions-filter styles
.event-mapper,
.success-stories-mapper {
	.input-group-select {
		position: relative;
		margin: 0 0 10px 0;

		select {
			width: calc(100% - 12px);
		}
	}
}

.solutions-filter {
	.filter-item {
		display: none;

		&:nth-child(1) { display: block; }

		&.filter-item--reset { display: block; }
	}
}

.insights-filter,
.solutions-filter,
.event-mapper__filters,
.success-stories-mapper__filters {
	@extend %clearfix;
	position: relative;
	z-index: 10;

	.filter-item {
		position: relative;
		margin: 0 0 10px 0;

		// &:not(.filter-item--reset) { display: none; }
	}

	select {
		position: absolute;
		// z-index: -1;
		display: block;
		// visibility: hidden;
		top: 0;
		opacity: 0;
		height: 40px;
		margin: 0 0 -40px;
		width: 100%;
	}

	button {
		font-family: $primaryFont;
		font-weight: 300;
	}

	.btn-reset {
		background: #fff;
		padding: 10px;
		border: 1px solid $border4;
	}

	%btn-sprite {
		content: "";
		background-image: url(../images/sprite.png);
		background-repeat: no-repeat;
		display: inline-block;
		width: 30px;
		height: 30px;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
	}

	%btn-view {
	    background: transparent;
	    position: relative;
	    width: 30px;
	    height: 30px;
	    padding: 0;
	    border: 0;
	    cursor: pointer;

		span {
			display: block;
			overflow: hidden;
			width: 0;
			height: 0;
		}
	}

	.btn-grid {
		@extend %btn-view;
		float: left;

		&:before {
			@extend %btn-sprite;
			background-position: -442px 0;
		}

		&.active {
			&:before { background-position: -412px 0; }
		}
	}

	.btn-list {
		@extend %btn-view;
		float: left;

		&:before {
			@extend %btn-sprite;
			background-position: -614px 0;
		}

		&.active {
			&:before { background-position: -584px 0; }
		}
	}
}

.dropdown-copy {
	position: relative;
	display: none;
	width: 100%;

	.insights-filter & ,
	.solutions-filter &,
	.event-mapper & ,
	.success-stories-mapper &  {
		display: block;
	}

	.listing-content__sort-result & {
		display: block;
	}

	// .newsroom-listing .listing-content__sort-result & {
	// 	display: inline-block;
	// 	width: auto;
	// }

	> button {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

	    line-height: inherit;
	    text-align: left;
	    background: #fff;
	    position: relative;
	    width: 100%;
	    height: 40px;
	    padding: 6px 35px 6px 20px;
	    border: 1px solid $border4;

	    &:after {
			transform: rotate(45deg);
			position: absolute;
			top: -4px;
			right: 10px;
			bottom: 0;
			display: block;
			width: 10px;
			height: 10px;
			margin: auto;
			content: "";
			border-right: 2px solid #000;
			border-bottom: 2px solid #000;
	    }

		&:focus {
		    color: #fff;
		    background: #d92231;

		    &:after {
		    	border-right: 2px solid #fff;
		    	border-bottom: 2px solid #fff;
		    }
		}
	}

    &.active button {
		color: #fff;
		background: #d92231;

		&:after {
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}
    }

	ul {
		@extend %list-unstyled;
		position: absolute;
		z-index: 10;
		top: 40px;
		left: 0;
		display: none;
		overflow: auto;
		width: 100%;
		height: 300px;
		margin: 0;

		button {
			text-decoration: none;
			text-align: left;
			color: #000;
			background: $lightgrey;
			display: block;
			width: 100%;
			padding: 6px 5px 6px 20px;
			border: 0;
			border-bottom: 1px solid #fff;

			&:hover {
				color: #fff;
				background: $darkgrey;
			}
		}
	}
}

@media only screen and (min-width: $bpTablet), print {
	.insights-filter,
	.solutions-filter,
	.event-mapper__filters,
	.success-stories-mapper__filters  {
		margin: 0 0 20px -10px;

		.filter-item {
			float: left;
			margin: 0;
			padding: 0 0 0 10px;
			width: 20%;

			&--reset {
				margin: 0;
				padding: 0 0 0 10px;
			}
		}

		select {
			width: calc(100% - 10px);
		}
	}

	.event-mapper,
	.success-stories-mapper {
		.input-group-select {
			margin: 0;
			padding: 0 0 0 10px;
			width: 20%;
			min-width: 20%;
			max-width: 20%;

			select {
				width: calc(100% - 10px);
			}
		}
	}

	.success-stories-mapper {
		.input-group-select {
			width: 15%;
			min-width: 15%;
			max-width: 15%;

			select {
				width: calc(100% - 10px);
			}
		}
	}
}

@media only screen and (min-width: $bpDesktop), print {
	.insights-filter,
	.solutions-filter,
	.event-mapper__filters,
	.success-stories-mapper__filters  {
		.filter-item {
			&--view {
				width: auto;
				margin: 0;
				padding: 5px 0 5px 10px;
				float: right;

				button {
					margin-left: 6px;
				}
			}
		}
	}
}
