mixin agenda(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//- .event-agenda
	if !spec.register
		.event-agenda__header
			.day-toggle
				a.day-1.active(href = "#") Day 1
				a.day-2(href = "#") Day 2

			a.download(href = "/PDFsamples/testPDF.pdf" download) Download Agenda <i class = "icon-file-pdf-o"></i>

	.event-agenda__tables
		block

	if !spec.register
		.event-agenda__header
			.day-toggle
				a.day-1.active(href = "#") Day 1
				a.day-2(href = "#") Day 2
