// agenda styles
.event-agenda {
	max-width: 666px;
}

.event-agenda__header {
	@extend %clearfix;

	.day-toggle {
		@extend %clearfix;
		width: auto;

		@media only screen and (min-width: $bpMobile) {
			float: left;
		}

		@media only screen and (max-width: 419px) {
			display: block;
			width: 100%;
		}
	}

	a {
		float: left;
		padding: 5px 15px;
		border: 1px solid $red;
		background-color: #fff;
		color: $red;
		text-decoration: none;
		font-weight: 400;
		margin: 0 5px 0 0;
		font-size: calc-em(16px);
		line-height: 1.875;

		&.active {
			color: #fff;
			background-color: $red;
		}

		&:after {
			display: none;
		}

		&:hover {
			text-decoration: none;
			border: 1px solid $red;
		}

		&.download {
			color: #fff;
			background-color: $red;
		}
	}

	.download {
		// margin-top: 10px;
		margin: 0;

		@media only screen and (min-width: 420px) {
			float: right;
			margin-top: auto;
		}

		@media only screen and (max-width: 419px) {
			display: block;
			margin-top: 6px;
		}
	}
}


.event-agenda__day-table {
	display: none;

	&:first-child {
		display: block;
	}

	// th:first-child {
	// 	width: 70px;
	// 	@media only screen and (min-width: $md-breakpoint) {
	// 		width: 81px;
	// 	}
	// }


	/**
	 * Tables
	 */
	table {
		margin: 20px 0;
		border-collapse: collapse;
		width: 100%;
	}

	thead {
		color: #fff;
		text-align: left;

		tr { background: $red; }
	}

	th { background: $red; color: #fff; }

	td, th { padding: 15px; font-weight: 300; }

	td {
		vertical-align: top;
		max-width: 600px;

		&:first-child {
			width: 100px;
		}

		&:last-child {
			width: calc(100% - 100px);
		}
	}

	tbody {

		tr {
			&:nth-child(odd) { background: $border; }
		}

		li { margin-bottom: 8px; }

		h3 { font-weight: 400; }

		h3, p { margin: 0 0 10px; }

		ul {
			li {
				padding-left: 0;

				&:before { display: none; }
			}
		}
	}

	.js-synopsis-toggle {
		text-decoration: none;
		color: $red;
		font-weight: bold;
		display: block;

		&:hover {
			text-decoration: none;
		}

		&:before {
			@include icomoon('\e90c');
			position: relative;
			top: 1px;
			margin-right: 2px;
		}

		&.visible {
			&:before {
				content: '\e90b';
			}
		}
	}
}
