.solution-mapper {
	position: relative;
}

.childpage__intro { margin-top: 20px; }

.solution-mapper__filters {
	margin: 20px 0;
	font-size: calc-em(14px);

	.input-group-select {
		display: none;

		&:nth-child(1) { display: block; }
	}
}

.solution-mapper__filters__controls {
	text-align: center;

	button {
		@include search-btn-gradient();
		display: inline-block;
		border: 1px solid $darkgrey-3;
		border-radius: 3px;
		color: $darkgrey-3;
		text-align: center;
		font-weight: bold;
		line-height: 1.25;
		padding: 5px 9px;
		margin: 10px 0;
	}
}

.solution-mapper__intro-block,
.childpage__intro-block {
	position: relative;
	display: block;
	margin-bottom: 20px;
	text-align: left;
	background: #000;

	img {
		@include transition(opacity, 300ms, ease-in-out);
		display: block;
		position: relative;
		z-index: 0;
		width: 100%;
		opacity: .9;
	}

	a {
		display: block;
		color: #fff;
		text-decoration: none;
		overflow: hidden;
	}

	h2 {
		position: absolute;
		top: 0;
		left: 0;
		padding: 15px;
		margin: 0;
		z-index: 3;
		line-height: 1.2;
		font-size: calc-em(20px);
		color: #fff;
		text-shadow: 1px 1px 2px #333;
	}

	p {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10px 15px 15px;
		margin: 0;
		z-index: 3;
		line-height: 1.3;
		font-size: calc-em(14px);
	}
}

.solution-mapper__results {
	.solution-mapper__intro-block {
		p {
			padding: 0;
			margin: 0;
			width: 0;
			height: 0;
			overflow: hidden;
		}
	}
}
