@media only screen and (max-width:  479px) {

	.solution-mapper__intro-block,
	.childpage__intro-block {
		width: 100%;
	}
}

@media only screen and (max-width:  $sm-breakpoint - 1) {
	.solution-mapper__filters {
		text-align: center;

		.input-group-select {
			margin-bottom: 10px;
			text-align: left;
		}

		.btn-clear-filter {
			// padding: 15px;
		}
	}

	.solution-mapper__results {
		.solution-mapper__intro-block {
			background: none;

			a {
				display: block;
				color: $body-text;
			}

			h2 {
				position: relative;
				color: $body-text;
				padding: 0;
				text-shadow: none;
			}

			img { display: none; }
		}
	}
}

@media only screen and (min-width: 480px) and (max-width: $sm-breakpoint - 1) {

	.solution-mapper__intro,
	.childpage__intro {
		text-align: center;

		.col {
			display: inline-block;
			width: 49%;
			margin: 0 -4px 20px 2%;

			&:nth-child(2n - 1) { margin-left: -4px; }
		}
	}
}


@media only screen and (min-width: $sm-breakpoint), print {

	.solution-mapper__intro,
	.childpage__intro {
		text-align: center;

		.col {
			display: inline-block;
			width: 32%;
			margin: 0 -4px 20px 2%;

			&:nth-child(3n - 2) { margin-left: -3px; }
		}
	}

	.solution-mapper__filters {
		.input-group-select {
			padding-right: 10px;
		}

		// .btn-clear-filter {
		// 	float: right;
		// }
	}

	.solution-mapper__filters__controls {
		button {
			position: absolute;
			right: 10px;
		}
	}
}

@media only screen and (max-width: 1023px), print {

	.solution-mapper__intro-block,
	.childpage__intro-block {
		p {
			background: rgba(255, 255, 255, .8);
			color: $body-text;
		}
	}
}

@media only screen and (min-width: 1024px) {

	.solution-mapper__intro-block,
	.childpage__intro-block {
		a {
			&:hover, &:focus {
				&:after {
					opacity: .8;
					top: 0;
					right: 0;
					border-radius: 0;
					width: 100%;
					height: 100%;
				}

				p { opacity: 1; }

				img { opacity: .5; }
			}

			&:after {
				@include transition(all, 250ms, ease-in-out);
				display: block;
				content: '';
				position: absolute;
				top: 50%;
				right: 50%;
				border-radius: 0;
				width: 0;
				height: 0;
				background: $blue-1;
				opacity: 0;
				z-index: 1;
			}
		}

		p {
			@include transition(opacity, 200ms, ease-in-out);
			opacity: 0;
			border-top: 1px solid #fff;
			padding: 10px 0 15px;
			left: 15px;
			right: 15px;
		}
	}

	.solution-mapper__results {
		.solution-mapper__intro-block {
			p {
				padding: 10px 0 15px;
				margin: 0;
				width: auto;
				height: auto;
			}
		}
	}
}
