// panel-item styles
.panel-item {
	margin-top: 12px;

	a {
		display: inline-block;
		text-decoration: none;
		color: #000;
		background-color: $border;
		width: 100%;
		height: 100%;

		&:hover {
			text-decoration: none;
		}
	}

	&__image {
		position: relative;
		height: 175px;
	}

	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	img {
		@include image-cover;
	}

	&__text {
		padding: 30px 60px 40px 30px;
		position: relative;
		background-color: $border;

		h3 {
			font-size: calc-em(22px);
			line-height: 1.2;
			margin: 0 0 10px;
			font-weight: 300;
		}

		p {
			line-height: 1.4;
			margin: 0;
		}

		.sub {
			font-size: calc-em(12px);
			line-height: 1.875;
			margin: 0 0 10px;
		}

		&:before {
			top: 29px;
			width: 30px;
			height: 30px;
			background: $red;
			position: absolute;
			z-index: 2;
			right: 0;
			display: block;
			content: "";
		}

		&:after {
			top: 39px;
			right: 11px;
			width: 10px;
			height: 10px;
			transform: rotate(-45deg);
			position: absolute;
			z-index: 2;
			display: block;
			content: "";
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}
	}

	&.resource {
		.panel-item__text {
			i {
				position: absolute;
			}

			p {
				padding-left: 24px;
			}
		}
	}

	&:hover {
		.overlay {
			background-color: rgba(0,0,0,0.3);
		}

		a { background-color: $panel-hover; }

		.panel-item__text {
			background-color: $panel-hover;

			&:before { background: #fff; }

			&:after {
				border-right: 2px solid $red;
				border-bottom: 2px solid $red;
			}
		}
	}

	.panels & {
		&:first-child {
			.panel-item__text {
				background-color: $red;
				color: #fff;
			}

			a { background-color: $red; }

			&:hover {
				a { background-color: $red-hover; }

				.panel-item__text {
					background-color: $red-hover;
				}

				a { background-color: $red-hover; }
			}
		}
	}

	.layout-article & {
		width: 100%;
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.panel-item {
		&__text {
			padding: 20px 50px 40px 25px;

			h3 { font-size: calc-em(20px); }

			&:before {
				top: 20px;
				width: 25px;
				height: 25px;
			}

			&:after {
				top: 28px;
				right: 10px;
				width: 9px;
				height: 9px;
			}
		}
	}
}

@media only screen and (min-width: $bpTablet), print{
	.layout-article {
		.panel-item {
			float: left;
			width: (100% / 2);
			padding: 0 6px;
		}
	}
}

@media print {
	.newsroom .panel-item {
		width: 100% !important;
	}
}
