mixin panel-item(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	if spec.video
		.panel-item.match-height(class=spec.__class)
			a(data-fancybox data-type="iframe" data-src=spec.url data-fancybox-type="iframe")
				if spec.image
					.panel-item__image
						.overlay
						img(src=spec.image, alt="")
				.panel-item__text
					if spec.sub
						p.sub Dummy Text Dummy Text
					h3=spec.title
					if spec.resource
						i.icon-download
					p=spec.text

	else
		.panel-item.match-height(class=spec.__class, itemscope itemtype="http://schema.org/Article")
			a(href=spec.url)
				if spec.image
					.panel-item__image
						.overlay
						img(src=spec.image, alt="", itemprop="thumbnailUrl")
				.panel-item__text
					if spec.sub
						p.sub Dummy Text Dummy Text
					h3(itemprop="name")=spec.title
					if spec.resource
						i.icon-download
					p(itemprop="description")=spec.text

