extends ../_templates/home

block append config
	- var baseUrl = '../'
	- pageTitle = 'Banner'
	- pageDescription = 'This is the banner page of Fuji Xerox'
	- homeData = site.data.home

block Home
	p Additional class name:
	+hero-banner(homeData.bannerT)
	p Additional class name: home
	+hero-banner(homeData.banner)
	p Additional class name: narrow
	+hero-banner(homeData.bannerT1)
	p Additional class name: invert
	+hero-banner(homeData.bannerT2)
	p Additional class name: narrow invert
	+hero-banner(homeData.bannerT3)
	p Additional class name: reverse
	+hero-banner(homeData.bannerT4)
	p Additional class name: clear
	+hero-banner(homeData.bannerT5)
	p Additional class name: blur
	+hero-banner(homeData.bannerT6)
	p Additional class name: blur reverse
	+hero-banner(homeData.bannerT7)
	p Additional class name: product
	+hero-banner(homeData.bannerT8)
