include ../form/form

mixin modal(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//Talk to Us Form Modal
	.modal#enquiryForm
		.wingspan
			.modal-close-button
				a(href = "#"): i.icon-cross

			+form({form: "Talk to us"})

	//End: Talk to Us Form Modal
