// home-announcement styles
.announcement-list, .news-list {
	margin: 20px 0;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		@include clearfix();
		display: block;
		position: relative;
		padding: 10px 0 10px 0;
		border-bottom: 1px solid $border;

		> * {
			float: left;
		}

		a {
			text-decoration: none;
			font-weight: normal;
			color: $red;

			&:hover {
				text-decoration: underline;
			}
		}

		.date {
			display: inline-block;
			width: 110px;
		}
	}
}

.announcement-list {
	h3 {
		display: block;
		border-bottom: 2px solid $border;
		font-size: calc-em(16px);
		padding-bottom: 7px;
		margin: 0 0 10px;
	    line-height: 1.3;
    	font-size: 1.25em;
	    font-weight: 400;
	}

	li {
		h4 {
			margin: 0;
			padding-left: 20px;
			font-size: calc-em(16px);
			width: calc(100% - 115px);
		}
	}
}

.news-list {
	h2 {
		display: block;
		border-bottom: 2px solid $border;
		font-size: calc-em(16px);
		padding-bottom: 7px;
		margin: 0 0 10px;
	    line-height: 1.3;
    	font-size: 1.25em;
	    font-weight: 400;
	}

	li {
		h3 {
			margin: 0;
			padding-left: 20px;
			font-size: calc-em(16px);
			width: calc(100% - 125px);
		}
	}
}

@media only screen and (min-width: $bpTablet){
	.announcement-list {
		li {
			h4 {
				width: calc(100% - 190px);
			}

			.date {
				width: 185px;
			}
		}
	}

	.news-list {
		li {
			h3 {
				width: calc(100% - 125px);
			}
		}
	}
}
