mixin home-announcement(spec)
	- spec = spec || {}
	- spec.list = spec.list || {}
	- spec.__class = spec.__class || ''

	.announcement-list(class=spec.__class)&attributes(attributes)
		h3=spec.title
		ul
			each item in spec.list
				li.list-item
					span.list-text.date=item.date
					h4.list-text: a(href = item.link)=item.title
