mixin listing-results(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.type = spec.type || ''

	if spec.type == "Careers"
		.listing-content-intro
			p We attribute our success to our people. With an encouraging work atmosphere and attractive total rewards package, we take care of our people and invest in their growth and job satisfaction by providing learning and development opportunities for every employee.


	.listing-content__result-status
		p.msg.success-msg Your search criteria has returned <span class = "total-results">0</span> results.

		p.msg.error-msg Sorry, your search criteria has returned 0 result. Please try again.

		.loader-animation
			.inner
			.inner
			.inner

	ul.listing-content__results

	.load-more
		a.js-load-more(href = "#") Load More

	if spec.type == "Careers"
		script#results-template(type="text/x-dot-template").
			{{~ it.results :result}}
				<li class = "career-item">
					<div class = "career-item__details">
						<div class = "opening">
							<h3>{{=result.title}}</h3>
							<span class = "specialisation">{{=result.specialisation}}</span>
						</div>

						<div class ="location">{{=result.location}}</div>

						<div class = "timestamp">{{=result.timestamp}}</div>

						<a href = {{!result.url}} class = "btn-apply">View <span class = "hidden-xs">Job</span></a>
					</div>
				</li>
			{{~}}

	if spec.type == "Products"
		script#results-template(type="text/x-dot-template").
			{{~ it.results :result}}
				<li class = "col-sm-12 col-md-6">
					<div class = "desc">
						<h5><a href = "{{=result.url}}">{{=result.name}}</a></h5>

						<div>{{=result.desc}}</div>

						<p><a href = "#productForm" class = "contact-link {{=result.buttontype}}" data-iframe="/modal-form" data-productid = "{{=result.productid}}" >{{=result.buttonlabel}}</a></p>
					</div>

					<div class = "thumbnail">
						{{? result.recommended}}
							<span class = "label recommended">Recommended</span>
						{{??}}
							{{? result.promoted}}
								<span class = "label promoted">Promotion</span>
							{{??}}
								{{? result.newitem}}
									<span class = "label new-item">New</span>
								{{??}}
									{{? result.bestseller}}
									<span class = "label best-seller">Best Seller</span>
									{{?}}
								{{?}}
							{{?}}
						{{?}}

						<a href = "#"><img src= "{{=result.thumbnail}}" alt = ""/></a>
					</div>
				</li>
			{{~}}

		script(type = "text/javascript").
			var recommendedProducts = [
				{id: "C6E45BAC56174CB590CB76DDFEA682A6"},
				{id: "F811B4BA42C34E919DD56B0DC6227A98"},
				{id: "BA0BF32AFE9E4693A3293F25C8DD337A"}
			];

