// listing-results styles
.career-listing {
	margin-top: 40px;

	.listing-content__results {
		margin: 0 0 25px;
	}
}

/**
 * Product labels
 */
.listing-content__results,
.related-products,
.product-introduction {
	.label {
		display: inline-block;
		padding: 0 12px;
		background: $blue-3;
		color: #fff;
		position: absolute;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.6;
		padding-top: 2px;

		&.new-item { background: $pink-1; }
		&.recommended { background: $blue-3; }
		&.best-seller { background: $green-1; }
		&.promoted { background: $blue-3; }
	}
}

.listing-content__result-status {
	text-align: center;

	.msg {
		display: none;
		background: $grey-3;
		text-align: left;
		padding: 3px 0;
		font-size: calc-em(14px);
		margin: 0;
	}
}

.load-more-results {
	display: none;
	text-align: center;
	margin: 20px 0 10px;

	a {
		@include search-btn-gradient();
		display: inline-block;
		border: 1px solid $darkgrey-3;
		border-radius: 3px;
		color: $darkgrey-3;
		text-align: center;
		font-weight: bold;
		line-height: 1.25;
		padding: 5px 9px;
		text-decoration: none;
		font-size: calc-em(14px);
	}
}

.listing-content__results {
	margin-top: 25px;

	> li {
		@include transition(opacity, 200ms, linear);
		display: block;
		position: relative;
		font-size: calc-em(12px);
		line-height: 1.3;
		padding: 0 0 10px 140px;
		margin-bottom: 15px;
		border-bottom: 1px solid $grey-2;
		opacity: 0;

		&.visible { opacity: 1; }

		h5 {
			font-size: calc-em(14px, 12px);
			margin: 0 0 10px;
			word-break: break-word;

			a {
				display: block;
				text-decoration: none;

				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
	}

	.career-item {
		padding: 15px 0;
		margin-bottom: 0;
	}

	.label {
		top: -13px;
		left: 0;
		margin: 0 0 10px;
	}

	.thumbnail {
		position: absolute;
		top: 6px;
		left: 0;
		width: 120px;
		text-align: left;

		img {
			display: inline-block;
			min-width: 100%;
		}
	}
}

.listing-content-intro {
	border-bottom: 1px solid $grey-2;

	> p {
		margin-top: 0;
	}
}


.career-item__details {
	@extend %clearfix;
	position: relative;
	padding-top: 28px;

	h3 { margin: 0; }

	.location, .timestamp {
		color: $darkgrey-2;
	}

	.btn-apply {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		display: inline-block;
		text-decoration: none;
		font-size: calc-em(14px, 12px);
	}

	.timestamp {
		position: absolute;
		right: 0;
		top: 0;
		font-size: calc-em(14px, 12px);

		&:before {
			@include icomoon('\f017');
			position: relative;
			top: 1px;
			margin-right: 3px;
		}
	}

	.location {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 70%;
		font-size: calc-em(14px, 12px);
	}

	.opening {
		max-width: 70%;
		h3 {
			font-size: calc-em(16px, 12px);
		}
		span {
			font-size: calc-em(14px, 12px);
		}
	}
}

/**
 * loading animation
 */
@keyframes fade {
    0%   {opacity: 1;}
    40%   {opacity: 0;}
    60%   {opacity: 0;}
    100% {opacity: 1;}
}

.loader-animation {
	display: none;
	position: relative;
	margin-left: -30px;

	.inner {
		display: block;
		width: 10px;
		height: 10px;
		background: #000;
		position: absolute;
		animation-name: fade;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		top: 0;

		&:nth-child(1) {
			left: 0;
			animation-delay: 0;
		}

		&:nth-child(2) {
			left: 12px;
			animation-delay: 200ms;
		}

		&:nth-child(3) {
			left: 24px;
			animation-delay: 400ms;
		}
	}
}


@media only screen and (min-width: $sm-breakpoint) {

	.dynamic-listing {
		.listing-content { width: 75%; float: left; }
	}

	.listing-content__results {

		> li { min-height: 220px; }

		.career-item { min-height: inherit; }
	}

	.career-item__details {
		padding-top: 0;

		.opening {
			width: 34%;
			float: left
		}

		.location {
			position: relative;
			left: auto;
			top: 5px;
			float: left;
			width: 20%;
			padding-right: 10px;
			padding-left: 10px;

			&:before {
				@include icomoon('\f041');
				position: relative;
				top: 1px;
				left: -11px;
				margin-right: -8px;
			}
		}

		.timestamp {
			position: relative;
			float: left;
			top: 5px;
			right: auto;
		}
	}
}


@media only screen and (min-width: $md-breakpoint) {

	.dynamic-listing {
		.listing-content { width: 80%; }
	}

	.listing-content__results {

		> li {
			&:nth-child(odd) { clear: left; }
		}

		.desc { padding-right: 20px; }
	}
}

