include ../../molecules/section/section
include ../../atoms/select/select
include ../../atoms/button/button

mixin mapper(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.type = spec.type || ''


	if spec.type == "event"
		//Event Mapper
		+section({__class:"event-mapper wingspan"})
			.event-mapper__filters.row-col-12
				.input-group-select.col-sm-2
					+select({
						options: [
							{
								label: "Location",
								value: ""
							},
							{
								label: "Singapore",
								value: "sg"
							},
							{
								label: "Malaysia",
								value: "my"
							},
							{
								label: "Vietnam",
								value: "vn"
							},
							{
								label: "Philippines",
								value: "ph"
							},
							{
								label: "New Zealand",
								value: "nz"
							},
							{
								label: "Australia",
								value: "au"
							}
						]
					})(id = "countryFilter")

				.input-group-select.col-sm-2
					+select({
						options: [
							{
								label: "Industry",
								value: ""
							},
							{
								label: "Architecture, Engineering and Construction",
								value: "2b24e7431fc149628f62421f75568732"
							},
							{
								label: "Aerospace",
								value: "563c273ffc05468ebf59d1008c9dbbac"
							},
							{
								label: "Banking, Finance and Insurance",
								value: "ad27102053574a8faec175674ea994d9"
							},
							{
								label: "Government",
								value: "c772e5c342b34ec988c2aebb638fdcad"
							},
							{
								label: "Graphic Communications / Printing",
								value: "9faa636d7f73499c9f14cc7b06a0d8a8"
							},
							{
								label: "Hospitality",
								value: "2d4a6675506f43f5a14304e2ec5bb8fc"
							},
							{
								label: "Legal",
								value: "48ef0ac011874d6bae1d4691bc5577d6"
							},
							{
								label: "Manufacturing",
								value: "80974d5a52104b8bbdcd2f823bc8750d"
							},
							{
								label: "Others",
								value: "c43a658ee0664b2ea8539a6fe365d5a5"
							}
						]
					})(id = "industryFilter")

				.input-group-select.col-sm-2
					+select({
						options: [
							{
								label: "Year",
								value: ""
							},
							{
								label: "2017",
								value: "2017"
							},
							{
								label: "2016",
								value: "2016"
							},
							{
								label: "2015",
								value: "2015"
							},
							{
								label: "2014",
								value: "2014"
							},
							{
								label: "2013",
								value: "2013"
							},
							{
								label: "2012",
								value: "2012"
							},
							{
								label: "2011",
								value: "2011"
							}
						]
					})(id = "yearFilter")

				.input-group-select.col-sm-2
					+select({
						options: [
							{
								label: "Month",
								value: ""
							},
							{
								label: "December",
								value: "dec"
							},
							{
								label: "Novemeber",
								value: "nov"
							},
							{
								label: "October",
								value: "oct"
							},
							{
								label: "September",
								value: "sept"
							},
							{
								label: "August",
								value: "aug"
							},
							{
								label: "July",
								value: "jul"
							},
							{
								label: "June",
								value: "jun"
							}
						]
					})(id = "monthFilter")

				.story-mapper__filters__controls
					button.btn-clear-filter.col-sm-2 Reset

			//Event Mapper Results
			.event-mapper__results
				//Results
				div
				.listing-content__result-status
					p.msg.error-msg Sorry, your search criteria has returned 0 result. Please try again.

					.loader-animation
						.inner
						.inner
						.inner
				//End: Results
				+button({__class:"load-more", label: "Load More", link: "#", __anchorClass: "js-load-more" })
			//End: Event Mapper Results

			script#results-template(type = "text/x-dot-template").
				{{~it.snippets :snippet}}
					<div class="event-mapper__snippet result">
						<a href = "{{=snippet.link}}">
							<div class = "thumbnail">
								<img src="{{=snippet.banner}}" alt="">
							</div>
						</a>
						<div class = "snippet">
							<span class = "industry">{{=snippet.industry}}</span>
							<h3>{{=snippet.title}}</h3>
							<span class = "location">{{=snippet.location}}</span>
							<span class = "duration">{{=snippet.duration}}</span>
							<a href = "{{=snippet.link}}" class = "btn-details">View <span class = "hidden-xs">Details</span></a>
						</div>
					</div>
				{{~}}
		//End: Event Mapper

	if spec.type == "story"

		//Story Mapper
		+section({__class:"story-mapper wingspan"})
			.story-mapper__filters.row-col-12
				.input-group-select.col-sm-2
					+select({
						options: [
							{
								label: "Countries",
								value: ""
							},
							{
								label: "Singapore",
								value: "sg"
							},
							{
								label: "Malaysia",
								value: "my"
							},
							{
								label: "Vietnam",
								value: "vn"
							},
							{
								label: "Philippines",
								value: "ph"
							},
							{
								label: "New Zealand",
								value: "nz"
							},
							{
								label: "Australia",
								value: "au"
							}
						]
					})(id = "countryFilter")

				.input-group-select.col-sm-2
					+select({
						options: [
							{
								label: "Solution",
								value: ""
							},
							{
								label: "Office Solutions",
								value: "28cfebbde9424dbcbff921602b0ec674"
							},
							{
								label: "Production Solution",
								value: "9d2efb11daef446aacabddb8f2283b61"
							},
							{
								label: "Knowledge Management",
								value: "953a6a4c426e4fd1bbcb56d9e27c8cd9"
							},
							{
								label: "Commercial Financing Solution Services",
								value: "9a87114e19ba4e08ad655a0ab09c73a4"
							},
							{
								label: "Empowering the SMEs",
								value: "99e7134d16ed49b9ad0b5187a98aa83c"
							},
							{
								label: "IT Management Solutions",
								value: "ddb28467964244188890f1d6e0199575"
							},
							{
								label: "Outsourcing Services",
								value: "a16e8a5e98a546fd9fd81f0e56ce131e"
							},
							{
								label: "Global Services",
								value: "a16e8a5e98a546fd9fd81f0e56ce131e"
							}
						]
					})(id = "solutionFilter")

				.input-group-select.col-sm-2
					+select({
						options: [
							{
								label: "Products",
								value: ""
							},
							{
								label: "Office Printers",
								value: "ccd791c9ca72450d8c9aa3eef15e7de0"
							},
							{
								label: "Production Printers",
								value: "633ae5de327f40a4b25aceaa0589f5df"
							},
							{
								label: "3D Printers",
								value: "e2d1531e123f4969bd0e1806209627ef"
							},
							{
								label: "Supplies",
								value: "1565dbd823654a3b95a2cd54d3fd6f06"
							},
							{
								label: "Software",
								value: "75182430b6ee4766a5a7843b978e84e5"
							}
						]
					})(id = "productFilter")

				.input-group-select.col-sm-2
					+select({
						options: [
							{
								label: "Industry",
								value: ""
							},
							{
								label: "Architecture, Engineering and Construction",
								value: "2b24e7431fc149628f62421f75568732"
							},
							{
								label: "Aerospace",
								value: "563c273ffc05468ebf59d1008c9dbbac"
							},
							{
								label: "Banking, Finance and Insurance",
								value: "ad27102053574a8faec175674ea994d9"
							},
							{
								label: "Government",
								value: "c772e5c342b34ec988c2aebb638fdcad"
							},
							{
								label: "Graphic Communications / Printing",
								value: "9faa636d7f73499c9f14cc7b06a0d8a8"
							},
							{
								label: "Hospitality",
								value: "2d4a6675506f43f5a14304e2ec5bb8fc"
							},
							{
								label: "Legal",
								value: "48ef0ac011874d6bae1d4691bc5577d6"
							},
							{
								label: "Manufacturing",
								value: "80974d5a52104b8bbdcd2f823bc8750d"
							},
							{
								label: "Others",
								value: "c43a658ee0664b2ea8539a6fe365d5a5"
							}
						]
					})(id = "industryFilter")

				.input-group-select.col-sm-2
					+select({
						options: [
							{
								label: "Year",
								value: ""
							},
							{
								label: "2017",
								value: "2017"
							},
							{
								label: "2016",
								value: "2016"
							},
							{
								label: "2015",
								value: "2015"
							},
							{
								label: "2014",
								value: "2014"
							},
							{
								label: "2013",
								value: "2013"
							},
							{
								label: "2012",
								value: "2012"
							},
							{
								label: "2011",
								value: "2011"
							}
						]
					})(id = "yearFilter")


				.story-mapper__filters__controls
					button.btn-clear-filter.col-sm-2 Reset

			//Solution Mapper Results
			.story-mapper__results
				div
				.listing-content__result-status
					p.msg.error-msg Sorry, your search criteria has returned 0 result. Please try again.

					.loader-animation
						.inner
						.inner
						.inner
				+button({__class:"load-more", label: "Load More", link: "#", __anchorClass: "js-load-more" })
			//End: Solution Mapper Results

			script#results-template(type = "text/x-dot-template").
				{{~it.snippets :snippet}}
					<div class="story-mapper__snippet result">
						<a href="{{=snippet.link}}">
							<img src="{{=snippet.thumbnail}}" alt="">
							<div class="snippet">
								<span class="location">{{=snippet.location}}</span>
								<h2>{{=snippet.title}}</h2>
								<p>{{=snippet.text}}</p>
							</div>
							<span class="industry">{{=snippet.industry}}</span>
						</a>
					</div>
				{{~}}

		//End: Story Mapper

	if spec.type == "solution"
		//Solution Mapper
		+section({__class:"solution-mapper wingspan"})
			//Solution Mapper Filters
			.solution-mapper__filters.row-col-15
				.input-group-select.col-sm-3
					select#industryFilter.custom-select(data-label="Select Industry")
						option Select Industry

				.input-group-select.col-sm-3
					select#departmentFilter.custom-select(data-label="Select Department")
						option Select Department

				.input-group-select.col-sm-3
					select#serviceFilter.custom-select(data-label="Select Service")
						option Select Service

				.input-group-select.col-sm-3
					select#businessFilter.custom-select(data-label="Select Business")
						option Select Business

				.solution-mapper__filters__controls
					button.btn-clear-filter.col-sm-2 Reset
					button.btn-show-all.col-sm-2 Show All
			//End: Solution Mapper Filters


			//Solution Mapper Introduction
			.solution-mapper__intro
				div
					.col.solution-mapper__intro-block
						a(href = "#")
							img(src = "/images/solutions/box-1.png" alt = "")
							h2 Office Solutions
							p Increase the office productivity with all-in-one-go solutions and software

					.col.solution-mapper__intro-block
						a(href = "#")
							img(src = "/images/solutions/box-2.png" alt = "")
							h2 Production Solutions
							p Automate your daily operations and optimise printing investment.

					.col.solution-mapper__intro-block
						a(href = "#")
							img(src = "/images/solutions/box-3.png" alt = "")
							h2 Enterprise Solutions
							p A team of consultants and solution architects help you to accelerate your growth and increase your revenue.

					.col.solution-mapper__intro-block
						a(href = "#")
							img(src = "/images/solutions/box-4.png" alt = "")
							h2 Global Solutions
							p Your Document Outsourcing Services Partner.

					.col.solution-mapper__intro-block
						a(href = "#")
							img(src = "/images/solutions/box-5.png" alt = "")
							h2 Commercial Financing Solution Services
							p Full suite of financial solutions bring convenience and financial support to our corporate customers.

					.col.solution-mapper__intro-block
						a(href = "#")
							img(src = "/images/solutions/box-6.png" alt = "")
							h2 Industries
							p Solutions that are tailor-made to meet individual industry's unique needs and requirements.
			//End: Solution Mapper Introduction

			//Solution Mapper Results
			.solution-mapper__results
				div
			//End: Solution Mapper Results

			script#results-template(type = "text/x-dot-template").
				{{~it.categories :category}}
				<div class = "solution-mapper__results--group row-col-12">
					<div class = "col-sm-3 col-md-4 push-right-20">
						<div class = "solution-mapper__intro-block">
							<a href = "{{=category.url}}">
								<img src = "{{=category.thumbnail}}" alt = ""/>
								<h2>{{=category.title}}</h2>
								<p>{{=category.description}}</p>
							</a>
						</div>
					</div>

					<div class = "section related-pages col-sm-9 col-md-8">
						<div class = "blocks">
							{{~category.results :result}}
							<div class = "related-pages__block">
								<a href = "{{=result.url}}">
									<h4>{{=result.title}}</h4>
									<span class = "category">
										{{=category.title}}
										{{? result.new }}
											<span class = "label">New</span>
										{{?}}
									</span>
								</a>
							</div>
							{{~}}
						</div>
					</div>
				</div>
				{{~}}

