// mapper styles
.solution-mapper,
.story-mapper,
.event-mapper {
	position: relative;
}

.childpage__intro { margin-top: 20px; }

.solution-mapper__filters,
.story-mapper__filters,
.event-mapper__filters  {
	margin: 20px 0;
	font-size: calc-em(14px);
}

.story-mapper__filters,
.event-mapper__filters  {
	.custom-select-wrapper {
		.label {
			border-color: $blue-4;
			color: $blue-4;
		}

		.icon-dropdown-arrow { color: $blue-4; }
	}
}

.solution-mapper__filters {
	.input-group-select {
		display: none;

		&:nth-child(1) { display: block; }
	}
}

// .solution-mapper__filters__controls {
// 	text-align: center;

// 	button {
// 		@include search-btn-gradient();
// 		background-color: $orange-2;
// 		display: inline-block;
// 		border: 1px solid $darkgrey-3;
// 		// border: 1px solid $orange-2;
// 		border-radius: 3px;
// 		color: $darkgrey-3;
// 		// color: #fff;
// 		text-align: center;
// 		font-weight: bold;
// 		line-height: 1.25;
// 		padding: 5px 9px;
// 		margin: 10px 0;

// 		// &:hover {
// 		// 	background-color: $orange-1;
// 		// 	border: 1px solid $orange-1;
// 		// }
// 	}
// }

.solution-mapper__filters__controls,
.story-mapper__filters__controls,
.event-mapper__filters__controls  {

	button {
		border: 0;
		background-color: $blue-4;
		color: #fff;
		border-radius: 6px;
		line-height: 1.25;
		padding: 7px 9px;
		margin: 10px 0;
		max-width: 100px;
		outline: 0;
	}
}

.solution-mapper__intro-block,
.childpage__intro-block {
	position: relative;
	display: block;
	margin-bottom: 20px;
	text-align: left;
	background: #000;

	img {
		@include transition(opacity, 300ms, ease-in-out);
		display: block;
		position: relative;
		z-index: 0;
		width: 100%;
		opacity: .9;
	}

	a {
		display: block;
		color: #fff;
		text-decoration: none;
		overflow: hidden;
	}

	h2 {
		position: absolute;
		top: 0;
		left: 0;
		padding: 15px;
		margin: 0;
		z-index: 3;
		line-height: 1.2;
		font-size: calc-em(20px);
		color: #fff;
		text-shadow: 1px 1px 2px #333;
	}

	p {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10px 15px 15px;
		margin: 0;
		z-index: 3;
		line-height: 1.3;
		font-size: calc-em(14px);
	}
}

.story-mapper__results,
.event-mapper__results {
	@extend %clearfix;
}

// .solution-mapper__intro-block {
// 	p {
// 		padding: 0;
// 		margin: 0;
// 		width: auto;
// 		height: auto;
// 		overflow: hidden;
// 	}
// }

.story-mapper__snippet {
	@include transition(opacity, 200ms, linear);
	position: relative;
	display: block;
	margin-bottom: 20px;
	text-align: left;
	opacity: 0;

	&.visible {
		opacity: 1;
	}

	img {
		@include transition(opacity, 300ms, ease-in-out);
		display: block;
		position: relative;
		z-index: 0;
		width: 100%;
		opacity: 0;
	}

	a {
		@include transition(background-color, 300ms, ease-in-out);
		color: $body-text;
		text-decoration: none;
		overflow: hidden;
		display: block;
		height: 270px;
		background: $grey-2;

		&:hover {
			background: $blue-1;
			color: #fff;

			img { opacity: .25; }
		}

		&:after {
			@include icomoon('\f105');
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 24px;
		}
	}

	h2 {
		margin: 8px 0 5px;
		font-size: calc-em(20px);
		line-height: 1.2;
	}

	p {	margin-top: 0; line-height: 1.4; font-size: calc-em(14px); }

	.snippet {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 20px;
	}

	.industry {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px 0 20px;
		margin: 0 20px;
		border-top: 1px solid #fff;
	}
}

.event-mapper__snippet {
	@extend %clearfix;
	border: 1px solid $grey-2;
	margin-bottom: 20px;

	img {
		display: block;
		width: 100%;
	}

	.snippet {
		position: relative;
		padding: 20px;
	}

	.industry {
		text-transform: uppercase;
		color: $darkgrey-2;
		font-size: calc-em(12px);
	}

	.location, .duration {
		position: relative;
		padding-left: 22px;
		color: $darkgrey-2;
		display: block;
		font-size: calc-em(14px);
		width: 73%;

		&:before {
			@include icomoon('\f041');
			position: absolute;
			display: inline-block;
			text-align: center;
			top: 3px;
			left: 0;
			width: 18px;
		}
	}

	.duration {
		&:before {
			@include icomoon('\f073');
			top: 2px;
		}
	}

	h3 { margin: 0 0 10px; }

	.btn-details {
		position: absolute;
		right: 20px;
		bottom: 20px;
		font-size: calc-em(14px);
	}
}


@media only screen and (max-width:  479px) {

	.solution-mapper__intro-block,
	.childpage__intro-block {
		width: 100%;
	}
}

@media only screen and (max-width:  $sm-breakpoint - 1) {
	.solution-mapper__filters,
	.story-mapper__filters,
	.event-mapper__filters {
		text-align: center;

		.input-group-select {
			margin-bottom: 10px;
			text-align: left;
		}
	}

	.solution-mapper__results {
		.solution-mapper__intro-block {
			background: none;

			a {
				display: block;
				color: $body-text;
			}

			h2 {
				position: relative;
				color: $body-text;
				padding: 0;
				text-shadow: none;
			}

			img { display: none; }
		}
	}
}

@media only screen and (min-width: 480px) and (max-width: $sm-breakpoint - 1) {

	.solution-mapper__intro,
	.childpage__intro {
		text-align: center;

		.col {
			display: inline-block;
			width: 49%;
			margin: 0 -4px 20px 2%;

			&:nth-child(2n - 1) { margin-left: -4px; }
		}
	}
}


@media only screen and (min-width: $sm-breakpoint), print {

	.solution-mapper__intro,
	.childpage__intro {
		text-align: center;

		.col {
			display: inline-block;
			width: 32%;
			margin: 0 -4px 20px 2%;

			&:nth-child(3n - 2) { margin-left: -3px; }
		}
	}

	.solution-mapper__filters,
	.story-mapper__filters,
	.event-mapper__filters {
		.input-group-select {
			padding-right: 10px;
		}
	}

	.solution-mapper__filters__controls,
	.story-mapper__filters__controls {
		button {
			position: absolute;
			right: 10px;
		}
	}

	.story-mapper__snippet {
		width: 32%;
		float: left;
		margin: 0 0 20px 2%;

		&:nth-child(3n - 2) {
			margin-left: 0;
		}
	}

	.event-mapper__snippet {
		position: relative;

		.thumbnail {
			position: absolute;
			left: 0;
			top: 0;
			width: 65%;
			height: 100%;
			overflow: hidden;
			background-position: center;
			background-size: cover;
		}

		.snippet {
			float: right;
			width: 35%;
		}

		.location, .duration { width: auto; }

		.btn-details {
			position: relative;
			bottom: 0;
			right: 0;
			margin-top: 10px;
		}
	}
}

@media only screen and (max-width: 1023px), print {

	.solution-mapper__intro-block,
	.childpage__intro-block {
		p {
			background: rgba(255, 255, 255, .8);
			color: $body-text;
		}
	}
}

@media only screen and (min-width: 1024px) {

	.solution-mapper__intro-block,
	.childpage__intro-block {
		a {
			&:hover, &:focus {
				&:after {
					opacity: .8;
					top: 0;
					right: 0;
					border-radius: 0;
					width: 100%;
					height: 100%;
				}

				p { opacity: 1; }

				img { opacity: .5; }
			}

			&:after {
				@include transition(all, 250ms, ease-in-out);
				display: block;
				content: '';
				position: absolute;
				top: 50%;
				right: 50%;
				border-radius: 0;
				width: 0;
				height: 0;
				background: $blue-1;
				opacity: 0;
				z-index: 1;
			}
		}

		p {
			@include transition(opacity, 200ms, ease-in-out);
			opacity: 0;
			border-top: 1px solid #fff;
			padding: 10px 0 15px;
			left: 15px;
			right: 15px;
		}
	}

	.solution-mapper__results {
		.solution-mapper__intro-block {
			p {
				padding: 10px 0 15px;
				margin: 0;
				width: auto;
				height: auto;
			}
		}
	}

	.story-mapper__snippet {
		a {
			height: 230px;
		}
	}
}
