extends ../../../_layouts/base

include ../../../_modules/molecules/section/section
include ../../../_modules/templates/article/article

include ../../../_modules/organisms/agenda/agenda
include ../../../_modules/organisms/event-speakers/event-speakers

//- Configuration
block config
	- var baseUrl = '../../../'
	- var pageTitle = 'Fuji Xerox | DocWorld Conference 2017'
	- var parent = 4

block content
	+article({
	contentClass: "col-sm-10 col-md-8 offset-sm-1 offset-md-0",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Company",
				"href": "/company"
			},
			{
				"label": "Events",
				"href": "/company/events"
			},
			{
				"label": "DocWorld Conference 2017"
			}
		],
		banner: {
			image: "images/content/banners/events.jpg",
			title: "Event Details",
			text: "This is the event details page."
		},
		quicklinks: [
			{
				label: "Overview",
				target: "#content1"
			},
			{
				label: "Agenda",
				target: "#content2"
			},
			{
				label: "Speakers",
				target: "#content3"
			},
			{
				label: "Sponsors",
				target: "#content4"
			},
			{
				label: "Register Now",
				target: "#content4"
			}
		],
		aside: {
			__class: "event-aside col-sm-10 offset-sm-1 col-md-4 offset-md-0",
			asideEvent: {
				link: "#",
				eventDetails: {
					location: "Fuji Xeros Towers, 80 Anson Road #01-01, Singapore 079907",
					duration: {
						time: "0900 to 1800 hours ",
						date: "22 Mar - 23 Mar 2017"
					}
				}
			}
		}
	})
		+section({__class: "event-overview"})
			a#content1.anchor-link(data-label = "Overview")
			h1 DocWorld Conference 2017

			p Looking to ride the wave of digital transformation to bring your organization and customer experience to the next level? Keen to expand your productivity by accessing your work documents anywhere? Are you looking to secure and protect your documents?

			p The theme “Digital Workplace Transformation” will revolve around the facets of our Smart Work Gateway (SWG). SWG has the power to deploy your assets in the best efficient manner through the streamlining of workflows and communications with the usage of Cloud services. Come join us at this conference and discover the strategies to SWG, and in return harness that revolutionary power to digitally transform your workplace.

			p We have invited some industry experts from leading organizations to share their success stories and insights in which your organization would greatly benefit from, taking a big leap over to the digital side where innovative ways of working awaits you.

			h2 Who will be attending

			p This event attracts the following job functions

			ul
				li C-level (CEO/CFO/COO/CIO/CMO)
				li Marketing
				li Information Technology
				li Finance Management
				li Operations and Business Process
				li Procurement
				li Business Owners
				li Entrepreneurs

		+section({__class: "event-agenda"})
			a#content2.anchor-link(data-label = "Agenda")
			h2 Event Agenda

			+agenda
				.event-agenda__day-table
					table
						thead
							tr
								th Time
								th Session

						tbody
							tr
								td 0915
								td
									h3 Seminar: Seminar: How to Achieve Office Automation Efficiency and Sustainability in an Enterprise

									p By Mr. Chee Wai Meng, Vice President, Corporate Purchasing, Admin &amp; Logistics , Starhub 
									p feat. Mr. Janne Kalervo Iivonen, Regional Principal, Fuji Xerox Asia Pacific

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1000
								td
									h3 Seminar: Increasing Engagement through Digital Customer Communications

									p By Mr. Nathan Symes, General Manager, Regional Channel Sales &amp; Business Development, Fuji Xerox Asia Pacific

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1030
								td
									h3 Seminar: How Centralized Print Centre can Help You Work Smarter and Communicate Better?

									p By Ms. Jyotsna Jammi, Service Development Manager (Campaign Management), Fuji Xerox Asia Pacific

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1100
								td
									h3 Seminar: Enhance your Business through Digital Business Space

									p By Ms. Sabrina Tan, Founder and CEO, Skin Inc. 

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1130
								td
									h3 Seminar: Singapore Budget 2017 - Insights on the New Measures

									p By Mr. Ng Voon Seong, Tax Manager, BDO Tax Advisory

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1200
								td
									h3 Seminar: Singapore Budget 2017 - Insights on the New Measures

							tr
								td 1230
								td
									h3 Demo: Experience the Smarter Way of Working with Fuji Xerox Cloud-enabled Multifunction Device and Smart Solutions

									p By Mr. Tan Keh Joo, Senior Manager, Marketing, Fuji Xerox Asia Pacific, Ms. Grace Li, Associate Manager, Solutions Marketing, Fuji Xerox Singapore

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1300
								td
									h3 Demo: Welcome to the Simply Managed Office with AWMS

									p By Mr. Chan Wai Tuck, Senior Business Manager, Solutions &amp; Services, Fuji Xerox Singapore

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1330
								td
									h3 Demo: Welcome to the Simply Managed Office with AWMS

									p By Mr. Enda Kavanagh, Regional Sales Manager, Asia Pacfic, XMPie

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1330
								td
									h3 Demo: The Wonderful World of Finishing for Digital Print

									p By Mr. Job van Hasselt, Regional Representative, KAMA GmbH

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1400
								td
									h3 Demo: Digitize your Workforce, Empower your Business

									p By Mr. Alvin Lee, Deputy Head, Strategy &amp; Planning, Innovation Office, Fuji Xerox Asia Pacific

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1400
								td
									h3 Demo: Digitize your Workforce, Empower your Business

									p By Mr. Alvin Lee, Deputy Head, Strategy &amp; Planning, Innovation Office, Fuji Xerox Asia Pacific

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1430
								td
									h3 Demo: Digitize your Workforce, Empower your Business

									p By Mr. Danny Lim, Associate Manager, Development, Fuji Xerox Singapore

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1500
								td
									h3 Demo: Strategize your Business with Government Grants

									p By Mr. Wu Jiaqing, Business Advisor, SME Centre@SMF

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

				.event-agenda__day-table
					table
						thead
							tr
								th Time
								th Session

						tbody
							tr
								td 0915
								td
									h3 Seminar: Seminar: How to Achieve Office Automation Efficiency and Sustainability in an Enterprise

									p By Mr. Chee Wai Meng, Vice President, Corporate Purchasing, Admin &amp; Logistics , Starhub 
									p feat. Mr. Janne Kalervo Iivonen, Regional Principal, Fuji Xerox Asia Pacific

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1000
								td
									h3 Seminar: Increasing Engagement through Digital Customer Communications

									p By Mr. Nathan Symes, General Manager, Regional Channel Sales &amp; Business Development, Fuji Xerox Asia Pacific

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

							tr
								td 1030
								td
									h3 Seminar: How Centralized Print Centre can Help You Work Smarter and Communicate Better?

									p By Ms. Jyotsna Jammi, Service Development Manager (Campaign Management), Fuji Xerox Asia Pacific

									a.js-synopsis-toggle(href = "#") Synopsis
									.synopsis
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue est erat, id imperdiet arcu pretium nec. Aenean dignissim, sem sed mollis pharetra, justo nibh volutpat est, quis facilisis ante enim sed libero. Sed tellus metus, maximus sit amet iaculis vel, tincidunt eu ante. In sagittis urna vel nibh lobortis molestie. Morbi sollicitudin fringilla eros. Sed quis scelerisque lacus. Nulla sed lectus vel ex sodales ultrices sodales vel elit. Aliquam a purus est. Nunc at diam laoreet massa condimentum rutrum. Proin sagittis libero id aliquam mollis.

		+section({__class: "event-speakers"})
			a#content3.anchor-link(data-label = "Speakers")
			h2 Featured Speakers

			+event-speakers({
				speakers: [
					{
						name: "Mr. Chee Wai Meng",
						title: "Vice President, Corporate",
						company: " Purchasing, Admin & Logistics StarHub",
						thumbnail: "/images/content/events/speakers/speaker_1.jpg",
						link: "#"
					},
					{
						name: "Mr. Patrick Wong",
						title: "Country Manager",
						company: "GOGOVAN Singapore",
						thumbnail: "/images/content/events/speakers/speaker_2.jpg",
						link: "#"
					},
					{
						name: "Ms. Sabrina Tan",
						title: "Founder and CEO",
						company: "Skin Inc.",
						thumbnail: "/images/content/events/speakers/speaker_3.jpg",
						link: "#"
					},
					{
						name: "Mr. Ebenezer Heng",
						title: "Principal Consultant",
						company: "Top Advertising Pte Ltd",
						thumbnail: "/images/content/events/speakers/speaker_4.jpg",
						link: "#"
					},
					{
						name: "Mr. Jeffrey Protheroe",
						title: "Group CEO and Managing Director",
						company: "Potius",
						thumbnail: "/images/content/events/speakers/speaker_5.jpg",
						link: "#"
					},
					{
						name: "Ms. Heidi Tan",
						title: "Founder and Head Chef",
						company: "FLOR Patisserie",
						thumbnail: "/images/content/events/speakers/speaker_6.jpg",
						link: "#"
					},
					{
						name: "Mr. Ng Voon Seong",
						title: "Tax Manager",
						company: "BDO Tax Advisory",
						thumbnail: "/images/content/events/speakers/speaker_7.jpg",
						link: "#"
					},
					{
						name: "Mr. Rajesh Dora",
						title: "Application Sales Manager",
						company: "Esko",
						thumbnail: "/images/content/events/speakers/speaker_8.jpg",
						link: "#"
					},
					{
						name: "Mr. Nathan Symes",
						title: "General Manager, Regional Channel Sales & Business Development",
						company: "Fuji Xerox Asia Pacific",
						thumbnail: "/images/content/events/speakers/speaker_9.jpg",
						link: "#"
					},
					{
						name: "Mr. Janne Kalervo Iivonen",
						title: "Regional Principal",
						company: "Fuji Xerox Asia Pacific",
						thumbnail: "/images/content/events/speakers/speaker_10.jpg",
						link: "#"
					},
					{
						name: "Ms. Jyotsna Jammi",
						title: "Service Development Manager (Campaign Management) ",
						company: "Fuji Xerox Asia Pacific",
						thumbnail: "/images/content/events/speakers/speaker_11.jpg",
						link: "#"
					}
				]
			})

		+section({__class: "event-details-actions"})
			a#content4.anchor-link(data-label = "Register Now")

				a.btn-orange--inverse(href = "../") View all Events
				a.btn-orange(href = "event-registration") Register Now