.article-content {

	h2 { font-size: calc-em(20px); }

	h3 {
		font-size: calc-em(18px);
		margin-top: 1.5em;
		margin-bottom: 1em;
		line-height: 1.3em;
	}

	h4 { margin-bottom: .8em; }

	p { line-height: 1.4; margin-top: .8em; }

	.accordion-widget__block-title { margin-top: 0; margin-bottom: 0;}

	.accordion-widget__block-content {
		.thumbnail { margin-right: 10px; }
		.description-text { overflow: hidden; }
	}

	/**
	 * Hyperlinks
	 */
	a {
		text-decoration: none;

		&:hover { text-decoration: underline; }
	}

	.related-pages__block a {
		&:hover { text-decoration: none; }
	}

	.resources__block__download-btn {
		&:hover {
			text-decoration: none;
			background-color: $blue-1;

			i { color: #fff; }
		}
	}

	/**
	 * Tables
	 */
	table {
		font-size: calc-em(14px);
		margin: 20px 0;

		&.full-width { width: 100%; }
	}

	thead {
		color: #fff;
		text-align: left;

		tr { background: $blue-1; }
	}

	th { background: $blue-1; color: #fff; }

	td, th { padding: 15px; font-weight: normal; }

	td { vertical-align: top; max-width: 400px; }

	tbody {

		tr {
			&:nth-child(odd) { background: $grey-1; }
		}

		li { margin-bottom: 8px; }

		p { margin-top: 0; }

		ul {
			li {
				padding-left: 0;

				&:before { display: none; }
			}
		}
	}

	/**
	 * Override for tables in wffm forms
	 */
	.scfForm {
		tbody tr { background: transparent; }

		table {
			margin: 0;
			font-size: 1em;
		}
	}

	img { max-width: 100%; height: auto; }

	/**
	 * List
	 */
	ul {
		li {
			position: relative;
			padding-left: 15px;
			margin-bottom: .5em;

			&:before {
				display: block;
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 5px;
				height: 5px;
				background: $blue-1;
			}
		}
	}

	ol {
		padding-left: 20px;

		&.footnote { font-size: calc-em(12px); }
	}

	li { line-height: 1.4; }

	/**
	 * Points
	 */
	.points {
		text-align: center;

		.icon {
			display: inline-block;
			width: 140px;
			height: 140px;
			text-align: center;
			line-height: 140px;
			border-radius: 50%;
			background: $blue-1;
			margin: 10px auto 20px;

			img {
				position: relative;
				display: inline-block;
				max-width: 100%;
				top: 26px;
			}
		}

		h3 {
			// color: $blue-1;
			font-size: calc-em(40px);
			font-weight: 400;
			margin-bottom: 5px;
		}

		li {
			display: inline-block;
			text-align: center;
			padding-left: 0;
			width: 280px;
			vertical-align: top;

			&:before { display: none; }
		}
	}

	.section {
		@extend %clearfix;
		border-top: 1px solid $grey-3;
		padding-top: 20px;

		&:first-of-type {
			border-top: 0;
			padding-top: 0;
		}

		> h2 {
			margin-top: 0;
		}

		&.featured-linkboxs  { border-top: 0; }
	}
}


/**
 * Subscribe
 */
.subscribe {
	display: none;

	h3 { margin-top: 0; }

	.btn-download {
		position: relative;
		display: inline-block;
		text-decoration: none;
		padding-right: 25px;

		i {
			font-size: 22px;
			text-decoration: none;
			position: absolute;
			right: 0;
			top: 0;
		}

		&:hover { text-decoration: underline; }
	}

	.col { box-sizing: border-box; }

	.input-group-text { margin-top: 0; }

	.btn-group { margin-top: 15px; }
}

/**
 * Product Introduction
 */
.product-introduction {

	.label {
		font-size: calc-em(12px);
		position: relative;
		left: 0;
		top: 12px;
	}

	.desc {	position: relative; }

	.contact-link {
		font-size: calc-em(12px);

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	.image {
		position: relative;
		padding-top: 1.5em;

		img { max-width: 100%; }
	}
}

/**
 * Management Team
 */
.management-team__toc,
.management-team__table {
	.title,
	.company {
		display: block;
		font-size: calc-em(12px);
		font-weight: bold;
	}
}

.management-team__table-block {
	position: relative;
	border-bottom: 1px solid $grey-3;
	padding: 15px 0;

	&:last-child { border-bottom: 0; }

	.thumbnail {
		max-width: 200px;
		margin-bottom: 10px;

		img {
			display: block;
			width: 100%;
			border-radius: 15px;
		}
	}

	h3 { margin: 0; }
}
