@media only screen and (max-width: $sm-breakpoint - 1), print {

	.stacktable {
		&.large-only {
			display: none;
		}

		td {
			border-bottom: 1px solid #fff;

			&:first-child {
				background: $blue-1;
				color: #fff;
			}
		}

		tr:nth-child(even) {
			background: #ebebeb;
		}
	}

	.article-content {
		.stacktable { margin: 20px 0; }
	}

	.subscribe {
		.col {
			padding: 0 20px 15px;

			&:first-child {
				border-bottom: 1px solid darken(#f9f9f9, 10%);
			}
		}
	}

}

@media only screen and (min-width: $sm-breakpoint), print {

	.stacktable {
		&.small-only {
			display: none;
		}
	}

	.subscribe {
		padding: 20px;

		.col {
			padding: 0 20px 20px;

			&:first-child {
				border-right: 1px solid darken(#f9f9f9, 10%);
			}
		}
	}

	.management-team__table-block {
		padding-left: 120px;

		.thumbnail {
			position: absolute;
			left: 0;
			top: 15px;
			width: 100px;
		}
	}
}

@media only screen and (min-width: $md-breakpoint), print {
	.article-content {
		padding-right: 20px;

		&.wide { padding-right: 0; }
	}
}
