mixin site-header(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	header.site-header
		.site-header__wrapper.container
			.row-table
				.site-logo
					a(href="/")
						img(src="/assets/fuji-xerox/images/logo.gif", alt="")
				+search-bar()
				button.btn-nav-menu
					span Menu
				+top-nav(spec.topnav)
				button.btn-mobile-search(type="button")
					span Search
			+main-nav(spec)

