// site-header styles
.site-header {
	position: relative;
	top: 0;
	width: 100%;
	border-bottom: 1px solid $border;
	z-index: 200;
	background-color: #fff;

	&.fix {
		position: fixed;
		box-shadow: 0 4px 5px rgba(102,102,102,0.4);
		border: none;
	}

	&__wrapper {
		@extend %clearfix;
		padding: 20px 0 0;
		position: static;
	}

	&__top, &__bottom {
		@extend %clearfix;
	}

	ul {
		@extend %list-unstyled;
	}

	.site-logo {
		float: left;
		margin-bottom: 20px;
		margin: 0 0 30px 5px;

		a {
			text-decoration: none;
			vertical-align: top;
			display: inline-block;
		}

		img {
			height: 30px;
		}
	}

	.btn-mobile-search, .btn-nav-menu {
		display: none;
		vertical-align: top;
		background: transparent;
		position: relative;
		display: none;
		width: 30px;
		height: 40px;
		padding: 0;
		border: 0;

		span {
			display: block;
			overflow: hidden;
			height: 0;
		}
	}

	.btn-mobile-search {
		float: right;
		background: url(../images/icon-search.svg) 0 4px no-repeat;
		background-size: contain;
		margin: -5px 62px 0 0;
	}

	.btn-nav-menu {
		position: absolute;
		right: 0;
		width: 32px;
		margin: -5px 5px 0 25px;

		span:after {
			background: #999;
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 32px;
			height: 3px;
			content: "";
			margin-top: -1px;
		}

		&:before {
			background: #999;
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 32px;
			height: 3px;
			content: "";
			margin: -9px 0 0;
		}

		&:after {
			background: #999;
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 32px;
			height: 3px;
			content: "";
			margin: 7px 0 0;
		}

		&:focus {
			&:before, &:after, span:after {
				background: $red;
			}
		}

	}

	&.open .btn-nav-menu {
		span:after {
			display: none;
		}

		&:before {
			transform: rotate(45deg);
			margin: -2px 0 0;
		}

		&:after {
			transform: rotate(-45deg);
			margin: -2px 0 0;
		}
	}
}
@media only screen and (max-width: $bpDesktop - 1){
	.site-header {
		position: fixed;

		.btn-mobile-search, .btn-nav-menu {
			display: block;
		}
	}
}

@media only screen and (min-width: $bpTablet) {
	.site-header {
		&__wrapper {
			padding: 20px 30px 0;
		}

		.site-logo {
   			margin: 0 30px 20px 0;

   			img {
   				min-width: 204px;
   				height: 40px;
   			}
		}

		.btn-mobile-search, .btn-nav-menu {
			margin-top: 0;
		}

		.btn-mobile-search {
			margin-right: 0;
		}

		.btn-nav-menu {
			top: 20px;
			right: 30px;
			margin-left: 20px;
		}
	}
}

@media only screen and (min-width: $bpDesktop) {
	.site-header {
		display: table;

		.row-table {
			display: table-row;
		}

		.site-logo {
			display: table-cell;
			width: 284px;
			margin: 0 0 20px 0;
		}

		&.fix {
			.site-header__wrapper {
				padding-top: 9px;
			}

			.site-logo, .search-bar, .top-nav { display: none; }

			.logo-fix {
				width: 136px;
				padding-right: 16px !important;
			}
		}
	}
}

@media print {
	.site-header {
		display: table;

		.row-table {
			display: table-row;
		}

		.site-logo {
			display: table-cell;
			width: 284px;
			margin: 0 0 20px 0;
		}

		.megamenu, .lvl2-menu, .logo-fix {
			display: none;
		}

		&.fix {
			position: relative;
			box-shadow: none;
			border-bottom: 1px solid $border;

			.site-logo, .search-bar { display: table-cell; }

			.site-header__wrapper {
				padding: 20px 0 0;
			}
		}
	}
}
