mixin event-mapper-filters(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.event-mapper__filters.row
		.input-group-select.col-sm-2
			+select({
				options: [
					{
						label: "Location",
						value: ""
					},
					{
						label: "Singapore",
						value: "sg"
					},
					{
						label: "Malaysia",
						value: "my"
					},
					{
						label: "Vietnam",
						value: "vn"
					},
					{
						label: "Philippines",
						value: "ph"
					},
					{
						label: "New Zealand",
						value: "nz"
					},
					{
						label: "Australia",
						value: "au"
					}
				]
			})(id = "countryFilter")

		.input-group-select.col-sm-2
			+select({
				options: [
					{
						label: "Industry",
						value: ""
					},
					{
						label: "Architecture, Engineering and Construction",
						value: "2b24e7431fc149628f62421f75568732"
					},
					{
						label: "Aerospace",
						value: "563c273ffc05468ebf59d1008c9dbbac"
					},
					{
						label: "Banking, Finance and Insurance",
						value: "ad27102053574a8faec175674ea994d9"
					},
					{
						label: "Government",
						value: "c772e5c342b34ec988c2aebb638fdcad"
					},
					{
						label: "Graphic Communications / Printing",
						value: "9faa636d7f73499c9f14cc7b06a0d8a8"
					},
					{
						label: "Hospitality",
						value: "2d4a6675506f43f5a14304e2ec5bb8fc"
					},
					{
						label: "Legal",
						value: "48ef0ac011874d6bae1d4691bc5577d6"
					},
					{
						label: "Manufacturing",
						value: "80974d5a52104b8bbdcd2f823bc8750d"
					},
					{
						label: "Others",
						value: "c43a658ee0664b2ea8539a6fe365d5a5"
					}
				]
			})(id = "industryFilter")

		.input-group-select.col-sm-2
			+select({
				options: [
					{
						label: "Year",
						value: ""
					},
					{
						label: "2017",
						value: "2017"
					},
					{
						label: "2016",
						value: "2016"
					},
					{
						label: "2015",
						value: "2015"
					},
					{
						label: "2014",
						value: "2014"
					},
					{
						label: "2013",
						value: "2013"
					},
					{
						label: "2012",
						value: "2012"
					},
					{
						label: "2011",
						value: "2011"
					}
				]
			})(id = "yearFilter")

		.input-group-select.col-sm-2
			+select({
				options: [
					{
						label: "Month",
						value: ""
					},
					{
						label: "December",
						value: "dec"
					},
					{
						label: "Novemeber",
						value: "nov"
					},
					{
						label: "October",
						value: "oct"
					},
					{
						label: "September",
						value: "sept"
					},
					{
						label: "August",
						value: "aug"
					},
					{
						label: "July",
						value: "jul"
					},
					{
						label: "June",
						value: "jun"
					}
				]
			})(id = "monthFilter")

		.event-mapper__filters__controls
			button.btn-reset.col-sm-2 Reset
