// event-mapper-filters styles
.event-mapper__filters  {
	margin: 20px -10px;
}

.event-mapper__filters__controls {
	@extend %clearfix;
	padding: 0 6px;
	text-align: center;

	button {
		float: none;
		margin: 10px 0;
		max-width: 130px;
		outline: 0;
	}
}

@media only screen and (max-width:  $bpTablet - 1) {
	.event-mapper__filters {
		text-align: center;
		margin: 0 -6px 20px;

		.input-group-select {
			margin-bottom: 10px;
			text-align: left;
		}
	}
}

@media only screen and (min-width: $bpTablet), print {
	.event-mapper__filters__controls {
		button {
			float: left;
			height: 40px;
			margin: 0 0 0 10px;
		}
	}
}
