mixin panel-with-overlay(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.panel-gradient.match-height(class=spec.__class, itemscope itemtype="http://schema.org/Article")
		a(href=spec.url)
			if spec.image
				.panel-gradient__image
					.overlay
					img(src=spec.image, alt="", itemprop="thumbnailUrl")
			.panel-gradient__text
				h3(itemprop="name")=spec.title
				p(itemprop="description")=spec.text

				+button({
					"label": "button",
					"url": "#",
					"notlink": true
				})
