// panel-gradient styles
.panel-gradient {
	position: relative;
	margin-top: 6px;
	padding: 0 6px;

	> a {
		display: block;
		text-decoration: none;
		padding: 6px;
		width: 100%;
		height: 100%;

		&:hover {
			text-decoration: none;
		}
	}

	&__image {
		position: relative;
		height: 175px;
	}

	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0))
	}

	img {
		@include image-cover;
	}

	&__text {
		padding: 20px 25px 30px 25px;

		h3 {
			position: absolute;
			top: 15px;
			left: 37px;
			right: 37px;
			font-size: calc-em(22px);
			line-height: 1.2;
			margin: 0 0 10px;
			font-weight: 300;
			color: #fff;
		}

		p {
			line-height: 1.4;
			margin: 0;
			color: #000;
		}
	}

	&:hover {
		> a {
			background-color: $panel-hover;
		}

		.button {
			background-color: #fff;
			color: #000;
			border: 1px solid $border3;
			padding: 4px 34px 4px 14px;

			&:after {
				border-top: 2px solid $red;
    			border-right: 2px solid $red;
			}
		}
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.panel-gradient {
		&__text {
			h3 { font-size: calc-em(20px); }
		}
	}
}
