mixin select(spec)
	- spec = spec || {}
	- spec.options = spec.options || {}
	- spec.__class = spec.__class || ''

	select.custom-select(class=spec.__class)&attributes(attributes)
		each option in spec.options
			option(value = option.value)=option.label



