// select styles
.custom-select-wrapper {
	position: relative;

	.label {
		position: relative;
		display: block;
		width: 100%;
		padding: 4px 25px 4px 5px;
		border: 1px solid #9a9a9a;
		border-radius: 5px;
		z-index: 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	select {
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
	}

	.icon-dropdown-arrow {
		position: absolute;
		right: 10px;
		top: 8px;
	}
}
