// 2-col-carousel styles
.two-col-carousel, .three-four-carousel, .tabbed-carousel {
	margin: 0 -12px;

	&__dots {
		text-align: center;
	}

	.slick-dots {
		@extend %clearfix;
		@extend %list-unstyled;
		display: inline-block;
		margin-bottom: -10px;

		li {
			float: left;

			&.slick-active {
				button {
					background-color: $red;
					border-color: $red;
					color: $red;
				}
			}
		}

		button {
			color: #fff;
			background-color: #fff;
			border: 2px solid $border3;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			overflow: hidden;
			padding: 0;
			margin: 8px;
			display: block;

			&:focus { outline: 0; }
		}
	}

	.slick-arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		// transform: translate(0, -50%);
		background: transparent;
		border: none;

		span {
			position: absolute;
			display: block;
			overflow: hidden;
			width: 0;
			height: 0;
		}

		&:before {
			background-image: url(../images/sprite.png);
			background-repeat: no-repeat;
			content: "";
			display: inline-block;
		    width: 33px;
		    height: 63px;
		}

		&.prev {
			left: -70px;

			&:before {
				background-position: -198px 0;
			}
		}

		&.next {
			right: -70px;

			&:before {
				background-position: -263px 0;
			}
		}

		&:focus, &:hover {
			outline: 0;

			&.prev {

				&:before {
					background-position: -231px 0;
				}
			}

			&.next {

				&:before {
					background-position: -297px 0;
				}
			}
		}
	}
}

@media only screen and (min-width: $bpTablet){
	.layout-article {
		.two-col-carousel {
			padding: 0;
		}
	}

	.two-col-carousel {
		padding: 0 80px;
	}
}

@media only screen and (min-width: $bpDesktop){
	.two-col-carousel {
		padding: 0 160px;
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.two-col-carousel, .three-four-carousel {
		.slick-arrow {
			display: none;
		}
	}

	.two-col-carousel {
		.panel-gradient {
			padding: 0;

			> a {
				padding: 0;
			}
		}
	}
}

@media only screen and (max-width: 1499px){
	.two-col-carousel {
		// width: 80%;
		margin: 0 auto;
	}
}
