mixin 2-col-carousel(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.two-col-carousel.column-row
		.two-col-carousel__dots
		.two-col-carousel__items
			each panel in spec
				+panel-with-overlay(panel)
