include ../../organisms/carousel/carousel
include ../../organisms/home-actions/home-actions
include ../../organisms/home-announcement/home-announcement
include ../../organisms/home-list/home-list

mixin homepage(spec)
	- spec = spec || {}
	- spec.carousel = spec.carousel || {}
	- spec.__class = spec.__class || ''

	+carousel(spec.carousel)
	+home-actions
	+home-announcement

	.wingspan
		.row-col-12
			+home-list({
				__class: "col-sm-6 push-right-15",
				title: "Latest News",
				list: site.data.list.latest_news,
				moreLabel: "Read more",
				moreLink: "#"

			})

			+home-list({
				__class: "col-sm-6 push-left-15",
				title: "Upcoming Events",
				list: site.data.list.upcoming_events,
				moreLabel: "View all events",
				moreLink: "#"
			})
