include ../../organisms/aside/aside

mixin article-content(spec)
	- spec = spec || {}
	- spec.contentClass = spec.contentClass || ''
	- spec.__class = spec.__class || ''
	- spec.aside = spec.aside || ''

	article.article(class=spec.__class)&attributes(attributes)
		.row-col-12.wingspan
			.article-content(class=spec.contentClass)
				block

			if spec.aside !== ''
				+asidephase2(spec.aside)

