%button-style {
	background-image: url('../images/ie/search-button.png');
	background-size: auto 100%;
}

.lt-ie10 {
	.site-header {
		background-image: url('../images/ie/site-header.png');
		background-size: auto 100%;
	}

	.btn-search, .more-link a {
		@extend %button-style;
	}

	.flyout {
		.box {
			.btn {
				background-image: url('../images/ie/box-button.png');
				background-size: auto 100%;
			}
		}
	}

	.solution-mapper__filters {
		.btn-clear-filter {
			@extend %button-style;
		}
	}

	.solution-mapper__intro__show-all {
		.btn-show-all {
			@extend %button-style;
		}
	}

	.site-footer {
		background-image: url('../images/ie/site-footer.png');
		background-size: auto 100%;
	}
}
