@media only screen and (max-width: $sm-breakpoint - 1) {

}

@media only screen and (min-width: $sm-breakpoint) {
	.lt-ie10 {
		.main-navigation__menu {
			.parent {
				> a {
					background-image: url('../images/ie/short-main-nav.png');
					background-size: auto 100%;
				}

				&:nth-child(1) > a {
					background-image: url('../images/ie/main-navigation.png');
					background-size: auto 100%;
				}

				&:nth-child(2) > a {
					background-image: url('../images/ie/main-navigation.png');
					background-size: auto 100%;
				}
			}
		}
	}
}
