extends ../_layouts/base

include ../_modules/molecules/section/section
include ../_modules/templates/listing/listing

include ../_modules/organisms/related-pages/related-pages
include ../_modules/organisms/accordion/accordion

//- Configuration
block config
	- var baseUrl = '../'
	- var pageTitle = 'Fuji Xerox | Blank Template'
	- var parent = 1

block content
	+listing({
		__class: "search-results wingspan",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Search Results"
			}
		]
	})
		h1 Search

		.listing-content
			.listing-content__result-status
				p.msg.success-msg.show Total: <span class="total-results">16</span> results found.

		ul.listing-content__search-results
			li
				h2: a(href = "#") Fuji Xerox Singapore Launches Four Office Multifunction Devices with Enhanced Mobile Flexibility and Connectivity
				span.url https://www.fujixerox.com.sg/news/2015-oct-06
				p.excerpt When equipped with an optional Wireless LAN Converter, the models can also be directly connected with mobile devices with Wi-Fi Direct® for convenient printing. Working seamlessly with Fuji Xerox’s cloud-based ...

			li
				h2: a(href = "#") VersantTM 2100 Press is Awarded the Good Design Award 2014
				span.url https://www.fujixerox.com.sg/news/2014-oct-01
				p.excerpt With the Installed Environment TOKYO, October 1, 2014 – Versant TM 2100 Press, the color on-demand publishing system developed by Fuji Xerox Co., Ltd., has been awarded the Good Design Award 2014 by ...

			li
				h2: a(href = "#") Fuji Xerox Ranked Highest in J.D. Power Asia Pacific Color Copier And Color Printer Customer Satisfaction Studies for Five Consecutive Years
				span.url https://www.fujixerox.com.sg/news/2014-aug-14
				p.excerpt 2014 August 14 Fuji Xerox Ranked Highest in J.D. Power Asia Pacific Color Copier And Color Printer Customer Satisfaction Studies for Five Consecutive Years Fuji Xerox Ranked Highest ...

			li
				h2: a(href = "#") Versant 2100 Press
				span.url https://www.fujixerox.com.sg/products/production/production-printing/colour-digital-production-presses/versant-80-press
				p.excerpt the Versant™ 2100 Press, you can respond with more confidence. VersantTM 2100 Press Productivity Print in full color at speeds up to 100 ppm (pages per minute) 350 gsm auto duplex ...

			li
				h2: a(href = "#") Device Log Service
				span.url https://www.fujixerox.com.sg/products/software/office-software/device-log-service
				p.excerpt consolidates all device usage data for statistical analysis. By setting unit prices for Color and B&W, you can now view all departments and users printing costs. * The unit price is common to all ...

			li
				h2: a(href = "#") Fuji Xerox Develops Technology That Facilitates Image Editing Based on Human Visual Perception
				span.url https://www.fujixerox.com.sg/news/2014-jul-02
				p.excerpt of an image, such as colors and shapes, based on human visual perception. Through this technology, the impression that an image gives can be changed by enhancing visibility and shapes. To develop ...
