// top-banner styles
.top-banner {
	> div { position: relative; }
}

.top-banner__image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	img {
		display: block;
		max-width: 100%;
	}
}

.top-banner__content {
	color: #fff;
	padding: 10px;

	h1 {
		margin: 0;
		line-height: 1.2;
		font-size: calc-em(26px);
	}

	p { font-size: 15px; }
}

.top-banner__content__background {
	background: $blue-1;
}

@media only screen and (max-width: $sm-breakpoint - 1) {

	.top-banner__image { min-height: 300px; }
}

@media only screen and (min-width: $sm-breakpoint), print {

	.top-banner__content {
		position: absolute;
		left: 20px;
		top: 15%;

		h1 { margin-bottom: 0; }
	}
}

