mixin top-banner(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//Top Banner
	div.top-banner.wingspan(class=spec.__class)&attributes(attributes)
		.row-col-12
			.top-banner__image
				img(src = baseUrl + spec.image)

			if spec.title
				.top-banner__content.col-sm-4.col-md-3
					h1= spec.title
					if spec.text
						p= spec.text
	//End: Top Banner



