extends ../_templates/fullwidthpage

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'WFFM'
	- pageDescription = 'This is the form page of Fuji Xerox'
	- formData = site.data.form

block FullWidthBanner
	+hero-banner(formData.banner)

block FullWidthContent
	+section()
		+new-wffm-form({
			title: "New WFFM Form",
			text: "This is the new WFFM form after markup change.",
			footer: "This is the WFFM Footer."
		})

