include ../../molecules/breadcrumb/breadcrumb
include ../../organisms/top-banner/top-banner

mixin landing(spec)
	- spec = spec || {}
	- spec.breadcrumb = spec.breadcrumb || {}
	- spec.banner = spec.banner || {}
	- spec.__class = spec.__class || ''


	+breadcrumb({breadcrumb: spec.breadcrumb})
	+top-banner(spec.banner)
	block
