extends ../_layouts/base

include ../_modules/molecules/section/section
include ../_modules/templates/article/article

include ../_modules/organisms/related-pages/related-pages
include ../_modules/organisms/accordion/accordion
include ../_modules/organisms/form/form

//- Configuration
block config
	- var baseUrl = '../'
	- var pageTitle = 'Fuji Xerox | Form'
	- var parent = 1

block content
	+article({
		contentClass: "col-sm-10 offset-sm-1 col-md-8 offset-md-2",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Form"
			}
		],
		banner: {
			title: "Form",
			image: "images/content/banners/solutions.jpg"
		}
	})
		+form({form: "customer feedback"})