extends ../../_layouts/base

include ../../_modules/molecules/section/section
include ../../_modules/templates/article/article

include ../../_modules/organisms/related-pages/related-pages

//- Configuration
block config
	- var baseUrl = '../../'
	- var pageTitle = 'Fuji Xerox | DocuCentre-V C7785/C6685/C5585'
	- var parent = 2

block content
	+article({
		contentClass: "col-sm-10 col-md-8 offset-sm-1 offset-md-2",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Products",
				"href": "/products"
			},
			{
				"label": "DocuCentre-V C7785/C6685/C5585"
			}
		],
		banner: {
			title: "DocuCentre-V C7785/C6685/C5585",
			text: "Delivering a new standard in versatility and performance",
			image: "images/content/banners/docucenter.jpg"
		},
		quicklinks: [],
		aside: {
			__class: "col-sm-10 offset-sm-1 col-md-2 offset-md-0",
			asideNav: {
				__class: "aside-navigation",
				label: "Related Links",
				link: "#",
				nav: [
					{
						label: "Submit Meter Readings",
						link: "#"
					},
					{
						label: "Toner Ordering",
						link: "#"
					},
					{
						label: "Relocate Machine Request",
						link: "#"
					},
					{
						label: "Quick Reference Guide",
						link: "#"
					},
					{
						label: "Make a Service Request",
						link: "#"
					},
					{
						label: "Case Studies",
						link: "#"
					}
				]
			}
		}
	})
		+section({__class: "product-introduction"})
			a#content1.anchor-link(data-label = "Overview")
			.row-col-12
				.col-sm-7.desc
					span.label.new-item NEW
					h2.product-name DocuCentre - V C7785/C6685/C5585

					p: a.contact-link.modalbox(href = "#enquiryForm" target="_blank" data-productid="12345") Contact our sales team

					p Fast, beautiful and more convenient.

					p Delivering top- of - the - line performance.

					p In addition to outstanding printing productivity of 70 pages/ minute*(colour) and 75 page/ minute(monochrome), our premium DocuCentre models deliver optimal performance, including outstanding image quality, high energy efficiency and solid durability.

					p Thanks to the support for cloud services and enhanced compatibility with mobile devices (such as smartphones and tablets), you can input and output while on the go for even greater convenience.

					p DocuCentre-V series satisfies your need for speedy business development.

				.col-sm-5.image.push-left-10
					img(src = "/images/content/product/product-image.jpg" alt = "")

		+section
			a#content2.anchor-link(data-label = "Features")
			h2 Features

			h3 Smart Technology for Maximum Efficiency

			ul
				li <strong>Convert scanned data and documents to numerous editable digital formats</strong>
				li <strong>Enhanced flexibility of Scans</strong> where it can be made available to computer address and supports bigger file size and skip blank page flip can be disabled using ScanAuto.
				li <strong>Ease of scan storage location</strong> with the use of ScanDelivery where file naming rules and scan attributes can be automatically set up.

			h3 Supports High Volume Productivity

			ul
				li <strong>High speed processing</strong> with sleep mode to full operation in 3.1 seconds</strong>
				li <strong>Ultra high speed and high print resolution</strong>, up to 75 ppm photocopy and print speeds and full colour resolution of 2,400 by 2,400 dpi
				li <strong>Wide range of finisheroptions</strong> for stapling, booklet making and folding.
				li <strong>Exceptional media flexibility</strong>, supporting media weight of up to 300 gsm and media sizes up to A3 and SRA3.
				li <strong>Auto Duplex print on Heavy paper</strong>; be it coated or art paper from 64gsm to 300 GSM

			h3 Convenience at Your Fingertips

			ul
				li <strong>User friendly control panel</strong> with Four different gestures- Tap, d-tap, drag and flick to scroll and switch pages smoothly.</li>
				li <strong>Sever-less authentication linkage</strong> where administrators do not have to configure authentication settings for each machine.
				li <strong>Ease of access to device</strong> through Wi-Fi Direct connection. Access points are not needed.
				li Supports Air Print &amp; Mopria for ease of printing

			h3 Reduced Energy Consumption

			ul
				li <strong>Consume less power</strong> with LED Scanner delivering a level of brilliance equivalent to a Xenon
				li <strong>Reduce power and achieve a brilliant output</strong> with Fuji Xerox EA- Eco Toner.
				li <strong>Energy Star certified</strong>
				li Low TEC Value: From 6.8 kWh

		+section
			a#content3.anchor-link(data-label = "Benefits")
			h2 Benefits

			ul
				li Capacity to accommodate heavy duty prints with high print resolution
				li Efficient operational features that help to streamline business processes
				li Improve business uptime with advanced in-house finishing options

		+section
			a#content4.anchor-link(data-label = "Specifications")
			h2 Specifications

			.resources__block
				dl
					dt File Size:
					dd 4100kb
					dt Document Type:
					dd Portable Document Format

				//DEV NOTE
				//If Email Subscription is switched off
				//<a href = "#" class = "resources__block__download-btn" title = "Download Colour Management Brochure"><i class = "icon-download"></i><span class = "sr-only">Download Resource</span></a>
				//ELSE
				a.fancybox.resources__block__download-btn(href = "#subscriptionCall")
					i.icon-download
					span.sr-only Download Brochure
				//END

			//Subscription Call
			.subscribe#subscriptionCall
				.row-col-12.
					<div class = "col-sm-6 col-md-6 col match-height">
						<h3>You may download the PDF here</h3>
						<a href="#" target = "_blank" class = "btn-download">Colour Management Brochure<i class="icon-download"></i></a>
					</div>
					<div class = "col-sm-6 col-md-6 col match-height">
						<h3>Subscribe to our newsletter</h3>
						<!-- <p>Keep yourself update to Fuji Xerox latest product!</p> -->
						<div class = "form-row row-col-12">
							<div class = "col-sm-6">
								<div class = "input-group-text">
									<label for = "subscribeName">Name<span class = "required">*</span></label>
									<input type = "text" id = "subscribeName" placeholder = "Name">
								</div>
								<div class = "input-group-text">
									<label for = "subscribeEmail">Email<span class = "required">*</span></label>
									<input type = "email" id = "subscribeEmail" placeholder = "abc@example.com">
								</div>
							</div>
						</div>
						<div class = "btn-group">
							<button type = "submit">Submit<i class = "icon-chevron-with-circle-right"></i></button>
						</div>
					</div>
			//End: Subscription Call

		+section
			a#content5.anchor-link(data-label = "How to Buy")
			h2 How to Buy

			p We make it easy for you to purchase products, supplies and services from us. Our extensive network of representatives can help you choose the right solutions for your business needs.</p>

			p: a(href = "#") For sales enquiries, simply fill up our online form.

		+section({__class: "related-products"})
			.related-products__block
				span.label.new-item NEW
				.thumbnail
					a(href = "#")
						img(src = "/images/content/printer-1.png")

				h3: a(href = "#") ApeosPort-V C7775/C6675/C5575/C4475/C3375/C3373/C2275

				div
					ul
						li.visible High speed printer
						li.visible Cost effective
						li.visible Environment friendly

					p Printing Speed:<br> 65ppm – 75ppm

					p Paper Size:<br> A4

			.related-products__block
				span.label.new-item NEW
				.thumbnail
					a(href = "#")
						img(src = "/images/content/printer-1.png")

				h3: a(href = "#") ApeosPort-V C7775/C6675/C5575/C4475/C3375/C3373/C2275

				div
					ul
						li.visible High speed printer
						li.visible Cost effective
						li.visible Environment friendly

					p Printing Speed:<br> 65ppm – 75ppm

					p Paper Size:<br> A4

			.related-products__block
				span.label.new-item NEW
				.thumbnail
					a(href = "#")
						img(src = "/images/content/printer-1.png")

				h3: a(href = "#") ApeosPort-V C7775/C6675/C5575/C4475/C3375/C3373/C2275

				div
					ul
						li.visible High speed printer
						li.visible Cost effective
						li.visible Environment friendly

					p Printing Speed:<br> 65ppm – 75ppm

					p Paper Size:<br> A4


