@media only screen and (max-width: $sm-breakpoint - 1) {

	.newsroom-featured__download-block {
		margin-top: 10px;
	}

	.newsroom-featured__blog-block {
		margin-top: 10px;
	}
}

@media only screen and (min-width: $sm-breakpoint) {
	.newsroom-featured {
		>.col-sm-5, >.col-sm-7 {
			position: relative;
		}
	}

	.newsroom-featured__block,
	.newsroom-featured__download-block {
		.desc {
			min-height: 150px;
		}
	}

	.newsroom-featured__blog-block {
		height: 50%;

		.desc {
			position: absolute;
			width: 100%;
			height: 100%;
			// padding-bottom: 100px;
			top: 0;
		}
	}

	.newsroom-featured__block,
	.newsroom-featured__download-block {
		&.highlight-block {
			.image { height: auto; }
		}

		.image {
			height: 160px;
			background-size: cover;
			background-position: center center;
		}
	}
}

@media only screen and (min-width: $md-breakpoint) {
	.newsroom-featured__block,
	.newsroom-featured__download-block {
		.desc {
			min-height: 130px;
		}
	}
}
