// accordion-wrapper styles
.accordions {
	> h3 {
		font-weight: 300;
		margin: 0 0 15px;
	}
}

// @media only screen and (min-width: $bpDesktop), print{
// 	.accordions {
// 		h3 { font-size: calc-em(24px); }
// 	}
// }

