// sort-table styles
.tablesorter-default .header, .tablesorter-default .tablesorter-header {
    background-image: url(../images/white-unsorted.gif);
    background-position: calc(100% - 10px);
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;

    &:focus {
    	outline: 0;
    }
}

.tablesorter-default thead .headerSortDown, .tablesorter-default thead .tablesorter-headerDesc, .tablesorter-default thead .tablesorter-headerSortDown {
    background-image: url(../images/white-desc.gif);
}

.tablesorter-default thead .headerSortUp, .tablesorter-default thead .tablesorter-headerAsc, .tablesorter-default thead .tablesorter-headerSortUp {
    background-image: url(../images/white-asc.gif);
}
