mixin sort-table(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	table.sorting-table
		thead
			tr
				th Products
				th ID
				th Price
		tbody
			tr
				td
					a(href="#") Versant 180
				td p123
				td SGD 123
			tr
				td
					a(href="#") Cutting
				td p412
				td SGD 233
			tr
				td
					a(href="#") Coating and Laminating
				td p251
				td SGD 647
			tr
				td
					a(href="#") D136 Copier / Printer
				td p973
				td SGD 182
			tr
				td
					a(href="#") DocuColor DC1450 GA
				td p23
				td SGD 973
			tr
				td
					a(href="#") Fujifilm Acuity Advance Select HS
				td p842
				td SGD 512
			tr
				td
					a(href="#") Xerox Nuvera 200/288/314 EA
				td p68
				td SGD 149
