// reseller-locator styles
.reseller-partners--list {
	table {
		td img {
			height: 25px;
			margin-right: 8px;
		}
	}
}

.reseller-locator {
	h2 {
		margin: 0 0 30px 0;
	}

	#resellerMap {
		width: 100%;
		height: 300px;
	}

	.reseller-nodisplay {
		display: none;
	}

	.reseller-map {
		margin: 50px 0 0 0;
		position: relative;

		span {
			display: inline-block;
			margin-bottom: 15px;
		}

		.resellers-count {
			font-weight: bold;
			padding: 0 2px 0 4px;
		}

		.switch-view {
			position: absolute;
			right: 0;
			color: $red;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		iframe {
			display: block;
		}

		.map-pop-up {
			strong {
				display: inline-block;
				margin-bottom: 8px;
			}

			p {
				margin: 0;
			}
		}
	}

	.reseller-partners {
		&--list {
			table {
				width: 60%;
				min-width: 720px;

				p {
					margin: 0;
					display: inline-block;
					padding-right: 3px;
				}

				td.has-medal {
					position: relative;

					img {
						position: absolute;
						top: 15px;
						left: 15px;
					}

					span {
						display: inline-block;
						padding-left: 25px;
					}
				}
			}
		}

		&--legend {
			display: none;
			margin: 12px 0;
			padding-bottom: 16px;
			border-bottom: 1px solid $border;


			p {
				margin-top: 0px;
				font-weight: 400;
			}

			ul {
				@extend %list-unstyled;
				@extend %clearfix;
			}

			li {
				float: left;
				margin-right: 24px;
			}

			img {
				height: 25px;
				margin-right: 12px;
			}

			span {
				line-height: 25px;
				vertical-align: middle;
			}
		}

		&--content {
			.partner-item {
				padding: 0 0 20px 0;
				border-bottom: 1px solid $border;

				h3 {
					img {
						height: 29px;
						margin-right: 12px;
					}
				}
			}

			.partner-item__detail {
				position: relative;
				line-height: 1.3em;
				margin: 0 0 6px 0;
				font-size: calc-em(15px);

				.label {
					position: absolute;
					top: 0;
					left: 0;
				}

				&--text {
					display: inline-block;
					padding-left: 65px;
				}

				p {
					margin: 0;
				}

				&.contact, &.fax {
					display: inline-block;
				}

				&.contact {
					margin-right: 24px;
				}
			}

			a {
				color: $red;
				font-size: calc-em(15px);
				font-weight: 500;

				&.button {
					color: #fff;

					&:hover { color: $red; }
				}
			}
		}
	}
}

// @media only screen and (min-width: $bpTablet) {
// 	.reseller-locator {
// 		.reseller-map {
// 			max-width: 720px;
// 		}
// 	}
// }


@media only screen and (min-width: $bpDesktop) {
	.reseller-locator {
		#resellerMap {
			width: 60%;
			min-width: 720px;
			height: 400px;
		}

		.reseller-map {
			max-width: none;

			.switch-view {
				right: auto;
				left: 720px;
				transform: translate(-100%, 0);
			}
		}
	}
}
