mixin reseller-locator(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//- .reseller-locator(data-locator="http://maps.google.cn/")
	div(class=spec.__class, data-locator="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=" data-apikey="AIzaSyC3RU1ehPFevI1uGes49wIpZKhR7KHwrcI")
		//- if china = http://maps.google.cn/
		//- international = https://maps.googleapis.com/
		h2 Reseller Locator
		+reseller-locator-filters()

		.reseller-map.reseller-nodisplay
			span There are
			span.resellers-count
			span reseller(s) in this location
			#resellerMap

		.reseller-partners.reseller-nodisplay(data-endpoint="/assets/fuji-xerox/api/reseller2.json", data-radius="10")
			.reseller-partners--content
		script#reseller-template(type = "text/x-dot-template").
			{{~it :locator}}
				<div class="partner-item row-col-12">
					<div class="partner-item__text col-md-4">
						<h3>{{!locator.name}}</h3>
						{{? locator.address}}
							<div class="partner-item__detail address">
								<span class="label">Address: </span>
								<div class="padded partner-item__detail--text">
										{{= locator.address}}
								</div>
							</div>
						{{?}}
						{{? locator.contact}}
							<div class="partner-item__detail contact">
								<span class="label">Contact: </span>
								<div class="padded partner-item__detail--text">
									<p>{{!locator.contact}}</p>
								</div>
							</div>
						{{?}}
						{{? locator.fax}}
							<div class="partner-item__detail fax">
								<span class="label">Fax: </span>
								<div class="padded-fax partner-item__detail--text">
									<p>{{!locator.fax}}</p>
								</div>
							</div>
						{{?}}
						{{? locator.email}}
							<div class="partner-item__detail email">
								<span class="label">Email: </span>
								<div class="padded partner-item__detail--text">
									<p>{{!locator.email}}</p>
								</div>
							</div>
						{{?}}
						{{? locator.webURL}}
							<div class="partner-item__detail web">
								<span class="label">Website: </span>
								<div class="padded partner-item__detail--text">
									<p>{{!locator.webURL}}</p>
								</div>
							</div>
						{{?}}
						{{? locator.otherInfo}}
							<div class="partner-item__detail other-info">
								<span class="label">Other info: </span>
								<div class="padded partner-item__detail--text">
									<p>{{!locator.otherInfo}}</p>
								</div>
							</div>
						{{?}}
						<div>
							<a class="btn-map-show" data-lat="{{!locator.lat}}" data-long="{{!locator.long}}" href="#">Show on map</a>
						</div>
						{{? locator.formURL}}
							<div>
								<a class="button" href="{{!locator.formURL}}">Request a quote</a>
							</div>
						{{?}}
					</div>
				</div>
			{{~}}

