mixin site-footer(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//Site Footer
	footer.site-footer(class=spec.__class)
		.wingspan
			//Mega Footer
			if !spec.isError
				.mega-footer.row-col-15.hidden-xs
					.col-sm-3
						h5: a(href = "/solutions-and-services") Solutions &amp; Services

						ul
							li: a(href = "/solutions-and-services/office-solutions/") Office Solutions
							li: a(href = "/solutions-and-services/production-solutions/") Production Solutions
							li: a(href = "/solutions-and-services/enterprise-solutions/") Enterprise Solutions
							li: a(href = "/solutions-and-services/global-services/") Global Services
							li: a(href = "/solutions-and-services/commercial-financing-solution-services/") Commercial Financing Solution Services

					.col-sm-3
						h5: a(href = "/products") Products

						ul
							li: a(href = "http://localhost/products/?listing=printers") Printers
							li: a(href = "http://localhost/products/?listing=supplies") Supplies
							li: a(href = "http://localhost/products/?listing=software") Software

					.col-sm-3
						h5: a(href = "http://onlinesupport.fujixerox.com/setupSupport.do?cid=1&lang_code=en&ctry_code=SG") Support &amp; Drivers

						ul
							li: a(href = "https://www.fujixerox.com.sg/contact/general-information/reseller-partners/authorized-resellers") Technical Support
							li: a(href = "https://onlinesupport.fujixerox.com/setupRelocation.do?cid=1&lang_code=en&ctry_code=SG") Relocate Machine Request
							li: a(href = "https://www.fujixerox.com.sg/support-and-drivers/tools-and-guides/quick-reference-guide") Quick Reference Guide
							li: a(href = "https://www.fujixerox.com.sg/support-and-drivers/tools-and-guides/authentication-label") Authentication Label
							li: a(href = "http://onlinesupport.fujixerox.com/setupSupport.do?cid=1&lang_code=en&ctry_code=SG") Self Help
							li: a(href = "http://www.fujixeroxprinters.com.sg/en/support/warrantyregistration.aspx") Warranty Registration
							li: a(href = "http://onlinesupport.fujixerox.com/setupSuppTool.do?cid=1&lang_code=en&ctry_code=SG") Support Tools
							li: a(href = "http://onlinesupport.fujixerox.com/setupDriverList.do?cid=1&lang_code=en&ctry_code=SG") Downloads

					.col-sm-3
						h5: a(href = "/company") Company

						ul
							li: a(href = "/company/about-fuji-xerox-singapore") About Fuji Xerox Singapore
							li: a(href = "/company/management-team") Management Team
							li: a(href = "/company/awards-achievements") Awards &amp; Achievements
							li: a(href = "/company/substainable-future") Towards a Sustainable Future
							li: a(href = "#") Fuji Xerox Dream Service
							li: a(href = "/company/success-stories") Success Stories
							li: a(href = "/company/newsroom") Newsroom
							li: a(href = "/company/career-with-us") Career with Us

					.col-sm-3
						h5: a(href = "/Contact") Contact Us

						ul
							li: a(href = "#") Contact Details
							li: a(href = "#") Authorised Resellers
				//End: Mega Footer

			//Footer Bottom
			.footer-bottom
				if !spec.isError
					.social-links
						span.label Follow Us

						ul
							li: a(href = "#" title = "Facebook")
								i.icon-facebook
								span.sr-only Facebook
							li: a(href = "#" title = "Linkedin")
								i.icon-linkedin
								span.sr-only Linkedin
							li: a(href = "#" title = "Twitter")
								i.icon-twitter
								span.sr-only Twitter
							li: a(href = "#" title = "Youtube")
								i.icon-youtube
								span.sr-only Youtube

				.footer-info
					if !spec.isError
						ul.footer-info__links
							li: a(href = "#") Privacy Policy
							li: a(href = "#") Terms of Use

					.footer-info__copyright
						p © Fuji Xerox Co. Ltd. All rights reserved.
						p Xerox, Xerox and Design, as well as Fuji Xerox and Design are registered trademarks or trademarks of Xerox Corporation in Japan and/or other countries.
			//End: Footer Bottom
	//End: Site Footer
