extends ../_layouts/base

include ../_modules/molecules/section/section
include ../_modules/templates/article/article

include ../_modules/organisms/related-pages/related-pages
include ../_modules/organisms/accordion/accordion

//- Configuration
block config
	- var baseUrl = '../'
	- var pageTitle = 'Fuji Xerox | Blank Template'
	- var parent = 1

block content
	+article({
		contentClass: "wide",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Blank"
			}
		]
	})
		//Test Content Starts Here
		p Test contents from here, including the line below. Normally users should only enter starting heading 2(h2) to maintaing document outline integrity. However they can occassionaly use h1, but semantically, the content will be at same level as this page.

		hr

		h1 This is 1st level heading(h1)

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		h2 This is 2nd level heading(h2)

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		h3 This is 3rd level heading(h3)

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		h4 This is 4th level heading(h4)

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		h5 This is 5th level heading(h5)

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		h6 This is 6th level heading(h6)

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		p This is a test paragraph.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

		hr

		h2 Basic block level elements

		p.
			This is a normal paragraph (<code>p</code> element).
			To add some length to it, let us mention that this page was primarily written for testing the effect of <strong>user style sheets</strong>.
			You can use it for various other purposes as well, like just checking how your browser displays various HTML elements.

		p This is another paragraph. I think it needs to be added that the set of elements tested is not exhaustive in any sense. I have selected those elements for which it can make sense to write user style sheet rules, in my opionion.

		p.
			This is a <code>div</code> element. Authors may use such elements instead of paragraph markup for various reasons. (End of <code>div</code>.). It has no semantic meaning. Normally not used by users.

		blockquote
			p.
				This is a block quotation containing a single paragraph. Well, not quite, since this is not <em>really</em> quoted text, but I hope you understand the point.

		p The following contains address information about the author, in an <code>address</code> element.

		address.
			<a id="author-credits" href="/404.html" lang="en" lang="en">Ang Ziwei</a>,
			<a href="ziwei.ang@adelphi.digital">ziwei.ang@readingroom.com.sg</a>

		h2 List

		p.
			This is a paragraph before an <strong>unnumbered</strong> list (<code>ul</code>). Note that the spacing between a paragraph and a list before or after that is hard to tune in a user style sheet. You can't guess which paragraphs are logically related to a list, e.g. as a "list header".

		ul
			li One.
			li Two.
			li Three. Well, probably this list item should be longer. Note that for short items lists look better if they are compactly presented, whereas for long items, it would be better to have more vertical spacing between items.
			li Four. This is the last item in this list. Let us terminate the list now without making any more fuss about it.

		p.
			This is a paragraph before a <strong>numbered</strong> list (<code>ol</code>). Note that the spacing between a paragraph and a list before or after that is hard to tune in a user style sheet. You can't guess which paragraphs are logically related to a list, e.g. as a "list header".

		ol
			li One.
			li Two.
			li Three. Well, probably this list item should be longer. Note that for short items lists look better if they are compactly presented, whereas for long items, it would be better to have more vertical spacing between items.
			li Four. This is the last item in this list. Let us terminate the list now without making any more fuss about it.

		p.
			This is a paragraph before a <strong>definition</strong> list (<code>dl</code>). In principle, such a list should consist of <em>terms</em> and associated definitions. But many authors use <code>dl</code> elements for fancy "layout" things. Usually the effect is not <em>too</em> bad, if you design user style sheet rules for <code>dl</code> which are suitable for real definition lists.

		dl
			dt recursion
			dd see recursion
			dt recursion, indirect
			dd see indirect recursion
			dt indirect recursion
			dd see recursion, indirect
			dt term
			dd a word or other expression taken into specific use in a well-defined meaning, which is often defined rather rigorously, even formally, and may differ quite a lot from an everyday meaning

		h2 Nested Lists

		ol
			li One.
			li Two.
			li Three.
				ul
					li Three - One.
					li Three - Two.
					li Three - Three
			li Four.

		h2 Table

		table
			thead
				tr
					th Table Header 1
					th Table Header 2
					th Table Header 3
			tfoot
				tr
					td Footer 1
					td Footer 2
					td Footer 3
			tbody
				tr
					td Division 1
					td Division 2
					td Division 3
				tr
					td Division 1
					td Division 2
					td Division 3
				tr
					td Division 1
					td Division 2
					td Division 3

		h2 Text Level Markup

		ul
			li.
				<abbr title="Cascading Style Sheets">CSS</abbr> (an abbreviation; <code>abbr</code> markup used)
			li.
				<strong>strong text</strong> (<code>strong</code> markup used - bolding with semantics
			li.
				<b>bolded</b> (<code>b</code> markup used - just bolding with unspecified semantics)
			li.
				<cite>Origin of Species</cite> (a book title, movie etc. Generally a piece of work. No persons name; <code>cite</code> markup used)
			li.
				<code>a[i] = b[i] + c[i);</code> (computer code; <code>code</code> markup used)
			li.
				here we have some <del>deleted</del> text (<code>del</code> markup used)
			li.
				an <dfn>octet</dfn> is an entity consisting of eight bits (<code>dfn</code> markup used for the term being defined)
			li.
				this is <em>very</em> simple (<code>em</code> markup used for emphasizing a word)
			li.
				<i lang="la">Homo sapiens</i> (should appear in italics;  <code>i</code> markup used)
			li.
				here we have some <ins>inserted</ins> text (<code>ins</code> markup used)
			li.
				type <kbd>yes</kbd> when prompted for an answer (<code>kbd</code> markup used for text indicating keyboard input)
			li.
				<q>Hello!</q> (<code>q</code> markup used for quotation)
			li.
				He said: <q>She said <q>Hello!</q></q> (a quotation inside a quotation)
			li.
				you may get the message <samp>Core dumped</samp> at times (<code>samp</code> markup used for sample output)
			li.
				<small>this is not that important</small> (<code>small</code> markup used)
			li.
				<strike>overstruck</strike> (<code>strike</code> markup used; note: <code>s</code> is a nonstandard synonym for <code>strike</code>)
			li.
				<strong>this is highlighted text</strong> (<code>strong</code> markup used)
			li.
				In order to test how subscripts and superscripts (<code>sub</code> and <code>sup</code> markup) work inside running text, we need some
				dummy text around constructs like x<sub>1</sub> and H<sub>2</sub>O (where subscripts occur). So here is some fill so that you will (hopefully) see whether and how badly the subscripts and superscripts mess up vertical spacing between lines. Now superscripts: M<sup>lle</sup>, 1<sup>st</sup>, and then some mathematical notations: e<sup>x</sup>, sin<sup>2</sup> <i>x</i>, and some nested superscripts (exponents) too: e<sup>x<sup>2</sup></sup> and f(x)<sup>g(x)<sup>a+b+c</sup></sup> (where 2 and a+b+c should appear as exponents of exponents).
			li.
				<u>underlined</u> text (<code>u</code> markup used)
			li.
				the command <code>cat</code> <var>filename</var> displays the file specified by the <var>filename</var> (<code>var</code> markup used to indicate a word as a variable).

		p.
			Some of the elements tested above are typically displayed in a monospace font, often using the <em>same</em> presentation for all of them. This tests whether that is the case on your browser:</p>

		ul
			li
				code This is sample text inside code markup
			li
				kbd This is sample text inside kbd markup
			li
				samp This is sample text inside samp markup

		h2 Links

		ul
			li: a(href = "../index.html") main page
			li: a(href = "http://www.unicode.org/versions/Unicode4.0.0/ch06.pdf" title="Writing Systems and Punctuation" type="application/pdf" target="_blank") Unicode Standard, chapter&nbsp;6

		p.
			This is a text paragraph that contains some inline links. Generally, inline links (as opposite to e.g. links
			lists) are problematic from the <a href="http://www.useit.com" class="external" target="_blank">usability</a> perspective,
			but they may have use as &#8220;incidental&#8221;, less relevant links. See the document <cite><a href="404.html">Links Want To Be Links</a></cite>.
