mixin 2-col-layout(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	// START: 2 Column Layout Title
	<!--[if mso | IE]>
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="640" align="center" style="width:640px;">
	<tr>
	<td style="line-height:0px;mso-line-height-rule:exactly;">
	<![endif]-->
	div(style='margin: 0px auto; max-width: 640px; background-color: #ffffff;')
		table(role='presentation', cellpadding='0', cellspacing='0', border='0', bgcolor="#ffffff", style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-collapse: collapse;', align='center', width="100%" )
			tbody
				tr
					th.two-first-title(width='100%', bgcolor="#ffffff", style='border:none; color: #101010; cursor: auto; font-family: Arial, sans-serif; padding-left: 15px; padding-bottom: 15px; padding-right: 15px; padding-top: 15px; font-size: 18px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff;', align='left')
						h1(style='display: block; margin: 0; text-align: left; color: #101010; font-weight: 700; font-size: 18px;') H1: Arial 18pt, Lorem ipsum consectetur adipiscing elit

	<!--[if mso | IE]>
	</td>
	</tr>
	</table>
	<![endif]-->
	// END: 2 Column Layout Title

	// START: 2 Column Layout
	<!--[if mso | IE]>
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="640" align="center" style="width:640px;">
	<tr>
	<td style="line-height:0px;mso-line-height-rule:exactly;">
	<![endif]-->
	div(style='margin: 0px auto; max-width: 640px; background-color: #ffffff;')
		table(role='presentation', cellpadding='0', cellspacing='0', bgcolor="#ffffff", border='0', style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-collapse: collapse;', align='center', width="100%")
			tbody
				tr
					td.two-second-padding(width="100%" style="padding-right: 15px; padding-bottom: 15px; padding-left: 15px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
						table(cellpadding='0' cellspacing='0' direction="ltr" border='0' bgcolor="#ffffff" width='100%' style='border-style: none; direction: ltr;  mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff; border-collapse: collapse;')
							tr
								td.mobile-fullwidth.mobile-fullwidth--left(direction="ltr" align="left" width="50%" style="padding-top: 0; padding-right: 10px; padding-bottom: 0; width: 50%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" valign="top")
									table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
										tbody
											tr
												td.two-second-image(width="295" height="177" style='color: #101010; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 295px; height: 177px;')
													table(cellpadding='0' cellspacing='0' border='0' bgcolor="#ffffff" width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff; border-collapse: collapse;')
														tbody
															tr
																td(width="100%" style='border-style: none; font-family: Arial, sans-serif; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
																	img(src="/fx_exm/images/item1.jpg", alt="2 Col Layout", title='', height='177', width="295", style='-ms-interpolation-mode: bicubic; border: 0 none; display: block; width: 295px; height: 177px; line-height: 100%; outline: none; text-decoration: none; max-width: 295px;')

											tr
												td.two-second-padding(bgcolor="#ebebeb", height="195" style="background-color: #ebebeb; padding-top: 18px; padding-right: 15px; padding-bottom: 18px; padding-left: 15px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; height: 195px;" valign="top")
													table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
														tbody
															tr
																td.two-second-title(width="100%" style='color: #101010; cursor: auto; font-family: Arial, sans-serif; font-size: 15px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' align="left" valign="top")
																	h2(style='display: block; margin: 0; text-align: left; color: #101010; font-weight: 700; font-size: 15px; line-height: 26px; margin-bottom: 15px;') H2: Arial 15pt

															tr
																td.two-second-text(width="100%" style='color: #444444; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 16px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' align="left" valign="top")
																	p(style='display: block; margin: 0; text-align: left; color: #444444; font-weight: 300; font-size: 12px; line-height: 16px; margin-bottom: 12px;') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
															tr
																td.two-second-link(width="100%" style='color: #d92231; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' align="left" valign="top")
																	p(style='display: block; margin: 0; text-align: left; color: #d92231; font-family: Arial, sans-serif;')
																		a(href="https://www.fujixerox.com.sg/en" style='display: block; margin: 0; text-align: left; color: #d92231; font-size: 12px; line-height: 20px; text-decoration: none;') Learn More >
								//- <!--[if mso | IE]>
								//- </tr>
								//- <tr>
								//- <![endif]-->
								td.mobile-fullwidth.mobile-fullwidth--right(direction="ltr" align="left" width="50%" style="padding-top: 0; padding-bottom: 0; padding-left: 10px; width: 50%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" valign="top")
									table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;' )
										tbody
											tr
												td.third-second-image(width="295" height="177" style='border-collapse: collapse; color: #101010; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 295px; height: 177px;')
													table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
														tbody
															tr
																td(width="100%" style='border-style: none; font-family: Arial, sans-serif; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
																	img(src="/fx_exm/images/item2.jpg", alt="2 Col Layout", title='', height='177', width="295", style='-ms-interpolation-mode: bicubic; border: 0 none; display: block; width: 295px; height: 177px; line-height: 100%; outline: none; text-decoration: none; max-width: 295px;')

											tr
												td.three-second-padding(bgcolor="#ebebeb", height="195" style="background-color: #ebebeb; padding-top: 18px; padding-right: 15px; padding-bottom: 18px; padding-left: 15px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; height: 195px;" valign="top")
													table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
														tbody
															tr
																td.third-title(width="100%" style='color: #101010; cursor: auto; font-family: Arial, sans-serif; font-size: 15px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;' align="left" valign="top")
																	h2(style='display: block; margin: 0; text-align: left; color: #101010; font-weight: 700; font-size: 15px; line-height: 26px; margin-bottom: 15px;') H2: Arial 15pt

															tr
																td.third-text(width="100%" style='color: #444444; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 16px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;' align="left" valign="top")
																	p(style='display: block; margin: 0; text-align: left; color: #444444; font-weight: 300; font-size: 12px; line-height: 16px; margin-bottom: 12px;') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu dolore eu dolore eu
															tr
																td.third-link(width="100%" style='color: #d92231; cursor: auto; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;' align="left" valign="top")
																	p(style='display: block; margin: 0; text-align: left; color: #d92231; font-family: Arial, sans-serif;')
																		a(href="https://www.fujixerox.com.sg/en" style='display: block; margin: 0; text-align: left; color: #d92231; font-size: 12px; line-height: 20px; text-decoration: none;') Learn More >




	<!--[if mso | IE]>
	</td>
	</tr>
	</table>
	<![endif]-->
	// END: 2 Column Layout
