// rte styles
.rte {
	> *:first-child {
		margin-top: 0;
	}

	h1, h2, h3, h4, h5, h6 {
	    font-weight: 300;
	    margin: 20px 0 10px;
	}

	h1 { line-height: 1.166666; }
	h2 { line-height: 1.133333; }
	h3,	h4 { line-height: 1.2; }

	h1 {
		font-size: calc-em(30px);
		margin-top: 25px;
		margin-bottom: 20px;
	}

	h2 {
		font-size: calc-em(24px);
		margin-bottom: 20px;
	}

	h3 {
		font-size: calc-em(20px);
	}

	h4 {
		font-size: calc-em(18px);
	}

	h5 {
		font-size: calc-em(18px);
	}

	h6 {
		font-size: calc-em(18px);
	}

	p {
		margin: 0 0 10px;
		line-height: 1.6;
		font-weight: 300;
		color: #000;
	}

	a:not(.button) {
		color: $red;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
