extends ../_templates/fullwidthpage

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Alipay Form'
	- pageDescription = 'This is the alipay form page of Fuji Xerox'
	- var isForm = true

block FullWidthBanner
	+hero-banner(topicsData.banner)
	//- +nav-tabs-anchor()

block FullWidthContent
	+section()
		//- a.anchor-link(id="anchor1" data-label="Alipay Form")
		.alipay-form
			h1 支付宝
			form#form1(name='submitform', action='', method='post')
				table(width='890px', cellspacing='0', cellpadding='0', border='0', align='center')
					tbody
						tr
							td.left-column
								span.required *
								| 公司名称：
							td
								p
									input.has-outline#CompanyName1(type='radio', name='CompanyName', value='/payment/alipayto/1', checked='checked')
									label(for='CompanyName1') 富士施乐实业发展（中国）有限公司
									a(href='https://www1.fujixerox.com.cn/pay/helpfiles/fxid_how_get.htm', target='_blank', style='padding-left:30px;') 如何获取订单\合同号、发票号
									br
									| 			              （alipay-fxid@chn.fujixerox.com）
									br
								p
									input.has-outline#CompanyName2(type='radio', name='CompanyName', value='/payment/alipayto/2')
									label(for='CompanyName2') 富士施乐（中国）有限公司上海分公司
									a(href='https://www1.fujixerox.com.cn/pay/helpfiles/fxcl_sh_how_get.htm', target='_blank', style='padding-left:15px;') 如何获取订单\合同号、发票号
									br
									| 			              （alipay-fxcl@chn.fujixerox.com）
									br
								p
									input.has-outline#CompanyName3(type='radio', name='CompanyName', value='/payment/alipayto/3')
									label(for='CompanyName3') 富士施乐租赁（中国）有限公司
									a(href='https://www1.fujixerox.com.cn/pay/helpfiles/fxlcl_how_get.htm', target='_blank', style='padding-left:57px;') 如何获取订单\合同号、发票号
									br
									| 			              （alipay-fxlcl@chn.fujixerox.com）
									br
						tr
							td.left-column
								label(for="price").required *
									span  付总价：
							td
								input.has-outline#price(style='width:400px', name='price', type='text', value='', hint='应付总价', allownull='false', size='36')
								span.help-text 金额格式例如: 52.2或3
						tr
							td.left-column(rowspan='2')
								label(for="product1").required *
									span  富士施乐订单\合同号、发票号：
							td
								input.has-outline#product1(style='width:400px', name='product1', type='text', value='', hint='富士施乐订单\合同号、发票号', allownull='false', size='36')
								br
								input.has-outline#raproduct1_2(type='radio', name='raproduct1', checked='checked')
								label(for="raproduct1_2") 发票号
								input.has-outline#raproduct1_1(type='radio', name='raproduct1')
								label(for="raproduct1_1") 订单\合同号
								#newInvoice
						tr
							td
								button.addNewInvoice(type="button") 增加
								//- input.has-outline#btnNewPay(type='button', value='增加', style='width:70px;')
						tr
							td.left-column
								label(for="customerName").required *
									span  客户姓名：
							td
								input.has-outline#customerName(style='width:400px', name='customername', type='text', value='', hint='客户姓名', allownull='false', size='36')
						tr
							td.left-column
								label(for="txtPhone").required *
									span  客户联系电话：
							td
								input.has-outline#txtPhone(style='width:400px', name='customertel', type='text', value='', hint='客户联系电话', allownull='false', size='36')
								span.help-text 格式为：057126880000
						tr
							td.left-column
								label(for="customercompany").required *
									span  客户公司名称：
							td
								input.has-outline#customercompany(style='width:400px', name='customercompany', type='text', value='', hint='客户公司名称', allownull='false', size='36')
						tr
							td  
							td
								button.submitForm(type='submit') 支付宝支付
								button.reset(type='button') 重置
						tr
							td.font14(height='3', colspan='2')
								.payment
									h3 目前支持四种付款方式：
									strong 支付宝余额付款：
									|  当支付宝账户中有余额时，直接输入支付密码即可完成付款，支持大额商品购买，可以先多次充值再付款。
									br
									strong 网上银行付款：
									|  只要您拥有一张支付宝合作银行的银行卡，并开通了网上支付功能，即可顺利支付。支付时无需填写支付宝账户，且如果您尚未注册支付宝账户，将免费获得账户。
									a(target='_blank', href='http://abc.alipay.com') 了解详情
									br
									strong "支付宝卡通"付款：
									|  开通"支付宝卡通"就可直接进行网上付款，不再需要开通网上银行。
									br
									strong 网点付款：
									|  只需到与支付宝合作的营业网点，用现金或刷卡即可完成网上订单付款和支付宝账户充值。
				input#hidCountInvoice(type='hidden', name='hidCountInvoice', value='1')
				input#hidproduct(type='hidden', name='hidproduct')
				input#hidbody(type='hidden', name='hidbody')



block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "this page url"
		}
