// carousel styles
.carousel {
	color: #fff;
	background: $bannerText;
	padding: 40px 0;
	margin-bottom: 12px;

	h3 {
		line-height: 1.3;
		text-align: center;
		margin: 0 0 40px;
		font-size: calc-em(20px);
		font-weight: 400;
	}

	&__dots {
		text-align: center;
	}

	.slick-dots {
		@extend %clearfix;
		@extend %list-unstyled;
		display: inline-block;

		li {
			float: left;

			&.slick-active {
				button {
					background-color: $red;
					border-color: $red;
					color: $red;
				}
			}
		}

		button {
			color: $bannerText;
			background-color: $bannerText;
			border: 1px solid $border3;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			overflow: hidden;
			padding: 0;
			margin: 8px;

			&:focus { outline: 0; }
		}
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.carousel {
		&__items {
			padding: 0 20px;
		}
	}
}

@media only screen and (min-width: $bpTablet), print{
	.carousel {
		.slick-slide {
			.carousel-item:before {
				background: #737373;
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 1px;
				height: 100%;
				content: "";
			}

			&:first-child {
				.carousel-item:before {
					display: none;
				}
			}
		}
	}
}

@media print {
	.carousel {
		page-break-inside: avoid;

		.carousel-item {
			width: 100%;
		}
	}
}
