mixin carousel(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.carousel(class=spec.__class)
		h3 Heading 3
		.carousel__dots
		.carousel__items
			each item in spec.data
				+carousel-item(item)


