extends ../_templates/reseller

include ../_modules/organisms/store-locator/store-locator

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Reseller'
	- pageDescription = 'This is the reseller page of Fuji Xerox'

//- block append stylesheets
//- 	script(type="text/javascript" src="https://maps.googleapis.com//maps/api/js?libraries=geometry&key=AIzaSyC3RU1ehPFevI1uGes49wIpZKhR7KHwrcI")
//- 	script(type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GoR7N5kE8U0TVvsai7e6MO6d7iElyhQR")
//- 	script(type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=YwbCpVG1dKxBUanw9Q8M&submodules=geocoder")

block ResellerContent
	+section()
		+store-locator({
			__class: "google-locator"
		})

	script(type="text/javascript" src="https://maps.googleapis.com//maps/api/js?libraries=geometry&key=AIzaSyC3RU1ehPFevI1uGes49wIpZKhR7KHwrcI")
	script(type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GoR7N5kE8U0TVvsai7e6MO6d7iElyhQR")
	script(type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=YwbCpVG1dKxBUanw9Q8M&submodules=geocoder")

	script(id="provinceData" type="application/json").
		{
			"province": [
				{
					"name": "Beijing",
					"value": "beijing",
					"cities": [
						{
							"name": "Beijing City",
							"value": "beijing"
						}
					]
				},
				{
					"name": "Chongqing",
					"value": "chongqing",
					"cities": [
						{
							"name": "Chongqing",
							"value": "chongqing"
						},
						{
							"name": "Wanzhou",
							"value": "wanzhou"
						},
						{
							"name": "Hechuan",
							"value": "hechuan"
						},
						{
							"name": "Jiangjin",
							"value": "jiangjin"
						},
						{
							"name": "Fulin",
							"value": "fulin"
						},
						{
							"name": "Yongchaun",
							"value": "yongchaun"
						},
						{
							"name": "Qijiang",
							"value": "qijiang"
						},
						{
							"name": "Kaizhou",
							"value": "kaizhou"
						},
						{
							"name": "Changshou",
							"value": "changshou"
						}
					]
				},
				{
					"name": "Shanghai",
					"value": "shanghai",
					"cities": [
						{
							"name": "Shanghai City",
							"value": "shanghai"
						}
					]
				},
				{
					"name": "Tianjin",
					"value": "tianjin",
					"cities": [
						{
							"name": "Tianjin City",
							"value": "tianjin"
						}
					]
				}
			]
		}

	script(id="productData" type="application/json").
		{
			"product": [
				{
					"name": "Color Printers",
					"value": "colorprinters",
					"products": [
						{
							"name": "Color Product 1",
							"value": "colorproduct1"
						},
						{
							"name": "Color Product 2",
							"value": "colorproduct2"
						},
						{
							"name": "Color Product 3",
							"value": "colorproduct3"
						},
						{
							"name": "Color Product 4",
							"value": "colorproduct4"
						},
						{
							"name": "Color Product 5",
							"value": "colorproduct5"
						}
					]
				},
				{
					"name": "Black and White Printers",
					"value": "bwprinters",
					"products": [
						{
							"name": "Black White Product 1",
							"value": "bwproduct1"
						},
						{
							"name": "Black White Product 2",
							"value": "bwproduct2"
						},
						{
							"name": "Black White Product 3",
							"value": "bwproduct3"
						},
						{
							"name": "Black White Product 4",
							"value": "bwproduct4"
						},
						{
							"name": "Black White Product 5",
							"value": "bwproduct5"
						}
					]
				}
			]
		}

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This page url"
		}
