// standard styles
/**
 * 404 page
 */
.\34 04-banner {
	background: $blue-4;
	padding: 60px 20px 10px;
	border-radius: 10px;
	position: relative;
	margin-bottom: 50px;

	.logo {
		position: absolute;
		right: 20px;
		top: 20px;
	}

	p {
		color: #fff;
		font-size: calc-em(50px);
		line-height: 1.2;
		margin: 0 0 10px;

		&.black-text { color: $body-text; }
	}
}

.\34 04-links {

	li { margin-bottom: 20px; }

	.ico {
		display: inline-block;
		width: 80px;
		height: auto;
		vertical-align: middle;

		img { max-width: 100%; }
	}

	.label {
		display: inline-block;
		margin-left: 25px;
		max-width: 62%;
		text-decoration: none;
		font-size: calc-em(14px);
	}
}
