include ../../organisms/article-content/article-content

mixin article(spec)
	- spec = spec || {}
	- spec.breadcrumb = spec.breadcrumb || {}
	- spec.contentClass = spec.contentClass || ''
	- spec.aside = spec.aside || ''
	- spec.__class = spec.__class || ''

	+article-content({
		__class: spec.__class,
		contentClass: spec.contentClass,
		aside: spec.aside
	})
		block

