mixin inquiry(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.inquiry-application
		.inquiry-application__text
			p For inquiries related to our products, please view this.
			if spec.otherLinks
				p
					a(href=spec.otherLinks) Link Link Link Link
			if spec.notes
				ul
					each note in spec.notes
						li=note.text
		.inquiry-application__button
			+button({
				"label": "Inquiry",
				"url": "#"
			})
