// inquiry styles
.inquiry-application {
	@extend %clearfix;
	position: relative;
	background: $border;
	width: 100%;
	margin: 20px 0 12px;
	padding: 20px 17px 20px;
	white-space: normal;
	max-width: 768px;
	margin: 0 auto;

	p {
		margin: 0 0 10px;
		font-size: calc-em(18px);

		a {
			display: inline-block;
			text-decoration: none;
			color: #000;
			position: relative;

			&:after {
				transform: translate(0,-50%);
				font-family: Arial;
				font-size: 90%;
				text-decoration: none;
				color: $red;
				position: absolute;
				top: 50%;
				right: -20px;
				display: inline-block;
				content: "\0000a0\276F";
			}

			&:hover {
				text-decoration: underline;
				color: $red;
			}
		}
	}

	ul {
		@extend %list-unstyled;
	}

	li {
		font-size: calc-em(14px);
	}

	&__button {
		text-align: center;
	}

	.button {
		text-align: center;
		font-size: calc-em(16px);
		font-weight: 400;
		width: 80%;
	}
}


@media only screen and (min-width: $bpTablet){
	.inquiry-application {
		&__text {
			float: left;
			width: 50%;
		}

		&__button {
			position: absolute;
			top: 50%;
			right: 17px;
			transform: translate(0, -50%);
			width: 40%;

			.button {
				margin: 0;
				width: 100%;
			}
		}
	}
}
