extends _layouts/base

include _modules/organisms/email-header/email-header
include _modules/organisms/email-footer/email-footer
include _modules/organisms/1-col-layout/1-col-layout
include _modules/organisms/2-col-layout/2-col-layout
include _modules/organisms/left-layout/left-layout
include _modules/organisms/right-layout/right-layout
include _modules/organisms/call-to-action/call-to-action
include _modules/organisms/hero-banner/hero-banner
include _modules/organisms/image-strip/image-strip

block append stylesheets
	<!--[if !mso]><!-->
	style(type='text/css').
		@media only screen and (max-width:599px) {
			@-ms-viewport { width:320px; }
			@viewport { width:320px; }
		}
	<!--<![endif]-->

	<!--[if (gte mso 9)|(IE)]>
	style(type='text/css').
		table {
			border-collapse: collapse;
			border-spacing: 0;
			mso-line-height-rule: exactly;
			mso-margin-bottom-alt: 0;
			mso-margin-top-alt: 0;
			mso-table-lspace: 0pt; mso-table-rspace: 0pt;
		}
	<![endif]-->

	<!--[if gte mso 9]>
	style(type='text/css').
		li {
			text-indent: -1em; /* Normalise space between bullets and text */
			text-align:-webkit-match-parent;
			display:list-item;
		}
	<![endif]-->

	style(type='text/css').
		#outlook a { padding:0; }
		.ReadMsgBody { width:100%; }
		.ExternalClass { width:100%; }
		.ExternalClass * { line-height:100%; }
		.email-table { display: table !important; }
		table td { border-collapse: collapse !important; }
		td, a, span { border-collapse: collapse; mso-line-height-rule: exactly;}
		span.MsoHyperlink {
			mso-style-priority:99;
			color:inherit;
		}
		span.MsoHyperlinkFollowed {
			mso-style-priority:99;
			color:inherit;
		}
		a[x-apple-data-detectors=true] {
			color:inherit !important;
			text-decoration:inherit !important;
		}
		li {text-align:-webkit-match-parent; display:list-item;}
		.one-col-item-padding p {
			box-sizing: border-box;display: block; margin: 15px 0 15px 0; text-align: left; color: #101010; font-size: 12px; line-height: 16px;
		}
		.one-col-item-padding ul {
			box-sizing: border-box;padding:0; margin: 0 0 0 40px; color: #101010; font-size: 12px; line-height: 16px;
		}
		.one-col-item-padding ul li {
			margin: 3px 0 3px 0 !important;
		}
		.hero-image img {
			width: 610px !important;
			height: 224px !important;
		}
		.image-strip img {
			width: 610px !important;
			height: 162px !important;
		}
		.two-second-image img, .third-second-image img {
			width: 295px !important;
			height: 177px !important;
		}
		.left-layout-image img, .right-layout-image img {
			width: 298px !important;
			height: 179px !important;
		}
		@media screen yahoo {
			* { overflow:visible !important; }
			.y-overflow-hidden { overflow:hidden !important; }
		}
		@media only screen and (max-width:599px) {
			.wrapper {
				max-width: 320px !important;
			}

			.gmailfix {
				display:none;
				display:none !important;
			}
		}
		@media only screen and (max-width: 599px) {
			.browser-padding {
				padding-left: 12px !important;
				padding-right: 12px !important;
			}

			.hero-image, .hero-image img {
				width: 290px !important;
				height: 106px !important;
			}

			.image-strip, .image-strip img {
				width: 290px !important;
			}

			.one-col-padding {
				padding-top: 0px !important;
			}

			.image-strip, .image-strip img {
				height: 77px !important;
			}

			.mobile-fullwidth {
				display: block !important;
				width: 100% !important;
			}

			.mobile-fullwidth--left {
				padding-right: 15px !important;
				padding-bottom: 15px !important;
			}

			.mobile-fullwidth--right {
				padding-left: 0px !important;
				padding-top: 0px !important;
			}

			.mobile-fullwidth--bottom {
				padding-top: 15px !important;
			}

			.mobile-fullwidth__leftlayout--right {
				padding-left: 0px !important;
				padding-top: 15px !important;
			}

			.mobile-fullwidth__rightlayout--left {
				padding-left: 15px !important;
				padding-right: 0px !important;
				padding-top: 15px !important;
			}

			.two-second-image, .two-second-image img, .third-second-image, .third-second-image img, .left-layout-image, .left-layout-image img, .right-layout-image img {
				width: 290px !important;
				height: 174px !important;
			}

			.two-second-padding, .three-second-padding, .third-padding {
				max-width: 290px !important;
			}

			.two-second-padding .mobile-fullwidth, .left-layout-padding .mobile-fullwidth {
				max-width: 290px !important;
			}

			.no-padding-right {
				padding-right: 0px !important;
			}
		}

block content
	body(style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: Arial, sans-serif; margin: 0; padding: 0;', bgcolor='#d9d9d6')
		table(width='100%', cellpadding='0', cellspacing='0', border='0', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' border-collapse: collapse; )
			tbody
				tr
					td(align='center', bgcolor='#d9d9d6', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
						.wrapper
							+email-header

		table(width='100%', cellpadding='0', cellspacing='0', border='0', bgcolor='#d9d9d6', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
			tbody
				tr
					td(align='center' style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
						.wrapper
							// Content Modules Start Here
							+hero-banner

							+1-col-layout

							+call-to-action

							+image-strip

							+2-col-layout

							+left-layout

							+right-layout

		table.email-table(width='100%', cellpadding='0', cellspacing='0', border='0', bgcolor='#d9d9d6', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
			tbody
				tr
					td(align='center' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
						.wrapper
							+email-footer

		span.gmailfix(style='display: block; width: 640px !important; max-width: 640px; height: 1px')
