mixin image-links-wrapper(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.more
		h3 Level 1 Header
		.image-links-wrapper
			each imagelink in spec
				+image-links(imagelink)
	+modal()

