// image-links-wrapper styles
.more {
	text-align: center;
	margin-bottom: 30px;

	h3 {
		margin-top: 50px;
		font-size: calc-em(26px);
		font-weight: 300;
	}

	.image-links-wrapper {
		@extend %clearfix;
		margin: -10px -10px 0;
	}
}

@media only screen and (min-width: $bpDesktop), print{
	.more {
		h3 { font-size: calc-em(24px); }

		.image-links-wrapper {
			margin: -10px -12px 0;
		}
	}
}

@media print {
	.more {
		page-break-inside: avoid;
	}
}
