mixin follow-us(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.follow
		h3 Follow Us
		ul
			each socialLink in spec
				li
					a(href=socialLink.url)
						img(src=socialLink.icon, alt="")
			li.qrcode
				a(href="#")
					img(src="/assets/fuji-xerox/images/icon-googleplus.svg", alt="")
				.hover
					img(src="/assets/fuji-xerox/images/qrcode.jpg", alt="")
