// follow-us styles
.follow {
	@extend %clearfix;
	line-height: 1.3;
	z-index: 2;
	order: 3;
	margin: 1% 5px 1% 0;
	float: right;

	h3 {
		float: left;
		color: #000;
		margin: 4px 10px 0 0;
		font-size: calc-em(18px);
		font-weight: 400;
	}

	ul {
		@extend %list-unstyled;
		@extend %clearfix;
		float: left;
		margin: 0;
	}

	li {
		float: left;
		margin: 0 0 0 10px;

		&:first-child {
			margin: 0;
		}
	}

	a {
		display: block;
	}

	img {
		width: 30px;
	}

	.qrcode {
		position: relative;
		cursor: pointer;

		.hover {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			bottom: 0;
			right: calc(100% + 10px);
			width: 80px;

			img {
				width: auto;
				height: auto;
			}
		}

		&:hover {
			.hover {
				visibility: visible;
				opacity: 1;
			}

		}
	}
}

@media only screen and (min-width: $bpTablet), print {
	.follow {
		background: rgba(0,0,0,0.5);
		position: absolute;
		right: 4%;
		bottom: 0;
		margin: 0;
		padding: 15px;
		float: none;

		h3 {
			color: #fff;
			margin: 4px 15px 0 0;
		}

		li {
			margin: 0 0 0 15px;
		}

		img {
			width: 31px;
		}
	}
}
