extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb
include ../_modules/organisms/insight-component/insight-component
include ../_modules/organisms/section/section

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Insights'
	- pageDescription = 'This is the insights page of Fuji Xerox'

block content
	.main-content
		+breadcrumb()

		.layout-main
			+section()
				+insight-component()

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This page url"
		}
