mixin image-strip(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	// START: Image Strip
	<!--[if mso | IE]>
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="640" align="center" style="width: 640px;">
	<tr>
	<td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
	<![endif]-->
	div(style='background: #ffffff; margin: 0px auto; max-width: 640px;')
		table(role='presentation' cellpadding='0' cellspacing='0' border='0' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-collapse: collapse;' align='center' width='100%')
			tbody
				tr
					td(width='100%' bgcolor='#ffffff' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word; width: 100%; padding: 15px; background: #ffffff;' valign='top')
						table(cellpadding='0', cellspacing='0', border='0', width='100%', style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
							tbody
								tr
									td.image-strip(width='100%', height='162', bgcolor='#ffffff', style='border-style: none; color: #474747; cursor: auto; font-family: Arial, sans-serif; background: #ffffff; mso-table-lspace: 0pt; mso-table-rspace: 0pt; height: 162px;' valign='top')
										table(cellpadding='0' cellspacing='0' border='0' width='100%' style='border-style: none; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; ')
											tbody
												tr
													td(width="100%" style='border-style: none; font-family: Arial, sans-serif; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
														img(src='/fx_exm/images/image-strip.jpg', alt='Image Strip', width='610', height='162', border="0", style='-ms-interpolation-mode: bicubic;border: 0 none; display: block;width: 610px;height: 162px; outline: none;text-decoration: none; border-style: none; max-width: 610px;')

	<!--[if mso | IE]>
	</td>
	</tr>
	</table>
	<![endif]-->
	// END: Image Strip
