mixin iframe(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div.iframe-container(class=spec.__class)
		iframe(src="https://www.youtube.com/embed/ZHRBQYgARpA", width="560", height="315", frameborder="0")
