extends ../_templates/aside

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Promotion Landing'
	- pageDescription = 'This is the promotion landing page of Fuji Xerox'
	- pageData = site.data.bannerTabs
	- promotionData = site.data.promotionList

block PageBanner
	+hero-banner(pageData.banner)

block PageContent
	+section({
		"__class": "promotion-listing"
	})
		+promotion-list()
		//- +promotion-listing(promotionData)

block PageAside
	aside.layout-side
		+section({
			"__class": "promotion-form"
		})
			+new-wffm-form({
				"title": "Level 2 Header",
				"text": "<p>Dummy Text Dummy Text <em>Emphasis</em> Dummy Text <strong> Stronger Emphasis</strong> Dummy Text Dummy Text Dummy</p>",
			})
				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+singleLineText({
					"label": "Dummy Text",
					"required": true
				})

				+selectDropdown({
					"label": "Dummy Text",
					"required": true,
					"options": [
						{
							"value": "Option 1",
							"name": "Option 1"
						},
						{
							"value": "Option 2",
							"name": "Option 2"
						}
					]
				})

				+multiLineText({
					"label": "Dummy Text",
					"required": true
				})

				+formCaptcha()

				+formSubmit({
					"label": "Submit"
				})

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This page url"
		}

