@media only screen and (min-width: $sm-breakpoint), print {

	[class^="col-"], [class*=" col-"] {
		float: left;
	}

	.row-col-12 {
		@include clearfix();
		width: 100%;

		.col-sm-1  { width: (100% / 12); }
		.col-sm-2  { width: (100% / 6); }
		.col-sm-3  { width: (100% / 4); }
		.col-sm-4  { width: (100% / 3); }
		.col-sm-5  { width: (100% / 12 * 5); }
		.col-sm-6  { width: (100% / 12 * 6); }
		.col-sm-7  { width: (100% / 12 * 7); }
		.col-sm-8  { width: (100% / 12 * 8); }
		.col-sm-9  { width: (100% / 12 * 9); }
		.col-sm-10 { width: (100% / 12 * 10); }
		.col-sm-11 { width: (100% / 12 * 11); }
		.col-sm-12 { width: 100%; }


		.offset-sm-0  { margin-left: inherit; }
		.offset-sm-1  { margin-left: (100% / 12); }
		.offset-sm-2  { margin-left: (100% / 6); }
		.offset-sm-3  { margin-left: (100% / 4); }
		.offset-sm-4  { margin-left: (100% / 3); }
		.offset-sm-5  { margin-left: (100% / 12 * 5); }
		.offset-sm-6  { margin-left: (100% / 12 * 6); }
		.offset-sm-7  { margin-left: (100% / 12 * 7); }
		.offset-sm-8  { margin-left: (100% / 12 * 8); }
		.offset-sm-9  { margin-left: (100% / 12 * 9); }
		.offset-sm-10 { margin-left: (100% / 12 * 10); }
		.offset-sm-11 { margin-left: (100% / 12 * 11); }
		.offset-sm-12 { margin-left: 100%; }
	}

	.row-col-15 {
		@include clearfix();
		width: 100%;

		.col-sm-1  { width: (100% / 15); }
		.col-sm-2  { width: (100% / 15 * 2); }
		.col-sm-3  { width: (100% / 15 * 3); }
		.col-sm-4  { width: (100% / 15 * 4); }
		.col-sm-5  { width: (100% / 15 * 5); }
		.col-sm-6  { width: (100% / 15 * 6); }
		.col-sm-7  { width: (100% / 15 * 7); }
		.col-sm-8  { width: (100% / 15 * 8); }
		.col-sm-9  { width: (100% / 15 * 9); }
		.col-sm-10 { width: (100% / 15 * 10); }
		.col-sm-11 { width: (100% / 15 * 11); }
		.col-sm-12 { width: (100% / 15 * 12); }
		.col-sm-13 { width: (100% / 15 * 13); }
		.col-sm-14 { width: (100% / 15 * 14); }
		.col-sm-15 { width: 100%; }

		.offset-sm-0  { margin-left: inherit; }
		.offset-sm-1  { margin-left: (100% / 15); }
		.offset-sm-2  { margin-left: (100% / 15 * 2); }
		.offset-sm-3  { margin-left: (100% / 15 * 3); }
		.offset-sm-4  { margin-left: (100% / 15 * 4); }
		.offset-sm-5  { margin-left: (100% / 15 * 5); }
		.offset-sm-6  { margin-left: (100% / 15 * 6); }
		.offset-sm-7  { margin-left: (100% / 15 * 7); }
		.offset-sm-8  { margin-left: (100% / 15 * 8); }
		.offset-sm-9  { margin-left: (100% / 15 * 9); }
		.offset-sm-10 { margin-left: (100% / 15 * 10); }
		.offset-sm-11 { margin-left: (100% / 15 * 11); }
		.offset-sm-12 { margin-left: (100% / 15 * 12); }
		.offset-sm-13 { margin-left: (100% / 15 * 13); }
		.offset-sm-14 { margin-left: (100% / 15 * 14); }
		.offset-sm-15 { margin-left: 100%; }
	}

	.push-left-10 { padding-left: 10px; }
	.push-left-15 { padding-left: 15px; }
	.push-left-20 { padding-left: 20px; }
	.push-left-25 { padding-left: 25px; }

	.push-right-10 { padding-right: 10px; }
	.push-right-15 { padding-right: 15px; }
	.push-right-20 { padding-right: 20px; }
	.push-right-25 { padding-right: 25px; }
}

@media only screen and (min-width: $md-breakpoint), print {

	.row-col-12 {
		.col-md-1  { width: (100% / 12); }
		.col-md-2  { width: (100% / 6); }
		.col-md-3  { width: (100% / 4); }
		.col-md-4  { width: (100% / 3); }
		.col-md-5  { width: (100% / 12 * 5); }
		.col-md-6  { width: (100% / 12 * 6); }
		.col-md-7  { width: (100% / 12 * 7); }
		.col-md-8  { width: (100% / 12 * 8); }
		.col-md-9  { width: (100% / 12 * 9); }
		.col-md-10 { width: (100% / 12 * 10); }
		.col-md-11 { width: (100% / 12 * 11); }
		.col-md-12 { width: 100%; }


		.offset-md-0  { margin-left: 0; }
		.offset-md-1  { margin-left: (100% / 12); }
		.offset-md-2  { margin-left: (100% / 6); }
		.offset-md-3  { margin-left: (100% / 4); }
		.offset-md-4  { margin-left: (100% / 3); }
		.offset-md-5  { margin-left: (100% / 12 * 5); }
		.offset-md-6  { margin-left: (100% / 12 * 6); }
		.offset-md-7  { margin-left: (100% / 12 * 7); }
		.offset-md-8  { margin-left: (100% / 12 * 8); }
		.offset-md-9  { margin-left: (100% / 12 * 9); }
		.offset-md-10 { margin-left: (100% / 12 * 10); }
		.offset-md-11 { margin-left: (100% / 12 * 11); }
		.offset-md-12 { margin-left: 100%; }
	}

	.row-col-15 {
		.col-md-1  { width: (100% / 15); }
		.col-md-2  { width: (100% / 15 * 2); }
		.col-md-3  { width: (100% / 15 * 3); }
		.col-md-4  { width: (100% / 15 * 4); }
		.col-md-5  { width: (100% / 15 * 5); }
		.col-md-6  { width: (100% / 15 * 6); }
		.col-md-7  { width: (100% / 15 * 7); }
		.col-md-8  { width: (100% / 15 * 8); }
		.col-md-9  { width: (100% / 15 * 9); }
		.col-md-10 { width: (100% / 15 * 10); }
		.col-md-11 { width: (100% / 15 * 11); }
		.col-md-12 { width: (100% / 15 * 12); }
		.col-md-13 { width: (100% / 15 * 13); }
		.col-md-14 { width: (100% / 15 * 14); }
		.col-md-15 { width: 100%; }

		.offset-md-0  { margin-left: inherit; }
		.offset-md-1  { margin-left: (100% / 15); }
		.offset-md-2  { margin-left: (100% / 15 * 2); }
		.offset-md-3  { margin-left: (100% / 15 * 3); }
		.offset-md-4  { margin-left: (100% / 15 * 4); }
		.offset-md-5  { margin-left: (100% / 15 * 5); }
		.offset-md-6  { margin-left: (100% / 15 * 6); }
		.offset-md-7  { margin-left: (100% / 15 * 7); }
		.offset-md-8  { margin-left: (100% / 15 * 8); }
		.offset-md-9  { margin-left: (100% / 15 * 9); }
		.offset-md-10 { margin-left: (100% / 15 * 10); }
		.offset-md-11 { margin-left: (100% / 15 * 11); }
		.offset-md-12 { margin-left: (100% / 15 * 12); }
		.offset-md-13 { margin-left: (100% / 15 * 13); }
		.offset-md-14 { margin-left: (100% / 15 * 14); }
		.offset-md-15 { margin-left: 100%; }
	}
}
