// Colours
$body-text: #000;

$blue-1: #2895d5;
$blue-2: #227fb5;
$blue-3: #1f65b3;
$blue-4: #009bda;

$orange-1: #fd9f13;
$orange-2: #ff7800;

$grey-1: #ededed;
$grey-2: #e6e6e6;
$grey-3: #f6f6f6;
$grey-4: #f9f9f9;
$grey-5: #ddd;
$grey-6: #bbb;

$darkgrey-1: #808080;
$darkgrey-2: #666;
$darkgrey-3: #333;
$darkgrey-4: #999;

$purple-1: #9b2583;
$purple-2: #751862;

$red-1: #d92231;

$pink-1: #ea46a5;

$green-1: #47a309;

//Breakpoints
$xs-breakpoint: 480px;  // Mobile Landscape
$sm-breakpoint: 768px;  // Tablet
$md-breakpoint: 960px;  // Desktop
$lg-breakpoint: 1140px; // Wide Desktop

//Settings
$base-fontsize: 16px;
$max-width-wide: $lg-breakpoint;
$max-width: $md-breakpoint;
