mixin promotion-list(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.promotion-list(class=spec.__class)&attributes(attributes)
		.promotion-list__block
			.thumbnail
				a(href = "promotion-details")
					img(src = "/images/content/promotions/thumbnail_1.jpg" alt = "")

			.content
				h3 Smart Work Gateway New year event
				span.duration 17 Feb 2017 - 31 Mar 2017
				a.btn-details(href = "promotion-details") View <span class = "hidden-xs"> Details

		.promotion-list__block
			.thumbnail
				a(href = "promotion-details")
					img(src = "/images/content/promotions/thumbnail_2.jpg" alt = "")

			.content
				h3 Smart Work Gateway
				span.duration 17 Jan 2017 - 20 Mar 2017
				a.btn-details(href = "promotion-details") View <span class = "hidden-xs"> Details

		.promotion-list__block
			.thumbnail
				a(href = "promotion-details")
					img(src = "/images/content/promotions/thumbnail_3.jpg" alt = "")

			.content
				h3 Smart Work Gateway New year event
				span.duration 1 Dec 2016 - 1 Jan 2017
				span.btn-details.expired Expired
