include ../../atoms/select/select

mixin listing-sorter(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div.listing-content__sort-result(class=spec.__class)&attributes(attributes)
		.pull-right
			+select({
				options: [
					{value: "latest", label: "Latest"},
					{value: "promotion", label: "Promotion"},
					{value: "recommended", label: "Recommended"},
					{value: "best seller", label: "Best Seller"}
				]
			})
