// listing-sorter styles
.listing-content__sort-result {
	@extend %clearfix;
	margin: 0 0 15px;
	font-size: calc-em(14px);

	label { display: inline-block; margin-right: 5px; }

	.custom-select-wrapper {
		display: inline-block;
		min-width: 170px;
		vertical-align: middle;
	}
}

