// col-form-wrapper styles
.form-horizontal {
	@extend %clearfix;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 30px;

	.scfForm {
		font-size: calc-em(18px, 16px);
	}

	form .page-header {
		display: block;
		// font-size: calc-em(36px);
		line-height: 1.1;
		text-align: center;
		margin: 0;

		h1 {
			margin: 20px 0;
		}
	}

	form > p {
		line-height: 1.3;
		text-align: center;
		margin: 20px 0;
		font-weight: 400;
	}

	form {
		@extend %clearfix;
		margin: auto;
		max-width: 320px;
	}

	.form-submit-border {
		clear: both;
		padding: 35px 0 0;
		text-align: center;
	}

	.checkbox-group, .checkbox {
	    label {
	        input {
	            position: relative;
	        }
	    }
	}
}

@media only screen and (min-width: $bpTablet), print{
	.form-horizontal {
		position: relative;
		padding: 20px 30px;

		form {
			width: calc(100% - 420px);
			float: right;

			.page-header {
				position: absolute;
				top: 0;
				left: 20px;
				width: 380px;
				text-align: left;

				& + p {
					position: absolute;
					padding: 0;
				}
			}

			> p {
				top: 100px;
				left: 20px;
				width: 380px;
				text-align: left;
				font-size: calc-em(18px);
				float: left;
				padding: 0 10px;
			}
		}
	}
}

@media only screen and (min-width: $bpDesktop), print{
	.form-horizontal {
		form {
			max-width: none;
			margin: 0 -10px;

		}
		.form-group {
			float: left;
			width: 50%;
			padding: 0 10px;
			clear: none;
		}
	}
}

