mixin col-form-wrapper(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.form-horizontal
		//- +wffm-form({
		//- 	"title": "Open new worlds of opportunity.",
		//- 	"text": "Enter your details to learn more about print's new frontier with a free demo of Iridesse Production Press.",
		//- 	"button": "Request a demo"
		//- })
		//- 	+singleLineInput({
		//- 		"label": "First name",
		//- 		"required": true
		//- 	})
		//- 	+singleLineInput({
		//- 		"label": "Last name",
		//- 		"required": true
		//- 	})
		//- 	+singleLineInput({
		//- 		"label": "Job title"
		//- 	})
		//- 	+singleLineInput({
		//- 		"label": "Company",
		//- 		"required": true
		//- 	})
		//- 	+email({
		//- 		"label": "Email",
		//- 		"required": true
		//- 	})
		//- 	+phone({
		//- 		"label": "Phone number"
		//- 	})
		//- 	+selectOptions({
		//- 		"label": "Country",
		//- 		"required": true,
		//- 		"options": [
		//- 			{
		//- 				"value": "country1",
		//- 				"name": "Country 1"
		//- 			},
		//- 			{
		//- 				"value": "country2",
		//- 				"name": "Country 2"
		//- 			}
		//- 		]
		//- 	})

		+new-wffm-form({
			"title": "Open new worlds of opportunity.",
			"text": "Enter your details to learn more about print's new frontier with a free demo of Iridesse Production Press."
		})
			+singleLineText({
				"label": "First name",
				"required": true
			})
			+singleLineText({
				"label": "Last name",
				"required": true
			})
			+singleLineText({
				"label": "Job title"
			})
			+singleLineText({
				"label": "Company",
				"required": true
			})
			+emailInput({
				"label": "Email",
				"required": true
			})
			+numberInput({
				"label": "Phone number"
			})
			+selectDropdown({
				"label": "Country",
				"required": true,
				"options": [
					{
						"value": "country1",
						"name": "Country 1"
					},
					{
						"value": "country2",
						"name": "Country 2"
					}
				]
			})

			+formFooter({
				"text": "This is the WFFM Form footer."
			})

			+formSubmit({
				"label": "Request a demo"
			})
