// social-media styles
.social-feed {
	background-color: $border;
	padding: 15px;

	h3 {
		margin: 0 0 25px;
		line-height: 1.3;
		font-size: calc-em(20px);
		font-weight: 400;
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.social-feed {
		background-color: #fff;
		padding: 0;

		.column-row {
			margin-top: -12px;
		}
	}
}
