mixin social-media(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.social-feed(class=spec.__class)
		h3 Connect with Fuji Xerox
		.column-row
			//- .social-feed-item.col-sm-6.col-md-3#twitter
			//- 	.social-feed-item__icon
			//- 		img(src="/assets/fuji-xerox/images/icon-twitter.svg", alt="")
			//- 	.social-feed-item__text
			//- 		a(class="twitter-timeline" href="https://twitter.com/FujiXeroxSG" data-tweet-limit="1" data-chrome="noheaders nofooter noborders noscrollbar transparent") Tweets by FujiXeroxSG
			//- 		script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
			each mediaItem in spec.data
				+social-media-item(mediaItem)

		script#twitter-social(type="text/x-dot-template").
			<div class="social-feed-item__text">
				<p>{{=it.text}}</p>
				<a href="{{=it.url}}">Fuji Xerox</a>
			</div>
			<div class="social-feed-item__actions">
				<a class="reply" href="#">Reply</a>
				<a class="retweet" href="#">Retweet</a>
				<a class="favorite" href="#">Favorite</a>
			</div>

		script#facebook-social(type="text/x-dot-template").
			<div class="social-feed-item__text">
				<p>{{=it.text}}<a href="{{=it.url}}">Find out more</a></p>
				<a href="{{=it.url}}">Fuji Xerox</a>
			</div>

		script#linkedin-social(type="text/x-dot-template").
			<div class="social-feed-item__text">
				<p>{{=it.text}}<a href="{{=it.url}}">Find out more</a></p>
				<a href="{{=it.url}}">Fuji Xerox</a>
			</div>

		script#youtube-social(type="text/x-dot-template").
			<div class="social-feed-item__text">
				<a class="image" href="{{=it.url}}">
					<img src="{{=it.thumbnail}}" alt="">
				</a>
				<p>{{=it.text}}</p>
				<a href={{=it.url}}>Fuji Xerox</a>
			</div>

		//- script(type="text/javascript").
		//- 	function authorizeIn(){
		//- 		IN.Event.on(IN, "auth", getUpdates);
		//- 	}

		//- 	function getUpdates() {
		//- 		var companyID = "18483045";
		//- 		var url = `/companies/${companyID}/updates?format=json`;

		//- 		IN.API.Raw(url).result(renderIn);
		//- 	}

		//- 	function renderIn(data) {
		//- 		console.log(data);
		//- 		var inHTML = '';

		//- 		var inData = {};

		//- 		var text = data.values[0].updateContent.companyStatusUpdate.share.comment;
		//- 		var	id = data.values[0].updateContent.companyStatusUpdate.share.id;
		//- 		var	compID = data.values[0].updateContent.company.id;

		//- 		// remove first character 's'
		//- 		id = id.substring(1);

		//- 		//- var url = 'https://www.linkedin.com/feed/update/urn:li:activity:' + id + '/';
		//- 		var url = 'https://www.linkedin.com/company/' + compID + '/';


		//- 		inHTML = '<div class="social-feed-item__text"><p>' + text + '<a href=\"' + url + '\">Find out more</a></p><a href=\"' + url + '\">Fuji Xerox</a></div>';

		//- 		document.getElementById("linkedin").innerHTML += inHTML;
		//- 	}
