extends ../../../_layouts/base

include ../../../_modules/molecules/section/section
include ../../../_modules/templates/article/article

include ../../../_modules/organisms/related-pages/related-pages

//- Configuration
block config
	- var baseUrl = '../../../'
	- var pageTitle = 'Fuji Xerox | Job Opportunities'
	- var parent = 4

block content
	+article({
		contentClass: "wide",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Company",
				"href": "/company"
			},
			{
				"label": "Careers",
				"href": "/company/careers"
			},
			{
				"label": "Job Opportunities"
			},
			{
				"label": "Project Executive"
			}
		],
		banner: {
			title: "Project Executive",
			text: "Enter the Race with the Winning Team",
			image: "images/content/banners/solutions.jpg"
		},
		quicklinks: [
			{
				label: "Overview",
				target: "#content1"
			},
			{
				label: "Responsibilities",
				target: "#content2"
			},
			{
				label: "Requirements",
				target: "#content3"
			},
			{
				label: "Related Pages",
				target: "#content4"
			}
		]
	})
		+section({__class: "col-sm-8 center career-detail-overview"})
			a#content1.anchor-link(data-label = "Overview")
			h2 Project Executive
			span.job-listing-dates Posting Date: 06 Mar 2017
			span.job-listing-dates Close Date: 04 Jun 2017
			p As a project Executive, you will be responsible for project and resource scheduling, project tracking, risk management and quality assurance. You should have superior project management capabilities and a proven track record in managing multi-million dollar projects in Government and Commercial sectors.
			table.job-at-a-glance
				thead
					tr
						th(colspan = "2") <strong>At a glance</strong>

				tbody
					tr
						td <strong>Specialization</strong>
						td Information Technology
					tr
						td <strong>Job type</strong>
						td Full-time
					tr
						td <strong>Minimum Experience</strong>
						td 3 Years
					tr
						td <strong>Location</strong>
						td Singapore


		+section({__class: "col-sm-8 center career-detail-responsibility"})
			a#content2.anchor-link(data-label = "Responsibilities")
			h2 Responsibilities
			ul
				li Oversee the implementations of projects, tracking and controlling all project phases and activities
				li Participate in the drafting of solutions for prospective clients together with sales representatives
				li Manage and ensure timely delivery of projects
				li Manage project costs and ensure timely billing as per project milestones
				li Liases with end users/clients on requirements and manage clients' expectations
				li Manage Vendors / partners and their deliverables
				li Work closely with a team of developers and programmers
				li Work closely with support staff to provide maintenance to clients

		+section({__class: "col-sm-8 center career-details-requirement"})
			a#content3.anchor-link(data-label = "Requirements")
			h2 Requirements
			ul
				li Degree in Computer Science or equivalent, with PMP/CITPM certification preferred
				li At least 4 to 5 years' working experience, with minimum 3 years' IT Project Management experience in a Project Manager or Lead Consultant role [Candidates with Working experience in Electronic Content Management (ECM) software, Open text, EMC Documentum or Enterprise Search Engine will have an added advantage]
				li Ability to provide mentorship and leadership to the team
				li Good communication skills with excellent spoken and written English
				li Result and customer-service oriented
				li Committed and responsible team player
		+section({__class: "col-sm-8 center career-details-actions"})
				a.btn-orange--inverse(href = "../") View all jobs
				a.btn-orange(href = "event-registration") Apply Now

		+section({__class: "col-sm-8 center related-pages"})
			a#content4.anchor-link(data-label = "Related Pages")
			h2 Related Pages

			+related-pages({
				relatedPages: [
					{
						title: "IT Support Engineer",
						link: "#",
						category: "Information Technology"
					},
					{
						title: "Operations Specialist",
						link: "#",
						category: "Operations"
					}
				]
			})
