// how-to-buy styles
.product-introduction {
	.row-col-12 {
		margin: 0 -6px;
	}

	.product-name {
		margin: 0;
	}

	a.button {
		margin: 0;
	}

	p {
		margin: 10px 0 16px;
	}

	.label {
		display: inline-block;
		padding: 2px 5px;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1;

		&.new-item { color: $pink; border: 1px solid $pink; }
	}
}
