extends ../_layouts/base

include ../_modules/organisms/mapper/mapper
include ../_modules/organisms/featured-linkboxs/featured-linkboxs

include ../_modules/templates/landing/landing


//- Configuration
block config
	- var baseUrl = '../'
	- var pageTitle = 'Fuji Xerox | Solution & Services'
	- var parent = 1

block content
	+landing({
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Solution & Services"
			}
		],
		banner: {
			title: "Solutions & Services",
			text: "Explore our extensive offering of cutting-edge solutions and tailor made services ranging from cloud services to sustainable business solutions.",
			image: "images/content/banners/solutions.jpg"
		}
	})
		+mapper({type: "solution"})
		+featured-linkboxs({page: "solutions and services"})