// nav-tabs styles
.nav-tabs {
	display: none;
	background-color: $border;
	margin-top: -12px;

	ul {
		@extend %list-unstyled;
		@extend %clearfix;
		margin: 0 0 20px;
	}

	li {
		float: left;
		position: relative;
		padding: 16px 0;
		width: calc(100% / 8);
		// width: calc(100% / 6);
		height: 100%;

		// &:after {
		// 	transform: translate(0,-50%);
		// 	background: $border3;
		// 	position: absolute;
		// 	top: 50%;
		// 	right: -1px;
		// 	display: block;
		// 	width: 1px;
		// 	height: 45%;
		// 	content: "";
		// }

		&:nth-child(8), &:last-child {
			a { border: none; }

			// &:after { display: none; }
		}

		&:hover, &.active {
			background-color: $red;

			a { color: #fff; border-color: $red; }
		}
	}

	a {
		color: #000;
		text-decoration: none;
		font-size: calc-em(18px);
		line-height: 1.2;
		display: inline-block;
		height: 100%;
		padding: 0 18px;
		border-right: 1px solid $border3;
		width: 100%;
	}
}

@media only screen and (min-width: $bpTablet), print{
	.nav-tabs {
		display: block;
	}
}
