extends ../../_layouts/base

include ../../_modules/organisms/mapper/mapper
include ../../_modules/organisms/featured-linkboxs/featured-linkboxs
include ../../_modules/templates/article/article


include ../../_modules/templates/landing/landing

//- Configuration
block config
	- var baseUrl = '../../'
	- var pageTitle = 'Fuji Xerox | Success Stories'
	- var parent = 4

block content
	+landing({
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Company",
				"href": "/company"
			},
			{
				"label": "Success Stories"
			}
		],
		banner: {
			title: "Success Stories",
			text: "Hear from our partners",
			image: "images/content/banners/solutions.jpg"
		}
	})
		+section({__class: "wingspan success-landing-intro"})
			.intro-text
				p Over the past decades,&nbsp;
					strong Fuji Xerox
					|  has worked with our customers to meet their various needs with out suite of customised and ready solutions. We have addressed their key business challenges and achieved outstanding results for our customers, from increase in revenue, productivity gains to long term sustainability.

		+mapper({type: "story"})
