// promotion-list styles
.promotion {
	margin-top: 30px;

	@media only screen and (min-width: $bpTablet), print {
		.promotion-list {
			padding-right: 30px;
		}
	}
}

.promotion-list__block {
	border: 1px solid $grey-2;
	margin-bottom: 30px;

	.thumbnail {
		img {
			display: block;
			width: 100%;
		}
	}

	.content {
		position: relative;
		padding: 15px 20px;
	}

	h3 {
		display: block;
		max-width: 60%;
		margin: 0 0 5px;
		line-height: 1.2;
		font-size: calc-em(16px);
	}

	.duration {
		display: block;
		max-width: 80%;
		font-size: calc-em(14px);
	}

	.button {
		position: absolute;
		right: 20px;
		top: 15px;
		font-size: calc-em(14px);

		&.expired {
			background-color: $grey-5;
			color: #000;
		}
	}
}

@media print {
	.promotion-list__block {
		page-break-inside: avoid;
		border-color: transparent;
	}
}
