extends ../_templates/fullwidthpage

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Careers Listing'
	- pageDescription = 'This is the career listing page of Fuji Xerox'
	- productsData = site.data.products

block FullWidthBanner
	+hero-banner(productsData.banner)
	//- +nav-tabs(productsData.tabs)

block FullWidthContent
	+dynamic-listing({
		__class: "career-listing",
		type: 'Careers'
	})

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This page url"
		}
