.listing-side-filters {
	position: relative;
	background: $grey-3;
	margin-bottom: 20px;

	.advanced-filters, .basic-filters {
		background: #fff;
		border: 1px solid $grey-3;
	}

	.advanced-filters {
		display: none;
	}
}

.filter-panel-header {
	h3 {
		display: block;
		margin: 0;
		padding: 10px;
		font-size: calc-em(16px);
	}
}

.advanced-options-toggle {
	display: block;
	position: relative;
	padding: 6px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	background: $purple-1;
	font-size: calc-em(14px);
	margin: 10px;

	&:hover, &:focus {
		color: #fff;
	}

	.icon {
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

.filter-group {
	display: none;

	&.printers-filter-group { display: block; }
}

.clear-filters-selection-btn {
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 3px 5px;
	background: $blue-1;
	color: #fff;
	text-decoration: none;
	font-size: calc-em(12px);
	border-radius: 3px;

	&:hover, &:focus {
		background: $blue-2;
		color: #fff;
	}
}

.filter-subgroup {
	border-bottom: 1px solid $grey-1;

	h4 {
		display: block;
		position: relative;
		margin: 0;
		font-size: calc-em(14px);
		background: $grey-2;
		padding: 6px 10px;
		cursor: pointer;
		outline: 0;

		.icon {
			position: absolute;
			right: 18px;
			top: 10px;
			color: $darkgrey-1;
		}
	}
}

.filter-subgroup__fields {
	padding: 5px 10px 15px;
	display: none;
}

.listing-content {
	h1 { margin-top: 0; }
}

.categories-toggle {
	overflow: hidden;
	margin-bottom: 15px;

	ul {
		@extend %clearfix;
		display: block;
		position: relative;
		margin: 0;
		text-align: center;
	}

	li {
		float: left;
		width: (100% / 2);
		vertical-align: top;
		padding-bottom: 1px;

		&:last-child {
			a { margin-right: 0; }
		}
	}

	a {
		position: relative;
		display: block;
		text-decoration: none;
		text-align: center;
		background: $grey-3;
		margin-right: 1px;
		padding: 10px;
		color: $body-text;

		&:hover, &.active {
			background: $blue-1;
			color: #fff;
		}
	}
}

.listing-content__sort-result {
	@extend %clearfix;
	margin: 0 0 15px;
	font-size: calc-em(14px);

	label { display: inline-block; margin-right: 5px; }

	.custom-select-wrapper {
		display: inline-block;
		min-width: 170px;
		vertical-align: middle;
	}
}

.listing-content__result-status {
	text-align: center;

	.msg {
		display: none;
		background: $grey-3;
		text-align: left;
		padding: 3px 5px;
		font-size: calc-em(14px);
		margin: 0;
	}
}

.load-more-results {
	display: none;
	text-align: center;
	margin: 20px 0 10px;

	a {
		@include search-btn-gradient();
		display: inline-block;
		border: 1px solid $darkgrey-3;
		border-radius: 3px;
		color: $darkgrey-3;
		text-align: center;
		font-weight: bold;
		line-height: 1.25;
		padding: 5px 9px;
		text-decoration: none;
		font-size: calc-em(14px);
	}
}

.filter-panel-btn-group {
	padding: 10px;
	text-align: right;

	.submit-btn {
		@include transition(background, 200ms, linear);
		display: inline-block;
		border-radius: 3px;
		background: $blue-1;
		color: #fff;
		border: 0;
		text-align: center;
		line-height: 1.25;
		padding: 5px 9px;
		text-decoration: none;
		font-size: .875em;

		&:hover, &:focus {
			background: $blue-2;
			color: #fff;
		}
	}
}

.listing-content__results {
	margin-top: 25px;

	> li {
		@include transition(opacity, 200ms, linear);
		display: block;
		position: relative;
		font-size: calc-em(12px);
		line-height: 1.3;
		padding: 0 0 10px 140px;
		margin-bottom: 15px;
		border-bottom: 1px solid $grey-2;
		opacity: 0;

		&.visible {
			opacity: 1;
		}

		h5 {
			font-size: calc-em(14px, 12px);
			margin: 0 0 10px;
			word-break: break-word;
		}

		a {
			display: block;
			text-decoration: none;

			&:hover, &:focus {
				text-decoration: underline;
			}
		}

		.contact-link {
			display: inline-block;


			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}

	.label {
		top: -13px;
		left: 0;
		margin: 0 0 10px;
	}

	.thumbnail {
		position: absolute;
		top: 6px;
		left: 0;
		width: 120px;
		text-align: left;

		img {
			display: inline-block;
			min-width: 100%;
		}
	}
}
