@media only screen and (min-width: $sm-breakpoint) {

	.dynamic-listing {
		.listing-side-filters { width: 25%; float: left; }
		.listing-content { width: 75%; float: left; }
	}

	.listing-content__results > li {
		min-height: 220px;
	}

	.categories-toggle {
		li {
			float: left;
			width: (100% / 4);
		}
	}
}


@media only screen and (min-width: $md-breakpoint) {

	.dynamic-listing {
		.listing-side-filters { width: 20%; }
		.listing-content { width: 80%; }
	}

	.listing-content__results {
		> li {
			&:nth-child(odd) {
				clear: left;
			}
		}

		.desc { padding-right: 20px; }
	}
}
