// reseller-locator-filters styles
.reseller-locator__filters {
	position: relative;
	z-index: 10;

	.input-group-select {
		position: relative;
		margin: 0 0 10px 0;

		select {
			width: 100%;
		}

		input {
			border: 1px solid $border4;
			box-shadow: none;
		}
	}

	select {
		position: absolute;
		display: block;
		top: 25px;
		opacity: 0;
		height: 40px;
	}

	button {
		font-family: $primaryFont;
		font-size: calc-em(14px);
		font-weight: 300;
	}

	&__controls {
		@extend %clearfix;
		display: block;
		position: relative;
		margin: 20px 0 0 0;

		.btn-clear-filter {
			@extend %clearfix;
			float: left;
			margin-right: 15px;
			cursor: pointer;
		}

		.btn-reseller-near {
			border: 1px solid $red;
			background: #fff;
			color: $red;

			&:after {
				border-top: 2px solid $red;
				border-right: 2px solid $red;
			}

			&:hover {
				background: $red;
				color: #fff;

				&:after {
					border-top: 2px solid #fff;
					border-right: 2px solid #fff;
				}
			}
		}
	}

	.error-msg, .error-msg-reseller, .error-msg-location {
		display: none;
	}

	.is-active, .active {
		display: block;
		color: $red;
	}
}

.dropdown-copy {
	.reseller-locator__filters &{
		display: block;
	}
}

@media only screen and (min-width: $bpTablet) {
	.reseller-locator__filters {
		.input-group-select {
			margin: 0 0 10px 0;
			width: 50%;
			min-width: 50%;
			max-width: 50%;
		}
	}
}
