mixin reseller-locator-filters(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.reseller-locator__filters
		//- .input-group-select
		//- 	label(for="reseller") Reseller Type
		//- 	+select({
		//- 		options: [
		//- 			{
		//- 				label: "Select Reseller Type",
		//- 				value: ""
		//- 			},
		//- 			{
		//- 				label: "Commercial or Corporate Resellers",
		//- 				value: "commercial"
		//- 			},
		//- 			{
		//- 				label: "Retail Outlets",
		//- 				value: "retail"
		//- 			},
		//- 			{
		//- 				label: "Superstores",
		//- 				value: "superstores"
		//- 			}
		//- 		]
		//- 	})(id = "resellerFilter", name="reseller")
		//- 	.error-msg-reseller Please select a Reseller Type
		.input-group-select
			label(for="location") Location/Region
			+select({
				options: [
					{
						label: "Select Location",
						value: ""
					},
					{
						label: "Central",
						value: "central"
					},
					{
						label: "East",
						value: "east"
					},
					{
						label: "North",
						value: "north"
					},
					{
						label: "South",
						value: "south"
					},
					{
						label: "West",
						value: "west"
					}
				]
			})(id = "locationFilter", name="location")
			.error-msg-location Please select a Location/Region

		.reseller-locator__filters__controls
			button.btn-clear-filter.btn-reseller-near#btnStores Stores Near Me
			button.btn-clear-filter.btn-reseller-search Search
