// listing-filters styles
.listing-side-filters {
	position: relative;
	background: $grey-3;
	margin-bottom: 20px;

	.advanced-filters, .basic-filters {
		background: #fff;
		border: 1px solid $grey-3;
	}

	.advanced-filters {
		display: none;
	}
}

.filter-panel-header {
	h3 {
		display: block;
		margin: 0;
		padding: 10px;
		font-size: calc-em(16px);
	}
}

.advanced-options-toggle {
	display: block;
	position: relative;
	padding: 6px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	background: $purple-1;
	font-size: calc-em(14px);
	margin: 10px;

	&:hover, &:focus, &:visited, &:link { color: #fff; }

	.icon {
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

.filter-group {
	display: none;

	&.printers-filter-group,
	&.job-filter-group {
		display: block;
	}
}

.clear-filters-selection-btn {
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 3px 5px;
	background: $blue-1;
	color: #fff;
	text-decoration: none;
	font-size: calc-em(12px);
	border-radius: 3px;

	&:visited, &:link { color: #fff; }
	&:hover, &:focus { background: $blue-2; }
}

.filter-subgroup {
	border-bottom: 1px solid $grey-1;

	h4 {
		display: block;
		position: relative;
		margin: 0;
		font-size: calc-em(14px);
		background: $grey-2;
		padding: 6px 10px;
		cursor: pointer;
		outline: 0;

		.icon {
			position: absolute;
			right: 18px;
			top: 10px;
			color: $darkgrey-1;
		}
	}
}

.filter-subgroup__fields {
	padding: 5px 10px 15px;
	display: none;

	.checkbox {
		position: relative;
		margin-bottom: 8px;
		cursor: pointer;

		input {
			position: absolute;
			top: 0;
			left: 0;
		}

		label {
			padding-left: 20px;
			line-height: 1.2;
		}
	}
}

.filter-panel-btn-group {
	padding: 10px;
	text-align: right;

	.submit-btn {
		@include transition(background, 200ms, linear);
		display: inline-block;
		border-radius: 3px;
		background: $blue-1;
		color: #fff;
		border: 0;
		text-align: center;
		line-height: 1.25;
		padding: 5px 9px;
		text-decoration: none;
		font-size: .875em;

		&:hover, &:focus, a:visited {
			background: $blue-2;
			color: #fff;
		}
	}
}


@media only screen and (min-width: $sm-breakpoint) {

	.dynamic-listing {
		.listing-side-filters { width: 25%; float: left; }
	}
}


@media only screen and (min-width: $md-breakpoint) {

	.dynamic-listing {
		.listing-side-filters { width: 20%; }
	}
}
