// event-aside styles
.event-aside {
	> * {
		margin-bottom: 30px;

		> h3 {
			margin: 0 0 10px;
			font-weight: 400;
		}
	}
}

.event-aside__details {
	.location,
	.date,
	.time {
		display: block;
		position: relative;
		line-height: 1.3;
		margin-bottom: 8px;
		padding-left: 25px;

		&:before {
			@include icomoon('');
			position: absolute;
			display: block;
			width: 14px;
			left: 0;
			top: 2px;
			text-align: center;
			color: $red;
		}
	}

	.location:before { content: '\f041'; }
	.date:before { content: '\f073'; }
	.time:before { content: '\f017'; }

	a { margin-right: 5px;}
}

.event-aside__map {
	iframe {
		width: 100%;
		height: 210px;
	}
}

.event-aside__share {
	ul { @extend %list-unstyled; @extend %clearfix; }
	li {
		display: inline-block;
		float: left;
	}

	a {
		display: block;
		width: 28px;
		height: 28px;
		background-color: $red;
		text-align: center;
		margin: 0 12px 12px 0;
		text-decoration: none;

		i {
			display: block;
			line-height: 28px;
			color: #fff;
			font-size: 18px;
		}

		&:hover {
			background-color: $red;
		}

		&.facebook {
			background-color: $facebook;
		}

		&.linkedin {
			background-color: $linkedin;
		}

		&.twitter {
			background-color: $twitter;
		}

		&.instagram {
			background-color: $instagram;
		}
	}
}

.sponsors__group {
	margin: 0 0 20px;

	h4 {
		font-size: calc-em(14px);
		margin: 0 0 10px;
		font-weight: 400;
	}

	ul {
		@extend %list-unstyled;
	}

	li {
		display: inline-block;
		margin: 0 10% 10px 0;
		width: 25%;
		max-width: 75px;
		vertical-align: middle;

		a { display: block; }

		@media only screen and (min-width: $bpDesktop), print {
			&:nth-child(3n + 3) {
				margin-right: 0;
			}
		}

		img {
			display: block;
			width: 100%;
		}
	}
}

@media only screen and (min-width: $bpDesktop), print {
	.event-aside { padding-left: 30px; }
}
