mixin testimonial(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.testimonial
		.testimonial__image
			img(src="/assets/fuji-xerox/images/154x154.png", alt="")
			p caption
		.testimonial__text
			+rte()
				p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
