// testimonial styles
.testimonial {
	@extend %clearfix;
	max-width: 700px;

	> * {
		float: left;
	}

	&__image {
		width: 25%;

		img {
			width: 100%;
		}
		
		p {
			text-align: center;
			margin: 0;
		}
	}

	&__text {
		width: 75%;
		padding-left: 30px;
	}
}