extends ../../_layouts/base

include ../../_modules/templates/newsroom/newsroom


//- Configuration
block config
	- var baseUrl = '../../'
	- var pageTitle = 'Fuji Xerox | Newsroom'
	- var parent = 1

block content
	+newsroom({
		__class: "wingspan",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Company",
				"href": "/company"
			},
			{
				"label": "Newsroom"
			}
		],
	})
		//Newsroom Featured
		.newsroom-featured.row-col-12
			.col-sm-5
				.newsroom-featured__block.highlight-block
					a(href = "#")
						.image: img(src = "/images/content/news_thumbnail_placeholder.jpg" alt = "")
						.desc
							h3 Lorem ipsum dolor sit ame
							span.date Mar 7, 2015
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet lectus vel arcu pellentesque facilisis et sed urna. Sed tempor odio sed mauris eleifend posuere.

				.newsroom-featured__blog-block
					.desc(style="background-image:url(/images/solutions/box-2.png)")
						div
							h3 Our blog
							p Vestibulum et Lectus malesuada, convallis lectus sit amet, gravida arcu.
							.more-link
								a(href = "#") Read blog

			.col-sm-7
				.row-col-12
					.newsroom-featured__block.col-sm-6.push-left-10
						a(href = "#")
							.image
								img(src = "/images/content/news_thumbnail_placeholder.jpg" alt = "")

							.desc
								h3 Lorem ipsum dolor sit ame
								span.date Mar 7, 2015

					.newsroom-featured__block.col-sm-6.push-left-10
						a(href = "#")
							.image
								img(src = "/images/content/news_thumbnail_placeholder.jpg" alt = "")

							.desc
								h3 Lorem ipsum dolor sit ame
								span.date Mar 7, 2015

					.newsroom-featured__block.is-video.col-sm-6.push-left-10
						a.fancybox.video(href = "https://www.youtube.com/embed/qtS3rz31KII" data-fancybox-type="iframe")
							.image
								img(src = "/images/content/video_thumbnail_01.jpg" alt = "")

							.desc
								h3 Lorem ipsum dolor sit ame
								span.date Mar 7, 2015

					.newsroom-featured__download-block.col-sm-6.push-left-10
						a(href = "#")
							.image
								img(src = "/images/content/doc-cover.jpg" alt = "")

							.desc
								h3 Annual Report
								p <i class="icon-download"></i>Download Fuji Xerox 2016 Annual Report.
								span.date Mar 7, 2015
		//End: Newsroom Featured


