mixin success-stories-mapper(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.success-stories-mapper
		+success-stories-mapper-filters()

		//Solution Mapper Results
		.success-stories-mapper__results(data-endpoint="/assets/fuji-xerox/api/story-results.json" data-pagesize="9")
			div.column-row
			.result-status
				p.msg.error-msg Sorry, your search criteria has returned 0 result. Please try again.

				.loader-animation
					.inner
					.inner
					.inner
			button.show-more.js-load-more
				span Show More

		//End: Solution Mapper Results


		script#results-template(type = "text/x-dot-template").
			{{~it.snippets :snippet}}
				<div class="card-tiles result col-sm-6 col-md-4" itemscope itemtype="http://schema.org/Article">
					<a href="{{=snippet.link}}" itemprop="url">
						{{? snippet.thumbnail}}
							<div class="card-tiles__image">
						  		<div class="overlay"></div><img src="{{=snippet.thumbnail}}" alt="" itemprop="thumbnailUrl">
							</div>
						{{?}}
						<div class="card-tiles__text">
					  		<p class="location">{{=snippet.location}}</p>
					  		<h3 itemprop="name">{{=snippet.title}}</h3>
					  		<p itemprop="description">{{=snippet.text}}</p>
					  		<div class="meta"><span class="industry">{{=snippet.industry}}</span></div>
						</div>
					</a>
				</div>
			{{~}}
