/**
 * Top Banner
 */
.top-banner {
	> div { position: relative; }
}

.top-banner__image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	img {
		display: block;
		max-width: 100%;
	}
}

.top-banner__content {
	color: #fff;
	background: $blue-1;
	padding: 10px;

	h1 {
		margin: 0;
		line-height: 1.2;
		font-size: calc-em(26px);
	}

	p { font-size: 15px; }
}
