@media only screen and (max-width: $sm-breakpoint - 1) {

	.top-banner__image { min-height: 300px; }
}

@media only screen and (min-width: $sm-breakpoint), print {

	.top-banner__content {
		position: absolute;
		left: 20px;
		top: 15%;

		h1 { margin-bottom: 0; }
	}
}
