include ../../molecules/breadcrumb/breadcrumb
include ../../molecules/listing-categories/listing-categories
include ../../molecules/listing-sorter/listing-sorter

include ../../organisms/top-banner/top-banner
include ../../organisms/listing-filters/listing-filters
include ../../organisms/listing-results/listing-results


mixin dynamic-listing(spec)
	- spec = spec || {}
	- spec.breadcrumb = spec.breadcrumb || {}
	- spec.__class = spec.__class || ''
	- spec.type = spec.type || ''

	+breadcrumb({breadcrumb: spec.breadcrumb})

	if spec.banner
		+top-banner(spec.banner)

	.dynamic-listing(class = spec.__class)

		.row-col-12.wingspan

			if spec.heading
				h1.top-heading=spec.heading

			if spec.type == "Products"
				+listing-categories

			+listing-filters({type: spec.type})

			//Listing Content
			.listing-content.push-left-25

				if spec.type == "Products"
					+listing-sorter

				+listing-results({type: spec.type})

			//End: Listing Content
