// product-resources styles
.resources {
	margin-top: 20px;
}

.resources__block {
	position: relative;
	padding: 0 0 20px;

	dt {
		float: left;
		margin-right: 5px;
		color: #000;
	}

	dd {
		clear: right;
		font-style: italic;
		margin: 0;
	}
}

.article-content .resources__block {
	h3 {
		margin-bottom: 0;
	}
}

.resources__block__download-btn {
	display: inline-block;
	border: 2px solid $red;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	font-size: 34px;
	text-decoration: none;
	color: $red;

	&:hover {
		text-decoration: none;
		background-color: $red;

		i { color: #fff; }
	}
}
