mixin product-resources(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.resources__block
		dl
			dt File Size:
			dd 4100kb
			dt Document Type:
			dd Portable Document Format

		//DEV NOTE
		//If Email Subscription is switched off
		//<a href = "#" class = "resources__block__download-btn" title = "Download Colour Management Brochure"><i class = "icon-download"></i><span class = "sr-only">Download Resource</span></a>
		//ELSE
		a.resources__block__download-btn(data-fancybox data-src="#subscriptionCall" href="javascript:;")
			i.icon-download
			span.sr-only Download Brochure
		//END

	//Subscription Call
	.subscribe#subscriptionCall
		.row-col-12.
			<div class = "col-sm-6 col-md-6 col match-height">
				<h3>You may download the PDF here</h3>
				<a href="#" target = "_blank" class = "btn-download">Colour Management Brochure<i class="icon-download"></i></a>
			</div>
			<div class = "col-sm-6 col-md-6 col match-height">
				<h3>Subscribe to our newsletter</h3>
				<!-- <p>Keep yourself update to Fuji Xerox latest product!</p> -->
				<div class = "form-row row-col-12">
					<div class = "col-sm-6">
						<div class = "input-group-text">
							<label for = "subscribeName">Name<span class = "required">*</span></label>
							<input type = "text" id = "subscribeName" placeholder = "Name">
						</div>
						<div class = "input-group-text">
							<label for = "subscribeEmail">Email<span class = "required">*</span></label>
							<input type = "email" id = "subscribeEmail" placeholder = "abc@example.com">
						</div>
					</div>
				</div>
				<div class = "btn-group">
					<button type = "submit">Submit<i class = "icon-chevron-with-circle-right"></i></button>
				</div>
			</div>
	//End: Subscription Call
