// link styles
a {
	@include transition('color, background-color', 200ms, linear);
	-webkit-backface-visibility: initial;
}

// unvisited link
a:link {
    color: $blue-1;
}

// visited link
a:visited {
    color: $blue-1;
}

// mouse over link
a:hover {
    color: $blue-1;
}

// selected link
a:active {
    color: $blue-1;
}
