include ../../molecules/breadcrumb/breadcrumb
include ../../organisms/top-banner/top-banner

mixin standard(spec)
	- spec = spec || {}
	- spec.breadcrumb = spec.breadcrumb || {}
	- spec.__class = spec.__class || ''

	+breadcrumb({breadcrumb: spec.breadcrumb})

	if spec.banner
		+top-banner(spec.banner)

	block
