.site-header {
	@include linear-gradient(#fff, #e3e3e3);
	background-color: #e3e3e3;
	padding-bottom: 10px;
}

.site-logo {
	text-align: center;
	padding: 10px 0;

	h1 { margin: 0; line-height: 0; }

	img { max-width: 100%; }
}


.header-utilites__links {
	li {
		display: inline-block;
		margin-right: 20px;

		&:last-child { margin-right: 0; }
	}

	a {
		color: #333;
		text-decoration: none;
		font-size: calc-em(12px);

		&:hover {
			color: #2895d5;
			text-decoration: underline;
		}
	}
}

.header-utilities__search {
	text-align: center;
	margin-bottom: 10px;
	font-size: calc-em(13px);

	fieldset {
		display: inline-block;
		border: 0;
		padding: 0;
		width: 70%;
	}

	.inputbox {
		width: 100%;
		padding: 0 3px;
		border-radius: 5px;
		border: 1px solid $grey-1;
		line-height: 26px;
		height: 28px;
	}
}

.btn-search {
	@include search-btn-gradient();
	display: inline-block;
	border-color: $darkgrey-2;
	border: 1px solid $darkgrey-3;
	border-radius: 3px;
	color: #333;
	text-align: center;
	font-weight: bold;
	line-height: 1.25;
	padding: 4px 9px;
}
