@media only screen and (min-width: $sm-breakpoint), print {

	.site-header {
		padding: 25px 0 50px;

		.wingspan {
			@include clearfix();
		}
	}

	.site-logo { float: left; padding: 0; }

	.header-utilites {
		float: right;
		width: 38%;
		margin-top: 10px;
	}

	.header-utilities__search {
		width: 100%;
		text-align: right;
	}

	.header-utilites__links {
		text-align: right;
	}
}
