mixin carousel-item(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.carousel-item.match-height
		.carousel-item__image
			img(src=spec.image, alt="")
		.carousel-item__text
			h4=spec.title
			p=spec.text
			+button({
				"label": spec.label,
				"url": spec.url
			})
