// carousel-item styles
.carousel-item {
	@extend %clearfix;
	position: relative;
	padding: 0 10px;

	&__image {
		float: left;
		text-align: center;
		width: 40%;
		margin: 0;

		img {
			@include image-cover;
		}
	}

	&__text {
		float: right;
		width: 60%;
		padding-left: 20px;
		padding-bottom: 65px;
		line-height: 1.666666;

		h4 {
			font-size: calc-em(18px);
			font-weight: 400;
			margin: 0 0 7px;
		}

		p {
			font-size: calc-em(14px);
			margin: 0 0 10px;
		}
	}

	.button {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 31px;
		font-weight: 400;
		position: absolute;
		color: #000 !important;
		background-color: #fff;
		bottom: 16px;
		border: none;

		&:after {
			border-top: 2px solid $red;
			border-right: 2px solid $red;
		}

		&:hover {
			color: #fff !important;
			background-color: $red;

			&:after {
				border-top: 2px solid #fff;
				border-right: 2px solid #fff;
			}
		}
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.carousel-item {
		padding: 0;
	}
}

@media only screen and (min-width: $bpDesktop), print{
	.carousel-item {
		&__text {
			line-height: 1.875;
		}
	}
}
