.main-nav {
	@extend %clearfix;

	ul {
		@extend %clearfix;

		li { @extend %clearfix; }
	}
}

// main-nav styles
@media only screen and (max-width: $bpDesktop - 1){
	.separator { display: none; }

	.main-nav {
		position: absolute;
		z-index: 300;
		top: 81px;
		left: 0;
		width: 100%;
		height: calc(100vh - 80px);
		background-color: $border;
		font-size: calc-em(15px);
		transform: translate(100%, 0);
		transition: ease-in 0.2s;

		 .share-contact > li, .home-login > li, .megamenu__title, .lvl2-menu__title, .has-children {
			display: block;

			> a {
				font-weight: 400;
				line-height: 1.35;
				color: #000;
				position: relative;
				display: block;
				padding: 9px 30px 9px 20px;
				border-bottom: 1px solid $grey;
				text-decoration: none;

				&:after {
					transform: translate(0,-50%);
					font-family: Arial;
					font-size: 90%;
					text-decoration: none;
					color: $red;
					position: absolute;
					top: 50%;
					right: 20px;
					display: inline-block;
					content: "\0000a0\276F";
				}

				&.no-children {
					&:after {
						display: none;
					}
				}
			}
		}

		.lvl2-menu__title {
			a {
				&:after {
					display: none;
				}
			}
		}

		.megamenu {
			position: absolute;
			top: 0;
			z-index: 401;
			background-color: $border;
			width: 100%;
			height: calc(100vh - 80px);
			overflow-y: scroll;
			transform: translate(100%, 0);
			transition: ease-in 0.2s;

			button {
				font-family: $primaryFont;
				font-weight: 400;
				line-height: 1.35;
				color: #000;
				background: #fff;
				position: relative;
				display: block;
				width: 100%;
				padding: 9px 30px 9px 20px;
				border: 0;
				border-bottom: 1px solid $grey;

				&:before {
					transform: rotateZ(180deg) translate(0,50%);
					font-family: Arial;
					font-size: 90%;
					color: $red;
					position: absolute;
					top: 50%;
					left: 20px;
					padding: 0 0 0 5px;
					content: "\0000a0\276F";
				}
			}

			&__image {
				margin-top: 10px;
			}

			.column {
				padding: 0;
			}

			.nav-level2 {
				&__link {
					padding: 9px 30px 9px 20px;
					border-bottom: 1px solid $grey;
					line-height: 1.35;
					font-weight: bold;

					a {
						text-decoration: none;
						color: $red;

						&:hover {
							text-decoration: underline;
						}
					}

					span {
						color: #000;
						display: block;
						height: 19px;
					}
				}
			}

			.nav-level3 li {
				line-height: 1.35;
				font-weight: 400;

				a {
					display: block;
					padding: 9px 30px 9px 20px;
					text-decoration: none;
					color: #000;
					border-bottom: 1px solid $grey;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.nav-level4 {
				margin: 0 0 0 42px;
			}

			&__products {
				.nav-level2 {
					overflow: hidden;
				}

				.nav-level2__link {
					border: none;
				}

				.col-sm-6 {
					.nav-level3 {
						margin: 0;
						padding: 0;

						li {
							white-space: normal;
							padding: 0 0 0 20px;
							margin-bottom: 10px;

							> * {
								float: left;
							}
						}

						img {
							@include image-cover;
							width: 65px;
							height: 40px;
							margin: 0 10px 10px 0;
						}

						a {
							display: inline-block;
							padding-left: 0;
							padding-right: 0;
							width: calc(100% - 85px);
							border-bottom: none;
							border-top: 1px solid $grey;
						}
					}
				}
			}
		}

		.lvl2-menu, .lvl3-menu, .lvl4-menu {
			position: absolute;
			width: 100%;
			top: 0;
			z-index: 401;
			background-color: $border;
			height: calc(100vh - 80px);
			overflow-y: scroll;
			transform: translate(100%, 0);
			transition: ease-in 0.2s;

			button {
				font-family: $primaryFont;
				font-weight: 400;
				line-height: 1.35;
				color: #000;
				background: #fff;
				position: relative;
				display: block;
				width: 100%;
				padding: 9px 30px 9px 20px;
				border: 0;
				border-bottom: 1px solid $grey;

				&:before {
					transform: rotateZ(180deg) translate(0,50%);
					font-family: Arial;
					font-size: 90%;
					color: $red;
					position: absolute;
					top: 50%;
					left: 20px;
					padding: 0 0 0 5px;
					content: "\0000a0\276F";
				}
			}

			.nav-level2 li {
				line-height: 1.35;
				font-weight: 400;

				a {
					display: block;
					padding: 9px 30px 9px 20px;
					text-decoration: none;
					color: #000;
					border-bottom: 1px solid $grey;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.nav-levesl3 {
				position: absolute;
				top: 0;
				z-index: 500;
				width: 100%;
				height: calc(100vh - 80px);
				background-color: $border;
				transform: translate(100%, 0);
				transition: ease-in 0.2s;
			}
		}

		&.slideout, .slideout {
			transform: translate(0, 0) !important;
			transition: ease-in 0.2s;
		}
	}
}

@media only screen and (min-width: $bpDesktop), print {
	.main-nav {
		float: left;
		font-size: calc-em(16px);
		background: transparent;
		z-index: 1;
		width: 100%;
		margin: 0;
		border: 0;

		.main {
			float: left;

			> li {
				&:nth-child(2) {
					padding-left: 0;

					> a {
						&:before, .separator {
							display: none;
						}
					}
				}

				&:first-child {
					padding: 0;
				}
			}
		}

		.share-contact {
			float: right;

			> li {
				&:hover {
					> a {
						padding-bottom: 4px;
						border-bottom: 5px solid $red;

						&:before, .separator {
							margin-top: -3px;
						}
					}
				}
			}
		}

		.main, .share-contact  {
			> li {
				float: left;
				// position: relative;
				padding: 0 16px;

				&:first-child {
					padding-left: 0;

					> a {
						&:before, .separator {
							display: none;
						}
					}
				}

				&:last-child {
					padding-right: 0;
				}

				&.hover {
					.megamenu, .lvl2-menu {
						visibility: visible;
					}

					> a {
						padding-bottom: 4px;
						border-bottom: 5px solid $red;

						&:before, .separator {
							margin-top: -3px;
						}
					}
				}

				&.active {
					> a {
						padding-bottom: 4px;
						border-bottom: 5px solid $red;

						&:before {
							margin-top: -2px;
						}
					}
				}

				> a {
					display: inline-block;
					padding: 0 0 9px;
					border: 0;
					font-weight: 400;
					line-height: 40px;
					color: #000;
					position: relative;
					text-decoration: none;
				}

				// > a:before {
				// 	transform: translate(0,-50%);
				// 	background: $border2;
				// 	position: absolute;
				// 	display: none;
				// 	width: 1px;
				// 	content: "";
				// 	top: 50%;
				// 	left: -16px;
				// 	display: block;
				// 	height: 13px;
				// 	margin: -5px 0 0;
				// }

				.separator {
					transform: translate(0,-50%);
					background: rgba(0,0,0,0);
					position: absolute;
					border-left: thin solid $border2;
					width: 1px;
					// border-radius: 1px;
					top: 50%;
					left: -16px;
					display: block;
					height: 13px;
					margin: -5px 0 0;
				}
			}

			.logo-fix {
				width: 0;
				overflow: hidden;
				// transition: ease-in 0.2s;

				a {
					display: inline-block;
					padding: 8px 0 0;
				}

				img { width: 120px; display: block; }

				&:hover, &.hover {
					a {
						border: 0;
					}
				}
			}

			.small-nav { position: relative; }
		}

		%meganav {
			position: absolute;
			top: 100%;
			left: 0;
			background: #fff;
			visibility: hidden;
			overflow: visible;
			padding: 30px;
			box-shadow: 0 4px 5px rgba(102,102,102,0.4);
			white-space: nowrap;
			min-width: 240px;
			width: 100%;
			border-top: 1px solid $border;

			ul { display: block; }

			.container {
				max-width: 1140px;
			}
		}

		%menutitle {
			a {
				font-size: calc-em(18px);
				font-weight: bold;
				display: inline-block;
				padding: 0 35px 0 0;
				line-height: 1.35;
				color: #000;
				position: relative;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

				&:after {
					transform: translate(0,-50%);
					font-family: Arial;
					font-size: 90%;
					text-decoration: none;
					color: $red;
					position: absolute;
					top: 50%;
					right: 20px;
					display: inline-block;
					content: "\0000a0\276F";
				}
			}
		}

		.lvl2-menu {
			@extend %meganav;

			&__title {
				@extend %menutitle;
			}

			&__nav {
				display: block;
				margin: 0 0 10px;
				padding: 10px 0 0;
				width: 100%;
			}

			&.small {
				min-width: 240px;
				top: calc(100% + 1px);
				right: 0;
				left: auto;
				padding: 20px;

				.lvl2-menu__nav, .nav-level2 { margin: 0; }

				.nav-level2 {
					a {
						padding: 10px 0;

						&:after {
							font-family: Arial;
							font-size: 90%;
							color: $red;
							position: relative;
							top: 8px;
							padding: 0 0 0 5px;
							content: "\0000a0\276F";
						}
					}
				}
			}

			.nav-level2 {
				margin: 0 0 10px;
				width: 100%;

				li { margin: 0 0 5px; }

				> li > a {
					font-weight: 400;
					display: inline-block;

					&:hover {
						color: #000;
						text-decoration: underline;
					}

					&:after{
						transform: translate(0,-50%);
						font-family: Arial;
						font-size: 90%;
						text-decoration: none;
						color: $red;
						position: absolute;
						top: 50%;
						right: -15px;
						display: inline-block;
						content: "\0000a0\276F";
					}
				}


				a {
					font-weight: 400;
					line-height: 1.35;
					color: #000;
					position: relative;
					display: block;
					padding: 2px 0;
					border: 0;
					text-decoration: none;

					&:hover { text-decoration: underline; }
				}
			}

			// .nav-level3 {
			// 	margin: 0 0 0 42px;
			// }
		}

		.megamenu {
			@extend %meganav;
			overflow: hidden;

			&__title {
				@extend %menutitle;
			}

			&__nav {
				margin: 0 -20px;

				.column {
					padding: 12px 20px 0;
				}
			}

			.nav-level2 {
				&__link {
					margin: 0 0 10px;
					padding: 0 0 10px;
					border-bottom: 1px solid $border;
					line-height: 1.35;
					font-weight: bold;

					a {
						text-decoration: none;
						color: $red;

						&:hover {
							text-decoration: underline;
						}
					}

					span {
						color: #000;
						display: block;
						height: 19px;
					}
				}
			}

			.nav-level3 {
				margin: 0 0 10px;
				width: 100%;

				a {
					font-weight: 400;
					line-height: 1.35;
					color: #000;
					position: relative;
					display: block;
					padding: 2px 0;
					border: 0;
					text-decoration: none;

					&:hover { color: $red; }
				}
			}

			.nav-level4 {
				margin: 0 0 0 42px;
			}

			&__products {
				.col-sm-6 {
					.nav-level3 {
						margin: 0 -20px;

						li {
							white-space: normal;
							padding: 0 20px;
							margin-bottom: 20px;

							> * {
								float: left;
							}
						}

						img {
							@include image-cover;
							width: 65px;
							height: 40px;
							margin: 0 20px 10px 0;
						}

						a {
							display: inline-block;
							width: calc(100% - 85px);
						}
					}
				}
			}

			&__inquiry {
				background: $border;
				width: 100%;
				margin: 20px 0 12px;
				padding: 20px 17px 20px;
				white-space: normal;

				p {
					margin: 0 0 10px;
					font-weight: 400;
				}

				.button { text-align: center; font-size: calc-em(16px); width: 100%; }
			}
		}
	}
}

@media print {
	.main-nav {
		.main, .share-contact  {
			> li {
				float: left;
				// position: relative;
				padding: 0 10px 0 0;

				a:before { display: none; }
			}
		}
	}
}
