include ../../atoms/button/button

mixin main-nav(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.main-nav
		ul.main.nav-level1
			li.logo-fix.desktop-only
				a(href="/")
					img(src="/assets/fuji-xerox/images/logo.gif", alt="")
			each main in spec.nav
				- var hasLevel2 = (main.children) ? 'has-children' : ''
				li(class=hasLevel2+ ' ' + main.__class)
					a(href=main.url)=main.name
						.separator
					if main.megamenu
						if main.isProducts
							.megamenu.megamenu__products
								.container
									button.handheld-only(type="button")=main.name
									.megamenu__title
										a(href=main.url)=main.name
									if main.children
										- var level2 = main.children
										.megamenu__nav
											.column.col-sm-6
												.nav-level2
													.nav-level2__link
														if level2[0].url
															a(href=level2[0].url)=level2[0].name
														else
															span=level2[0].name
													if level2[0].children
														- var level3 = level2[0].children
														ul.nav-level3
															each item in level3
																li.col-sm-6
																	img(src=item.image, alt="")
																	a(href=item.url)=item.name
																	//- if item.children
																	//- 	ul.nav-level4
																	//- 		each child in item.children
																	//- 			li
																	//- 				a(href=child.url)=child.name
											.column.col-sm-3
												.nav-level2
													.nav-level2__link
														if level2[1].url
															a(href=level2[1].url)=level2[1].name
														else
															span=level2[1].name
													if level2[1].children
														- var level3 = level2[1].children
														ul.nav-level3
															each item in level3
																li
																	a(href=item.url)=item.name
																	//- if item.children
																	//- 	ul.nav-level4
																	//- 		each child in item.children
																	//- 			li
																	//- 				a(href=child.url)=child.name

											.column.col-sm-3
												.nav-level2
													.nav-level2__link
														if level2[2].url
															a(href=level2[2].url)=level2[2].name
														else
															span=level2[2].name
													if level2[2].children
														- var level3 = level2[2].children
														ul.nav-level3
															each item in level3
																li
																	a(href=item.url)=item.name
																	//- if item.children
																	//- 	ul.nav-level4
																	//- 		each child in item.children
																	//- 			li
																	//- 				a(href=child.url)=child.name

												//- .megamenu__inquiry.desktop-only
												//- 	p For inquiries related to our products, please view this.
												//- 	+button({
												//- 		"__class": "btn-red",
												//- 		"label": "Inquiry",
												//- 		"url": "#"
												//- 	})
											//- .column.col-sm-4
											//- 	.megamenu__image
											//- 		img(src=main.image, alt="")
						else
							.megamenu
								.container
									button.handheld-only(type="button")=main.name
									.megamenu__title
										a(href=main.url)=main.name
									if main.children
										- var level2 = main.children
										.megamenu__nav
											.column.col-sm-4
												.nav-level2
													.nav-level2__link
														if level2[0].url
															a(href=level2[0].url)=level2[0].name
														else
															span=level2[0].name
													if level2[0].children
														- var level3 = level2[0].children
														ul.nav-level3
															each item in level3
																li
																	a(href=item.url)=item.name
																	//- if item.children
																	//- 	ul.nav-level4
																	//- 		each child in item.children
																	//- 			li
																	//- 				a(href=child.url)=child.name
											.column.col-sm-4
												.nav-level2
													.nav-level2__link
														if level2[1].url
															a(href=level2[1].url)=level2[1].name
														else
															span=level2[1].name
													if level2[1].children
														- var level3 = level2[1].children
														ul.nav-level3
															each item in level3
																li
																	a(href=item.url)=item.name
																	//- if item.children
																	//- 	ul.nav-level4
																	//- 		each child in item.children
																	//- 			li
																	//- 				a(href=child.url)=child.name

											.column.col-sm-4
												.nav-level2
													.nav-level2__link
														if level2[2].url
															a(href=level2[2].url)=level2[2].name
														else
															span=level2[2].name
													if level2[2].children
														- var level3 = level2[2].children
														ul.nav-level3
															each item in level3
																li
																	a(href=item.url)=item.name
																	//- if item.children
																	//- 	ul.nav-level4
																	//- 		each child in item.children
																	//- 			li
																	//- 				a(href=child.url)=child.name

												.megamenu__inquiry.desktop-only
													p For inquiries related to our products, please view this.
													+button({
														"__class": "btn-red",
														"label": "Inquiry",
														"url": "#"
													})
											//- .column.col-sm-4
											//- 	.megamenu__image
											//- 		img(src=main.image, alt="")
					else
						if main.children
							.lvl2-menu
								.container
									button.handheld-only(type="button")=main.name
									.lvl2-menu__title
										a(href=main.url)=main.name
									.lvl2-menu__nav
										ul.nav-level2
											each lvl2 in main.children
												- var hasLevel3 = (lvl2.children) ? 'has-children' : ''
												li(class=hasLevel3)
													a(href=lvl2.url)=lvl2.name
													if lvl2.children
														.lvl3-menu
															.container
																button.handheld-only(type="button")=lvl2.name
																.lvl3-menu__title.handheld-only
																	a(href=lvl2.url)=lvl2.name
																.lvl3-menu__nav
																	ul.nav-level3
																		each lvl3 in lvl2.children
																			- var hasLevel4 = (lvl3.children) ? 'has-children' : ''
																			li(class=hasLevel4)
																				a(href=lvl3.url)=lvl3.name
																				//- if lvl3.children
																				//- 	.lvl4-menu
																				//- 		.container
																				//- 			button.handheld-only(type="button")=lvl3.name
																				//- 			.lvl4-menu__title.handheld-only
																				//- 				a(href=lvl3.url)=lvl3.name
																				//- 			.lvl4-menu__nav
																				//- 				ul.nav-level4
																				//- 					each lvl4 in lvl3.children
																				//- 						- var hasLevel5 = (lvl4.children) ? 'has-children' : ''
																				//- 						li(class=hasLevel5)
																				//- 							a(href=lvl4.url)=lvl4.name
		ul.share-contact.has-children
			each share in spec.share
				li.small-nav(class=share.class)
					a(href=share.url)=share.name
					if share.children
						.lvl2-menu.small
							.container
								button.handheld-only(type="button")=share.name
								.lvl2-menu__title
									a(href=share.url)=share.name
								.lvl2-menu__nav
									ul.nav-level2
										each lvl2 in share.children
											li
												a(href=lvl2.url)=lvl2.name
												if lvl2.children
													ul.nav-level3
														each item in lvl2.children
															li
																a(href=item.url)=item.name
		ul.mobile-only.home-login
			li
				a.no-children(href="/") Home
			li
				a.no-children(href="#") Login
