mixin sticky-buttons(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    .sticky-buttons
        .container
            a.button.form.modalbox(href="#enquiryForm")
                div
                    //- i.icon-form
                    img.default(src="/assets/fuji-xerox/images/form.png", alt="")
                    img.hover(src="/assets/fuji-xerox/images/form-red.png", alt="")
                    span Leave a form
            a.button.agent(href="tel:12345678")
                div
                    //- i.icon-agent
                    img.default(src="/assets/fuji-xerox/images/agent.png", alt="")
                    img.hover(src="/assets/fuji-xerox/images/agent-red.png", alt="")
                    span Talk to an agent now
            a.button.call.modalbox(href="#enquiryForm")
                div
                    //- i.icon-call
                    img.default(src="/assets/fuji-xerox/images/call.png", alt="")
                    img.hover(src="/assets/fuji-xerox/images/call-red.png", alt="")
                    span Request a call back

    +modal()
