// sticky-buttons styles
.sticky-buttons {
    position: fixed;
    padding: 3px 0 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    transform: translate(0, 100%);
    transition: all 0.5s;
    background-color: #fff;

    &.visible {
        transform: translate(0, 0);
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .hover {
        display: none;
    }

    a {
        display: block;
        text-align: center;
        padding: 7px 18px;
        margin: 0 7px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
            display: none;
        }

        &:hover {
            .default {
                display: none;
            }

            .hover {
                display: inline;
            }
        }

        // i {
        //     font-size: calc-em(24px);
        //     margin: 0 13px 0 0;

        //     &.icon-form {
        //         top: -1px;
        //         font-size: calc-em(14px);
        //     }
        // }

        i, span, img {
            @include vertical-middle-child;
            display: inline-block;
        }

        img {
            display: inline;
            margin: 0 13px 0 0;
            max-height: 24px;
        }

        span {
            font-weight: 700;
            letter-spacing: 0.5px;
        }
    }
}

@media only screen and (max-width: $bpDesktop - 1){
    .sticky-buttons {
        bottom: auto;
        top: 80px;
        background-color: $red;
        transform: translate(0, -100%);
		box-shadow: 0 4px 4px rgba(102, 102, 102, 0.4);

        a {
            width: calc(100% / 3);
            height: auto;
            margin: 0;
            padding: 15px 18px;
            font-size: calc-em(14px);
            position: relative;
            min-height: unset;
            border: none;

            &:hover {
                background-color: $red;
                color: #fff;

                &:after {
                    border-top: none;
                    border-right: none;
                }

                .default {
                    display: inline;
                }

                .hover {
                    display: none;
                }
            }

            &:after {
                display: block;
                width: 1px;
                height: 70%;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                margin: 0;
                border: none;
                background-color: #fff;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            // i {
            //     font-size: calc-em(36px);
            //     margin: 0 0 10px;

            //     &.icon-form {
            //         font-size: calc-em(24px);
            //     }
            // }

            img {
                margin: 0 0 10px;
                max-height: 31px;
            }

            // &.form {
            //     img {
            //         height: 21px;
            //     }
            // }

            // &.agent {

            // }

            // &.call {

            // }

            i, span {
                display: block;
            }

            span {
                line-height: 1.2;
            }
        }
    }
}
