/**
 * Modal
 */
.modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 8000;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: rgba(255, 255, 255, .96);

	> .wingspan {
		position: relative;
		margin: 50px auto 250px;
	}

	.modal-close-button {
		position: relative;
		text-align: right;
		margin: 20px 20px 10px;

		a {
			display: inline-block;
			width: 30px;
			height: 30px;
			border: 2px solid $blue-1;
			border-radius: 50%;
			text-decoration: none;
			line-height: 30px;
			text-align: center;

			i {
				position: relative;
				// top: 2px;
			}

			&:hover {
				background: $blue-1;

				i { color: #fff; }
			}
		}
	}
}

/**
 * Modal Form
 */
.modal-form {
	.custom-select-wrapper {
		.label {
			@extend %input-element-styles;
			border-radius: 0;
			height: 32px;
		}

		.icon-dropdown-arrow {
			color: #000;
			z-index: 1;
		}

		.custom-select { z-index: 2; }
	}

	.legend {
		display: block;
		padding-top: 5px;
		border-top: 1px solid $grey-1;
		font-style: italic;
		font-size: calc-em(11px);

		.required { color: #f00; font-family: Verdana, Arial, Helvetica, sans-serif; }
	}

	.btn-group { margin-top: 25px; }

	.captcha-image {
		display: inline-block;
		width: 85%;
		vertical-align: middle;

		img { width: 100%; }
	}

	.captcha-refresh {
		display: inline-block;
		width: 12%;
		vertical-align: middle;
	}

	iframe {
		height: 100%;
		width: 100%;
		border: 0;
	}
}
