extends ../_templates/fullwidthpage

include ../_modules/molecules/success-stories-mapper-filters/success-stories-mapper-filters

include ../_modules/organisms/success-stories-mapper/success-stories-mapper

//- Configuration
block append config
	- var baseUrl = '../'
	- pageTitle = 'Success Stories Landing'
	- pageDescription = 'This is the success stories landing page of Fuji Xerox'
	- pageData = site.data.bannerTabs

block FullWidthBanner
	+hero-banner(pageData.banner)

block FullWidthContent
	+section({
		__class: "success-stories-introduction"
	})
		+rte()
			h1 Level 1 Header
			h2 Level 2 Header
			p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text
			p Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text

	+section()
		+success-stories-mapper()

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "this page url"
		}
