include ../../atoms/button/button

mixin home-list(spec)
	- spec = spec || {}
	- spec.list = spec.list || {}
	- spec.__class = spec.__class || ''

	if spec.type == 'announcement'
		div.home-list.home-announcement-list(class=spec.__class)&attributes(attributes)
			h2= spec.title
			ul
				each item in spec.list
					li.list-item
						span.list-text.date=item.date
						h3.list-text: a(href = item.link)=item.title
			if spec.moreLabel
				+button({__class:"more-link", label: spec.moreLabel, link: spec.moreLink })

	else
		div.home-list.home-news-list(class=spec.__class)&attributes(attributes)
			h2= spec.title
			ul
				each item in spec.list
					li.list-item
						span.list-text.date=item.date
						h3.list-text: a(href = item.link)=item.title
			if spec.moreLabel
				+button({__class:"more-link", label: spec.moreLabel, link: spec.moreLink })
