// home-list styles
.home-list, .home-news-list {
	margin-bottom: 40px;

	h2 {
		display: block;
		border-bottom: 2px solid $grey-5;
		font-size: calc-em(16px);
		padding-bottom: 7px;
		margin: 0 0 10px;
	}

	li {
		@include clearfix();
		display: block;
		position: relative;
		padding: 10px 0 10px 0;
		border-bottom: 1px solid $grey-3;

		> * {
			float: left;
		}

		h3 {
			margin: 0;
			padding-left: 20px;
			line-height: 1.4;
			font-size: calc-em(14px);
			width: calc(100% - 125px);
		}

		a {
			text-decoration: none;
			font-weight: normal;
			color: $blue-1;

			&:hover {
				text-decoration: underline;
			}
		}

		.date {
			display: inline-block;
			// position: absolute;
			// left: 0;
			// top: 8px;
			font-size: calc-em(14px);
			width: 120px;
		}
	}

	.more-link { text-align: center; }
}

.news-results li > * {
	float: right;
}

@media only screen and (min-width: $sm-breakpoint) {
	.home-news-list {
		li {
			min-height: 75px;

			&.no-result {
				min-height: inherit;
			}
		}
	}
}

