// listing styles
.listing-content__search-results {
	margin: 15px 0;

	h2 {
		font-size: calc-em(14px);
		margin-bottom: 0;
		line-height: 1.5;
	}

	a {
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	.url {
		color: $grey-6;
		font-size: calc-em(12px);
		line-height: 1;
	}

	.excerpt {
		font-size: calc-em(14px);
		margin-top: 5px;
	}

	li {
		display: block;
		border-bottom: 1px solid $grey-2;
	}
}
