include ../../molecules/breadcrumb/breadcrumb
include ../../molecules/pagination/pagination
include ../../organisms/top-banner/top-banner

mixin listing(spec)
	- spec = spec || {}
	- spec.breadcrumb = spec.breadcrumb || {}
	- spec.__class = spec.__class || ''

	+breadcrumb({breadcrumb: spec.breadcrumb})

	if spec.banner
		+top-banner(spec.banner)

	.listing(class=spec.__class)&attributes(attributes)
		block

		+pagination

