mixin top-nav(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.top-nav
		ul
			each link in spec
				li
					a(href=link.url)=link.name
					if link.selector
						each selector in link.selector
							span &nbsp;[
								a(href=selector.url)=selector.label
								| ]
