// top-nav styles
.top-nav {
	display: none;
	z-index: 202;

	ul {
		@extend %clearfix;
		margin: 0 0 0 20px;
		height: 40px;
		white-space: nowrap;
	}

	li {
		@include vertical-middle(100%);
		padding: 0 0 0 22px;
		display: inline-block;

		&:first-child {
			padding: 0;

			a:before {
				display: none;
			}
		}

		> * {
			@include vertical-middle-child;
		}
	}

	a {
		line-height: 1.35;
		font-weight: 400;
		color: #000;
		position: relative;
		text-decoration: none;

		&:hover { text-decoration: underline; }
	}

	li > a {
		padding: 0;
		border: 0;

		&:before {
			content: '';
			width: 1px;
			border-left: thin solid $border2;
			display: block;
			transform: translate(0, -50%);
			position: absolute;
			background: rgba(0,0,0,0);
			top: 50%;
			left: -12px;
			height: 10px;
		}
	}
}


@media only screen and (min-width: $bpTablet) {
	.top-nav {
		display: block;
		font-size: calc-em(14px);
		font-weight: 300;
		background: transparent;
		z-index: 1;
		display: block;
		width: auto;
		position: static;
		top: auto;
		left: auto;
		visibility: visible;
		margin: 0 57px 0 0;
		float: right;
	}
}

@media only screen and (min-width: $bpDesktop) {
	.top-nav {
		display: table-cell;
		vertical-align: top;
		float: none;
		left: 0;
		margin: 0;

		li {
			padding: 0 0 0 24px;
		}
	}
}

@media print {
	.top-nav {
		display: none;
	}
}
