mixin promotion-listing(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//- styling in event-mapper-item.scss
	each promotion in spec
		.promotion-listing-item
			a(href=promotion.url).promotion-listing-item__image
				img(src=promotion.image, alt="")
			.promotion-listing-item__text
				h1=promotion.title1
				h2=promotion.title2
				p=promotion.text
				if !promotion.expired
					+button({
						"url": promotion.url,
						"label": promotion.label
					})
				else
					+button({
						"__class": "expired",
						"label": promotion.label,
						"expired": true
					})

//- revert back to phase 3 look
//- add css to event mapper item