.home-ctas {
	@extend %clearfix;
	margin-bottom: 60px;

	h2 {
		font-size: calc-em(18px);
		margin-top: 0;

		a {
			@include linear-gradient(#fff, #fafafa);
			display: block;
			border: 1px solid $grey-3;
			border-radius: 5px;
			color: $body-text;
			padding: 24px 30px;
			text-decoration: none;
		}

		.icon {
			position: absolute;
			top: 10px;
			right: 20px;
		}
	}

	p {
		line-height: 1.2;
		font-size: calc-em(14px);
	}

	.link-to {
		position: relative;
		display: inline-block;
		text-decoration: none;
		font-size: calc-em(14px);
		padding-left: 12px;

		&:before {
			@include icomoon('\f105', #333);
			position: absolute;
			left: 0;
			top: 0;
			font-size: 16px;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.home-ctas__block {
	position: relative;
	margin-bottom: 20px;
}

.home-news-list {
	margin-bottom: 25px;

	h2 {
		display: block;
		border-bottom: 2px solid $grey-5;
		font-size: calc-em(16px);
		padding-bottom: 7px;
		margin: 0 0 10px;
	}

	li {
		display: block;
		position: relative;
		padding: 10px 0 10px 125px;
		border-bottom: 1px solid $grey-3;

		h3 {
			margin: 0;
			line-height: 1.4;
			font-size: calc-em(14px);
		}

		a {
			text-decoration: none;
			font-weight: normal;
			color: $blue-1;

			&:hover {
				text-decoration: underline;
			}
		}

		.date {
			position: absolute;
			left: 0;
			top: 8px;
			font-size: calc-em(14px);
			max-width: 120px;
		}
	}

	.more-link { text-align: center; }
}
