@media only screen and (min-width: $sm-breakpoint) {
	.home-ctas__block {
		width: 32%;
		float: left;
		margin: 0 2% 0 0;
		min-height: 200px;

		&:nth-child(3n+3) {
			margin-right: 0;
		}

		.link-to {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

	.home-news-list {
		li {
			min-height: 75px;

			&.no-result {
				min-height: inherit;
			}
		}
	}
}
