mixin loop-video(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.video-looping
		.video-looping__video
			video(src="/assets/fuji-xerox/videos/innovation-1200x440_1.mp4" autoplay muted loop)
		.video-looping__overlay
			p.year
				span
					img(src="/assets/fuji-xerox/images/logo.gif", alt="")
			p.title Global Citizenship Report
			a(href="/")
				p.next.tablet-desktop
					span Next
