// loop-video styles
.video-looping {
	position: relative;

	&__video {
		@include aspect-ratio(16, 9, 100%);
		overflow: hidden;

		video {
			@include image-cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__overlay {
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	p { margin: 0; }

	.title {
		color: #fff;
		font-size: calc-em(54px);
	}


	.next {
		background-image: url(../images/sprite.png);
		background-position: -135px 0px;
		width: 63px;
		height: 33px;
		margin: 0 auto;

		span {
			position: absolute;
			display: block;
			overflow: hidden;
			width: 0;
			height: 0;
		}

		&:hover {
			background-position: -72px 0px;
			width: 63px;
			height: 33px;
		}
	}
}


@media only screen and (max-width: $bpTablet - 1){
	.video-looping {
		.title {
			font-size: calc-em(32px);
		}
	}
}

@media only screen and (max-width: 479px){
	.video-looping {
		.title {
			font-size: calc-em(20px);
		}
	}
}
