include ../../molecules/breadcrumb/breadcrumb
include ../../molecules/quicklinks/quicklinks
include ../../organisms/top-banner/top-banner
include ../../organisms/article-content/article-content

mixin article(spec)
	- spec = spec || {}
	- spec.breadcrumb = spec.breadcrumb || {}
	- spec.contentClass = spec.contentClass || ''
	- spec.aside = spec.aside || ''
	- spec.__class = spec.__class || ''

	+breadcrumb({breadcrumb: spec.breadcrumb})

	if spec.banner
		+top-banner(spec.banner)

	if spec.quicklinks
		+quicklinks({links: spec.quicklinks})

	+article-content({
		__class: spec.__class,
		contentClass: spec.contentClass,
		aside: spec.aside
	})
		block

