mixin social-list(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.social-aside
		ul.list-addthis.addthis_toolbox.addthis_default_style.addthis_32x32_style
			each link in spec
				li
					a(class=link.class, href=link.url)=link.name
