// social-list styles
.social-aside {
	display: inline-block;

	ul.addthis_default_style {
		@extend %list-unstyled;

		li:first-child {
			a { border-top: none; }
		}
	}

	a.at300b, a.at300m {
		color: #000;
		width: 100%;
		margin: 0 0 -4px;
		padding: 17px 0 19px;
		border-top: 1px solid $border;
		text-decoration: none;
		font-weight: 300;
		float: none !important;
		display: inline-block;

		&:hover {
			text-decoration: underline;
		}

		span {
			width: 26px !important;
			height: 26px !important;
			line-height: 26px !important;
			margin: -2px 10px 0 0;
			vertical-align: middle;

			svg {
				line-height: 26px !important;
				width: 26px !important;
				height: 26px !important;
			}
		}
	}
}

@media print {
	.social-aside {
		li {
			span, svg {
				display: none;
			}
		}
	}
}
