mixin event-mapper-item(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div(class=spec.__class)&attributes(attributes)
		p This is an example paragraph for the event-mapper-item module
