// event-mapper-item styles
.event-mapper__item {
	@include transition(opacity, 200ms, linear);
	opacity: 0;

	&.visible {
		opacity: 1;
	}
}

.event-mapper__item {
	margin-bottom: 12px;
	@extend %clearfix;

	&__image {
		img {
			@include image-cover;
			display: block;
		}
	}

	&__text {
		background-color: $bannerText;
		padding: 30px 25px;
		color: #fff;
		line-height: 1.3;
		text-align: left;

		h1 {
			font-size: calc-em(16px);
			margin: 0 0 20px;
			font-weight: 300;
		}

		h2 {
			font-size: calc-em(28px);
			margin: 0 0 15px;
			font-weight: 300;
		}

		p {
			line-height: 1.4;
			margin: 0 0 15px;

			.location, .duration {
				position: relative;
				padding-left: 22px;
				display: block;
				width: 73%;

				&:before {
					@include icomoon('\f041');
					position: absolute;
					display: inline-block;
					text-align: center;
					top: 3px;
					left: 0;
					width: 18px;
				}
			}

			.duration {
				margin: 15px 0 0;

				&:before {
					@include icomoon('\f073');
					top: 2px;
				}
			}
		}

		.button {
			&:hover {
				border-color: #fff;
			}
		}
	}
}

@media only screen and (min-width: $bpTablet), print{
	.event-mapper__item {
		position: relative;
		margin-bottom: 12px;

		&__text {
			float: left;
			width: 360px;
			max-height: 345px;
			top: 0;
			bottom: 0;
			left: 0;
			padding: 30px 25px 80px;
			margin: 0;

			h1 {
				font-size: calc-em(20px);
			}

			h2 {
				font-size: calc-em(26px);
			}

			p, a { margin: 0 0 10px; }
		}

		&__image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: calc(100% - 360px);
			float: right;

			img {
				@include image-cover;
			}
		}
	}
}

@media only screen and (min-width: $bpDesktop), print{
	.event-mapper__item {
		page-break-inside: avoid;

		&__text {
			width: 400px;

			h1 { font-size: calc-em(20px); }
			h2 { font-size: calc-em(30px); }

			p, a {
				font-size: calc-em(16px);
				margin: 0 0 10px;
			}
		}

		&__image {
			width: calc(100% - 400px);
		}
	}
}
