extends ../_layouts/base

block append config
	- var baseUrl = '../'

block content
	article.article
		// Article Content
		.col-sm-10.offset-sm-1.col-md-8.offset-md-2
			.sitecore-form
				form.text-left(action='', data-wffm-ajax='True', enctype='multipart/form-data', method='post', role='form', novalidate='novalidate')
					input(name='', type='hidden', value='')
					input(name='', type='hidden', value='')
					input(name='', type='hidden', value='')
					.page-header
						h1 Enquiry
					.has-error.has-feedback
						.validation-summary-valid(data-valmsg-summary='true')
							ul.list-group
								li.list-group-item.list-group-item-danger The Company field is required.
								li.list-group-item.list-group-item-danger The First Name field is required.
								li.list-group-item.list-group-item-danger The Last Name field is required.
								li.list-group-item.list-group-item-danger The Job Title field is required.
								li.list-group-item.list-group-item-danger The Business Email field is required.
								li.list-group-item.list-group-item-danger The Business Phone field is required.
					.form-group.has-feedback
						input(name='', type='hidden', value='')
						label.control-label(for='productname') Product Name
						input#productname.form-control.text-box.single-line(name='', placeholder='', style='', type='text', value='')
						span.help-block.field-validation-error
							span The Company field is required.
					.required-field.form-group.has-feedback
						input(name='', type='hidden', value='')
						label.control-label(for='topic') Topic
						select#topic.form-control(name='')
							option(value='Topic 1') Topic 1
							option(value='Topic 2') Topic 2
							option(value='Topic 3') Topic 3
						span.field-validation-valid.help-block
					.required-field.form-group.has-feedback
						input(name='', type='hidden', value='')
						label.control-label(for='company') Company
						input#company.form-control.text-box.single-line(name='', placeholder='', style='', type='text', value='')
						span.field-validation-valid.help-block
					.required-field.form-group.has-feedback
						input(name='', type='hidden', value='')
						label.control-label(for='firstname') First Name
						input#firstname.form-control.text-box.single-line(name='', placeholder='', style='', type='text', value='')
						span.field-validation-valid.help-block
					.required-field.form-group.has-feedback
						input(name='', type='hidden', value='')
						label.control-label(for='lastname') Last Name
						input#lastname.form-control.text-box.single-line(name='', placeholder='', style='', type='text', value='')
						span.field-validation-valid.help-block
					.required-field.form-group.has-feedback
						input(name='', type='hidden', value='')
						label.control-label(for='jobtitle') Job Title
						input#jobtitle.form-control.text-box.single-line(name='', placeholder='', style='', type='text', value='')
						span.field-validation-valid.help-block
					.required-field.form-group.has-feedback
						input(name='', type='hidden', value='')
						label.control-label(for='businessemail') Business Email
						input#businessemail.form-control.text-box.single-line(name='', placeholder='', style='', type='text', value='')
						span.field-validation-valid.help-block
					.required-field.form-group.has-feedback
						input(name='', type='hidden', value='')
						label.control-label(for='businessphone') Business Phone
						input#businessphone.form-control.text-box.single-line(name='', placeholder='', style='', type='text', value='')
						span.field-validation-valid.help-block
					.form-group.has-feedback
						input(name='', type='hidden', value='')
						label.control-label(for='feedback') How can we assist you?
						textarea#feedback.form-control(cols='1', name='', rows='4')
						span.field-validation-valid.help-block
					.form-submit-border
						input.btn.btn-default(type='submit', value='Submit')
