// site-header styles
.site-header {
	@include linear-gradient(#fff, #e3e3e3);
	background-color: #e3e3e3;
	padding-bottom: 10px;
	@include clearfix();

}

.site-logo {
	text-align: center;
	padding: 10px 0;

	h1 { margin: 0; line-height: 0; }

	img { max-width: 100%; }
}


.language-selector {
	display: none;
	img {
		width: 18px;
		height: 12px;
	}
}

.mobile-language-selector {
	font-size: calc-em(12px);
	display: inline-block;
	margin-top: 4px;
	// margin-bottom: 10px;
	float: right;

	ul {
		li {
			display: inline;
			float: right;
			padding-left: 10px;

			a {
				cursor: pointer;
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}
			.active {
				color: rgba(170, 170, 170, 1);
			}
		}
		img {
			padding-right: 5px;
			width: 18px;
			height: 12px;
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	// font-size: calc-em(12px);
	// position: relative;
	// display: inline;
	// float: right;

	// // .default-language {
	// // 	display: inline-block;
	// // 	padding: 8px 10px 5px;
	// // 	cursor: pointer;

	// // 	&:after {
	// // 		content: '';
	// // 		border-top: 4px solid rgba(0, 0, 0, 1);
	// // 		border-left: 4px solid rgba(0, 0, 0, 0);
	// // 		border-right: 4px solid rgba(0, 0, 0, 0);
	// // 		margin-left: 8px;
	// // 		position: relative;
	// // 		top: 9px;
	// // 	}
	// // }

	// ul {
	// 	position: absolute;
	// 	right: 0;
	// 	left: 0;
	// 	z-index: 1000;
	// 	display: none;

	// 	li {
	// 		padding: 5px 10px;
	// 		background-color: #fff;
	// 		a {
	// 			text-decoration: none;
	// 			color: #000;
	// 			cursor: pointer;
	// 		}
	// 	}
	// 	li:hover {
	// 		background-color: $grey-1;
	// 	}
	// }

	// img {
	// 	padding-right: 5px;
	// 	width: 18px;
	// 	height: 12px;
	// }
	// @include clearfix();
}

.header-utilities__links {
	display: inline-block;
	li {
		display: inline-block;
		margin-right: 20px;

		&:last-child { margin-right: 0; }
	}

	a {
		color: #333;
		text-decoration: none;
		font-size: calc-em(12px);

		&:hover {
			color: #2895d5;
			text-decoration: underline;
		}
	}
}

.header-utilities__search {
	text-align: center;
	margin-bottom: 10px;
	font-size: calc-em(13px);

	fieldset {
		display: inline-block;
		border: 0;
		padding: 0;
		width: 70%;
	}

	.inputbox {
		width: 100%;
		padding: 0 3px;
		border-radius: 5px;
		border: 1px solid $grey-1;
		line-height: 26px;
		height: 28px;
	}
}

.btn-search {
	@include search-btn-gradient();
	display: inline-block;
	border-color: $darkgrey-2;
	border: 1px solid $darkgrey-3;
	border-radius: 3px;
	color: #333;
	text-align: center;
	font-weight: bold;
	line-height: 1.25;
	padding: 4px 9px;
}


@media only screen and (min-width: $sm-breakpoint), print {

	.site-header {
		padding: 25px 0 42px;

		.wingspan {
			@include clearfix();
		}
	}

	.site-logo { float: left; padding: 0; }

	.header-utilities {
		float: right;
		width: 38%;
		// margin-top: 10px;
	}

	.header-utilities__search {
		width: 100%;
		margin-bottom: 5px;
		text-align: right;
	}

	.header-utilities__links {
		@include clearfix();
		float: right;
		text-align: right;
		li { margin-left: 20px; margin-right: 0; }
	}

	.mobile-language-selector {
		display: none;
	}

	.language-selector {
		font-size: calc-em(12px);
		display: block;
		margin-top: -5px;
		margin-bottom: 10px;
		ul {
			li {
				display: inline;
				float: right;
				padding-left: 20px;

				a {
					cursor: pointer;
					text-decoration: none;
				}

				a:hover {
					text-decoration: underline;
				}
				a.active {
					color: rgba(170, 170, 170, 1);
				}
			}
			img {
				padding-right: 5px;
			}

			&:after {
				content: '';
				display: table;
				clear: both;
			}
		}
	}
}



