mixin site-header(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- ishome = spec.ishome || false

	// Site Header
	.site-header
		.header-top.wingspan
			.site-logo
				if ishome
					h1: img(src = baseUrl + "images/main-logo.png" alt = Fuji Xerox)
				else
					a(href = "/"): img(src =  baseUrl + "images/main-logo.png" alt = Fuji Xerox)
			if !spec.isError
				.header-utilities
					.header-utilities__search
						form(action = "/search" method = "GET")
							fieldset
								legend.sr-only Site Search
								label.sr-only(for = "mod-search-searchword") Search
								input#mod-search-searchword.search.inputbox.search-query(name = "searchword" maxlength = "20" type = "text" size = "20" placeholder = "Search...")
								input(type = "hidden" value = "search" name = "task")

							button(type = "submit" class = "btn-search" onfocus = "this.form.searchword.focus();") Search
					ul.header-utilities__links
						li: a(href = "#") Sitemap
						li: a(href = "#") Blog
						li: a(href = "https://shop.fujixerox.com.sg/") eShop
						li.login: a(href = "#") Login
	// End: Site Header




