extends ../_layouts/base

include ../_modules/molecules/section/section
include ../_modules/templates/article/article

include ../_modules/organisms/related-pages/related-pages
include ../_modules/organisms/accordion/accordion

//- Configuration
block config
	- var baseUrl = '../'
	- var pageTitle = 'Fuji Xerox | Article Template'
	- var parent = 0

block content
	+article({
		contentClass: "col-sm-10 col-md-8 offset-sm-1 offset-md-2",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Article template"
			}
		],
		banner: {
			title: "Color Management Solutions & Services",
			image: "images/content/banners/solutions.jpg"
		},
		quicklinks: [],
		aside: {
			__class: "col-sm-10 offset-sm-1 col-md-2 offset-md-0",
			asideNav: {
				__class: "aside-navigation",
				label: "Production Solutions",
				link: "#",
				nav: [
					{
						label: "Customer Communication Management (CCM) Solutions",
						link: "#"
					},
					{
						label: "Color Management Solutions & Services",
						link: "#"
					},
					{
						label: "Print Management Information Systems(MIS)",
						link: "#",
						active: 'active'
					},
					{
						label: "Packaging Solutions",
						link: "#"
					},
					{
						label: "Business Development Consultancy Services",
						link: "#"
					}

				]
			}

		}
	})
		+section
			a#content1.anchor-link(data-label = "Overview")
			h2 Overview

			p Please your customer with accurate and consistent colours, that's the key to winning them over. But it's not easy because color can be a moving target. The number of variables is daunting.

			p The good news: you can put this worry behind with Fuji Xerox's Confident Colour Programme.

			p Our programme's goal is to help you take the uncertainty out of colour management, so repeatable colour can be achieved accurately, quickly and easily. This way, you can focus on other core business.

			h3 Why you should invest in Colour Management System

			p Ineffective colour management can mean higher costs and inefficiency to your business. Trying to meet your customer’s expectations in colour can be a complex and frustrating process when there is no benchmark and standardisation. This can further lead to declining customers and employee’s satisfaction. The long turnaround times can also cause a major impact on production and eventual loss of clientele.

			p Achieve success by investing in an effective colour management system and eliminate all pain points.

		section
			h2 Point at a glance

			.points
				ul
					li
						h3 Economic

						//- .icons
						//- 	img(src = "images/icons/piggybank.png")

						ul
							li Standardize &amp; improve workflow
							li Eliminate errors &amp; reworks
							li Minimise rejects from customers

					li
						h3 Power

						//- .icons
						//- 	img(src = "images/icons/handshake.png")

						ul
							li Achieve accurate and consistent colours
							li Deliver good quality prints

					li
						h3 Performance

						//- .icons
						//- 	img(src = "images/icons/chart.png")

						ul
							li Gain international acceptance on print
							li Quality
							li Differentiate from competition
							li Capture new market opportunities

		+section
			a#content2.anchor-link(data-label = "How can we help")
			h2 How we can help in managing your colour issues?

			ul
				li We have a strong team of 7 Fogra Certified Digital Print Experts – the largest in the industry.
				li We are the 1st in South East Asia to obtain certification from Fogra in Contract Proof Creation (CPC) and Process Standard Digital (PSD).

			h3 With our team of Fogra Certified Digital Print Experts, we can help you to:

			ul
				li Analyze colour and print related issues.
				li Undertake corrective actions to align systems and processes against ISO standard.
				li Prepare for FograCert Validation Print Creation (VPC), Contract Proof Creation (CPC), Process Standard Digital (PSD) and obtain certification from Fogra.
				li Achieve a standard and systematic approach to consistent colour and quality prints.

		+section
			a#content3.anchor-link(data-label = "Why Fuji Xerox")
			h2 Why Fuji Xerox

			h3 In the aspect of colour management, Fuji Xerox Singapore has:

			ul
				li A comprehensive range of colour management solutions which include CGS Oris, EFI Colour Profiler Suite etc.
				li Fleet of Fogra Certified Validation Printing System ranging from DC1450GA to iGen4 and.
				li A team of 7 FograCert Digital Print Experts – the largest team in the industry. In addition, we are also the 1st in South East Asia to obtain certification from Fogra in Contract Proof Creation (CPC) and Process Standard Digital (PSD).

			table.stackable
				thead
					tr
						th Programme
						th Function
						th Benefits

				tbody
					tr
						td: p Colour Match
						td
							ul
								li System setup
								li Manage colour output
								li Assigning colour profile
								li Colour match to a sample/reference file
						td
							ul
								li Achieve accurate and repeatable colours.
								li Improve print quality and job turnaround time
								li Reduce wastage and costs
								li Consistent and matching colours between devices

					tr
						td: p Colour Management Training
						td
							ul
								li Fundamental of Colour
								li Colour manage workflow - Creative application
								li Learn how to control colour from design to delivery

						td
							ul
								li Improved knowledge and skill set in colour management.
								li Improve productivity

					tr
						td: p FograCert Validation Print Creation
						td
							ul
								li Assessment &amp; process check
								li Recommendation &amp; correction
								li Verify the prints compliance to ISO 12647-8 (FograCert Validation Print Creation) &amp; ISO 12647-7 (FograCert Contract Proof Creation)
						td
							ul
								li Validate your print against ISO standards
								li Gain credibility and International acceptance on print quality

					tr
						td: p FograCert Contract Proof Creation
						td
							ul
								li Assessment &amp; process check
								li Recommendation &amp; correction
								li Verify the prints compliance to ISO 12647-8 (FograCert Validation Print Creation) &amp; ISO 12647-7 (FograCert Contract Proof
						td
							ul
								li Validate your print against ISO standards
								li Gain credibility and International acceptance on print quality

					tr
						td: p FograCert Contract Proof Creation
						td
							ul
								li Assessment &amp; process check
								li Recommendation &amp; correction
								li Verify the prints compliance to ISO 12647-7/12647-8
								li Training on PDF/X files created and generate output PDF/X data in accordance to ISO 15930
								li Quality assurance on process &amp; Environment
								li Submit audit results to Fogra for certification
						td
							ul
								li Benchmark your print gainst ISO standards
								li Gain credibility &amp; International acceptance on print quality
								li Improved &amp; standardized workflow

		+section({__class: "accordion-widget"})
			h2 Accordion Section

			+accordion
				.accordion-widget__block
					h3.accordion-widget__block-title xSpring Technology

					.accordion-widget__block-content
						.row-col-12
							.col-sm-4.thumbnail
								img.logo(src = "/images/logos/hp.png" alt = "HP Logo")
							.description-text
								p HP is a technology company that operates in more than 170 countries around the world. We explore how technology and services can help people and companies address their problems and challenges, and realize their possibilities, aspirations and dreams. We apply new thinking and ideas to create more simple, valuable and trusted experiences with technology, continuously improving the way our customers live and work.

								h4 HP Trim

								p HP TRIM software is a scalable enterprise document and records management solution that simplifies the capture, management, security, and access to your information—in business context. It enables your organization to more easily comply with regulations and corporate policies, and it helps you secure information from inappropriate access and misuse. With HP TRIM software, you will know what you need to retain, what you need for legal and operational purposes and can dispose of the rest.

								p click to view the <a href = "#">HR Trim Brochure</a>

								h4 Autonomy

								p Autonomy, an HP company, is a market-leading software company that helps organizations all over the world understand the meaning in information. Autonomy provides meaning-based solutions such as Knowledge Management and Records Management to help organisations understand the full spectrum of enterprise informations as well as the relationships that exists within it.

				.accordion-widget__block
					h3.accordion-widget__block-title HP

					.accordion-widget__block-content
						.row-col-12
							.col-sm-4.thumbnail
								img.logo(src = "/images/logos/hp.png" alt = "HP Logo")
							.description-text
								p HP is a technology company that operates in more than 170 countries around the world. We explore how technology and services can help people and companies address their problems and challenges, and realize their possibilities, aspirations and dreams. We apply new thinking and ideas to create more simple, valuable and trusted experiences with technology, continuously improving the way our customers live and work.

								h4 HP Trim

								p HP TRIM software is a scalable enterprise document and records management solution that simplifies the capture, management, security, and access to your information—in business context. It enables your organization to more easily comply with regulations and corporate policies, and it helps you secure information from inappropriate access and misuse. With HP TRIM software, you will know what you need to retain, what you need for legal and operational purposes and can dispose of the rest.

								p click to view the <a href = "#">HR Trim Brochure</a>

								h4 Autonomy

								p Autonomy, an HP company, is a market-leading software company that helps organizations all over the world understand the meaning in information. Autonomy provides meaning-based solutions such as Knowledge Management and Records Management to help organisations understand the full spectrum of enterprise informations as well as the relationships that exists within it.

				.accordion-widget__block
					h3.accordion-widget__block-title EMC

					.accordion-widget__block-content
						.row-col-12
							.col-sm-4.thumbnail
								img.logo(src = "/images/logos/hp.png" alt = "HP Logo")
							.description-text
								p HP is a technology company that operates in more than 170 countries around the world. We explore how technology and services can help people and companies address their problems and challenges, and realize their possibilities, aspirations and dreams. We apply new thinking and ideas to create more simple, valuable and trusted experiences with technology, continuously improving the way our customers live and work.

								h4 HP Trim

								p HP TRIM software is a scalable enterprise document and records management solution that simplifies the capture, management, security, and access to your information—in business context. It enables your organization to more easily comply with regulations and corporate policies, and it helps you secure information from inappropriate access and misuse. With HP TRIM software, you will know what you need to retain, what you need for legal and operational purposes and can dispose of the rest.

								p click to view the <a href = "#">HR Trim Brochure</a>

								h4 Autonomy

								p Autonomy, an HP company, is a market-leading software company that helps organizations all over the world understand the meaning in information. Autonomy provides meaning-based solutions such as Knowledge Management and Records Management to help organisations understand the full spectrum of enterprise informations as well as the relationships that exists within it.

				.accordion-widget__block
					h3.accordion-widget__block-title ParaDM

					.accordion-widget__block-content
						.row-col-12
							.col-sm-4.thumbnail
								img.logo(src = "/images/logos/hp.png" alt = "HP Logo")
							.description-text
								p HP is a technology company that operates in more than 170 countries around the world. We explore how technology and services can help people and companies address their problems and challenges, and realize their possibilities, aspirations and dreams. We apply new thinking and ideas to create more simple, valuable and trusted experiences with technology, continuously improving the way our customers live and work.

								h4 HP Trim

								p HP TRIM software is a scalable enterprise document and records management solution that simplifies the capture, management, security, and access to your information—in business context. It enables your organization to more easily comply with regulations and corporate policies, and it helps you secure information from inappropriate access and misuse. With HP TRIM software, you will know what you need to retain, what you need for legal and operational purposes and can dispose of the rest.

								p click to view the <a href = "#">HR Trim Brochure</a>

								h4 Autonomy

								p Autonomy, an HP company, is a market-leading software company that helps organizations all over the world understand the meaning in information. Autonomy provides meaning-based solutions such as Knowledge Management and Records Management to help organisations understand the full spectrum of enterprise informations as well as the relationships that exists within it.

				.accordion-widget__block
					h3.accordion-widget__block-title Kofax

					.accordion-widget__block-content
						.row-col-12
							.col-sm-4.thumbnail
								img.logo(src = "/images/logos/hp.png" alt = "HP Logo")
							.description-text
								p HP is a technology company that operates in more than 170 countries around the world. We explore how technology and services can help people and companies address their problems and challenges, and realize their possibilities, aspirations and dreams. We apply new thinking and ideas to create more simple, valuable and trusted experiences with technology, continuously improving the way our customers live and work.

								h4 HP Trim

								p HP TRIM software is a scalable enterprise document and records management solution that simplifies the capture, management, security, and access to your information—in business context. It enables your organization to more easily comply with regulations and corporate policies, and it helps you secure information from inappropriate access and misuse. With HP TRIM software, you will know what you need to retain, what you need for legal and operational purposes and can dispose of the rest.

								p click to view the <a href = "#">HR Trim Brochure</a>

								h4 Autonomy

								p Autonomy, an HP company, is a market-leading software company that helps organizations all over the world understand the meaning in information. Autonomy provides meaning-based solutions such as Knowledge Management and Records Management to help organisations understand the full spectrum of enterprise informations as well as the relationships that exists within it.

				.accordion-widget__block
					h3.accordion-widget__block-title K2

					.accordion-widget__block-content
						.row-col-12
							.col-sm-4.thumbnail
								img.logo(src = "/images/logos/hp.png" alt = "HP Logo")
							.description-text
								p HP is a technology company that operates in more than 170 countries around the world. We explore how technology and services can help people and companies address their problems and challenges, and realize their possibilities, aspirations and dreams. We apply new thinking and ideas to create more simple, valuable and trusted experiences with technology, continuously improving the way our customers live and work.

								h4 HP Trim

								p HP TRIM software is a scalable enterprise document and records management solution that simplifies the capture, management, security, and access to your information—in business context. It enables your organization to more easily comply with regulations and corporate policies, and it helps you secure information from inappropriate access and misuse. With HP TRIM software, you will know what you need to retain, what you need for legal and operational purposes and can dispose of the rest.

								p click to view the <a href = "#">HR Trim Brochure</a>

								h4 Autonomy

								p Autonomy, an HP company, is a market-leading software company that helps organizations all over the world understand the meaning in information. Autonomy provides meaning-based solutions such as Knowledge Management and Records Management to help organisations understand the full spectrum of enterprise informations as well as the relationships that exists within it.

		+section({__class: "resources"})
			a#content4.anchor-link(data-label = "Resources")
			h3 Resources

			.resources__block
				h3 Colour Management Brochure

				dl
					dt File Size:
					dd 4100kb
					dt Document Type:
					dd Portable Document Format

				//DEV NOTE
				//If Email Subscription is switched off
				//<a href = "#" class = "resources__block__download-btn" title = "Download Colour Management Brochure"><i class = "icon-download"></i><span class = "sr-only">Download Resource</span></a>
				//ELSE
				a.fancybox.resources__block__download-btn(href = "#subscriptionCall")
					i.icon-download
					span.sr-only Download
				//END

			//Subscription Call
			.subscribe#subscriptionCall
				.row-col-12.
					<div class = "col-sm-6 col-md-6 col match-height">
						<h3>You may download the PDF here</h3>
						<a href="#" target = "_blank" class = "btn-download">Colour Management Brochure<i class="icon-download"></i></a>
					</div>
					<div class = "col-sm-6 col-md-6 col match-height">
						<h3>Subscribe to our newsletter</h3>
						<!-- <p>Keep yourself update to Fuji Xerox latest product!</p> -->
						<div class = "form-row row-col-12">
							<div class = "col-sm-6">
								<div class = "input-group-text">
									<label for = "subscribeName">Name<span class = "required">*</span></label>
									<input type = "text" id = "subscribeName" placeholder = "Name">
								</div>
								<div class = "input-group-text">
									<label for = "subscribeEmail">Email<span class = "required">*</span></label>
									<input type = "email" id = "subscribeEmail" placeholder = "abc@example.com">
								</div>
							</div>
						</div>
						<div class = "btn-group">
							<button type = "submit">Submit<i class = "icon-chevron-with-circle-right"></i></button>
						</div>
					</div>
			//End: Subscription Call


		+section({__class: "related-pages"})
			a#content5.anchor-link(data-label = "Related Pages")
			h3 Related Pages

			+related-pages({
				relatedPages: [
					{
						title: "Customer Communication Management (CCM) Solutions",
						link: "#",
						category: "Production Solutions"
					},
					{
						title: "Color Management Solutions & Services",
						link: "#",
						category: "Production Solutions"
					}
				]
			})