.site-footer {
	@include linear-gradient(#e3e3e3, #fff);
	padding: 25px 0;
}

.mega-footer {
	overflow: hidden;

	> div {
		position: relative;
		border-left: 1px solid $grey-5;
		padding: 0 10px 500px;
		margin-bottom: -505px;
	}

	h5 {
		margin: 0 0 12px;
		font-size: calc-em(13px);
	}

	li {
		line-height: 1;
		margin-bottom: 12px;

		a { font-size: calc-em(12px); }
	}

	a {
		color: $darkgrey-4;
		text-decoration: none;

		&:hover {
			color: $blue-1;
			text-decoration: underline;
		}
	}
}

.footer-info {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid $grey-5;
	font-size: calc-em(12px);
	color: $darkgrey-4;
}

.footer-bottom { position: relative; }

.social-links {
	color: #9a9a9a;

	.label {
		display: inline-block;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: calc-em(12px);
	}

	li {
		display: inline-block;
		margin-right: 5px;
	}

	a {
		display: block;
		color: #fff;
		background: $darkgrey-1;
		width: 25px;
		line-height: 25px;
		text-align: center;
		text-decoration: none;

		i {
			position: relative;
			top: 1px;
		}

		.icon-facebook {
			top: 2px;
		}

		&:hover { background: $orange-1; }
	}
}

.footer-info__links {
	margin-bottom: 25px;

	li {
		display: inline-block;

		&:first-child a { padding-left: 0; }

		&:last-child a {
			padding-right: 0;
			border-right: 0;
		}
	}

	a {
		display: block;
		color: $darkgrey-4;
		text-decoration: none;
		padding: 0 15px;
		border-right: 1px solid $grey-6;


		&:hover {
			color: $blue-1;
			text-decoration: underline;
		}
	}
}

.footer-info__copyright { max-width: 440px; }
