extends ../_layouts/base

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Search Results'
	- pageDescription = 'This is the search page of Fuji Xerox.'

block content
	.main-content
		// Breadcrumb
		.breadcrumb
			ul
				li
					a(href='/en') Home
				li
					span Search
		// End: Breadcrumb
		h1 Search Results
		.layout-main
			.result-status
				p.msg.success-msg(style='display: block;')
					| Total:
					span.total-results 249
					|  results found.
			ul.search-results
				li
					h2
						a(href='//sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/11/Fuji-Xerox-Launches-SkyDesk-Media-Switch-a-Cloud-Software-as-a-Service-Linking-Print-Materials-to-Di') Fuji Xerox Launches SkyDesk Media Switch a...
					p.excerpt Fuji Xerox Launches SkyDesk Media Switch a...
					span.url
						| //sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/11/Fuji-Xerox-Launches-SkyDesk-Media-Switch-a-Cloud-Software-as-a-Service-Linking-Print-Materials-to-Di
				li
					h2
						a(href='//sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/11/Fuji-Xerox-Begins-Operation-of-its-New-Manufacturing-Company-in-Vietnam-to-Meet-Increasing-Global-De') FX Begins Operation of its New Manufacturing...
					p.excerpt
						| Fuji Xerox Begins Operation of its New Manufacturing Company in Vietnam to Meet Increasing Global De
					span.url
						| //sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/11/Fuji-Xerox-Begins-Operation-of-its-New-Manufacturing-Company-in-Vietnam-to-Meet-Increasing-Global-De
				li
					h2
						a(href='//sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/10/Fuji-Xerox-Develops-an-Inconspicuous-Code-to-Embed-Additional-Information-on-Printed-Documents') Fuji Xerox Develops an Inconspicuous Code...
					p.excerpt
						| Fuji Xerox Develops an Inconspicuous Code to Embed Additional Information on Printed Documents
					span.url
						| //sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/10/Fuji-Xerox-Develops-an-Inconspicuous-Code-to-Embed-Additional-Information-on-Printed-Documents
				li
					h2
						a(href='//sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/11/Fuji-Xerox-Pledges-10-Million-Yen-to-support-Philippines-Typhoon-Relief-Efforts') Fuji Xerox Pledges 10 Million Yen to support...
					p.excerpt Fuji Xerox Pledges 10 Million Yen to support Philippines Typhoon Relief Efforts
					span.url
						| //sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/11/Fuji-Xerox-Pledges-10-Million-Yen-to-support-Philippines-Typhoon-Relief-Efforts
				li
					h2
						a(href='//sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/10/Fuji-Xerox-Sponsors-the-27th-Southeast-Asian-Games-in-Myanmar') Fuji Xerox Sponsors the 27th Southeast...
					p.excerpt Fuji Xerox Sponsors the 27th Southeast Asian Games in Myanmar
					span.url
						| //sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/10/Fuji-Xerox-Sponsors-the-27th-Southeast-Asian-Games-in-Myanmar
				li
					h2
						a(href='//sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/10/Third-PR-Video-on-Valuable-Communications-From-Fuji-Xerox-Production-Services-Version-Now-Available') Third PR Video on Valuable Communications From...
					p.excerpt
						| Third PR Video on Valuable Communications From Fuji Xerox Production Services Version Now Available
					span.url
						| //sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/10/Third-PR-Video-on-Valuable-Communications-From-Fuji-Xerox-Production-Services-Version-Now-Available
				li
					h2
						a(href='//sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/6/FUJI-XEROX-DECLARES-2013-PIXI-AWARDS-OPEN') FUJI XEROX DECLARES 2013 PIXI AWARDS OPEN
					p.excerpt FUJI XEROX DECLARES 2013 PIXI AWARDS OPEN
					span.url
						| //sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/6/FUJI-XEROX-DECLARES-2013-PIXI-AWARDS-OPEN
				li
					h2
						a(href='//sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/12/Fuji-Xerox-China-Offers-Room-Reservation-Solution-to-Shangri-La-Hotels-and-Resorts') Fuji Xerox China Offers Room Reservation...
					p.excerpt
						| Fuji Xerox China Offers Room Reservation Solution to Shangri-La Hotels and Resorts
					span.url
						| //sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/12/Fuji-Xerox-China-Offers-Room-Reservation-Solution-to-Shangri-La-Hotels-and-Resorts
				li
					h2
						a(href='//sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/3/Fuji-Xerox-Earns-the-Prestigious-Service-Capability-and-Performance-Standards-Certification') Fuji Xerox Earns the Prestigious Service...
					p.excerpt
						| Fuji Xerox Earns the Prestigious Service Capability and Performance Standards Certification
					span.url
						| //sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/3/Fuji-Xerox-Earns-the-Prestigious-Service-Capability-and-Performance-Standards-Certification
				li
					h2
						a(href='//sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/8/Fuji-Xerox-Asia-Pacific-Wins-Asia-Best-Brand-Award-at-the-4th-CMO-Asia-Awards') Fuji Xerox Asia Pacific Wins Asia's Best...
					p.excerpt Fuji Xerox Asia Pacific Wins Asia Best Brand Award at the 4th CMO Asia Awards
					span.url
						| //sg.fx.adelphi.digital/en/Company/Newsroom/Corporate-News/2013/8/Fuji-Xerox-Asia-Pacific-Wins-Asia-Best-Brand-Award-at-the-4th-CMO-Asia-Awards
			.pagination
				ul
					li.pagination-prev
						a(title='Prev', href='?q=fuji&page=1')
							span.pagenav Prev
					li
						a(href='?q=fuji&page=1')
							span.pagenav 1
					li.active
						a(href='?q=fuji&page=2')
							span.pagenav 2
					li
						a(href='?q=fuji&page=3')
							span.pagenav 3
					li
						a(href='?q=fuji&page=4')
							span.pagenav 4
					li
						a(href='?q=fuji&page=...')
							span.pagenav ...
					li
						a(href='?q=fuji&page=24')
							span.pagenav 24
					li
						a(href='?q=fuji&page=25')
							span.pagenav 25
					li.pagination-next
						a(title='Next', href='?q=fuji&page=3')
							span.pagenav Next

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "SearchResultsPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "This page url"
		}
