extends ../_templates/aside

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Landing'
	- pageDescription = 'This is the landing page of Fuji Xerox'
	- landingData = site.data.landing

block PageBanner
	+hero-banner(landingData.banner)

block PageContent
	+section()
		+landing-wrapper(landingData.landing)

block PageAside
	aside.layout-side.desktop-only
		+quick-links()

block Schema
	script(type='application/ld+json').
		{
		    "@context": "http://schema.org",
		    "@type": "WebPage",
		    "name": "Meta Title",
		    "description": "Meta Description",
		    "url": "this page url"
		}
