// related-pages styles
.related-pages__block {
	margin: 0 0 20px;

	h3 { margin-top: 20px; }

	a {
		@include transition(background-color, 150ms, ease-in-out);
		position: relative;
		display: block;
		color: #000;
		padding: 20px;
		min-height: 190px;
		background: $grey-2;
		text-decoration: none;
		padding-right: 40px;

		&:hover {
			background: $red;
			color: #fff;

			.category { border-color: #fff; }
		}

		&:after {
			@include icomoon('\f105');
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 24px;
		}
	}

	h4 { margin-top: 0; }

	p {
		font-size: calc-em(14px);
		word-wrap: break-word;
	}

	.category {
		position: absolute;
		bottom: 0;
		left: 20px;
		right: 20px;
		display: block;
		border-top: 1px solid #000;
		padding: 20px 70px 20px 0;
		font-size: calc-em(14px);

		i {
			font-size: 1.3em;
			margin-right: 5px;
			color: $darkgrey-2;
		}
	}

	.label {
		position: absolute;
		display: block;
		top: 20px;
		right: 0;
		font-size: calc-em(12px);
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		background-color: $pink-1;
		padding: 3px 18px;
	}
}


@media only screen and (min-width: $bpTablet), print {

	.related-pages {
		@include clearfix();
	}

	.related-pages__block {
		width: 48.5%;
		float: left;
		margin-right: 3%;

		&:nth-child(2n + 2) {
			margin-right: 0;
		}
	}
}
