mixin related-pages(spec)
	- spec = spec || {}
	- spec.relatedPages = spec.relatedPages || {}
	- spec.__class = spec.__class || ''

	.blocks(class=spec.__class)&attributes(attributes)
		each page in spec.relatedPages
			.related-pages__block
				a(href = page.link)
					h4=page.title
					if page.text
						p= page.text
					span.category= page.category

