mixin social-media-subpage(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.social-feed-subpage.col-sm-6.col-md-4(class=spec.__class)
		h3 Connect
		.social-feed-subpage__icons
			each icon in spec.data.icons
				a(href=icon.url)
					img(src=icon.icon, alt="")
		.social-feed-subpage__posts
			each post in spec.data.posts
				+social-sub-item(post)

		//- script#twitter-social(type="text/x-dot-template").
		//- 	<div class="social-feed-item__text">
		//- 		<p>{{=it.text}}</p>
		//- 		<a href="{{=it.url}}">Fuji Xerox</a>
		//- 	</div>
		//- 	<div class="social-feed-item__actions">
		//- 		<a class="reply" href="#">Reply</a>
		//- 		<a class="retweet" href="#">Retweet</a>
		//- 		<a class="favorite" href="#">Favorite</a>
		//- 	</div>

		//- script#facebook-social(type="text/x-dot-template").
		//- 	<div class="social-feed-item__text">
		//- 		<p>{{=it.text}}<a href="{{=it.url}}">Find out more</a></p>
		//- 		<a href="{{=it.url}}">Fuji Xerox</a>
		//- 	</div>

		//- script#linkedin-social(type="text/x-dot-template").
		//- 	<div class="social-feed-item__text">
		//- 		<p>{{=it.text}}<a href="{{=it.url}}">Find out more</a></p>
		//- 		<a href="{{=it.url}}">Fuji Xerox</a>
		//- 	</div>

		//- script#youtube-social(type="text/x-dot-template").
		//- 	<div class="social-feed-item__text">
		//- 		<a class="image" href="{{=it.url}}">
		//- 			<img src="{{=it.thumbnail}}" alt="">
		//- 		</a>
		//- 		<p>{{=it.text}}</p>
		//- 		<a href={{=it.url}}>Fuji Xerox</a>
		//- 	</div>
