// social-media-subpage styles
.social-feed-subpage {
	h3 {
		margin: 0 0 25px;
		line-height: 1.3;
		font-size: calc-em(20px);
		font-weight: 400;
	}

	&__icons {
		margin-bottom: 12px;

		a {
			text-decoration: none;
			display: inline-block;
			width: 30px;
			margin-right: 10px;
		}
	}
}
