extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb
include ../_modules/organisms/sitemap/sitemap

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Sitemap'
	- pageDescription = 'This is the sitemap page of Fuji Xerox'
	- sitemapData = site.data.header

block content
	.main-content
		+breadcrumb()

		+sitemap(sitemapData)
