// nav-tabs-anchor styles
.anchor-tabs {
	display: none;
	background-color: $border;

	ul {
		@extend %list-unstyled;
		@extend %clearfix;
		margin: 0 0 20px;
		padding: 13px 24px;
	}

	li {
		float: left;
		position: relative;
		margin: 12px 24px 12px 0px;
		padding: 0 24px 0 0;
		// min-width: 10%;
		// max-width: 20%;
		border-right: 1px solid $border3;

		// &:after {
		// 	transform: translate(0,-50%);
		// 	background: $border3;
		// 	position: absolute;
		// 	top: 50%;
		// 	right: 24px;
		// 	display: block;
		// 	width: 1px;
		// 	height: 100%;
		// 	content: "";
		// }

		&:last-child {
			padding-right: 0;
			border: none;

			// &:after { display: none; }
		}
	}

	a {
		color: #000;
		text-decoration: none;
		font-size: calc-em(18px);
		line-height: 28px;

		&:hover {
			color: $red;
		}
	}
}

@media only screen and (min-width: $bpTablet), print{
	.anchor-tabs {
		display: block;
	}
}
