mixin success-stories-mapper-filters(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.success-stories-mapper__filters.row
		.input-group-select.col-sm-2
			+select({
				options: [
					{
						label: "Countries",
						value: ""
					},
					{
						label: "Singapore",
						value: "sg"
					},
					{
						label: "Malaysia",
						value: "my"
					},
					{
						label: "Vietnam",
						value: "vn"
					},
					{
						label: "Philippines",
						value: "ph"
					},
					{
						label: "New Zealand",
						value: "nz"
					},
					{
						label: "Australia",
						value: "au"
					}
				]
			})(id = "countryFilter")

		.input-group-select.col-sm-2
			+select({
				options: [
					{
						label: "Solution",
						value: ""
					},
					{
						label: "Office Solutions",
						value: "28cfebbde9424dbcbff921602b0ec674"
					},
					{
						label: "Production Solution",
						value: "9d2efb11daef446aacabddb8f2283b61"
					},
					{
						label: "Knowledge Management",
						value: "953a6a4c426e4fd1bbcb56d9e27c8cd9"
					},
					{
						label: "Commercial Financing Solution Services",
						value: "9a87114e19ba4e08ad655a0ab09c73a4"
					},
					{
						label: "Empowering the SMEs",
						value: "99e7134d16ed49b9ad0b5187a98aa83c"
					},
					{
						label: "IT Management Solutions",
						value: "ddb28467964244188890f1d6e0199575"
					},
					{
						label: "Outsourcing Services",
						value: "a16e8a5e98a546fd9fd81f0e56ce131e"
					},
					{
						label: "Global Services",
						value: "a16e8a5e98a546fd9fd81f0e56ce131e"
					}
				]
			})(id = "solutionFilter")

		.input-group-select.col-sm-2
			+select({
				options: [
					{
						label: "Products",
						value: ""
					},
					{
						label: "Office Printers",
						value: "ccd791c9ca72450d8c9aa3eef15e7de0"
					},
					{
						label: "Production Printers",
						value: "633ae5de327f40a4b25aceaa0589f5df"
					},
					{
						label: "3D Printers",
						value: "e2d1531e123f4969bd0e1806209627ef"
					},
					{
						label: "Supplies",
						value: "1565dbd823654a3b95a2cd54d3fd6f06"
					},
					{
						label: "Software",
						value: "75182430b6ee4766a5a7843b978e84e5"
					}
				]
			})(id = "productFilter")

		.input-group-select.col-sm-2
			+select({
				options: [
					{
						label: "Industry",
						value: ""
					},
					{
						label: "Architecture, Engineering and Construction",
						value: "2b24e7431fc149628f62421f75568732"
					},
					{
						label: "Aerospace",
						value: "563c273ffc05468ebf59d1008c9dbbac"
					},
					{
						label: "Banking, Finance and Insurance",
						value: "ad27102053574a8faec175674ea994d9"
					},
					{
						label: "Government",
						value: "c772e5c342b34ec988c2aebb638fdcad"
					},
					{
						label: "Graphic Communications / Printing",
						value: "9faa636d7f73499c9f14cc7b06a0d8a8"
					},
					{
						label: "Hospitality",
						value: "2d4a6675506f43f5a14304e2ec5bb8fc"
					},
					{
						label: "Legal",
						value: "48ef0ac011874d6bae1d4691bc5577d6"
					},
					{
						label: "Manufacturing",
						value: "80974d5a52104b8bbdcd2f823bc8750d"
					},
					{
						label: "Others",
						value: "c43a658ee0664b2ea8539a6fe365d5a5"
					}
				]
			})(id = "industryFilter")

		.input-group-select.col-sm-2
			+select({
				options: [
					{
						label: "Year",
						value: ""
					},
					{
						label: "2017",
						value: "2017"
					},
					{
						label: "2016",
						value: "2016"
					},
					{
						label: "2015",
						value: "2015"
					},
					{
						label: "2014",
						value: "2014"
					},
					{
						label: "2013",
						value: "2013"
					},
					{
						label: "2012",
						value: "2012"
					},
					{
						label: "2011",
						value: "2011"
					}
				]
			})(id = "yearFilter")


		.success-stories-mapper__filters__controls
			button.btn-reset.col-sm-2 Reset