// accordion styles
.accordion {
	border: 1px solid $border3;
	border-bottom: none;

	&:last-child {
		border-bottom: 1px solid $border3;
	}

	button {
		position: relative;
		font-family: $primaryFont;
		font-size: calc-em(20px);
		text-align: left;
		background: transparent;
		width: 100%;
		padding: 10px 50px 10px 15px;
		border: 0;
		line-height: 1.133333;
		font-weight: 300;

		&:before, &:after {
			transform: translate(0,-50%);
			background: $red;
			position: absolute;
			top: 50%;
			right: 22px;
			display: inline-block;
			width: 2px;
			height: 2px;
			content: "";
		}

		&:before {
			width: 16px;
		}

		&:after {
			right: 29px;
			height: 16px;
		}
	}

	&.open button {
		color: #fff;
		border: 1px solid $red;
		background-color: $red;

		&:before {
			background-color: #fff;
		}

		&:after {
			display: none;
		}
	}

	&__content {
		display: none;
		padding: 15px;

		.rte {
			p, ul, ol, table {
				margin: 0 0 10px;

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	&.tab-carousel__accordion {
		.accordion__content {
			text-align: center;
		}

		.tabbed-carousel {
			display: inline-block;
		}
	}
}

@media only screen and (min-width: $bpTablet), print{
	.accordion {
		&__content {
			padding: 15px 30px;
		}
	}
}
