mixin accordion(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.accordion
		button.accordion-controller(type="button")=spec.title
		.accordion__content
			+rte().
				!{spec.content}
