// footer-nav styles
.footer-nav {
	ul {
		@extend %clearfix;
		font-size: calc-em(15px);
		font-weight: 400;
		line-height: 1.4;
		margin: 0 0 14px;
	}

	li {
		position: relative;
		float: left;

		&:last-child {
			a {
				&:after { display: none; }
			}
		}
	}

	a {
		color: #000;
		display: block;
		margin: 0 19px 0 0;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:after {
			transform: translate(0,-50%);
			background: #dbdbdb;
			position: absolute;
			top: 50%;
			right: 9px;
			display: inline-block;
			width: 1px;
			height: 6px;
			margin: -1px 0 0;
			content: "";
		}
	}
}
