.related-products {
	@extend %clearfix;
}


.related-products__block {
	position: relative;
	border: 1px solid $grey-1;
	padding: 10px;
	font-size: calc-em(12px);
	margin: 0 auto 10px;
	max-width: 300px;

	.label {
		margin: 0 0 10px;
		top: -8px;
		left: 10px;
	}

	h3 {
		display: block;
		word-wrap: break-word;
		min-height: 75px;
		border-bottom: 1px solid $grey-1;
		padding-bottom: 15px;
	}

	a { color: $body-text; }

	.thumbnail {
		text-align: center;
	}

	img {
		display: inline-block;
		max-width: 100%;
	}
}


.article-content .related-products__block li {
	padding-left: 0;
	margin-bottom: auto;
	line-height: inherit;

	&:before {
		display: none;
	}
}
