extends ../_layouts/base

include ../_modules/atoms/iframe/iframe
include ../_modules/molecules/section/section
include ../_modules/organisms/article-content/article-content

block config
	//- Correct base url pathing for this page
	- var baseUrl = '../'

block content
	+article-content({
		__class: "blank-template",
		contentClass: "wide blank-content"
	})
		+section()
			+iframe()

		+section
			a#content2.anchor-link(data-label = "How can we help")
			h2 How we can help in managing your colour issues?

			ul
				li We have a strong team of 7 Fogra Certified Digital Print Experts – the largest in the industry.
				li We are the 1st in South East Asia to obtain certification from Fogra in Contract Proof Creation (CPC) and Process Standard Digital (PSD).

			h3 With our team of Fogra Certified Digital Print Experts, we can help you to:

			ul
				li Analyze colour and print related issues.
				li Undertake corrective actions to align systems and processes against ISO standard.
				li Prepare for FograCert Validation Print Creation (VPC), Contract Proof Creation (CPC), Process Standard Digital (PSD) and obtain certification from Fogra.
				li Achieve a standard and systematic approach to consistent colour and quality prints.
