mixin event-mapper(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.event-mapper
		+event-mapper-filters()

		//Event Mapper Results
		.event-mapper__results(data-endpoint="/assets/fuji-xerox/api/event-results.json" data-pagesize="9")
			//Results
			div
			.result-status
				p.msg.error-msg Sorry, your search criteria has returned 0 result. Please try again.

				.loader-animation
					.inner
					.inner
					.inner
			//End: Results
			+button({__class:"load-more js-load-more", label: "Load More", url: "#"})
			//- +buttonphase2({__class:"load-more", label: "Load More", link: "#", __anchorClass: "js-load-more" })
		//End: Event Mapper Results

		script#results-template(type = "text/x-dot-template").
			{{~it.snippets :snippet}}
				<div class="event-mapper__item result">
					<div class="event-mapper__item__image">
						<img src="{{=snippet.banner}}" alt="">
					</div>
					<div class="event-mapper__item__text">
						<h1>{{=snippet.industry}}</h1>
						<h2>{{=snippet.title}}</h2>
						<p>
							<span class="location">{{=snippet.location}}</span>
							<span class="duration">{{=snippet.duration}}</span>
						</p>
						<a class="button" href="{{=snippet.link}}">View Details</a>
					</div>
				</div>
			{{~}}
