mixin store-locator(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.reseller-locator(class=spec.__class, data-mapurl="" data-mapkey="" data-endpoint="/assets/fuji-xerox/api/new-reseller.json")
		h2 Reseller Locator
		.reseller-locator__filters
			.input-group-select#province
				label(for="province") Province
				+select({
					options: [
						{
							label: "Select a Province",
							value: ""
						},
						{
							label: "Beijing",
							value: "beijing"
						},
						{
							label: "Chongqing",
							value: "chongqing"
						},
						{
							label: "Shanghai",
							value: "shanghai"
						},
						{
							label: "Tianjin",
							value: "tianjin"
						}
					]
				})(id = "provinceFilter", name="province")
				.error-msg Please select a Province

			.input-group-select#city(data-label="Select a City")
				label(for="city") City
				+select({
					options: [
						{
							label: "Select a City",
							value: ""
						}
					]
				})(id = "cityFilter", name="city")
				.error-msg Please select a City

			.input-group-select#reseller
				label(for="reseller") Reseller Type
				+select({
					options: [
						{
							label: "Select a Reseller Type",
							value: ""
						},
						{
							label: "Copier",
							value: "copier"
						},
						{
							label: "Dealer",
							value: "dealer"
						}
					]
				})(id = "resellerFilter", name="reseller")
				.error-msg Please select a Reseller Type

			.input-group-select#category
				label(for="category") Product Category
				+select({
					options: [
						{
							label: "Select a Product Category",
							value: ""
						},
						{
							label: "Color Printers",
							value: "colorprinters"
						},
						{
							label: "Black and White Printers",
							value: "bwprinters"
						}
					]
				})(id = "categoryFilter", name="category")
				.error-msg Please select a Product Category

			.input-group-select#product(data-label="Select a Product")
				label(for="product") Product Name
				+select({
					options: [
						{
							label: "Select a Product",
							value: ""
						}
					]
				})(id = "productFilter", name="product")
				.error-msg Please select a Product

			.input-group-select#dealer
				label(for="dealer") Dealer Name
				input(type="text", id = "dealerSearch", name="dealer")
				.error-msg Please enter a dealer

			.reseller-locator__filters__controls
				//- button.btn-clear-filter.btn-reseller-near#btnStores Stores Near Me
				button.btn-clear-filter.btn-reseller-search Search

		.reseller-map.hide
			span There are
			span.resellers-count
			span reseller(s) in this location
			a.switch-view(href="#") Switch view

			#resellerMap

		.reseller-partners
			.reseller-partners--legend
				p Legend
				ul
					li
						img(src="/assets/fuji-xerox/images/gold.png", alt="")
						span Gold
					li
						img(src="/assets/fuji-xerox/images/silver.png", alt="")
						span Silver
					li
						img(src="/assets/fuji-xerox/images/copper.png", alt="")
						span Bronze
			.reseller-partners--content
			.reseller-partners--list.hide


		script#resellerlist-template(type = "text/x-dot-template").
			<table>
				<tbody>
					<tr>
						<th style="width: 235px;">Company Name</th>
						<th style="width: 400px;">Address</th>
						<th style="width: 180px;">Telephone</th>
					</tr>
					{{~it :locatorlist}}
						<tr>
							{{? locatorlist.medal}}
								<td class="has-medal">
									<img class="medal" src="{{!locatorlist.medal}}" alt="">
									<span>{{!locatorlist.name}}</span>
								</td>
							{{??}}
								<td>
									{{!locatorlist.name}}
								</td>
							{{?}}
							<td>{{=locatorlist.address}}</td>
							<td style="text-align: center;">{{!locatorlist.contact}}
								{{? locatorlist.contact && locatorlist.fax}}
									/
								{{?}}
								{{? locatorlist.fax}}
									{{!locatorlist.fax}}
								{{?}}
							</td>
						</tr>
					{{~}}
				</tbody>
			</table>

		script#reseller-template(type = "text/x-dot-template").
			{{~it :locator}}
				<div class="partner-item row-col-12">
					<div class="partner-item__text col-md-4">
						<h3>
							{{? locator.medal}}
								<img class="medal" src="{{!locator.medal}}" alt="">
							{{?}}
							{{!locator.name}}
						</h3>
						{{? locator.address}}
							<div class="partner-item__detail address">
								<span class="label">Address: </span>
								<div class="padded partner-item__detail--text">
										{{= locator.address}}
								</div>
							</div>
						{{?}}
						{{? locator.contact}}
							<div class="partner-item__detail contact">
								<span class="label">Contact: </span>
								<div class="padded partner-item__detail--text">
									<p>{{!locator.contact}}</p>
								</div>
							</div>
						{{?}}
						{{? locator.fax}}
							<div class="partner-item__detail fax">
								<span class="label">Fax: </span>
								<div class="padded-fax partner-item__detail--text">
									<p>{{!locator.fax}}</p>
								</div>
							</div>
						{{?}}
						{{? locator.email}}
							<div class="partner-item__detail email">
								<span class="label">Email: </span>
								<div class="padded partner-item__detail--text">
									<p>{{!locator.email}}</p>
								</div>
							</div>
						{{?}}
						{{? locator.webURL}}
							<div class="partner-item__detail web">
								<span class="label">Website: </span>
								<div class="padded partner-item__detail--text">
									<p>{{!locator.webURL}}</p>
								</div>
							</div>
						{{?}}
						{{? locator.otherInfo}}
							<div class="partner-item__detail other-info">
								<span class="label">Other info: </span>
								<div class="padded partner-item__detail--text">
									<p>{{!locator.otherInfo}}</p>
								</div>
							</div>
						{{?}}
						<div>
							<a class="btn-map-show" data-lat="{{!locator.lat}}" data-long="{{!locator.long}}" href="#">Show on map</a>
						</div>
						{{? locator.formURL}}
							<div>
								<a class="button" href="{{!locator.formURL}}">Request a quote</a>
							</div>
						{{?}}
					</div>
				</div>
			{{~}}
