// home-actions styles
.home-ctas {
	@extend %clearfix;
	margin-bottom: 40px;

	h2 {
		font-size: calc-em(18px);
		margin-top: 0;

		a {
			@include linear-gradient(#fff, #fafafa);
			display: block;
			border: 1px solid $grey-3;
			border-radius: 5px;
			color: $body-text;
			padding: 24px 30px;
			text-decoration: none;
		}

		.icon {
			position: absolute;
			top: 10px;
			right: 20px;
		}
	}

	p {
		line-height: 1.2;
		font-size: calc-em(14px);
	}

	.link-to {
		position: relative;
		display: inline-block;
		text-decoration: none;
		font-size: calc-em(14px);
		padding-left: 12px;

		&:before {
			@include icomoon('\f105', #333);
			position: absolute;
			left: 0;
			top: 0;
			font-size: 16px;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.home-ctas__block {
	position: relative;
	margin-bottom: 20px;
}

@media only screen and (min-width: $sm-breakpoint) {
	.home-ctas__block {
		width: 32%;
		float: left;
		margin: 0 2% 0 0;
		min-height: 200px;

		&:nth-child(3n+3) {
			margin-right: 0;
		}

		.link-to {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}
