mixin home-actions(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	section.home-ctas.wingspan
		.home-ctas__block
			h2: a(href =  "#") Product Finder
				span.icon
					img(src = "/images/content/printer-icon.png" alt = "")

			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

			a.link-to(href = "#") Find product

		.home-ctas__block
			h2: a(href =  "#") Corporate Gifts
				span.icon
					img(src = "/images/content/printer-icon.png" alt = "")

			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

			a.link-to(href = "#") View gifts Options

		.home-ctas__block
			h2: a(href =  "#") Promotions
				span.icon
					img(src = "/images/content/printer-icon.png" alt = "")

			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

			a.link-to(href = "#") View Promotions
