extends ../../_layouts/base

include ../../_modules/molecules/section/section
include ../../_modules/organisms/form/form
include ../../_modules/organisms/promotion-list/promotion-list
include ../../_modules/templates/landing/landing

//- Configuration
block config
	- var baseUrl = '../../'
	- var pageTitle = 'Fuji Xerox | Promotions'
	- var parent = 1

block content
	+landing({
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Contact",
				"href": "/contact"
			},
			{
				"label": "Promotions"
			}
		],
		banner: {
			title: "Promotions",
			text: "Check out our current promotions",
			image: "images/content/banners/solutions.jpg"
		}
	})

		+section({__class: "promotion wingspan"})
			.row-col-12
				+promotion-list({__class: "col-sm-7 col-md-8"})

				.promotion__contact-form.col-sm-5.col-md-4
					+form({form: "promotions"})


