// accordion styles

.article-content {
	.accordion-widget__block-title { margin-top: 0; margin-bottom: 0;}

	.accordion-widget__block-content {
		.thumbnail { margin-right: 10px; }
		.description-text { overflow: hidden; }
	}
}

.accordion-widget__block {
	background: $grey-1;
	border-bottom: 1px solid #fff;
	font-size: calc-em(14px);

	&.active {
		.accordion-widget__block-title { background: $blue-1; }
	}
}

.accordion-widget__block-title {
	display: block;
	position: relative;
	background: $darkgrey-4;
	margin: 0;
	color: #fff;
	padding: 12px 20px;
	cursor: pointer;

	&.active, &:hover {
		background: $blue-1;
	}

	.toggle {
		position: absolute;
		font-size: 18px;
		right: 20px;
		top: 15px;
	}
}

.accordion-widget__block-content {
	padding: 20px;

	.logo {
		margin: 15px auto;
	}

	img {
		width: auto;
		max-width: 100%;
	}

	p, h2, h3 {
		&:first-child {
			margin-top: 0;
		}
	}
}