.quick-links {
	ul {
		@extend %clearfix;
		display: block;
		position: relative;
		margin: 20px 0;
	}

	li {
		margin-bottom: 10px;
	}

	a {
		position: relative;
		display: block;
		text-decoration: none;
		text-align: center;
	}

	&.sticky {
		position: fixed;
		width: 100%;
		top: -1px;
		z-index: 999;
		box-sizing: border-box;
	}
}
