@media only screen and (max-width: $sm-breakpoint - 1) {
	.quick-links {
		ul { margin: 20px 0; }

		li { margin-bottom: 10px; }

		a {
			width: 100%;
			padding: 4px 5px;
			border: 1px solid $darkgrey-4;
			border-radius: 5px;
			color: $body-text;
		}
	}
}

@media only screen and (min-width: $sm-breakpoint), print {
	.quick-links {
		overflow: hidden;

		ul {
			display: block;
			background: #fff;
			margin: 0;
			text-align: center;
		}

		li {
			display: inline-block;
			width: 20%;
			vertical-align: top;

			&:last-child {
				a { margin-right: 0; }
			}
		}

		a {
			background: $blue-1;
			margin-right: 1px;
			color: #fff;
			padding: 10px;
			margin-bottom: -999px;
			padding-bottom: 999px;


			&:hover, &.active {
				background: $blue-2;
			}
		}
	}
}
