// search styles
.search-results {
	@extend %list-unstyled;
	margin: 15px 0;

	h2 {
		font-size: calc-em(18px);
		margin: 0;
	}

	a {
		color: $red;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	.url {
		color: $grey-6;
		display: inline-block;
		width: 100%;
		margin: 0 0 32px;
		line-height: 1;
	}

	.excerpt {
		margin: 6px 0;
		width: 100%;
		line-height: 1;
	}

	li {
		display: block;
		border-bottom: 1px solid $grey-2;
		margin-bottom: 24px;
	}
}

