include ../../molecules/listing-sorter/listing-sorter

include ../../organisms/listing-filters/listing-filters
include ../../organisms/listing-results/listing-results


mixin dynamic-listing(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.type = spec.type || ''

	.dynamic-listing(class = spec.__class)
		.column-row
			.col-sm-3
				+listing-filters({type: spec.type})

			//Listing Content
			.col-sm-9
				if spec.type == "Products"
					.listing-description
						+rte()
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem saepe laboriosam optio voluptatem vitae, ea soluta culpa. Laborum hic veniam beatae, itaque, quos labore molestiae sint nisi, natus deleniti quibusdam.

					.listing-content(data-endpoint="/assets/fuji-xerox/api/product-listing.json")
						+listing-sorter
						+listing-results({type: spec.type})
				else
					.listing-content(data-endpoint="/assets/fuji-xerox/api/career-listing.json")
						+listing-results({type: spec.type})
					


			//End: Listing Content
