// listing-categories styles
.categories-toggle {
	overflow: hidden;
	margin-bottom: 15px;

	ul {
		@extend %clearfix;
		display: block;
		position: relative;
		margin: 0;
		text-align: center;
	}

	li {
		float: left;
		width: (100% / 2);
		vertical-align: top;
		margin-bottom: 1px;

		&:last-child {
			a { margin-right: 0; }
		}

		@media only screen and (min-width: $sm-breakpoint) {
			float: left;
			width: (100% / 4);
		}
	}

	a {
		position: relative;
		display: block;
		text-decoration: none;
		text-align: center;
		background: $grey-3;
		margin-right: 1px;
		padding: 10px;
		color: $body-text;

		&:hover, &.active {
			background: $blue-1;
			color: #fff;
		}
	}
}

.category-tabs-content {
	.category-tabs-content__item {
		margin-bottom: 15px;
		opacity: 0;
		display: none;

		p {
			margin: 0;
		}

		&.active {
			display: block;
			opacity: 1;
		}
	}
}
