mixin listing-categories(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//Categories Toggle
	.categories-toggle(class=spec.__class)&attributes(attributes)
		ul
			li: a.active(href = "#officePrinters" data-filter = ".printers-filter-group" data-title= "Fuji Xerox | Office Printers" data-description="These are the office printers." data-keywords="office printer, office, printers") Office Printers
			li: a(href = "#productionPrinters" data-filter = ".production-printers-filter-group" data-title= "Fuji Xerox | Production Printers" data-description="These are the production printers." data-keywords="production printer, production, printers") Production Printers
			li: a(href = "#supplies" data-filter = ".supplies-filter-group" data-title= "Fuji Xerox | Supplies" data-description="These are the supplies." data-keywords="supplies, fx supplies") 文件管理軟體
			li: a(href = "#software" data-filter = ".software-filter-group" data-title= "Fuji Xerox | Software" data-description="These are the software." data-keywords="software, fx software") Software
	//End: Categories Toggle
	.category-tabs-content
		#officePrinters.category-tabs-content__item.active
			p  1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit dolores autem tempora harum veniam, eos, perferendis rerum quaerat ea, vitae incidunt rem eaque animi culpa deleniti dignissimos molestias quae.
		#productionPrinters.category-tabs-content__item
			p  2Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit dolores autem tempora harum veniam, eos, perferendis rerum quaerat ea, vitae incidunt rem eaque animi culpa deleniti dignissimos molestias quae.
		#supplies.category-tabs-content__item
			p  3Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit dolores autem tempora harum veniam, eos, perferendis rerum quaerat ea, vitae incidunt rem eaque animi culpa deleniti dignissimos molestias quae.
		#software.category-tabs-content__item
			p  4Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit dolores autem tempora harum veniam, eos, perferendis rerum quaerat ea, vitae incidunt rem eaque animi culpa deleniti dignissimos molestias quae.

