extends ../_layouts/base

include ../_modules/templates/dynamic-listing/dynamic-listing

//- Configuration
block config
	- var baseUrl = '../'
	- var pageTitle = 'Fuji Xerox | Products'
	- var parent = 2

block content
	+dynamic-listing({
		__class: "product-listing",
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Products"
			}
		],
		heading: "Product Listing",
		type: 'Products'
	})
	#productForm.modal
		.wingspan
			.modal-close-button
				a(href='#')
					i.icon-cross
			.modal-form

