.aside-navigation {
	margin-bottom: 40px;

	h3 {
		margin: 0 0 10px;
		line-height: 1;
	}

	h4 {
		margin: 15px 0 8px;
		line-height: 1.2;
	}

	li {
		margin-bottom: 8px;
		line-height: 1;
	}

	a {
		color: $darkgrey-1;
		text-decoration: none;
		font-size: calc-em(14px);

		&:hover, &.active { color: $blue-1; }
	}
}
