@media only screen and (max-width: $md-breakpoint - 1) {
	.article-aside {
		border-top: 1px solid $grey-2;
		padding-top: 25px;
	}
}

@media only screen and (min-width: $md-breakpoint), print {

	.aside-navigation {
		ul { margin-left: 10px; }

		h4 { margin: 15px 0 8px 10px; }
	}

	.article-aside {
		margin-top: 1.4em;
	}
}
