include ../form-wrapper/form-wrapper
include ../../molecules/subscribe-form/subscribe-form
include ../new-wffm-form/new-wffm-form

mixin modal(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	//Talk to Us Form Modal
	.modal#enquiryForm
		.modal-wrapper
			.modal-close-button
				a(href = "#"): i.icon-cross

			+form-wrapper()

	//End: Talk to Us Form Modal
