extends ../_layouts/base

include ../_modules/templates/standard/standard


//- Configuration
block config
	- var baseUrl = '../'
	- var pageTitle = 'Fuji Xerox | 404 - Page Not Found'
	- var parent = 1

block content
	+standard({
		breadcrumb: [
			{
				"label": "Home",
				"href": "/"
			},
			{
				"label": "Error - 404"
			}
		]
	})
		.article.wingspan
			.div(class = "404-banner")
				.logo
					img(src = "/images/404-banner-logo.jpg" alt = "Fuji Xerox")

				p If yuo end up hree, prehpas yup are tpying it worngly.


				p.black-text Let us get you back on track

			ul(class = "404-links row-col-12")
				li.col-sm-6
					a(href = "/")
						span.ico: img(src = "/images/home-blue.png" alt = "")
						span.label Return to homepage

				li.col-sm-6
					a(href = "#")
						span.ico: img(src = "/images/office-imaging-blue.png" alt = "")
						span.label View our full list of products

				li.col-sm-6
					a(href = "#")
						span.ico: img(src = "/images/chat-blue.png" alt = "")
						span.label Talk to us on Live Chat

				li.col-sm-6
					a(href = "#")
						span.ico: img(src = "/images/cloud-blue.png" alt = "")
						span.label Check out our range of services and solutions
