// featured-speakers-item styles
.event-featured-speakers__speaker {
	padding: 10px 12px 0;
	width: 30%;
	float: left;

	a {
		display: block;
		text-decoration: none;
		color: #000;

		&:hover { color: $red; }

		> p {
			margin: 0 0 10px;
			font-size: calc-em(18px);
			padding-right: 20px;

			&:after {
				transform: translate(0,-50%);
				font-family: Arial;
				font-size: 90%;
				text-decoration: none;
				color: $red;
				position: absolute;
				top: 50%;
				right: 0;
				display: inline-block;
				content: "\0000a0\276F";
			}
		}

		&:focus {
			outline: 0;
		}
	}

	p {
		display: inline-block;
		font-size: calc-em(15px);
		position: relative;
		margin: 0 0 5px;
	}

	.image-holder {
		position: relative;
		padding-top: 100%;
		background-color: $red;

		img {
			@include image-cover;
			position: absolute;
			top: 0;
			left: 0;
		}

		.label {
			@include transition(all, 300ms, ease-in-out);
			// @include transform(translateX(-50%) translateY(-50%));
			display: inline-block;
			color: #fff;
			z-index: 2;
			opacity: 0;
			vertical-align: middle;
			position: absolute;
			top: 20%;
			text-align: center;
			width: 100%;
			vertical-align: middle;
		}

		&:after {
			@include transition(opacity, 200ms, linear);
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, .5);
			opacity: 0;
		}


		&:hover {
			&:after {
				opacity: 1;
			}

			.label {
				top: calc(50% - 15px);
				opacity: 1;
			}
		}
	}
}

.event-speakers__bio {
	max-width: 800px;
	max-height: 80%;
	width: 80%;
	height: auto;
	font-family: $primaryFont;

	.bio__header, .bio__body { padding: 20px 30px 0; }

	.bio__header {
		padding-left: 160px;

		h3 {
			font-size: calc-em(24px);
			margin: 0 0 6px;
			line-height: 1;
		}

		span {
			font-size: calc-em(14px);
			display: block;
			line-height: 1.3;
		}
	}

	.bio__thumbnail {
		position: absolute;
		left: 75px;
		top: 44px;
		width: 100px;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
		}
	}
}

@media only screen and (max-width: $bpTablet - 1){
	.event-featured-speakers__speaker{
		width: 50%;
	}
	.event-speakers__bio {
		.bio__header {
			padding: 20px 0 0 120px;
		}

		.bio__body {
			padding: 20px 0;
		}

		.bio__thumbnail {
			left: 44px;
		}
	}
}

@media only screen and (max-width: 559px){
	.event-speakers__bio {
		.bio__header {
			padding: 20px 0 0;
		}

		.bio__body {
			padding: 10px 0 0;
		}

		.bio__thumbnail {
			position: static;
			left: auto;
			padding: 0 0 20px;
		}
	}
}

@media only screen and (max-width: $bpDesktop - 1){
	.event-featured-speakers__speaker{
		padding: 10px 10px 0;
	}
}

@media only screen and (min-width: $bpDesktop){
	.event-featured-speakers__speaker{
		p {
			font-size: calc-em(15px);
		}
	}
}
