@media only screen and (max-width: $md-breakpoint - 1) {
	.home-carousel {
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 599px) {
	.home-carousel {
		.slide {
			height: 350px;
			background-position: center;
			background-size: cover;

			img { display: none; }

			a {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media only screen and (min-width: $md-breakpoint) {

	.home-carousel {
		max-height: 320px;
		overflow: hidden;
	}

	.slider { margin-right: 119px; }
}
