extends ../_templates/fullwidthpage

block append config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- pageTitle = 'Form'
	- pageDescription = 'This is the form page of Fuji Xerox'
	- formData = site.data.form

block FullWidthBanner
	+hero-banner(formData.banner)

block FullWidthContent
	+col-form-wrapper()
