include ../../atoms/select/select

mixin form(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	if spec.form == "event registration"
		.sitecore-form
			<link href="/sitecore%20modules/Web/Web%20Forms%20for%20Marketers/mvc/content/themes/base/all.css" rel="stylesheet">
			<link href="/sitecore%20modules/Web/Web%20Forms%20for%20Marketers/mvc/content/Fields.css" rel="stylesheet">
			<link href="/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/Custom.css" rel="stylesheet">
			form.text-left

				.required-field.form-group.has-feedback
					label.control-label Saluation
					select.form-control
						option(value="")
						option(value="Mr") Mr
						option(value="Ms") Ms
						option(value="Mdm") Mdm

				.required-field.form-group.has-feedback
					label.control-label First Name
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label First Name
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block


				.required-field.form-group.has-feedback
					label.control-label Company
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Job Title
					select.form-control
						option(value="")
						option(value="AM/M") Assistant Manager / Manager

				.required-field.form-group.has-feedback
					label.control-label Job Title
					select.form-control
						option(value="")
						option(value="IT") Information Technology

				.required-field.form-group.has-feedback
					label.control-label Business DID
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Email Address
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Mobile Phone
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Industry
					select.form-control
						option(value="")
						option(value="accomodation and food service activities") Accomodation And Food Service Activities
						option(value="Ms") Ms
						option(value="Mdm") Mdm

				.required-field.form-group.has-feedback
					label.control-label Company Size
					select.form-control
						option(value="")
						option(value="1-35") 1 - 35

				.required-field.form-group.has-feedback
					label.control-label Attending on

					.radio.
						<label><input type = "checkbox">22nd March(Wednesday)</label>

					.radio.
						<label><input type = "checkbox">23rd March(Thursday)</label>

				.required-field.form-group.has-feedback
					label.control-label Do you require assistance from our Fuji Xerox consultants?

					.radio.
						<label><input type = "radio" name = "interestField">Yes, I am interested</label>

					.radio.
						<label><input type = "radio" name = "interestField">No, I am not interested</label>

				//- Not sure how sitecore would generate the markup here
				.required-field.form-group
					label.control-label I would like to attend this/seminar(s) or demo sessions.

				.events-form-checklist.form-group
					input#wffmc338152966ae4eae80b4b6269dcea5c2_Sections_0__Fields_1__Id(name='wffmc338152966ae4eae80b4b6269dcea5c2.Sections[0].Fields[1].Id', type='hidden', value='{0B753BB1-1B9E-4450-A120-66AA6835FB03}')
					|
					label.control-label(for='wffmc338152966ae4eae80b4b6269dcea5c2_Sections_0__Fields_1__Value') Checkbox
					.checkbox
						label
							input#wffmc338152966ae4eae80b4b6269dcea5c2_Sections_0__Fields_1__Value(type='checkbox', value='9 am event value', name='wffmc338152966ae4eae80b4b6269dcea5c2.Sections[0].Fields[1].Value')
							|  [09:00] this event is at nine am  [09:00] this event is at nine am [09:00] this event is at nine am [09:00] this event is at nine am [09:00] this event is at nine am [09:00] this event is at nine am [09:00] this event is at nine am [09:00] this event is at nine am [09:00] this event is at nine am [09:00] this event is at nine am [09:00] this event is at nine am
					.checkbox
						label
							input#wffmc338152966ae4eae80b4b6269dcea5c2_Sections_0__Fields_1__Value(type='checkbox', value='10 am event value', name='wffmc338152966ae4eae80b4b6269dcea5c2.Sections[0].Fields[1].Value')
							|  [10:00] This event is at ten am
					span.field-validation-valid.help-block(data-valmsg-for='wffmc338152966ae4eae80b4b6269dcea5c2.Sections[0].Fields[1].Value', data-valmsg-replace='true')

				//- .sessions
					table.sessions-table
						thead
							tr
								th(colspan = "3") 22nd March (Wednesday)

						tbody
							tr
								td 0915
								td Seminar: How to Achieve Office Automation Efficiency and Sustainability in an Enterprise
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1000
								td Seminar: Increasing Engagement through Digital Customer Communications
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1030
								td Seminar: How Centralized Print Centre can Help You Work Smarter and Communicate Better?
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1100
								td Seminar: Enhance your Business through Digital Business Space
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1130
								td Seminar: Singapore Budget 2017 - Insights on the New Measures
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1230
								td Demo: Experience the Smarter Way of Working with Fuji Xerox Cloud-enabled Multifunction Device and Smart Solutions
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1230
								td Demo: Experience the Smarter Way of Working with Fuji Xerox Cloud-enabled Multifunction Device and Smart Solutions
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1300
								td Demo: Welcome to the Simply Managed Office with AWMS
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1330
								td Sponsor's Demo: Are PURLs Dead?
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1400
								td Demo: The Wonderful World of Finishing for Digital Print
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1430
								td Demo: Field Service Management
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

					table.sessions-table
						thead
							tr
								th(colspan = "3") 23nd March (Thursday)

						tbody
							tr
								td 0915
								td Seminar: How to Achieve Office Automation Efficiency and Sustainability in an Enterprise
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1000
								td Seminar: Increasing Engagement through Digital Customer Communications
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1030
								td Seminar: How Centralized Print Centre can Help You Work Smarter and Communicate Better?
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1100
								td Seminar: Enhance your Business through Digital Business Space
								td
									.form-group
										.checkbox.
											<label><input type = "checkbox"></label>

							tr
								td 1130
								td Seminar: Singapore Budget 2017 - Insights on the New Measures
								td
									.form-group
										.checkbox.
											//- <label><input type = "checkbox"></label>

				.submit-form-border
					input.btn.btn-default(type = "submit" value = "Register Now")


	if spec.form == "promotions"
		h3 Promotions

		.introduction
			p Receive a free mystery gift when you contact us for a consulation session

		.sitecore-form
			<link href="/sitecore%20modules/Web/Web%20Forms%20for%20Marketers/mvc/content/themes/base/all.css" rel="stylesheet">
			<link href="/sitecore%20modules/Web/Web%20Forms%20for%20Marketers/mvc/content/Fields.css" rel="stylesheet">
			<link href="/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/Custom.css" rel="stylesheet">

			form.text-left
				.required-field.form-group.has-feedback
					label.control-label First Name
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Last Name
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Company Name
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Buiness Email
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Buiness Phone
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Promotion Code
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label How can we assist you?
					textarea.form-control
					span.field-validation-valid.help-block


				.required-field.form-group.has-feedback
					.checkbox.
						<label><input type = "checkbox">I have read, understoood and agreed to the full terms and conditions of the privacy policy</label>


				.required-field.form-group.has-feedback
					label.control-label Please enter the letters shown in the image

					.g-recaptcha(data-sitekey="6LfzSCQTAAAAAMAWMpo9PchfDSuXP8hOMfhcVZ05" data-theme="light" data-type="image")
					script(src="https://www.google.com/recaptcha/api.js")


				.form-submit-border
					input.btn.btn-default(type = "submit" value = "Submit")


	//- if spec.form == "customer feedback"

		h2 Customer feedback

		.sitecore-form
			<link href="/sitecore%20modules/Web/Web%20Forms%20for%20Marketers/mvc/content/themes/base/all.css" rel="stylesheet">
			<link href="/sitecore%20modules/Web/Web%20Forms%20for%20Marketers/mvc/content/Fields.css" rel="stylesheet">
			<link href="/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/Custom.css" rel="stylesheet">
			form.text-left
				.has-error.has-feedback
					.validation-summary-errors
						ul.list-group
							li.list-group-item.list-group-item-danger Error: Please fill in all fields.

				.required-field.form-group.has-feedback
					label.control-label Nature of Enquiry
					select.form-control
						option(value="")
						option(value="phobe.fong@sgp.fujixerox.com; cecilia.yap@sgp.fujixerox.com") Compliments / Complaints
						option(value="workscontrollers@sgp.fujixerox.com") Technical Support
						option(value="terence.chia@sgp.fujixerox.com") Others

					span.field-validation-error.help-block Please select an option

				.required-field.form-group.has-feedback
					label.control-label Name
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block


				.required-field.form-group.has-feedback
					label.control-label Email
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block


				.required-field.form-group.has-feedback
					label.control-label Phone
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block


				.required-field.form-group.has-feedback
					label.control-label Fax
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Company
					input.form-control.text-box.single-line(type = "text")
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Your feedback / enquiry / problem / description / event
					textarea.form-control
					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Can we publish your feedback?

					.radio.
						<label><input type = "radio">Yes</label>

					.radio.
						<label><input type = "radio">No</label>

					span.field-validation-valid.help-block

				.required-field.form-group.has-feedback
					label.control-label Please enter the letters shown in the image

					.g-recaptcha(data-sitekey="6LfzSCQTAAAAAMAWMpo9PchfDSuXP8hOMfhcVZ05" data-theme="light" data-type="image")
					script(src="https://www.google.com/recaptcha/api.js")


				.form-submit-border
					input.btn.btn-default(type = "submit" value = "Submit")


	//- if spec.form == "Talk to us"
		.modal-form
			.modal-form__intro
				h3 Talk to us
				p Have a sales enquiry? Simply fill up our call back form and we will assign a sales representative to attend to your needs during our business hours between 8.30am - 5.30pm, Monday - Friday.
				p We appreciate your time in filling up the required fields so we can handle your enquiry quickly and efficiently.
			.legend.
				Field marked with <span class = "required">*</span> are compulsory

			form
				fieldset
					legend.sr-only Enquiry Form

					input#productId(type = "hidden" name = "productId" value = "")

					.form-row.row-col-12
						.col-sm-6.push-right-10
							.input-group-text
								label(for = "productField") Find Out More About Product
								input#productField(type = "text" name = "productField" placeholder = "Product Name")

					.form-row.row-col-12
						.col-sm-6.push-right-10
							.input-group-select
								label(for = "topicField") I'm interested in<span class = "required">*</span>
								+select({
									name: "topicField",
									options: [
										{ label: "Select Topic", value: ""},
										{ label: "Topic 1", value: ""},
										{ label: "Topic 2", value: ""},
										{ label: "Topic 3", value: ""}
									]
								})(id = "topicField")

					.form-row.row-col-12
						.col-sm-6.push-right-10
							.input-group-text
								label(for = "companyField") Company<span class = "required">*</span>
								input#companyField(type = "text" name = "companyField" placeholder = "Company")

					.form-row.row-col-12
						.col-sm-6.push-right-10
							.input-group-text
								label(for = "firstnameField") First Name<span class = "required">*</span>
								input#firstnameField(type = "text" name = "firstnameField" placeholder = "First Name")

						.col-sm-6.push-left-10
							.input-group-text
								label(for = "lastnameField") Last Name<span class = "required">*</span>
								input#lastnameField(type = "text" name = "lastnameField" placeholder = "Last Name")

					.form-row.row-col-12
						.col-sm-6.push-right-10
							.input-group-text
								label(for = "jobTitleField") Job Title<span class = "required">*</span>
								input#jobTitleField(type = "text" name = "jobTitleField" placeholder = "Job Title")

					.form-row.row-col-12
						.col-sm-6.push-right-10
							.input-group-text
								label(for = "emailField") Business Email<span class = "required">*</span>
								input#emailField(type = "text" name = "emailField" placeholder = "Email Address")

						.col-sm-6.push-left-10
							.input-group-text
								label(for = "phoneField") Business Phone<span class = "required">*</span>
								input#phoneField(type = "text" name = "phoneField" placeholder = "Phone Field")

					.form-row
						.input-group-textarea
							label(for = "messageField") How can we assist you?
							textarea#messageField(name = "messageField" placeholder = "Type here...")

					.form-row.row-col-12
						.captcha-group.col-sm-7
							.input-group-captcha
								label(for = "captchaField") Please enter the letters (a-z) shown in the image<span class = "required">*</span>
								.captcha-wrapper
									.captcha-image: img(src = "/images/content/captcha.png" alt = "")
									span.captcha-refresh: img(src = "/images/content/captcha-refresh.png" alt = "")
								input#captchaField(type = "text" name = "captchaField" placeholder = "Type here...")

					.form-row.row-col-12
						.checkbox-group
							label <input type = "checkbox">I have read, understood and agreed to the full terms and confitions of the <a href = "https://www.fujixerox.com.sg/privacy-policy" target="_blank">privacy policy</a>
				.btn-group
					button(type = "submit") Submit
					button(type = "reset") Reset


